<template>
    <div class="wrapper">
        <span class="label">{confirmPatient}</span>
        <c-p-s-p_custom-look-up greeting={selectedName} onselecteditemid={getselectedDetails} recordtype={recordtype} object={object} searchtext={searchtext}  >
        </c-p-s-p_custom-look-up >
</div>
</template>