<!-- Confirmation Dialog -->
<template>
<template if:true={visible}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header no-border">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={labels.CCL_Modal_Close}>
                        <lightning-icon icon-name="utility:close"
                            class="closeModal"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">{labels.CCL_Delete}</span>
                    </button>
                    <div class="wrapper">
                      <div class="slds-m-bottom_large">
                      </div>
                      <div class="slds-m-bottom_large">
                    <lightning-icon icon-name="action:delete" alternative-text={labels.CCL3_Approved} size="small"  title={labels.CCL3_Approved}></lightning-icon>
                    </div>
                    <div class="slds-text-heading_large slds-m-bottom_small slds-text-title_bold">{title}</div>
                  </div>
                  <div class="slds-modal__content_name slds-align_absolute-center">{message}</div>
                  </header>
                <div class="slds-modal__footer no-border slds-m-bottom_large">
                  <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                    <div class="slds-m-right_large"><button class="slds-button add-border slds-m-bottom_large slds-button_neutral width100" onclick={handleClick} name="cancel" title={cancelLabel}>{cancelLabel}</button></div>
                    <button class="slds-button add-border slds-button_brand slds-m-bottom_large width100" name="confirm" onclick={handleClick} title={cancelLabel}>  {confirmLabel}  </button>
                  </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
</template>