/* #modal-heading-01{
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    margin-top: 1rem;
}

#modal-content-id-1{
    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707; 
} */
.slds-modal__footer.no-border.slds-m-bottom_large {
    padding: 0px;
    margin: 0px;
    border:none
}
  .width100{
      width:100px;
  }
header.slds-modal__header,.head {
    border:none !important;
}
header {
    border:none !important;
}