.modalheaderCanCancel {
    padding: 2% 45%;
}
.modalheaderCannotCancel {
    padding: 2% 45%;
    margin-top: 15%;
}
.modalbody {
    padding: 0 0%;
    
    
}
.modalbody h1{
    padding: 0 0%;
    
    font-size: 1.4rem;
    font-weight: bold;
}
.modalbody p{
    font-size: 1rem;
    line-height: 3rem;
}

.modalfooter {
    padding: 2% 42%;
    margin-top: 2%;
}
div.slds-card__footer {
    border-top: none;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
}
.iconColor {
    fill: #fbb439;
    width: 50px;
}
.button-width_long {
    width: 150px;
}
.button-width_short {
    width: 100px;
}
.button-short_label {
    font-weight: bold;
}

.button-long_label {
    font-weight: bold;
    white-space: nowrap; 
    text-align: center;
}
.picklist-padding {
    padding: 2% 20%;
}