
<template>
    <lightning-card>
        <h3 if:false={loaded} class="slds-align_absolute-center">
            <div class="slds-text-align_center slds-var-m-bottom_medium iconColor">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 52 52" id="warning"><path d="M51.4 42.5l-22.9-37c-1.2-2-3.8-2-5 0L.6 42.5C-.8 44.8.6 48 3.1 48h45.8c2.5 0 4-3.2 2.5-5.5zM26 40c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm3-9c0 .6-.4 1-1 1h-4c-.6 0-1-.4-1-1V18c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v13z"></path></svg>
            </div>
        </h3>
        <div if:true={errorOnUpdate} style="width:600px;" class="slds-text-color_error"> {errorOnUpdate} </div>
        <template if:true={hasPermissionToCancel}>
            <template if:true={cannotCancelShipment}>
                <template if:false={canCancelShipment}>
                    <h1 class="slds-p-horizontal_small modalbody slds-align_absolute-center">{label.cannotCancelShipmentLabel}</h1>
                    <footer class="modalfooter slds-align_absolute-center">
                        <button class="slds-button slds-button_neutral slds-float_left " onclick={cannotCancel} title="Back">
							<span class="button-short_label"> {label.CCL_BackLabel}</span>
						</button>
                    </footer>
                </template>
            </template>
            <template if:true={canCancelShipment}>
                <template if:false={cannotCancelShipment}>
                    <div class="slds-text-align_center modalbody">
                        <h1 class="slds-text-align_center">{label.CCL_are_you_sure_you_want_to_cancel_ShipmentLabel}</h1>
                        <p>{label.CCL_Attempting_to_can_NVS_batch_IdLabel} <b>{shipmentIdname}</b> {label.CCL_Attempting_to_can_NVS_batch_IdLabel2} <b>{novartisBatchId} </b></p>
                        <p>{label.CCL_action_cannot_be_undoneLabel}</p>
                    </div>
                    <div class="slds-form-element picklist-padding">
                        <b> <label class="slds-form-element__label secInnerhead" for="input-02">{label.CCL_please_select_cancellation_reason_picklistLabel}</label></b>
                        <div class="slds-form-element__icon"></div>
                        <div class="slds-form-element__control inputText">
                            <lightning-combobox name="progress" label="Status" required
                                message-when-value-missing="Please select a cancellation reason" placeholder="Please Select" data-id="cancelReasonId" value={cancelReason} options={newArr} 
                                onchange={handleChange} variant="label-hidden" class="validValue slds-p-top_xx-small"></lightning-combobox>
                        </div>
                    </div>
                    <footer class="modalfooter slds-align_absolute-center">
                        <button class="slds-button slds-button_neutral slds-float_left" onclick={cannotCancel} title="Back">
							<span class="button-short_label"> {label.CCL_BackLabel}</span>
						</button>
                        <button class="slds-button slds-button_brand slds-float_right button-long_label" onclick={CancelShipment} title="Cancel Shipment">
						    <span class="button-width_short">{label.CCL_Cancel_Shipment_btnLabel}</span>
						</button>
					</footer>
				</template>
			</template>
        </template>
        <template if:true={loaded}>
            <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">{label.CCL_LoadingLabel}</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </template>

        <template if:false={hasPermissionToCancel}>
            <h1 class="slds-p-horizontal_small modalbody slds-align_absolute-center">{label.CCL_you_do_not_have_permissionLabel}</h1>
            <footer class="modalfooter slds-align_absolute-center">
                <button class="slds-button slds-button_neutral slds-float_left" onclick={cannotCancel} title="Back">
                    <span class="button-width_long">{label.CCL_BackLabel}</span>
                </button>
            </footer>
        </template>
    </lightning-card>
</template>