<template>
    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning">
        <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon><B>{label.CCL_Document_Warning}</B></div>  
</template>