<template>
    <div class="wrapper">
    <template if:true={showLinksCheck}>
    <div class="button slds-m-bottom_small">
        <a onclick={navigateToView} class="slds-text-title_bold">
          {backTolist}
        </a>
      </div>
      <template if:true={shipmentLink}>
      <div class="button slds-m-bottom_small">
        <a onclick={navigateToShipmentView} target="_blank" class="slds-text-title_bold">
          {shipmentDetails}
        </a>
      </div>
    </template>
    <template if:true={showGotoSummary}>
	<div class="button slds-m-bottom_small">
      <a  target="_blank" onclick={goTosummary} class="slds-text-title_bold">
        {stepsLabels.CCL_Go_to_Summary}
        </a>
     </div>
    </template>
    </template>
    <template if:true={gotresult}>
        <c-c-c-l_-resusable-wizard step-name={stepName}></c-c-c-l_-resusable-wizard>
    </template>
    </div>
</template>