<template>
   <!-- Added as part of 2096-->
   <template if:true={prfWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.CCL_PRF_Resubmission_Approval}
    </div>
  </template>
    <h1 class="mainHeading">{labels.CCL_Recom_Cryo_Details}</h1>

    <lightning-accordion allow-multiple-sections-open={multiple} active-section-name={activesectionName}>
   
        <template for:each={tableData} for:item="item" for:index="index">
          <div class="myCard"  key={item.Id}>
          <lightning-accordion-section name={item.attributes.url}  label={item.attributes.url}  key={item.Id} >
            <c-c-c-l_-recommended_-cryopreservation_-child record-id={recordId} collectionid={item.Id} index={index} my-actual-arr={myActualArr} stored-values={storedValues} time-zone={timeZone} api-names={apiNames} commentorfilechange={commentOrFileChange}  saveclicked={saveClicked} onmycustomevent={handleCustomEvent} onsaveclickedfalse={saveClickedFalse} savelaterclicked={saveLaterClicked}   onmyvalidationevent={handleValidation} my-format-dates={myDateObj} my-format-times={myTimeObj} onupdatereasonevent={handleUpdateReason} is-a-d-f-viewer-internal={isADFViewerInternal} ></c-c-c-l_-recommended_-cryopreservation_-child>  
         </lightning-accordion-section>
        </div>
        </template>
      </lightning-accordion>
      
      <div class="myCard">
        <br></br>
        <h2 class="subHeading">{labels.CCL_Additional_Comments}</h2>
        <hr class='blue_line'>
      <div class="slds-grid slds-wrap ">
        <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClass">
          <lightning-textarea type="text" label={labels.CCL_Aph_Comments} value={commentValue} onchange={handleChange} field-level-help={labels.CCL_255_Char_Limit} class="comment" max-length="255"> 
          </lightning-textarea>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClassFiles">
         {labels.relatedDocuments}<br>{labels.CCL_Document_Upload_Msg}
    <div class="fileUpload">
      <lightning-file-upload
      label=""
      name="fileUploader"
      accept={acceptedFormats}
      record-id={adfDocId}
      onuploadfinished={handleUploadFinished}
      class=""
      multiple
      disabled={disableFileUpload}>
</lightning-file-upload>
    </div>
         
          </div>
          <template if:true={showUploadedFiles}>
            <template if:true={filesUploaded}>
            <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClassFiles">
              <template for:each={filesUploaded} for:item="item" for:index="index">
                <div class="slds-size_1-of-1 slds-m-top_small labelClass"  key={item.Id}>
                  <a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
                  <template if:true={renderDelete}>
                    <lightning-icon icon-name="utility:close"  alternative-text={item.ContentDocumentId} class="iconClass hideBtn" size="x-small" variant="error" onclick={removeFile} title="Delete" name="openConfirmation"></lightning-icon>
                  </template>
                </div>
              </template>  
            </div>
          </template>
        </template>
      </div>
    </div>
    <div class="slds-m-top_medium">
        <!-- 2260 -->
        <template if:true={isADFViewerInternal}>
          <c-c-c-l_-flow_-footer show-next='true'   show-prev='true' show-save-grey='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
          onsubmit={handleSubmit}>
  
          </c-c-c-l_-flow_-footer>
        </template>
        <template if:false={isADFViewerInternal}>
        <c-c-c-l_-flow_-footer show-next='true' show-prev='true' show-save='true' onprevious={onPrevious} onnext={onNext} onsave={onSave}> 
        </c-c-c-l_-flow_-footer>
        </template>
    </div>
	
	<!--Added as part of 850-->
  <template if:true={isReasonModalOpen}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header no-border">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse slds-var-m-bottom_small" title={labels.CCL_Modal_Close} onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                        class="closeModal"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                </button>
                <div class="wrapper">
                <div class="slds-var-m-bottom_large">
                </div>
                <div class="slds-var-m-bottom_large">
                  <lightning-icon icon-name="action:edit" alternative-text="Approved" size="small" class="submitIcon slds-var-m-bottom_medium" title={labels.CCL_Submit}></lightning-icon>
                </div>
                <div class=" slds-var-m-bottom_medium slds-text-title_bold reasonHead"><h2>{labels.CCL_Reason_Modal_Header}</h2></div>
            </div>
            <div class="slds-grid slds-wrap ">
              <div class="slds-align_absolute-center slds-var-m-bottom_medium slds-text-title_bold reasonSubhead"><p>{labels.CCL_Reason_Modal_Subheading}</p></div>
            <div class="slds-col slds-size_1-of-1 slds-var-p-horizontal_medium slds-var-m-top_small labelClass">
                <lightning-textarea type="text" class="textarea Reason" onchange={handleReasonChange} label={labels.CCL_Reason_Modal_Message} field-level-help={labels.CCL_Reason_Modal_Helptext} max-length="500"> 
                </lightning-textarea>
            </div>
            </div>
            </header>
            <div class="slds-modal__footer no-border slds-var-m-bottom_large">
            <div class="slds-align_absolute-center slds-var-m-bottom_large no-border">
                <div class="slds-var-m-right_large"><button class="slds-button slds-var-m-bottom_large slds-button_neutral myButton" title="cancel" onclick={closeModal}>{labels.CCL_Back}</button></div>
                <button class="slds-button add-border slds-button_brand slds-var-m-bottom_large reject myButton" title={labels.CCL_Submit} name="submit" onclick={onReasonSubmit}>{labels.CCL_Save_Changes}</button>
            </div>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!--Changes for 850 ends here-->
    
  <c-c-c-l_-delete_-file_-confirmation title={labels.CCL_DeleteConfirmation_Title} message={labels.CCL_DeleteConfirmation_Message} confirm-label={labels.CCL_DeleteConfirmation_Ok} cancel-label={labels.CCL_DeleteConfirmation_Cancel} visible={isDialogVisible} original-message={originalMessage} name="confirmModal" onclick={removeFile}>
  </c-c-c-l_-delete_-file_-confirmation>
</template>