.blueLine {
  border-top: 1px solid #0460a9;
  margin:0.5rem 0;
  margin-top: -1.5rem;
}
.labelClass{
  font-size: 13px;
  font-family: 'VoltaModernDisplay-75Bold';
  color:#3E3E3C;
}
.add_div {
  font-size: 15px;
}
.customtitle {
  font-size: 18px;
  font-weight: bold;
  font-family: 'VoltaModernDisplay-75Bold';
  color: #0E0D0D;
}
.customheading {
  font-size: 36px;
  font-family: 'VoltaModernDisplay-75Bold';
  color: #080707;
}
.secInnerhead {
  font-size: 13px;
  font-family: 'VoltaModernDisplay-75Bold';
  color:#3E3E3C;
}
.dateLabel{
  font-size: 14px;
  font-family: 'VoltaModernDisplay-75Bold';
  color:#3E3E3C;
}
.borderleft {
  border-left: 3px solid #0661aa;
}
.bottomLine{
  border-top: 1.5px solid #C9C7C5;
  margin-top:4rem;
}
.SchedulePara{
  font-family: 'VoltaModernText-55Roman';
  font-size: 14px;
}
.changeReason{
  font-family: 'VoltaModernText-55Roman';
  font-size: 14px;
  font-weight: bold;
}

.addressCss, .picklistFont{
  font-family: 'VoltaModernText-55Roman';
  font-size: 12px;
  color: #080707;
}
.datefield{
  font-family: 'VoltaModernText-55Roman';
  font-size: 14px;
  color: #0e0d0d;
}
.slds-progress{
  max-width: 80% !important;
}
.slds-progress-bar__value {
  background: none !important;
}
.customLineHeight{
  line-height: 17px;
}
.spinner-padding {
  padding-top: 5%;
  /* background-color: rgba(0, 0, 0, 0.10);
  margin-top: 200px;
  margin-bottom: 200px;  */
}
.tbc{
  color : #c6c5c4
}
.redBorder{
  border: 2px solid rgb(194, 57, 52);
}
.siteErrorMessage{
  font-size: .75rem;
	margin-top: .125rem;
  font-family: 'VoltaModernText-55Roman';
  color: rgb(194, 57, 52);
  display: none;
}
.dateError {
  font-size: .75rem;
	margin-top: .125rem;
  font-family: 'VoltaModernText-55Roman';
  color: rgb(194, 57, 52);
  display: none;
}
.button-text {
  font-size: 15px;
  font-family: 'VoltaModernDisplay-75Bold';
}
.helpText
{
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
}
.inputText-placeholder{
  font-size: 13px;
  font-family: 'VoltaModernText-55Roman';
  color: grey;
}
.customMarginDates{
  margin-left: 65px;
  margin-top: 2px;
}
.picklistFont{
  font-family: 'VoltaModernText-55Roman';
  font-size: 16px;
  color: #080707;
  margin-right: 50px;
  width: 70%;
}
.modalheader {
  padding: 3% 9%;
}
.modalbody {
  padding: 0 9%;
}
.modalfooter {
  padding: 4% 9%;
}
.errormargin {
  margin-top: -1.5rem;
  margin-bottom: 2.5rem;
  font-size: .75rem;
  font-family: 'VoltaModernText-55Roman';
  color: rgb(194, 57, 52);
}