<template>
    <div class="slds-text-heading_medium slds-m-bottom_medium">
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_2-of-3">
                <span>
                    <h1 class="slds-text-heading_medium slds-m-bottom_large">
                        <p class="customheading">{label.ApheresisPickupDelivery}</p>
                    </h1>
                </span>
            </div>
            <template if:false={responseRecieved}>
            <div class="slds-col slds-size_1-of-3">
                <span>
                    <c-c-c-l_-flow_-header></c-c-c-l_-flow_-header>
                </span>
            </div>
            </template>
        </div>
    </div>
    <div if:true={errorOnUpdate} class="slds-text-color_error errormargin"> {errorOnUpdate} </div>
    <hr class="blueLine"></hr>
    <div class="slds-m-top_medium slds-m-bottom_x-large slds-m-bottom_none">
        <h2 class="slds-text-heading_medium customtitle slds-m-bottom_none">
            <p>{label.ApheresisCollection}</p>
        </h2>
    </div>
    <div class="slds-form slds-form_stacked">
        <div class="demo-only demo-only--sizing slds-grid slds-wrap">
            <div class="slds-size_1-of-2 slds-p-right_small">
                <label class="slds-form-element__label secInnerhead"
                    for="form-element-01">{label.ApheresisCollectionCenter}
                </label><br/>
                <template if:true={adfUpdate}>
                    <lightning-formatted-text class="picklistFont colclass" value={collectionCenter}></lightning-formatted-text>
                </template>
                <template if:false={adfUpdate}>
                <select id="select1" class="picklistFont slds-select colclass colcustomError" onchange={selectionChangeHandler}
                    data-item="aphCollection">
                    <template if:true={recordLength}>
                        <option value="" class="inputText-placeholder">{label.CCL_Select_apheresis_collection_center}</option>
                    </template>
                    <template for:each={aphCollectionData} for:item="rec">
                        <option key={rec.Id} class="uiInputSelectOption" value={rec.CCL_Site__r.Name}>
                            {rec.CCL_Site__r.Name}</option>
                    </template>
                </select>
                <p class="siteErrorMessage colremoveError">{label.MandatoryField}</p>
            </template>
                <br /><br />

                <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                    <template if:true={hasAddress}>
                        <label class="slds-form-element__label secInnerhead"
                            for="text-input-id-1">{label.CollectionAddress}</label><br />
                        <div class="add_div addressCss">
                            <template if:true={addressList}>
                                    <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={collectionCenterId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </template>
                </div>
            </div>
            <div class="slds-size_1-of-2 slds-p-left_small">
                <label class="slds-form-element__label secInnerhead"
                    for="form-element-01">{label.ApheresisPickupLocation}
                </label><br/>
                <template if:true={adfUpdate}>
                    <lightning-formatted-text class="picklistFont pickupClass" value={aphPickupLocation}></lightning-formatted-text>
                </template>
                <template if:false={adfUpdate}>
                 <select class="picklistFont slds-select pickupClass pickupcustomError" onchange={selectionChangeHandler}
                    data-item="aphPickupLoc">
                    <template if:true={AphPickuprecordLength}>
                        <option value="" class="inputText-placeholder">{label.CCL_Select_apheresis_pick_up_location}</option>
                    </template>
                    <template for:each={aphPickupData} for:item="aph">
                        <option key={aph.Id} class="uiInputSelectOption" value={aph.CCL_Site__r.Name}>
                            {aph.CCL_Site__r.Name}</option>
                    </template>
                </select>
                <p class="siteErrorMessage pickupremoveError">{label.MandatoryField}</p>
            </template>

                <br /><br>
                <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                    <template if:true={hasPickupAddress}>
                        <label class="slds-form-element__label secInnerhead"
                            for="text-input-id-1">{label.PickupAddress}</label><br />
                        <div class="add_div addressCss">
                             <template if:true={addressList}>
                                    <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={aphPickupLocationId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="slds-m-top_medium">
        <h2 class="slds-text-heading_medium slds-m-bottom_none customtitle">
            <p>{label.ProductDelivery}</p>
        </h2>
    </div>
    <div class="slds-form slds-form_stacked">
        <div class="demo-only demo-only--sizing slds-grid slds-wrap">
            <div class="slds-size_1-of-2 slds-p-right_small">
                <label class="slds-form-element__label secInnerhead" for="form-element-01">{label.InfusionCenter}
                </label><br/>
                <template if:true={adfUpdate}>
                    <lightning-formatted-text class="picklistFont infClass" value={infusionCenter}></lightning-formatted-text>
                </template>
                <template if:false={adfUpdate}>
                <select class="picklistFont slds-select infClass infcustomError" onchange={selectionChangeHandler}
                    data-item="infCenter">
                    <template if:true={infCenterRecLength}>
                        <option value="" class="inputText-placeholder">{label.CCL_Select_Infusion_Center}</option>
                    </template>
                    <template for:each={infCenterData} for:item="inf">
                        <option key={inf.Id} class="uiInputSelectOption" value={inf.CCL_Site__r.Name}>
                            {inf.CCL_Site__r.Name}</option>
                    </template>
                </select>
                <p class="siteErrorMessage infremoveError">{label.MandatoryField}</p>
                </template>
                <br /><br />

                <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                    <template if:true={hasInfAddress}>
                        <label class="slds-form-element__label secInnerhead"
                            for="text-input-id-1">{label.InfusionAddress}</label><br />
                        <div class="add_div addressCss">
                            <template if:true={addressList}>
                                    <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={infusionCenterId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </template>
                </div>
            </div>
            <div class="slds-size_1-of-2 slds-p-left_small">
                <label class="slds-form-element__label secInnerhead" for="form-element-01">{label.ShipToLocation}
                </label>
                <select class="picklistFont slds-select shiptoClass shipTocustomError" onchange={selectionChangeHandler}
                    data-item="shipToLoc" required={isAttributeRequired}>
                    <template if:true={shipToLocRecordLength}>
                        <option value="" class="inputText-placeholder">{label.CCL_Select_Ship_To_Location}</option>
                    </template>
                    <template for:each={shipToLocData} for:item="shipTo">
                        <option key={shipTo.Id} class="uiInputSelectOption" value={shipTo.CCL_Site__r.Name}>
                            {shipTo.CCL_Site__r.Name}</option>
                    </template>
                </select>
                <p class="siteErrorMessage shipToremoveError">{label.MandatoryField}</p>
                <br /><br>
                <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                    <template if:true={hasShipToLocAddress}>
                        <label class="slds-form-element__label secInnerhead"
                            for="text-input-id-1">{label.ShipToAddress}</label><br />
                        <div class="add_div addressCss">
                            <template if:true={addressList}>
                                    <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={shipToLocId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div if:true={loadSpinner} class="spinner-padding">
            <lightning-spinner variant="brand" alternative-text="Loading Response" size="medium">
            </lightning-spinner>
        </div>
        <!-- ========================= Scheduling start ================================ -->
        <div class="demo-only demo-only--sizing slds-grid slds-wrap slds-m-top_xx-large">
            <div if:true={sitetextavail} class="slds-size--1-of-1 slds-m-top-large slds-m-bottom_large" style="width: 100%">
                <p class="SchedulePara">{SiteDiscrepancyText}</p>
            </div>

                <div  if:true={responseRecieved} class="slds-m-bottom_large">
                    <div class="slds-size--1-of-1 slds-m-top-large slds-m-bottom_small changeReason" style="width: 100%">
                        <lightning-formatted-text value={label.siteChangeReason}>
                        </lightning-formatted-text>
                    </div>
                    <p style="width: 40%">
                    <lightning-textarea class="changeReason validReason" onchange={handleChange} label="Change Reason" disabled
                        required message-when-value-missing="Provide comments on why the update is necessary.">
                    </lightning-textarea>
                </p>
                </div>

            <div class="slds-size--1-of-1">
                <h2 class="slds-text-heading_medium customtitle">{label.Scheduling}</h2>
            </div>
            <template if:false={replacementOrderDates}>
                <div class="slds-size--1-of-1 slds-m-top_medium slds-m-bottom_large">
                    <lightning-formatted-rich-text value={aboveSchedulerText}>
                    </lightning-formatted-rich-text>
                </div>
            </template>
            <div class="slds-size--1-of-1 slds-m-top_medium">
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_4-of-12">
                        <span>
                            <label class="slds-form-element__label dateLabel customLineHeight slds-m-bottom_small"
                                for="text-input-id-1">{label.CryopreservedApheresisShipmentDate}</label>
                            <c-c-c-l_-date-picker available-dates={availableDates} date-picker-error={datePickerError}
                                get-calendar-field={calendarField} available-slot={availableSlot} response-recieved ={responseRecieved}
                                planned-pickup-date-flow={plannedPickupDateFlow} onpassselecteddate={getSelectedDate}
                                therapy-type={therapyType} off-set-days={offSetDays}></c-c-c-l_-date-picker>
                        </span>
                        <p class="dateError slds-p-left_x-small">{label.MandatoryField}</p>
                    </div>
                    <template if:false={replacementOrderDates}>
                        <div class="slds-col slds-size_4-of-12">
                            <span>
                                <label
                                    class="slds-form-element__label dateLabel customLineHeight customMarginDates slds-m-bottom_medium"
                                    for="text-input-id-1">{label.EstimatedCellmanufacturingStartDate}</label>
                                <div class="slds-text-title datefield customMarginDates">{manufacturingStartDate}</div>
                            </span>
                        </div>
                        <div class="slds-col slds-size_4-of-12">
                            <span>
                                <label
                                    class="slds-form-element__label dateLabel customLineHeight customMarginDates slds-m-bottom_medium"
                                    for="text-input-id-1">{label.EstimatedFinishedProductDeliveryDate}</label>
                                <div class="slds-text-title datefield customMarginDates">{productFinishedDate}</div>
                            </span>
                        </div>
                    </template>
                </div>
            </div>
            <template if:false={replacementOrderDates}>
                <div class="slds-grid slds-m-top_medium" style="width: 100%">
                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-1">
                        <lightning-progress-indicator current-step="1" type="base" has-error="" variant="shaded">
                            <lightning-progress-step value="1"></lightning-progress-step>
                            <lightning-progress-step value="2"></lightning-progress-step>
                            <lightning-progress-step value="3"></lightning-progress-step>
                        </lightning-progress-indicator>
                    </div>
                </div>
            </template>
            <template if:true={showDynamicText}>
                <div class="slds-size--1-of-1 slds-m-top_xx-large">
                    <lightning-formatted-rich-text value={belowSchedulerText}>
                    </lightning-formatted-rich-text>
                </div>
            </template>
        </div>
        <!-- ========================= Scheduling end ================================ -->
		<!-- ========================= Scheduling Prompt start ======================= -->
        <template if:true={schedulerPrompt}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<lightning-card>
					<h3 class="modalheader">
						<div class="slds-text-align_center slds-m-bottom_medium">
							<lightning-icon icon-name="action:priority" class="icon-color" size="small"  title={label.CCL_Consent}></lightning-icon>
						</div>
					</h3>
					<div slot="footer" class="modalfooter" style="padding-bottom:7%">
						<button class="slds-button slds-button_neutral slds-float_left" onclick={doNotChangeScheduler} title={label.CCL_Cancel_Button}><span style="width: 150px">{label.CCL_Cancel_Button}</span></button>
						<button class="slds-button slds-button_brand btnClass slds-float_right" onclick={changeScheduler} title={label.CCL_Yes_edit_details}><span style="width: 150px">{label.CCL_Yes_edit_details}</span></button>
					</div>
					<p class="slds-p-horizontal_small modalbody slds-align_absolute-center" style="font-size: 0.8rem;"><b>{label.CCL_Capacity_API_Change_Message}</b></p>
					<p class="slds-p-horizontal_small modalbody slds-align_absolute-center" style="font-size: 0.8rem;"><b>{label.Capacity_API_message}</b></p>
				</lightning-card>


			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
        <!-- ========================= Scheduling Prompt end ========================= -->
    <template if:false={responseRecieved}>
        <div class="flowButtons"></div>
        <hr class="greyline">
        <div class="slds-m-top_medium button-text">
            <c-c-c-l_-flow_-footer show-next='true' show-prev={showHideBackBtn} show-review={returnFromReview}
                cssitem1={var2} cssitem={var2} onnext={onNext} onreview={onReview} onprevious={onPrevious}>
            </c-c-c-l_-flow_-footer>
        </div>
    </template>
    </div>
</template>