<template>
 <template if:true={isLoading}>
    <lightning-spinner alternative-text={label.CCL_Loading} variant="brand"></lightning-spinner>
  </template>
   <template if:true={showBagFailureMsg}>
    <div class="slds-error slds-theme_error slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon>
    {label.CCL_Cryobag_Create_Err}
    </div>
  </template>
 <template if:true={displayThresholdWarning}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon>
      {label.thresholdErrmsg}
    </div>
  </template>
   <!-- Added as part of 2096-->
   <template if:true={prfWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon>
      {label.CCL_PRF_Resubmission_Approval}
    </div>
  </template>
  <h1 class="sectionHeader"><b>{label.reqCryoHeader}</b></h1>
  <template if:true={showErr}>
    <div class="slds-error slds-theme_error slds-p-around_small">
	 <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={label.CCL_Warning}
      ></lightning-icon>
     {bagErrMsg}
    </div>
  </template>

  <template if:true={childArr}>
   
    <lightning-accordion allow-multiple-sections-open={multiple} active-section-name={activeSectionName}>
      <template for:each={tableData} for:item="item" for:index="index">
        <div class="myCard"  key={item.Id}>
        <lightning-accordion-section
          name={item.attributes.url}
          label={item.attributes.url}
         
        >
          <c-c-c-l_-required_-cryopreservation_-details_-child
            time-zone={timeZone}
              my-actual-arr={childArr}
              json-data={jsonData}
              indexofcollection={index}
              record-id={item.Id}
              power-of-threshold={powerOfThreshold}
              threshold={threshold}
              collection-values={hasFieldvalues}
              is-next-clicked={isNextClicked}
              onmyvalidationevent={handleValidation}
              cryo-comments={cryoComments}
              stored-values={storedValues}
              saved-forlater-clicked={savedForlaterClicked}
              onmycountevent={handleTotalCount}
              oncommentchange={handlecommentChange}
              disable-btn={disableBtn}
              onmysaveevent={handleSaveLater}
              onmycalcevent={handleGrandTotal}
              number-of-collection={tableData.length}
              onfinishedaddbag={handleThresholdErr}
              all-bags={allBags}
			  onsaveclickedfalse={setAllBoolean}
			  adf-id={recordId}
            ></c-c-c-l_-required_-cryopreservation_-details_-child>
        </lightning-accordion-section>
      </div>
      </template>
    </lightning-accordion>
 
  </template>
  <div class="section-excess myCard">
    <h1 class="mainHeader"><b>{label.excesSection}</b></h1>
    <hr class="blueLine" >
    <div class="slds-grid">
      <div class="slds-col slds-size_1-of-1">
        <label for="" class="slds-form-element__label fontFamily">
         {label.excesLabel}
        </label>
        <lightning-radio-group name="radioGroup"
                options={options}
                class="radioButtons"
                variant="label-hidden"
				        value={excessRetained}
                onchange={handleChangeRadio}
                type="radio"></lightning-radio-group>
      </div>
    </div>
  </div>
 <div class="grandTotal myCard">
    <h1 class="mainHeader"><b>{label.grandTotal}</b></h1>
    <hr class="blueLine" >
    <template if:true={displayThresholdWarning}>
      <div class="slds-error myError slds-p-around_small">
        {label.thresholdErrmsg}
      </div>
    </template>
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_1-of-2">
        <label for="TNC" class="slds-form-element__label fontFamily">
          {label.tnc}
        </label>
        <div class="thresholdText">
          ({label.CCL_Threshold} >=:{threshold}x10^{powerOfThreshold})
        </div>
        <p class="valueClass" id="TNC">{grandTotalTNC}</p>
      </div>
      <div class="slds-col slds-size_1-of-2">
        <label for="CDC" class="slds-form-element__label fontFamily">
          {label.cd3threshhold}
        </label>
        <div class="thresholdText">
          ({label.CCL_Threshold} >=:{cd3threshold}x10^{powerOfCD3Threshold})
        </div>
        <p class="valueClass" id="CDC">{grandTotalCD3}</p>
      </div>
      <div class="slds-col slds-size_1-of-2">
        <label for="abc" class="slds-form-element__label fontFamily">
          {label.cd3tnc}
        </label>
        <div class="thresholdText">({label.CCL_Threshold} >=:{cd3tncthreshold}%)</div>
        <p class="valueClass" id="abc">{grandTotalCD3TNC}</p>
      </div>
      <div class="slds-col slds-size_1-of-2">
        <label for="CDC3" class="slds-form-element__label fontFamily">
          {label.aphdatetime}
        </label>
        <p class="valueClass" id="CDC3">{expiryDate}</p>
      </div>
    </div>
  </div>
  
   <!--Added as part of 850-->
  <template if:true={isReasonModalOpen}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header no-border">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse slds-var-m-bottom_small" title={label.CCL_Modal_Close} onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                        class="closeModal"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                </button>
                <div class="wrapper">
                <div class="slds-var-m-bottom_large">
                </div>
                <div class="slds-var-m-bottom_large">
                  <lightning-icon icon-name="action:edit" alternative-text="Approved" size="small" class="submitIcon slds-var-m-bottom_medium" title={label.CCL_Submit}></lightning-icon>
                </div>
                <div class=" slds-var-m-bottom_medium slds-text-title_bold reasonHead"><h2>{label.CCL_Reason_Modal_Header}</h2></div>
            </div>
            <div class="slds-grid slds-wrap ">
              <div class="slds-align_absolute-center slds-var-m-bottom_medium slds-text-title_bold reasonSubhead"><p>{label.CCL_Reason_Modal_Subheading}</p></div>
            <div class="slds-col slds-size_1-of-1 slds-var-p-horizontal_medium slds-var-m-top_small labelClass">
                <lightning-textarea type="text" class="textarea Reason" onchange={handleReasonChange} label={label.CCL_Reason_Modal_Message} field-level-help={label.CCL_Reason_Modal_Helptext} max-length="500"> 
                </lightning-textarea>
            </div>
            </div>
            </header>
            <div class="slds-modal__footer no-border slds-var-m-bottom_large">
            <div class="slds-align_absolute-center slds-var-m-bottom_large no-border">
                <div class="slds-var-m-right_large"><button class="slds-button slds-var-m-bottom_large slds-button_neutral myButton" title=label.CCL_Back} onclick={closeModal}>{label.CCL_Back}</button></div>
                <button class="slds-button add-border slds-button_brand slds-var-m-bottom_large reject myButton" title={label.CCL_Submit} name="submit" onclick={onReasonSubmit}>{label.CCL_Save_Changes}</button>
            </div>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!--Changes for 850 ends here-->
  
  <div class="slds-m-top_medium footerCmp">
      <!-- 2260 -->
      <template if:true={isADFViewerInternal}>
        <c-c-c-l_-flow_-footer show-next='true'   show-prev='true' show-save-grey='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
        onsubmit={handleSubmit}>

        </c-c-c-l_-flow_-footer>
      </template>
      <template if:false={isADFViewerInternal}>
    <c-c-c-l_-flow_-footer show-next='true' show-prev='true' show-save='true'  onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
    onsubmit={handleSubmit}>
    </c-c-c-l_-flow_-footer>
  </template>
</div>
</template>