.mainHeader {
    font-size: 1.5em;
    font-family: 'VoltaModernDisplay-75Bold';
    margin-top: 1rem;
}
.sectionHeader{
        font-size: 36px;
        font-family: 'VoltaModernDisplay-75Bold';
        margin-top: 1rem;
}


.blueLine {
    border-top: 1px solid #2e7ab8;;
    margin:0.5rem 0;
}
.thresholdText {
    font-size: 12px;
}
.myError {
    color: rgb(194, 57, 52);
}
.slds-form-element__label {
    font-weight: 900;
}
.myCard {
   position: relative;
    padding: 13px;
    background: #fff;
    margin: 2rem 0;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
}
.grandTotal {
    background: #f7f7f9;
}
.slds-modal__content_name{
    color: rgba(3, 1, 1, 0.836);
    font-weight: 400;
}
.slds-modal__content{
    padding-left: 8rem;
    padding-right: 8rem;
    color: black;
    font-weight: 500;
}
.slds-modal__container{
    width:60%;
    height : auto;
    max-height: 180rem;
    min-height: 40rem;
    padding: 3rem 0;
}
.closeModal{
    border:none;
    box-shadow:none;
}
.no-border{
    border:none;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
}
.textarea{
    height: 140px;
    text-align: initial;
}
.myButton{
    width:200px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .myButtonSubmit{
    width:300px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .submitIcon {
    background-color:orange;
   }
   .reasonHead{
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
    
}
.reasonSubhead{
    font-family: 'voltaModernText-55Roman';
    font-size: 14px;
    font-weight: 500;}
	.fontFamily {
    font-family: 'VoltaModernDisplay-75Bold'; 
}
