.container4  {
    border-radius: 1em;
    padding: 1em;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
.icon-color {
    background-color: seagreen;
}
.add-border{
    border-color: rgb(76, 109, 170);
}
.h2View{
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 1.5em;
}  
.content{
    font-size: 1em;
    font-family: 'VoltaModernText-55Roman';
}
.slds-modal__header{
    border-bottom: none;
}
.paddingLeft{
    padding-left: 6rem;
}