<template>

  <div class="wrapper">
    <div class="slds-grid paddingLeft">
      <div>
        <div>
          <div class="slds-m-bottom_large slds-align_absolute-center">
            <lightning-icon icon-name="action:approval" class="icon-color" alternative-text="Attestation" size="small"
              title="Attestation"></lightning-icon>
          </div>
          <div class="slds-text-heading_large slds-m-bottom_large slds-text-title_bold slds-align_absolute-center h2View"
            >{label.CCL_Order_Submitted}</div>

          <div class="slds-align_absolute-center slds-text-body_regular content" >
            <p>{label.CCL_Thank_you},</p>
          </div>
          <div class="slds-align_absolute-center slds-text-body_regular content">
            <p>{label.CCL_Order_Submission_Message}</p>
          </div>
          <br>
          <div class="slds-align_absolute-center">
            <lightning-button variant="brand-outline" label={label.CCL_Return_to_Dashboard}
              title={label.CCL_Return_to_Dashboard} onclick={goToNextCommercialScreen} class="slds-m-left_x-small">
            </lightning-button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>