h1 {
    font-size: 2em;;
}
hr {
    border-top: 1px solid #0070d2;
}
p {
    font-size: 15px;
}
h2{
    font-size: 1.5em;
}
.marginLeft {
    margin-left: -4.5rem;
}
.mainHeading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
 .textClass {
    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707; 
 }
 .blue_line {
    border-top: 1px solid #0070d2;
    margin:1rem 0;
}
.checkBox {
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 16px;
    color: #080707;
    flex-grow: 0;
}
.customHt{
    height: 25px;
}