<template>
     <!-- Added as part of 2096-->
  <template if:true={prfWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.CCL_PRF_Resubmission_Approval}
    </div>
  </template>
    <div class="wrapper">
        <h2 class="mainHeading">{labels.CCL_VerifyPatient}</h2>
     
        <p class="slds-m-top_medium textClass">{labels.CCL_VerifyPatient_header}</p>
        <hr class='blue_line'>
        <div class="slds-grid">
            <lightning-input class="checkBox "  type="checkbox"></lightning-input>
            <label class=" checkBox myVerifyCheckbox">{labels.CCL_VerifyPatient_checkbox}</label>
        </div>
       
        <br>
        <br>
        <div class="textClass">
            <lightning-formatted-text value={name}></lightning-formatted-text><br>
            <lightning-formatted-text value={userDateText}></lightning-formatted-text>
        </div>
		<template if:true={latestScreeninJSON}>
        <div class=' customHt'>
            <button type="button" onclick={adfSummary} class='slds-float_right btnwidth slds-button slds-button_brand ' name='Go To ADF Summary'>{labels.CCL_GOTO_ADFSummary}</button>
    </div>
        </template>
    </div>
    <div class="slds-m-top_medium footerCmp">
        <!-- 2260 -->
        <template if:true={isADFViewerInternal}>
          <c-c-c-l_-flow_-footer show-next='true'    onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
          onsubmit={handleSubmit}>
  
          </c-c-c-l_-flow_-footer>
        </template>
        <template if:false={isADFViewerInternal}>
        <c-c-c-l_-flow_-footer show-next='true'  onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
        onsubmit={handleSubmit}>
        </c-c-c-l_-flow_-footer>
      </template>
    </div>
</template>
