.slds-col {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.75rem;
}
.width5 {
    width: 5.85rem;
}
.width3 {
    width: 4rem;
}
.blue_line {
    border-top: 1px solid #0070d2;
    margin:1rem 0;
}
.displayBlock {
    display: inline;
}
.slds-form-element__label,.labelClass {
    font-weight: 900;
}
.subHeading {
    font-size:15px;
}
.powerText {
    margin:0 5px;
}
.displayError{
    color:red;
}
.cryoHead {
    padding-top: 1.5rem;
}

.hasError.slds-input {
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}
.tablesize {
    font-size: 12px;
}
.slds-form-element__help {
    margin-bottom: -1rem;
}
.slds-table_bordered tbody td{
    padding-left: 0px;
    padding-right:5.5px;
    padding-bottom: 14px;
}
.marginBottom {
    margin-bottom: 18px;
}
.slds-scrollable_y {
    overflow-y: auto !important;
}
.dateClass{
    width: 15%;
}
.timeClass{
    width: 40%;
}
.myLabel {
    width: 65%;
}
.labelClass1{
    font-weight: 700;
    font-size: 0.75rem;
}
.labelClass2{
    font-weight: 900;
    font-size: 0.75rem;
}
.colorBlue{
    color: #0460A9;
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.powValues{
    float: left;
  z-index: 9999;
}
.center{
    text-align: center;
}
.fontFamily {
    font-family: 'VoltaModernDisplay-75Bold'; 
	color:#000;
}
.cryoBagIdWidth{
    width:auto;
}
.finishedBags{
    background: #0460a9;
    width: 235px;
}
.paddingLeftLarge{
    padding-left: 1.5rem !important;
}
.paddingLeft{
    padding-left:1rem !important;
}