<template>
  <template if:false={readOnlyfields}>
    <hr class="blue_line">
  </template>
  <div class="wrapper">
    <div class="slds-grid slds-wrap">
      <template for:each={myFieldArr} for:item="fieldItem">
        <div class={fieldItem.fieldLength} key={fieldItem}>
          <template if:false={fieldItem.isRadio}>
            <div class="myLabel">

              <label for="" class="slds-form-element__label fontFamily">
                {fieldItem.Fieldlabel}</label
              >
            <div class=" slds-grid">
            <lightning-input
              type={fieldItem.fieldtype}
              read-only={fieldItem.isEditable}
              class={fieldItem.class}
              field-level-help={fieldItem.fieldhelptext}
              variant="label-hidden"
              label={fieldItem.Fieldlabel}
              value={fieldItem.fieldValue}
              data-item={fieldItem.fieldApiName}
              onchange={handleChange}
			  message-when-bad-input={fieldItem.badInput}
              onblur={handleBlur}
              onfocus={powValues}
            ></lightning-input>
            <template if:false={readOnlyfields}>
              <template if:true={fieldItem.isDate}>
                <label
                  for=""
                  class="slds-form-element__label"
                ></label>
                <c-c-c-l_-date-format
                  type={fieldItem.fieldtype}
                  field-api-name={fieldItem.fieldApiName}
                  my-date-fields={myDateFields}
                ></c-c-c-l_-date-format>
              </template>
              <template if:true={fieldItem.isTime}>
                <template if:false={fieldItem.readOnlyTime}>
                <label
                  for=""
                  class="slds-form-element__label"
                ></label>
                <c-c-c-l_-time-format
                  field-api-name={fieldItem.fieldApiName}
                  my-time-fields={myTimeFields}
                ></c-c-c-l_-time-format>
              </template>
              </template>
              </template>
            </div>
          </div>
          </template>

          <div class="slds-grid">
            <template if:true={fieldItem.isTime}>
              <div
                class="timezone slds-p-left_large slds-p-horizontal_medium"
              >
                  <label
                    class="labelClass2 slds-p-bottom_large fontFamily"
                    for=""
                    >{label.CCL_TimeZone}</label
                  ><sup>
                    <template if:false={fieldItem.readOnlyTime}>
                    <lightning-helptext
                    content={siteTimeZone}
                  ></lightning-helptext>
                </template>
                <template if:true={fieldItem.readOnlyTime}>
                  <lightning-helptext
                  content={siteTimeZone2}
                ></lightning-helptext>
              </template>
                  </sup>
                  <template if:true={fieldItem.timeZone}>
                    <div class="slds-p-bottom_small"></div>
                    <p class="labelClass1">{fieldItem.timeZone}</p>
                  </template>
                  <template if:false={fieldItem.timeZone}>
                    <div class="slds-p-bottom_small"></div>
                    <p class="labelClass1">{timeZoneDetails}</p>
                  </template>
              </div>
            </template>
          </div>
          <template if:true={fieldItem.isRadio}>
            <label class="labelClass slds-form-element__label slds-no-flex"
              >{fieldItem.Fieldlabel}</label
            >
            <lightning-radio-group
              name="radioGroup"
              label={fieldItem.Fieldlabel}
              value={fieldItem.fieldValue}
              options={options}
              class="radioButtons"
              variant="label-hidden"
              disabled
              type="radio"
            ></lightning-radio-group>
          </template>
        </div>
      </template>

       <!--Added as part of 275-->
       <template if:true={boolVisible}>
        <div class="displayError">
          <br>
          {label.dateDiff}
          <br>
          <br>
        </div>
        </template>
        <!--Ends here-->
        <template if:false={readOnlyfields}>
      <div class="slds-col slds-size_1-of-1 slds-var-m-bottom_medium">
        <lightning-textarea
          label={comments}
          class="labelClass commenntClass"
          value={cryoComments}
          field-level-help={label.CCL_255_Char_Limit}
          onchange={handleCommentsChange}
          max-length="255"
        ></lightning-textarea>
      </div>
      </template>
     <div>
      <div class="displayBlock">
        <div class="">
          <h1 class="subHeading"><b>{label.cryobagInfo}</b></h1>
        </div>
        <div class="">
          <h4 class=""><p>{label.noOfBags}</p></h4>
        </div>
        <div class="">
          <p class="count">{bagCount}</p>
        </div>
      </div>

      <div class="container-fluid slds-m-top_medium ">
        <div class=" ">
        <table class="slds-table slds-table_bordered slds-table_cell-buffer tablesize">
          <thead>
            <tr>
              <th scope="col" class="colorBlue">
                <div class=" colorBlue" title="bag">{label.cryobagNo}</div>
              </th>
              <th scope="col" class="colorBlue">
                <div class="slds-truncate slds-cell-wrap colorBlue" title="CryoBag ID">
                  
                 {label.cryoBagId}
                 <sup>
                 <lightning-helptext class='helptextPosition' content={label.CCL_CryobagId_helptext}></lightning-helptext></sup>
                </div>
               
              </th>
              <th scope="col" class="colorBlue">
                <div
                  class="slds-truncate slds-cell-wrap colorBlue"
                  title={label.CCL_Cell_Count}
                >
                  {label.tnc} <div class="threhHoldtext">
                    
                  </div>
                </div>
              </th>
              <th scope="col" class="colorBlue">
                <div
                  class="slds-truncate slds-cell-wrap colorBlue"
                  title="CD3 Cell count Threshold"
                >
                 {label.cd3cellcount} <div class="threhHoldtext">
                   
                 </div>
                </div>
              </th>
              <th scope="col" class="colorBlue">
                <div
                  class="slds-truncate slds-cell-wrap colorBlue"
                  title={label.CCL_Total_Volume_per_Bag_mL}
                >
                 { label.totalVolume}
                </div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title={label.CCL_Action}></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <template if:false={readOnlyfields}>
            <template for:each={bagList} for:item="bag" for:index="indx">
              <tr key={bag.key} id={bag.key}>
                <td class="power cryoHead center">
                  
                  <c-c-c-l_-table_-index index={indx}></c-c-c-l_-table_-index>
                </td>
                <td>
                  <div class="slds-grid">
                  <lightning-input
                    data-id={indx}
                    class="myInput idField width5 queryComp"
                    value={bag.CCL_Cryobag_ID__c}
                    onchange={handleIdChange}
                    placeholder={enterBagId}
                    onblur={checkValidation}
                    type="text"
                    max-length = 20
                    name="cryobagId" read-only={readOnlyfields}
                    onfocus={powValues}
                  ></lightning-input>
                  </div>
                </td>
                <td class="power slds-grid slds-text-align_right">
                  <lightning-input
                    data-id={indx}
                    value={bag.CCL_Nucleated_Cell_Count__c}
                    onchange={handleTNCChange}
                    type="number"
                    onblur={checkValidation}
                    step="0.1"
                     message-when-step-mismatch={label.CCL_TNC_Err_Msg}
                    class="myInput width5 tncparent queryComp"
                    placeholder="XXXXXX.X"
                    max="999999" read-only={readOnlyfields}
                    message-when-range-overflow={label.CCL_TNC_Err_Msg}
					min="1"
                    message-when-range-underflow={label.CCL_TNC_Err_Msg}
                    onfocus={powValues}
                  ></lightning-input>
                 <span class="powerText slds-p-top_large slds-p-right_x"> X 10^</span> 
                 <lightning-combobox
                    data-id={indx}
                    value={bag.CCL_Power_Of_TNC__c}
                    onchange={handleTNCpowerChange}
                    onfocus={onClickTNCPower}
                    onblur={checkValidation}
                    class="powerfield myInput width3 tncpower queryComp slds-dropdown-trigger slds-dropdown-trigger_click tncPowMenu"
                    options={newArr} read-only={readOnlyfields}
                    placeholder="XX"
                  ></lightning-combobox>
                </td>
                <td class="power">
                  <div class="slds-grid">
                    <lightning-input
                      data-id={indx}
                      value={bag.CCL_CD3_Cell_Count__c}
                      class="myInput width5 cd3parent queryComp"
                      onchange={handleCD3Change}
                      step="0.1"
                      message-when-step-mismatch={label.CCL_TNC_Err_Msg}
                      onblur={checkValidation}
                      onfocus={powValues}
                      type="number"
                      placeholder="XXXXXX.X"
                      max="999999" read-only={readOnlyfields}
                      message-when-range-overflow={label.CCL_TNC_Err_Msg}
					  min="1"
                      message-when-range-underflow={label.CCL_TNC_Err_Msg}
                    ></lightning-input
                    > <span class="powerText slds-p-top_large">X 10^</span> 
                    <lightning-combobox
                      data-id={indx}
                      value={bag.CCL_Power_Of_CD3__c}
                      onchange={handleCD3powerChange}
                      onfocus={onClickCDCPower}
                      onblur={checkValidation}
                      options={newArr}
                      placeholder="XX" read-only={readOnlyfields}
                      class="powerfield myInput width3 cd3power queryComp slds-dropdown-trigger slds-dropdown-trigger_click cdcPowMenu"
                    ></lightning-combobox>
                  </div>
                </td>
                <td class="power">
                  <div class="slds-grid">
                    <lightning-input
                    data-id={indx}
                    placeholder="XXX"
                    value={bag.CCL_Total_Volume_Per_Bag__c}
                    class="volfield myInput width5 queryComp"
                    onchange={handleVolChange}
                    type="number"
                    max="999" read-only={readOnlyfields}
                    onblur={checkValidation}
                    message-when-range-overflow={label.CCL_Total_Vol_Err_Msg}
                    message-when-step-mismatch={label.CCL_Total_Vol_Err_Msg}
					min="1"
                    message-when-range-underflow={label.CCL_Total_Vol_Err_Msg}
                    onfocus={powValues}
                  ></lightning-input>
                  </div>
                  
                </td>
                <td  class="power">
                  <template if:true={renderdelete}>
                    <template if:false={readOnlyfields}>
                    <lightning-icon
                      icon-name="utility:close"
                      data-id={indx}
                      alternative-text="Delete"
                      class="iconClass hideBtn width3 deleteRowButton"
                      size="xx-small"
                      variant=""
                      onclick={removeBag}
                      title="Delete"
                    ></lightning-icon>
                    </template>
                  </template>
                </td>
              </tr>
            </template>
          </template>
          <template if:true={readOnlyfields}>
            <template for:each={bagList} for:item="bag" for:index="indx">
              <tr key={bag.key} id={bag.key}>
                <td class="power paddingLeftLarge">
                  
                  <c-c-c-l_-table_-index index={indx}></c-c-c-l_-table_-index>
                </td>
                <td class="paddingLeft">
                  <div class="slds-grid">
                  <div
                    data-id={indx}
                    class="myInput idField width3 queryComp cryoBagIdWidth"
                  >{bag.CCL_Cryobag_ID__c}</div>
                  </div>
                </td>
                <td class="power slds-grid paddingLeft">
                  <div
                    class="myInput width3 tncparent queryComp"
                  >{bag.CCL_Nucleated_Cell_Count__c}<span class="powerText slds-p-top_large slds-p-right_x"> X 10^{bag.CCL_Power_Of_TNC__c}</span></div> 
                </td>
                <td class="power paddingLeft">
                  <div class="slds-grid">
                    <div
                      class="myInput width3 cd3parent queryComp"
                    >{bag.CCL_CD3_Cell_Count__c}<span class="powerText slds-p-top_large">X 10^{bag.CCL_Power_Of_CD3__c}</span></div>  
                  </div>
                </td>
                <td class="power paddingLeft">
                  <div class="slds-grid">
                    <div
                    class="volfield myInput width3 queryComp"
                  >{bag.CCL_Total_Volume_Per_Bag__c}</div>
                  </div>
                  
                </td>
              </tr>
            </template>
          </template>
          </tbody>
        </table>
      </div>
      <template if:false={readOnlyfields}>
        <div class="slds-float_left slds-p-bottom_small slds-m-top_large slds-size_1-of-1">
          <button
            class="slds-button slds-button_outline-brand"
            disabled={disabled}
            onclick={addBag}
          >
            {label.addanotherbag}
          </button>
          <span class="maxbagText slds-p-left_medium"
            >{label.addmaxBagsmsg}</span
          >
        </div>
        <template if:true={showFinishedButton}>
          <div class="slds-float_left slds-p-bottom_small slds-m-top_xsmall">
            <button
              class="slds-button slds-button_brand finishedBags"
              onclick={handleFinishBag}
            >
           {label.finishedBags}
            </button>
            </div>
        </template>
        </template>
        <template if:true={readOnlyfields}>
          <div class="slds-float_left slds-p-bottom_medium slds-m-top_large"></div>
        </template>
      </div>
    </div>
    </div>
    <div class="subTotal-section">
      <h1 class="subHeading"><b>{label.subtotal}</b></h1>
      <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-2">
          <label for="TNC" class="slds-form-element__label fontFamily">
           {label.tnc}
          </label>
          <p class="valueClass" id="TNC">{subtotalNucleatedCellCount}</p>
        </div>
        <div class="slds-col slds-size_1-of-2">
          <label for="CDC" class="slds-form-element__label fontFamily">
            {label.cd3threshhold}
          </label>
          <p class="valueClass" id="CDC">{cd3Total}</p>
        </div>
        <div class="slds-col slds-size_1-of-2">
          <label for="abc" class="slds-form-element__label fontFamily">
          {label.wbcConcentration}
          </label>
          <p class="valueClass" id="abc">{wbcConcentrationFormula}</p>
        </div>
        <div class="slds-col slds-size_1-of-2">
          <label for="CDC3" class="slds-form-element__label fontFamily">
            {label.cd3tnc}
          </label>
          <p class="valueClass" id="CDC3">{cd3_tnc}</p>
        </div>
      </div>
    </div>
  </div>
</template>