<template>
        <div class="wrapper">
                <span class="label">Care program Product</span>
                <c-p-s-p_custom-look-up onselecteditemid={getselectedDetails} recordtype={recordtype} object={object} searchtext={searchtext}  >
                </c-p-s-p_custom-look-up >
        </div>
</template>