<template>
<div class="wrapper">
    <template if:false={physicianFlow}>
           
    <template if:true={eplist.length}>
        <span class="heading">{label.header}</span>
            <template for:each={eplist} for:item="item" for:index='index'>
                    <div class="product-tile slds-cards" key={item}>
                        <div class="slds-float_right">
                        </div>
                        <div class="slds-p-horizontal_small slds-m-around_x-small">
                            <lightning-icon  icon-name="standard:product" class="iconclass slds-m-right_x-small" alternative-text={alttext}>
                            </lightning-icon>
                                {item.Name}
                        </div>
                        

                    </div>
                </template>
                
                <template if:false={eplist.length}>
                </template>
                <!-- <template if:true={showSpinner}>
                    <div class="slds-spinner_container">
                        <div class="slds-spinner-brand  slds-spinner slds-spinner--large slds-is-relative"
                            role="alert">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </template> -->
        </template>
    </template>
</div>
</template>