<template>
   <!--The code for filter and pagination starts below-->
    <div class="dashBoardWrapper paddingLeft5">
   <div class="slds-text-heading_large ordrLblCls" style="padding-bottom: 0.5em;"><b>{label.Your_Orders}</b></div>
   <div class="slds-grid">
      <div class ="slds-col slds-size_1-of-5" style="width:20%;">
         <div class="slds-truncate">
           <label for="hospitalId" class ="qkFiltLbl">{label.quickFilters}</label>
            <lightning-input class="nrmlFont" id="hospitalId" data-id="hospitalId"  variant="label-hidden" placeholder ={label.orderingHospital}
               value={selectedValAcc} name="inputForDataField" onchange={handleHospChange} disabled={diabledAcc} autocomplete="off" >
               <!--{filterValOnLoad}   disabled={inputDisbled}-->
            </lightning-input>
            <!---lightning-icon icon-name="utility:search"  size="xx-small"></lightning-icon   -->
         </div>
         <ul class={shwHideLiAcc} style="width: 20%" role="presentation">
            <template for:each={accList} for:item="item">
               <li key={item} data-item={item.Name}  id={item.Id} value={item.Name}
                  class="" onclick={chooseThisItem} role="presentation">
                  <lightning-icon icon-name={iconName} class="iconclass" ></lightning-icon>
                  {item.Name}
               </li>
            </template>
         </ul>
      </div>
      <div class ="slds-col slds-size_1-of-5" style="width:20%;">
         <div class="slds-truncate">
            <lightning-input class="nrmlFont ipCls"  id="prescriberId" data-id="prescriberId"  variant="label-hidden" placeholder ={label.prescriberPlaceholder}
               name="inputForDataField" onchange={handleHospChange} value={selectedValCon} disabled={diabledCon} autocomplete="off" >
               <!--{filterValOnLoad}   disabled={inputDisbled}-->
            </lightning-input>
            <!---lightning-icon icon-name="utility:search"  size="xx-small"></lightning-icon   -->
         </div>
         <ul class={shwHideLiCon} style ="margin-left: 2em;width: 18%" role="presentation" >
            <template for:each={conList} for:item="item">
               <li key={item} data-item={item.Name}  id={item.Id} value={item.Name}
                  class="" onclick={chooseThisItem} role="presentation" >
                  <lightning-icon icon-name={iconName} class="iconclass" ></lightning-icon>
                  {item.Name}
               </li>
            </template>
         </ul>
      </div>
      <div class = "slds-col clrBtn"  onclick={clearFilters}>
         <u><a href="#" >{label.clearLink}</a></u>
      </div>
    <div>
      <div class = "slds-col countOrdr" >
       <span class="spanStyl">
        {label.showingOrders} {lowerLimit}-{upperLimit} {label.of} {totalOrders}
       </span>
       <span style="float:right;">
        <span class="slds-align_absolute-center">
           <ul class="slds-button-group-row">
            <template if:true={hasPrev}>
             <li class="slds-button-group-item" >
              <button class="slds-button slds-button_neutral" onclick ={onPrev}> {label.previous}
              </button>
             </li>
            </template>
            <template for:each={pagesList} for:item= "pageNumber">
             <li class="slds-button-group-item" key={pageNumber}>
              <button data-id={pageNumber} class="slds-button slds-button_neutral"
                 onclick={onPageClick}>{pageNumber}</button>
             </li>
            </template>
            <template if:true={hasNext}>
             <li class="slds-button-group-item" >
              <button class="slds-button slds-button_neutral" onclick={onNext}
                 >{label.next}</button>
             </li>
            </template>
           </ul>
        </span>
       </span>
      </div>

     <div class = "sortText">{label.sortOrder}</div>
     <div style="text-align: right;">{label.sortOrderNote}</div>

    </div>
   </div>
   <!--Code for filter and pagination ends here-->
   <div class="wrapper">
      <template if:true={mainArr}>
         <template for:each={mainArr} for:item="item">
            <div class="section-excess myCard slds-m-top_large pointerIcon" key={item} data-id={item.Id} id={item.Id} onclick={openRecord}>
               <div class="header slds-grid maxWidth">
                  <div class="patient-name slds-media__body">
                     <template if:true={phiPermission}>
                        <p class="slds-text-title_bold submittedDate">{item.nameLabel}</p>
                     </template>
                     <div class="header slds-grid slds-float_left">
                        <template if:true={phiPermission}>
                           <h1  class="novartisBlue slds-m-right_large patientName">
                              <p>{item.patientName}</p>
                           </h1>
                        </template>
                        <template if:true={item.isReplacementOrder}>
                           <p class="slds-m-top_xx-small submittedDate">
                              {label.replacementOrder}
                           </p>
                        </template>
                     </div>
                     <div class="slds-float_right">
                        <div class="header slds-grid">
				<template if:true={item.prfOrderStatusSubmt}>
                     <template if:true={item.isApprovalEligible}>
						<template if:true={disableApproval}>
                           <template if:true={item.prfsubmitter}>
										<div  class="slds-float_right slds-float_float">
											<lightning-button variant="brand" onclick={openApproval}  name={item.Id}
                                  label={label.verifyApproveOrder}></lightning-button>
										</div>
									</template>
								</template>
					</template>
                </template>
                         <div class="slds-float_right">
                     <template if:true={enterreplacement}>
                           <template if:true={item.isReplacementAllowed}>
                              <button if:true={disableReplacement} disabled class="slds-button slds-button_neutral slds-text-title_bold "
                                  onclick={page}>{label.enterReplacementOrder}</button>
                                  <div if:false={disableReplacement}>
                                    <button onclick={pageClick} name={item.Id} class="slds-button  buttonLabel1 slds-button_neutral add-border slds-var-m-right_xx-small"
                                    > {label.enterReplacementOrder}</button>
                               <lightning-helptext class="helptextPosition slds-var-m-top_x-small slds-var-m-right_x-small" content={label.enterReplacementOrderHelptext}></lightning-helptext>
                              </div>
                              </template>
                     </template>
                         </div>
                           <div class="slds-float_right">
                           <template if:true={item.exceptionalStatus}>
                              <p class=" slds-var-m-left_small slds-var-m-bottom_small slds-text-title_bold status">
                                 {item.exceptionalStatus}
                              </p>
                           </template>

                            <template if:true={item.conditionalStatus}>
                               <p class="statusyellowcolor slds-float_right slds-p-right_xx-large slds-m-top_x-small slds-m-left_small slds-text-title_caps">
                                  {item.conditionalStatus}
                               </p>
                            </template>
                            <template if:true={item.additionalInfo}>
                               <p class=" slds-var-m-left_small slds-var-m-bottom_small slds-text-title_bold">
                                  {item.additionalInfo}
                               </p>
                            </template>
                         </div>
                        </div>
                     </div>
                     </br>
                     </br>
                      <div class="slds-grid slds-float_left">
                     <template if:true={item.showPatientId}>
                        <p class="submittedDate">
                              {label.Patient_ID}: {item.patientID}
                           </p>
                     </template>
                     </div>
                  </div>
               </div>
               <div class="details-items slds-grid slds-m-bottom_large slds-var-m-top_medium">
                  <template if:true={item.myFields}>
                     <template for:each={item.myFields} for:item="fieldItem">
                        <template if:false={fieldItem.isName}>
                           <div class="details slds-page-header__detail-block paddingLeftNone" key={item}>
                              <template if:false={fieldItem.isDOB}>
                                 <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small">{fieldItem.Fieldlabel}</p>
                                 <p class="fieldComponent slds-text-body--regular slds-show_inline-block">
                                    {fieldItem.fieldValue}
                                 </p>
                              </template>
                              <template if:true={fieldItem.isDOB}>
                                 <template if:true={phiPermission}>
                                    <div class="dobMaxWidth">
                                    <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small">{fieldItem.Fieldlabel}</p>
                                    <p class="fieldComponent slds-text-body--regular slds-show_inline-block">
                                        {item.dob}
                                    </p>
                                 </div>
                                 </template>
                              </template>
                           </div>
                        </template>
                     </template>
                  </template>
               </div>
               <c-c-c-l_-progress-bar chevronjson={item.chevronJson} chevroncolour={item.ChevronColor}></c-c-c-l_-progress-bar>
				<template if:true={item.Ribbon}>
                  <template if:true={item.Quarentine}>
                     <div class="ribbonBox">
                     <p class="ribbon">
                        <span class="text2">{label.SHIPPED_UNDER_QUARANTINE}</span>
                     </p>
                     </div>
                  </template>
                  <template if:false={item.Quarentine}>
                     <div class="ribbonBox">
                     <p class="ribbon">
                        <span class="text">{label.FINAL_PRODUCT_RELEASED}</span>
                     </p>
                     </div>
                  </template>
               </template>
			</div>
         </template>
      </template>
      <hr>
   </div>
    <!--Code for pagnation at bottom begins here-->
   <!-- -Footer pagination -->
   <div class="wrapper ">
      <div class="slds-grid">
         <div class ="slds-col slds-size_1-of-5" style="width:40%;">
            </div>
            <div class = "slds-col clrBtn" ></div>
            <div>
   <div class = "slds-col countOrdr" >
     <span class="spanStyl2">
      {label.showingOrders} {lowerLimit}-{upperLimit} {label.of} {totalOrders}
     </span>
     <span style="float:right;">
      <span class="slds-align_absolute-center">
         <ul class="slds-button-group-row">
          <template if:true={hasPrev}>
           <li class="slds-button-group-item" >
            <button class="slds-button slds-button_neutral" onclick ={onPrev}> {label.previous}
            </button>
           </li>
          </template>
          <template for:each={pagesList} for:item= "pageNumber">
           <li class="slds-button-group-item" key={pageNumber}>
            <button data-id={pageNumber} class="slds-button slds-button_neutral"
               onclick={onPageClick}>{pageNumber}</button>
           </li>
          </template>
          <template if:true={hasNext}>
           <li class="slds-button-group-item" >
            <button class="slds-button slds-button_neutral" onclick={onNext}
               >{label.next}</button>
           </li>
          </template>
         </ul>
      </span>
     </span>
    </div>
    </div>
    </div>
   </div>
   <!--Code for pagination at bottom ends here-->
   </div>
 </template>