.customPagination {
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;
}

.customPagination {
    padding: 5px 10px;
}
.myCard {
    position: inherit;
    width: 1135px;
     padding: 13px 29px 13px 21px;
     background: #fff;
     margin: 4rem 0;
     border-radius: .25rem;
     background-clip: padding-box;
     box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
 }
 .myBar{
     height:4rem;
 }
 .patientName {
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
    
}
.status {
    font-size: 16px;
    font-family: 'VoltaModernDisplay-75Bold';
    text-transform: uppercase;
    
}
.add-border{
    border-color: rgb(76, 109, 170);
}
.pointerIcon{
    cursor:pointer;
}
.submittedDate {
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
}

/*Newly added css class for filters*/
li:hover {
    background-color: rgb(243, 242, 242);
  }
 
  .iconclass {
    margin: 5px;
  }
  .displayblock {
    display: block !important;
    z-index: 7 !important;
  }
  .dropdown ul {
    position: absolute;
    top: 43px;
    z-index: 100;
    border-left: 1px solid #f6634c;
    border-bottom: 1px solid #f6634c;
    border-right: 1px solid #f6634c;
  }
  .ordrLblCls {
    padding-bottom: 0.5em;
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
  }
 
.qkFiltLbl {
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.nrmlFont {
    font-family: 'voltaModernText-55Roman';
    font-size: 12px;
}
.ipCls {
    padding-left:2em;padding-top: 1.5em;
}
.clrBtn {
  padding-top:1em;
  padding-left:2em;
  padding-top: 1.5em;
}
.countOrdr {
  display: flex;
  width: 100%; 
  font-weight:bold;
}
.sortText {
  text-align: right;
  width: 100%;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.spanStyl {
  padding-left: 13em;padding-right: 2em;
}
.spanStyl2 {
  padding-left: 13em;
  padding-right: 1em;
}
  /*CLasses for filter part ends here */
  .fieldComponent{
    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
  }
  .labelComponent{
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
    min-width:114px;
  }
  .paddingLeftNone{
    padding-left: 0px !important;
  }
  .buttonLabel{
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #0460A9 !important;
  }
  .maxWidth {
    max-width:1225px;
  }
  .paddingLeft5{
  padding-left: 5rem;
}
  .buttonLabel1{
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
    color: #0460A9 !important;
  }
  .statusyellowcolor{
  font-family: 'VoltaModernDisplay-75Bold';
  font-size: 15px;
  color: #EC9A1E;
}
  .dobMaxWidth {
  width:105px;
}
.ribbon{
  font-size:16px;
  position:relative;
  display:inline-block;
  margin:5em;
  text-align:center;
}
.text{
  display:inline-block;
  padding:0.5em 1em;
  min-width:21em;
  line-height:1.2em;
  background:repeating-linear-gradient(45deg,green,green 20px,rgb(0,135,0) 20px,rgb(0,135,0) 40px);
  position:relative;
  color: white;
  font-family: 'VoltaModernDisplay-75Bold';
  font-size: 16px;
  position: absolute;
  bottom: 2rem;
  right: -1050px;
}
.text:after,.text2:after,
.bold:before{
  content:'';
  position:absolute;
  border-style:solid;
}
.ribbon:before{
  top:0.3em; left:0.2em;
  width:100%; height:100%;
  border:none;
  background:#EBECED;
  z-index:-2;
}

.text:after{
  top:100%; right:0;
  border-width: .5em 1em 0 0;
  border-color: #006400 transparent transparent transparent;
}

.ribbonBox{
  position: relative;
  height:3rem;
}

.text2{
  display:inline-block;
  padding:0.5em 1em;
  min-width:21em;
  line-height:1.2em;
  background:repeating-linear-gradient(45deg,#EC9A1E,#EC9A1E 20px,#e2931d 20px,#e2931d 40px);
  position:relative;
  color: white;
  font-family: 'VoltaModernDisplay-75Bold';
  font-size: 16px;
  position: absolute;
  bottom: 2rem;
  right: -1050px;
}

.text2:after{
  top:100%; right:0;
  border-width: .5em 1em 0 0;
  border-color: #af6a02 transparent transparent transparent;
}