<template>
     <template if:true={fieldItem}>
        <lightning-input
        type='text'
        read-only='true'
        class="labelClass"
        field-level-help={fieldItem.fieldhelptext}
        label={fieldItem.Fieldlabel} value= {siteName}   data-item={fieldItem.fieldApiName}
      ></lightning-input>
     </template>
     <template if:false={fieldItem}>
        <p>{siteName}</p>
     </template>
    
</template>