<template>
    <div class="wrapper slds-var-p-horizontal_medium slds-var-m-top_large slds-var-p-vertical_large">
        <div class="slds-float_left textStyle">
            {copyWright}&nbsp;{currentYear}&nbsp;|&nbsp;{allrightsReserved}
        </div>
        <div class="slds-float_right textStyle">
            Use of the website is governed by the <a href={termsofUse} target="_blank">Terms of Use</a> and<a href={privacyPolicy} target="_blank"> Privacy Policy</a>
        </div>
      
    </div>
</template>