:host {
  display: table-row;
}
.slds-lookup__menu {
  position: absolute;
  width: 91%;
  /*display:block !important;*/
}
.slds-dropdown {
  left: 52%;
}
.displayblock {
  display: block !important;
  z-index: 7 !important;
}

.slds-card,
.product-tile {
  background: rgb(243, 242, 242);
  margin: 10px;
  padding: 10px;
}
.product-tile .slds-card {
  background: rgb(243, 242, 242);
  padding: 10px;
  margin: 10px;
  position: relative;
}
.slds-button_brand {
  width: 60px;
  padding: 0 !important;
}
.slds-listbox__item,
.uiInput--lookup {
  padding: 5px;
  text-decoration: none;
  color: #000;
}
.iconclass {
  margin: 5px;
}
.wrapper {
  background: #fff;
  padding: 10px;
}
.slds-float_right {
  padding-right: 7px;
}

.uiInput--lookup.lookup__item:hover,
.slds-listbox__item:hover {
  background-color: rgb(243, 242, 242);
}

.product-tile-button.slds-button_icon-bare,
.slds-button--icon-bare {
  line-height: 1;
  vertical-align: middle;
  color: dodgerblue !important;
}
.dropdown ul {
  position: absolute;
  top: 43px;
  z-index: 100;
  border-left: 1px solid #f6634c;
  border-bottom: 1px solid #f6634c;
  border-right: 1px solid #f6634c;
}