<template>
  <td>
    {indexNumber}
  </td>

  <td data-label="rec.name" title={rec.name}>
    <div class="slds-truncate">
      <!-- <a href={rec.nameURL} target="_self">{rec.name}</a> -->
      <a  onclick={navigatePage}>{rec.name}</a>
    </div>
  </td>
  <td data-label="rec.cppName" title={rec.cppName}>
    <div class="slds-truncate">
      <!-- <a href={rec.nameURL} target="_self">{rec.name}</a> -->
      <a  onclick={navigatePageCpp}>{rec.cppName}</a>
    </div>
  </td>
  <td data-label="">
    <div class="slds-truncate">
      <lightning-input type="checkbox" data-id={rec.prodId} variant="label-hidden" name="inputForDataField"
        onchange={handleCPPChecked} checked={rec.isActive}>
      </lightning-input>
    </div>
  </td>
  <td data-label="rec.defaultAct">
    <div class="slds-truncate">
      <lightning-input type="checkbox" variant="label-hidden" name="inputForDataField" onchange={handleServiceToggle}
        checked={rec.defaultAct}>
      </lightning-input>
    </div>
  </td>
  
  <td data-label="rec.serviceType">
    <div class="slds-truncate">
      {rec.serviceType}

    </div>
  </td>

  <td data-label="rec.carePlanTemplate" id="lookupBox">
    <div class="slds-truncate">
      <lightning-input class="" id={rec.prodId} data-id={rec.prodId} disabled={inputDisbled} variant="label-hidden"
        name="inputForDataField" onchange={handleOnChange} value={filterValOnLoad}>
        <!--{filterValOnLoad}   disabled={inputDisbled}-->
      </lightning-input>
      <!---lightning-icon icon-name="utility:search"  size="xx-small"></lightning-icon   -->
    </div>
    <ul class={UiClass} id="extendedList">
      <template for:each={cppList} for:item="item">
        <li key={item} data-item={item.Name} onblur={handleblur} id={item.Id} value={item.Name}
          class="slds-listbox__item" onclick={chooseThisTemplate} style="width:20%;">

          <lightning-icon icon-name="standard:product" class="iconclass" alternative-text={alttext}></lightning-icon>

          {item.Name}


        </li>
      </template>

    </ul>

  </td>

</template>