<template>
    <div class="wrapper slds-align_absolute-center">
      <div id="ms-picklist-dropdown" class="slds-form-element slds-dropdown-trigger slds-dropdown-trigger_click ms-picklist-dropdown">
       <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
          <input
            type="text"
            id="date-input-id"
            placeholder={label.CCL_Select_Date}
            onclick={onDropDownClick}
            class="slds-input customdatepicker datefield"
            value={selectedDate} disabled
          />
          <button
            class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"
            onclick={onDropDownClick}
            title="Select a date"
          >
            <lightning-button-icon
              icon-name="utility:event"
              variant="bare"
              alternative-text=""
              icon-class="slds-m-around_small"
            >
            </lightning-button-icon>
            <span class="slds-assistive-text">Select a date</span>
          </button>
        </div>
        <div
          aria-hidden="false"
          aria-label="Date picker: June"
          class="slds-datepicker slds-dropdown slds-dropdown_left"
          role="dialog"
        >
          <div class="slds-datepicker__filter slds-grid">
            <div
              class="slds-datepicker__filter_month slds-grid slds-grid_align-spread slds-grow"
            >
              <div class="slds-align-middle">
                <button
                  class="slds-button slds-button_icon slds-button_icon-container slds-event-button"
                  onclick={prevMonth}
                  title="Previous Month"
                >
                  <lightning-button-icon
                    icon-name="utility:left"
                    variant="bare"
                    alternative-text=""
                    icon-class="slds-m-around_small"
                  >
                  </lightning-button-icon>
                </button>
              </div>
              <h2
                aria-atomic="true"
                aria-live="assertive"
                class="slds-align-middle"
                id="month"
              >
                {currentMonth}
              </h2>
              <div class="slds-align-middle">
                <!-- <button class="slds-button slds-button_icon slds-button_icon-container" onclick={nextMonth} title="Next Month"> -->
  
                <lightning-button-icon
                  icon-name="utility:right"
                  variant="bare"
                  alternative-text=""
                  icon-class="slds-m-around_small"
                  onclick={nextMonth}
                >
                </lightning-button-icon>
                <!-- </button> -->
              </div>
            </div>
           
          </div>
         
          <div class="dates slds-datepicker__month">
            <ul class="header">
              <li>Sun</li>
              <li>Mon</li>
              <li>Tue</li>
              <li>Wed</li>
              <li>Thu</li>
              <li>Fri</li>
              <li>Sat</li>
            </ul>
            <ul class="datePickerHolder" lwc:dom="manual"></ul>
            <ul class="datePickerHolder">
              <template for:each={dates} for:item="item">
                <li
                  key={item.formatted}
                  class={item.className}
                  data-item={item.formatted}
                  data-date={item.className}
                  onclick={setSelected}
                >
                  {item.text}
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </template>