ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 364px;
    margin: 0 auto;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    min-height: 45px;
    margin: 1px;
}
.header li {
    background-color: white;
    color: black;
}
.datePickerHolder li {
    color: black;
    cursor: pointer;
    border-radius: 8px;
}
.dates {
    width: 400px;
  
    border-radius: 16px;
    margin: 0 auto;
}
.slds-input-has-icon {
    position: relative;
    width: 24rem;
}

.dates ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 364px;
    margin: 0 auto;
}

.dates .datePickerHolder {
    flex-wrap: wrap;
}
.datePickerHolder li.not-current {
    color:lightgrey;
}
.datePickerHolder li.today {
    color: #fff;
    font-weight: 700;
    background:  dodgerblue;
    border-radius: 28px;
}
.slds-datepicker.slds-dropdown.slds-dropdown_left{
    min-width: 22rem;
}
.datePickerHolder li.test {
    color:#000;
}
.fadedatepicker {
    background: #d3d3d3;
}
.datefield{
    font-family: 'VoltaModernText-55Roman';
    font-size: 14px;
    color: #0e0d0d;
  }
  .redBorder{
    border: 2px solid rgb(194, 57, 52);
  }
  .errorMessage{
    font-size: .75rem;
    margin-top: .125rem;
    font-family: 'VoltaModernText-55Roman';
    color: rgb(194, 57, 52);
    display: none;
  }