<template>
    <template if:true={picklistLoaded}>
        <div class="slds-p-around_x-small">
            <c-opt-in-notification label="Pick-List" options={msOptions}   onitemselected={handleOnItemSelected}></c-opt-in-notification>
        </div>
    </template>
   
</template>