h1 {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
hr {
    border-top: 1px solid #0070d2;
    margin: .4rem 0;
}
p {
    font-size: 15px;
}
h2{
    font-size: 24px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
h4{
    font-size: 1.3em;
    font-weight: bold;
}
.secinnerhead {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #3E3E3C;
  }
.inputtext{
    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
  }
.button-text {
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
  }
.placeholder{
    font-size: 13px;
    font-family: 'VoltaModernText-55Roman';
    color: grey;
  }
  .btnwidth{
    width: 150px;
}
.greyline{
  margin-top: 2rem;
  margin-bottom: .5rem;
}
.redBorder{
  border: 2px solid rgb(194, 57, 52);
}