<template>
   <div class="slds-grid customwidth">
      <div class="slds-m-top_medium slds-m-bottom_x-large ">
         <template if:true={noTherapy}>
            <div class="demo-only" style="height:4rem;width:25rem">
               <div class="slds-region_narrow slds-is-relative">
                  <div class="slds-notify_container slds-is-absolute">
                     <div class="slds-notify slds-notify_toast slds-theme_info" role="status">
                        <div class="slds-notify__content">
                           <h2 class="slds-text-heading_small">No Therapy found</h2>
                        </div>
                        <div class="slds-notify__close">
                           <lightning-button-icon icon-name="utility:close" onclick={hidetherapyMsg} class="slds-m-left_x-small"></lightning-button-icon>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </template>
         <div class="slds-grid slds-gutters">
            <div if:true={allowreplacementordertrue}  class="slds-col slds-size_2-of-3">
               <span>
                  <h1 class="slds-text-heading_medium slds-m-bottom_large">
                     {label.EnterReplacementOrder}
                  </h1>
               </span>
            </div>
            <div if:false={allowreplacementordertrue}  class="slds-col slds-size_2-of-3">
               <span>
                  <h1 class="slds-text-heading_medium slds-m-bottom_large">
                     {label.RequestNewOrder}
                  </h1>
               </span>
            </div>
            <div class="slds-col slds-size_1-of-3">
               <span>
                  <c-c-c-l_-flow_-header></c-c-c-l_-flow_-header>
               </span>
            </div>
         </div>
         <div style="width: 64%;">
            <h2 class="slds-text-heading_medium slds-m-bottom_medium">
               {label.TreatmentInfoHeader}
            </h2>
         </div>
         <div class="slds-form-element slds-m-bottom_medium">
            <label class="slds-form-element__label secinnerhead"
               for="form-element-01">{label.OrderingHospitals}
            </label>
            <div class="slds-form-element__control">
               <select class="slds-select inputtext hospitalError" style="width: 45%;height:32px;" onchange={handleOrderingHospital} required>
                  <template if:true={recordLength}>
                     <option class="placeholder" value="">{label.CCL_Select_an_ordering_hospital}</option>
                  </template>
                  <template for:each={orderingHospital} for:item="rec">
                     <option key={rec.Id}  class="uiInputSelectOption inputtext" value={rec.Name}>{rec.Name} </option>
                  </template>
               </select>
            </div>
            <div if:true={orderinghospError} class="slds-text-color_error"> {label.CCL_Mandatory_Field} </div>
         </div>
         <div class="slds-form-element">
            <label class="slds-form-element__label secinnerhead"
               for="form-element-02">{label.TherapyName}
            </label>
            <div class="slds-form-element__control">
               <select class="slds-select inputtext therapyError" style="width:45%;height:32px"  onchange={handleTherapy}>
                  <template if:true={therapyRecordLength}>
                     <option class="placeholder" value="">{label.CCL_Select_Indication_Clinical_trial}</option>
                  </template>
                  <template for:each={orderingTherapy} for:item="therapy">
                     <option key={therapy.Id}  class="uiInputSelectOption inputtext" value={therapy.CCL_Therapy_Description__c}>{therapy.CCL_Therapy_Description__c} </option>
                  </template>
               </select>
              &nbsp;&nbsp;&nbsp; <strong>{label.CCL_See_full} <a href="https://www.globalcellchain.com/prescribing" target="_blank">{label.CCL_Prescribing_Information}</a></strong>
            </div>
            <div if:true={therapyError} class="slds-text-color_error"> {label.CCL_Mandatory_Field} </div>
         </div>
         <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
            <template if:true={hasTherapyDescription}>
               <label class="slds-form-element__label secinnerhead"
                  for="text-input-id-1">{label.TherapyDescriptions}</label><br />
               <div class="add_div">
                  <lightning-formatted-text value={therapyDescription}></lightning-formatted-text>
                  <br />
               </div>
            </template>
         </div>
         <br/>
         <div class="slds-m-top_none">
            <c-c-c-l_-flow_-footer show-begin='true' class="button-text" onbegin={onBegin}></c-c-c-l_-flow_-footer>
         </div>
         <div class="slds-m-top_medium">
         </div>
      </div>
   </div>
</template>