<template>  
        <center><span style="font-size:11px;margin-top:10px;">{consentText}</span></center>
        <center><span style="font-weight:bold;font-size:20px;margin-top:10px;">{digSign}</span></center>
        <center><div class="slds-theme_error slds-m-top_small slds-m-bottom_small">{errMsg}</div></center>
        <center>
        <p class="slds-m-bottom_small"> 
                <canvas name="canvasItem"  style="border:2px solid rgb(136, 135, 135);
                background: transparent;"></canvas>
            </p>
            </center>
<div class="displyName slds-float_left ">{recordName}&nbsp; {dateTimeVal}</div> 
           
<div class="displyName slds-float_right ">
        <lightning-button variant="neutral" class="buttonClr slds-m-left_small" label={clrSign} title="Clear" 
        onclick={handleClearClick} ></lightning-button>
</div> <br/>
    <center class="slds-m-top_large">
    <lightning-button variant="brand" label={save} title="Save" onclick={SaveSignature}>     
        </lightning-button>  
        <lightning-button variant="nuetral" class="buttonClr slds-m-left_small" label={cancel} title="Clear" 
        onclick={handleCancel} ></lightning-button>
        </center>         
</template>