<template>
    <div class="flowButtons"></div>
    <header class="slds-card__footer actionButtonBar slds-grid slds-grid_align-spread" style="margin-top:0;padding-top: 0;">
    <div class="actionsLeft">
    </div>
    
      <div class="actionsRight">
    <template if:false={showCancelBtnTop}> 	  
    <lightning-icon icon-name="utility:close" size="x-small" alternative-text={label.CCL_MODAL_CANCEL} title={label.CCL_HEADER_CANCEL_REQUEST}></lightning-icon>
    <button class="slds-button slds-text-link_reset cancelReq" onclick={cancelRequest}>{label.CCL_HEADER_CANCEL_REQUEST}</button>
	 </template>
     <template if:true={showCancelBtnTop}>
      <button class="slds-p-horizontal_medium btnwidth slds-button slds-button_outline-brand" onclick={cancelThisOrder}>{label.CCL_CANCEL_ORDER}</button>
    </template>
      </div>
    </header>
  </template>
