<template>
  <template if:true={displayWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon>
      {labels.CCL_APH_onHold}
    </div>
  </template>  
  <!--Added as part of 986-->
  <template if:true={displayCancelledWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small warningText">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
         {labels.CCL_ADF_OrderCancelled_Warning}
    </div>
  </template>   
  <template if:true={displayManufacturingInfo}>
    <div class="slds-theme_success slds-theme_alert-texture slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {manufacturingMessage}
    </div>
  </template>
  <template if:true={displaySubmitterError}>
    <div class="slds-error slds-theme_error slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.submitterErrorMsg}
    </div>
  </template>
  <template if:true={displayThresholdWarning}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.thresholdErrmsg}
    </div>
  </template>
  <!--Added as Part of 2121-->
  <template if:true={showPRFReapprovalWarning}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
         {labels.CCL_PRF_Resubmission_Approval}
    </div> 
  </template>
  <template if:true={rejectionflag}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      &nbsp;&nbsp;{labels.rejectionReasons}
    </div>
    <br/>
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_1-of-2 slds-m-bottom_small">
        <label for="RBY" class="slds-form-element__label">
        {labels.CCL_Rejected_By}
        </label>      
        <p class="valueClass">&nbsp;{rejectedUser} <br/>
        &nbsp;{rejectedUserTimeZone}</p>
      </div>
      <div class="slds-col slds-size_1-of-2 slds-m-bottom_small">
        <label for="RR" class="slds-form-element__label">
         {labels.CCL_Reason_for_Rejection}
        </label>     
        <p class="valueClass">&nbsp;{adfRejectedReason}</p>
      </div>    
    </div>
  </template>
  <template if:true={showSubmissionLabel}>
      <div class="slds-clearfix slds-m-bottom_small">
        <div class="slds-float_left"><h1 class="mainHeading"><b>{labels.CCL_Summary_Submission_Header}</b></h1></div>
        <div class="slds-float_right">
          <button class="slds-button slds-button_neutral slds-button__icon_left" disabled={disablePrintPDF}>
          <lightning-icon icon-name="utility:print" size="xx-small" alternative-text="Approved" class="slds-button__icon_left" title="PrintADF"></lightning-icon><a onclick={viewPdf}>{labels.CCL_Print_ADF}</a></button>
      </div>
      </div>
      </template>
      <template if:true={showApprovalLabel}>
        <div class="slds-clearfix slds-m-bottom_small">
          <div class="slds-float_left"><h1 class="mainHeading"><b>{labels.CCL_Summary_Approval_Header}</b></h1></div>
          <div class="slds-float_right">
            <button class="slds-button slds-button_neutral slds-button__icon_left" disabled={disablePrintPDF}>
            <lightning-icon icon-name="utility:print" size="xx-small" alternative-text="Approved" class="slds-button__icon_left" title={labels.CCL_Print_ADF}></lightning-icon><a onclick={viewPdf}>{labels.CCL_Print_ADF}</a></button>
        </div>
        </div>
        </template>
		<template if:true={approveRejectForCancelled}>
          <div class="slds-clearfix slds-m-bottom_small">
            <div class="slds-float_left"><h1 class="mainHeading"><b>{labels.CCL_Summary_Approval_Header}</b></h1></div>
            <div class="slds-float_right">
              <button class="slds-button slds-button_neutral slds-button__icon_left" disabled={disablePrintPDF}>
              <lightning-icon icon-name="utility:print" size="xx-small" alternative-text="Approved" class="slds-button__icon_left" title={labels.CCL_Print_ADF}></lightning-icon><a onclick={viewPdf}>{labels.CCL_Print_ADF}</a></button>
          </div>
          </div>
          </template>	
        <template if:true={showViewerLabel}>
          <div class="slds-clearfix slds-m-bottom_small">
            <div class="slds-float_left"><h1 class="mainHeading"><b>{labels.CCL_ADF_Summ_View}</b></h1></div>
            <div class="slds-float_right">
              <button class="slds-button slds-button_neutral slds-button__icon_left" disabled={disablePrintPDF}> 
              <lightning-icon icon-name="utility:print" size="xx-small" alternative-text="Approved" class="slds-button__icon_left" title={labels.CCL_Print_ADF}></lightning-icon><a onclick={viewPdf}>{labels.CCL_Print_ADF}</a></button>
          </div>
          </div>
          </template>
          <template if:true={myActualArr4}>
          <div class="slds-clearfix">
            <div class="slds-float_left"><h1 class="h2View"><b>{labels.CCL_PRF_Summary}</b></h1></div>
        </div> 
        <div>
          <hr class='blue_line'>
        </div>
        <div class="slds-clearfix slds-m-bottom_small">
        <template if:true={myActualArr4}>
          <template for:each={myActualArr4} for:item="item" for:index="index">
            <div class="mywrapper slds-m-top_medium" key={item}>
              <h2 class="subHeading">{item.sectioname}</h2>
		  <template if:true={replaceOrder}>
               <div class='repalceOrderStyle repalceOrderDisplay' id={myActualArr}>
                  <b>{labels.CCL_show_Toast_Message_On_Hold_Note} </b>
                  {noteReplaceOrder}
                </div>
              </template>
              <template if:true={item.myFields}>
                <div class="slds-grid slds-wrap">
                  <template for:each={item.myFields} for:item="fieldItem">
                    <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small" key={fieldItem}>
                   <template if:false={fieldItem.isRadio}>
                    <template if:false={fieldItem.showWarning}>
                      <template if:false={fieldItem.isSite}>
                        <lightning-input
                          type="text"
                          read-only="true"
                          class="labelClass"
                          field-level-help={fieldItem.fieldhelptext}
                          label={fieldItem.Fieldlabel}
                          value={fieldItem.fieldValue}
                          data-item={fieldItem.fieldApiName}
                        ></lightning-input>
                      </template>
                      <template if:true={fieldItem.isSite}>
                        <template if:true={addressList}>
                          <c-c-c-l_-display-site-name
                            address-list={addressList}
                            field-item={fieldItem}
                          ></c-c-c-l_-display-site-name>
                        </template>
                      </template>
                  </template>
                    <template if:true={fieldItem.showWarning}>
                      <div class="slds-m-bottom_large">
                        <div class="slds-p-bottom_x-small"><label class="labelClass slds-form-element__label slds-no-flex fontFamilyBold">{fieldItem.Fieldlabel}</label></div>
                       <div class="slds-grid">
                        <div class="slds-p-right_small"><template if:true={displayWarningMessage}><span><lightning-icon icon-name="utility:warning" variant="warning" alternative-text="Warning" size="xx-small" class="myIcon" title={labels.CCL_Warning}></lightning-icon> </span></template></div>
                      <div>{fieldItem.fieldValue}</div>
                    </div>
                      </div>
                    </template>
                <template if:true={fieldItem.fieldAddress}>
                  <template if:true={addressList}>
                    <!-- 2450 -->
                    <p class="addressText">
                      <c-c-c-l_-display-address
                        address-list={addressList}
                        site-name={fieldItem.fieldValue}
                      ></c-c-c-l_-display-address>
                    </p>
                  </template>
                </template>
                   </template>
                   <template if:true={fieldItem.isRadio}>
                 <label class="labelClass slds-form-element__label slds-no-flex">{fieldItem.Fieldlabel}</label>
                    <lightning-radio-group name="radioGroup"
                    label={fieldItem.Fieldlabel} value={fieldItem.fieldValue}
                    options={options}
                    class="radioButtons"
                    variant="label-hidden"
                     disabled
                    type="radio"></lightning-radio-group>
                   </template>
                    </div>
                  </template>
                  </div>
                </template>    
            </div>
          </template>
        </template>
      </div>
    </template>
        <div class="slds-clearfix slds-m-bottom_xsmall">
          <div class="slds-float_left"><h5 class="h2View"><b>{labels.CCL_Infect_Disease_Tstng}</b></h5></div>
          <template if:true={editEnabled}>
          <div class="slds-float_right">
            <button class="slds-button add-border slds-button_neutral" name="20" onclick={goToScreen}>{labels.CCL_Edit}</button>
        </div>
      </template>
        </div>
        <div>
        <hr class='blue_line'>
      </div>
        <div class="wrapper">
          <template if:true={myFieldsArr}>
              <div class="slds-grid slds-wrap slds-m-bottom_large">
                  <template for:each={configuredArr} for:item="item">
                  <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small" key={item.Id}>
                      <p class="myLabel slds-m-bottom_small">{item.CCL_Display_Label__c}</p>
                      <lightning-input type="checkbox" label="Yes" class="myInputs" disabled data-item={item.CCL_Field_API_Name__c}></lightning-input>
                  </div>
                  </template>
              </div>
              
          </template>
      </div>
        <div class="slds-clearfix">
          <div class="slds-float_left"><h1 class="h2View"><b>{labels.CCL_Aph_Collections}</b></h1></div>
          <template if:true={editEnabled}>
          <div class="slds-float_right">
            <button class="slds-button add-border slds-button_neutral" name="2" onclick={goToScreen}>{labels.CCL_Edit}</button>
      </div>
          </template>
      </div>
        <hr class='blue_line'>
        <div class="mywrapper slds-m-top_medium">
          <lightning-record-view-form record-id={recordId} object-api-name="CCL_Apheresis_Data_Form__c"> 
            <div class="slds-grid slds-wrap">
              <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
               
                <p class='labelClass'>{labels.CCL_coll_Center}</p>
                <template if:true={addressList}>
                  <p class="valueDisplay"> <c-c-c-l_-display-site-name address-list={addressList} site-id={collectionId} ></c-c-c-l_-display-site-name></p>
                  <!-- 2450 -->
                  <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={collectionId}></c-c-c-l_-display-address></p>
                </template>
              </div>
              <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small" >
                <p class='labelClass'>{labels.CCL_pickup_Center}</p>
                  <template if:true={addressList}>
                    <p class="valueDisplay"> <c-c-c-l_-display-site-name address-list={addressList} site-id={pickupId} ></c-c-c-l_-display-site-name></p>
                    <!-- 2450 -->
                    <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={pickupId}></c-c-c-l_-display-address></p>
                  </template>
              </div>
              <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
                <lightning-input field-name="CCL_Apheresis_System_Used__c" read-only="true" class="adfSysUsed" label={labels.CCL_aph_sys} name="System Used" value={systemUsed}> 
                </lightning-input>
              </div>
              <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
                <lightning-input field-name="CCL_Other__c" value={otherValue}  read-only="true" label={labels.CCL_other}>  
                </lightning-input>
              </div> 
              <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small slds-m-bottom_medium">
                <div class="slds-size_1-of-1 labelClass2">{labels.CCL_Aph_Comments}</div>
              <div class="slds-p-around_small slds-size_1-of-1 labelClass1 commentsField">
                {commentValue}
              </div>
                </div>
            </div>
            </lightning-record-view-form>
            <div><h2><b>{labels.CCL_Aph_Collections}</b></h2></div>
            <br/>
            <div class=" container-fluid">
              <div class="container-fluid">        
                  <table class="slds-table slds-table_bordered slds-table_cell-buffer"> 
                  <thead>
                          <tr >
                              <th scope="col" class="colorBlue">
                                  <div class="slds-truncate" >{labels.CCL_Collection}</div>
                              </th> 
                              <th scope="col" class="colorBlue">
                                  <div class="slds-truncate slds-cell-wrap" >{apheresisIdLabel}</div>
                              </th>
                              <th scope="col" class="colorBlue width8">
                                  <div class="slds-truncate slds-cell-wrap" >{labels.CCL_Vol}</div>
                              </th>
                              <th scope="col" class="colorBlue">
                                  <div class="slds-truncate slds-cell-wrap" >{labels.CCL_coll_Date}</div>
                              </th>
                              <th scope="col" class="colorBlue">
                                <div class="slds-truncate slds-cell-wrap" >{labels.CCL_coll_Time}</div>
                            </th>
                            <th scope="col" class="colorBlue width7">
                              <div class="slds-truncate slds-cell-wrap" >{labels.CCL_TimeZone} &nbsp;
                                <sup><lightning-helptext class="" content={labels.CCL_TimeZone_Of_Aph_Pickup}></lightning-helptext></sup></div>
                          </th>
                              <th scope="col">
                                  <div class="slds-truncate" title={labels.CCL_Action}></div>
                              </th>
                          </tr>
                      </thead>   
                      <tbody>      
                          <template for:each={collectionList} for:item="collection" for:index="indx">
                              <tr key={collection.key} id={collection.key} class="rowStyle"> 
                                  <td> <c-c-c-l_-table_-index  index={indx}></c-c-c-l_-table_-index>
                                  </td>                                                  
                                  <td>
                                    <template if:true={isApheresisId}>
                                      <div class="myInput idField">{collection.CCL_Apheresis_ID__c}</div>
                                    </template>
                                    <template if:true={isSec}>
                                      <div class="myInput idField">{collection.CCL_SEC__c}</div>
                                    </template>
                                    <template if:true={isDin}>
                                      <div class="myInput idField">{collection.CCL_DIN__c}</div>
                                    </template>
                                  </td>
                                  <td>
                                      <div class="volField">{collection.CCL_Volume_of_blood_processed__c}</div>                        
                                  </td>
                                  <td>
                                      <div class="dateField">{collection.CCL_End_of_Apheresis_Collection_Date__c}</div>
                                  </td>
                                  <td>
                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">{collection.CCL_End_of_Apheresis_Collection_Time__c}</div>
                                  </td>
                                  <td>
                                    <div class="myInput idField">{timeZoneVal}</div>
                                </td>
                              </tr>
                          </template>
                      </tbody>
                  </table>
                  <br></br>                  
              </div>
          </div>
        </div>
        <template if:true={tableData}>
        <div class="slds-clearfix">
          <div class="slds-float_left"><h1 class="h2View"><b>{labels.CCL_Recomended_Collection_Details}</b></h1></div>
          <template if:true={editEnabled}>
          <div class="slds-float_right">
            <button class="slds-button add-border slds-button_neutral" name="3" onclick={goToScreen}>{labels.CCL_Edit}</button>
        </div>
        </template>
        </div>
        <hr class='blue_line'>
        <template for:each={tableData} for:item="item" for:index="index">
          <div class="slds-m-top_medium"  key={item.Id}>
            <template if:true={item.attributes}>
              <h2 >{item.attributes.url}</h2>
            </template>
           
            <c-c-c-l_-recommended_-collection_-child time-zone={timeZoneScreen3} api-names={apiNames} summarypage={summarypage} collectionid={item.Id} index={index} my-actual-arr={myActualArr} stored-values={storedValues}></c-c-c-l_-recommended_-collection_-child>
          </div>
        </template> 
      </template>
      <template if:true={tableData2}>
        <div class="slds-clearfix">
          <div class="slds-float_left"><h1 class="h2View"><b>{labels.CCL_Required_Cryopreservation_Details}</b></h1></div>
          <template if:true={editEnabled}>
          <div class="slds-float_right">
            <button class="slds-button add-border slds-button_neutral" name="4"  onclick={goToScreen}>{labels.CCL_Edit}</button>
        </div>
          </template>
        </div>
        <hr class='blue_line'> 
        <template if:true={childArr}>
          <template if:true={hasFieldvalues}>
        <template for:each={tableData2} for:item="item" for:index="index">
          <div class="slds-m-top_medium"  key={item.Id}>
            <template if:true={item.attributes}>
              <h2 >{item.attributes.url}</h2>
            </template>
            <c-c-c-l_-required_-cryopreservation_-details_-child 
            time-zone={timeZoneVal4} json-data={jsonData} my-actual-arr={childArr} indexofcollection={index} summarypage={summarypage}
            record-id={item.Id} collection-values={hasFieldvalues} stored-values={storedValues1} power-of-threshold={powerOfThreshold} threshold={threshold} ></c-c-c-l_-required_-cryopreservation_-details_-child>
          </div>
          </template>
        </template>   
        </template>
        <div class="section-excess slds-m-bottom_medium slds-m-top_medium">
         <!-- <h1 class="mainHeader"><b>{labels.excesSection}</b></h1>-->
          <div class="slds-grid">
            <div class="slds-col slds-size_1-of-1">
              <label for="" class="slds-form-element__label">
               {labels.excesLabel}
              </label>
              <lightning-radio-group
                name="radioGroup"
                options={optionsLabel}
                value={excessRetained}
                class="radioButtons"
                variant="label-hidden"
                type="radio" disabled
              ></lightning-radio-group>
            </div>
          </div>
        </div>
        <div class="slds-m-bottom_large">
          <h1 class="mainHeader slds-m-bottom_medium"><b>{labels.grandTotal}</b></h1>
		  <template if:true={displayThresholdWarning}>
            <div class="slds-error myError slds-p-around_small">
              {labels.thresholdErrmsg}
            </div>
          </template>
          <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-m-bottom_small">
              <label for="TNC" class="slds-form-element__label">
              {labels.tnc}
              </label>
              <div class="thresholdText">
                ({labels.CCL_Threshold} >=:{threshold}x10^{powerOfThreshold})
              </div>
              <p class="valueClass" id="TNC">{grandTotalTNC}</p>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-m-bottom_small">
              <label for="CDC" class="slds-form-element__label">
               {labels.cd3threshhold}
              </label>
              <div class="thresholdText">
                ({labels.CCL_Threshold} >=:{cd3threshold}x10^{powerOfCD3Threshold})
              </div>
              <p class="valueClass" id="CDC">{grandTotalCD3}</p>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-m-bottom_small">
              <label for="abc" class="slds-form-element__label">
              {labels.cd3tnc}
              </label>
              <div class="thresholdText">({labels.CCL_Threshold} >=:{cd3tncthreshold}%)</div>
              <p class="valueClass" id="abc">{grandTotalCD3TNC}</p>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-m-bottom_small">
              <label for="CDC3" class="slds-form-element__label">
              {labels.aphdatetime}
              </label>
              <p class="valueClass" id="CDC3">{expiryDate}</p>
            </div>
          </div>
          
        </div>
      </template>
      <template if:true={tableData1}>
        <div class="slds-clearfix">
          <div class="slds-float_left"><h1 class="h2View"><b>{labels.CCL_Recom_Cryo_Details}</b></h1></div>
          <template if:true={editEnabled}>
          <div class="slds-float_right">
            <button class="slds-button add-border slds-button_neutral" name="5"  onclick={goToScreen}>{labels.CCL_Edit}</button>
        </div>
          </template>
        </div>
        <hr class='blue_line'>
        <template for:each={tableData1} for:item="item" for:index="index">
          <div class="slds-m-top_medium"  key={item.Id}>
            <template if:true={item.attributes}>
              <h2 >{item.attributes.url}</h2>
            </template>
            <c-c-c-l_-recommended_-cryopreservation_-child time-zone={timeZone} my-actual-arr={myActualArr1} summarypage={summarypage} api-names={apiNames1} collectionid={item.Id}  index={index} stored-values={storedValues2}></c-c-c-l_-recommended_-cryopreservation_-child>   
          </div>
          </template>
        </template>
        <div class="slds-clearfix">
          <div class="slds-float_left"><h1 class="h2View"><b>Additional Information</b></h1></div>
        </div>
        <hr class='blue_line'>
        <div class="slds-grid slds-wrap slds-m-bottom_medium">
          <div class="slds-size_1-of-1 slds-m-bottom_small slds-text-title_bold">
            <div class="slds-size_1-of-1 labelClass fontFamilyBold">{labels.CCL_Aph_Comments}</div>
            <div class="slds-p-around_small slds-size_1-of-1 labelClass1 commentsField">
              {commentValue}
            </div>
          </div>
		  <div class="slds-size_1-of-1 labelClass fontFamilyBold">
              {labels.relatedDocuments}
            </div>
            <div class="slds-size_1-of-1 labelClass ">
              {labels.CCL_Document_Upload_Msg}
            </div>
          <template if:true={showFileUpload}>
            <template if:true={showUploadButton}>        
              <div class="fileUpload">
                <lightning-file-upload
                label=""
                name="fileUploader"
                accept={acceptedFormats}
                record-id={adfDocId}
                onuploadfinished={handleUploadFinished}
                class=""
                multiple disabled={disableFileUpload}>
                </lightning-file-upload>
              </div>
            </template>
            <template if:true={filesUploaded}>
              <template for:each={filesUploaded} for:item="item" for:index="index">
                <div class="slds-size_1-of-1 slds-m-top_small"  key={item.Id}>
                  <a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
				            <template if:true={renderDelete}>
                      <lightning-icon icon-name="utility:close"  alternative-text={item.ContentDocumentId} class="iconClass hideBtn" size="x-small" variant="error" onclick={removeFile} title={labels.CCL_Delete} name="openConfirmation"></lightning-icon>
                    </template>
			          </div>
              </template>  
            </template>
			    </template>
        </div>
        <div class="slds-clearfix">
          <div class="slds-float_left"><h1 class="h2View"><b>{labels.CCL_ADF_Submssn_Apprvl}</b></h1></div>
        </div>
        <hr class='blue_line'>
        <div class="slds-grid slds-wrap labelClass">
      <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
        <lightning-input read-only="true" label={labels.CCL_Collection_Details_Complete} value={completedUser}> 
        </lightning-input>
      </div>
      <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
        <lightning-input read-only="true" label={labels.CCL_Collection_Detl_DateTime} value={completedUserTimeZone}> 
        </lightning-input>
      </div></div>
      <div class="slds-grid slds-wrap labelClass">
        <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
          <lightning-input read-only="true" label={labels.CCL_ADF_Submitted_By} value={submittedUser}> 
          </lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
          <lightning-input read-only="true" label={labels.CCL_ADF_Submttd_DateTime} value={submittedUserTimeZone}> 
          </lightning-input>
        </div></div>
        <div class="slds-grid slds-wrap labelClass">
          <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
            <lightning-input read-only="true" label={labels.CCL_ADF_ApprovedBy} value={approvedUser}> 
            </lightning-input>
          </div>
          <div class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small">
            <lightning-input read-only="true" label={labels.CCL_ADF_Apprvd_DateTime} value={approvedUserTimeZone}> 
            </lightning-input>
          </div></div>
          <div class="slds-m-top_medium">
            <template if:true={approveRejectEnabled}>
            <c-c-c-l_-flow_-footer show-reject='true' show-approve='true' onapprove={onApprove} onreject={onReject}> 
            </c-c-c-l_-flow_-footer>
          </template>
          <template if:true={showSubmit}>
            <c-c-c-l_-flow_-footer show-submit='true' onprevious={onPrevious} onsubmit={onSubmit}>
            </c-c-c-l_-flow_-footer>
          </template>         
          <template if:true={showgreyedSubmit}>            
            <c-c-c-l_-flow_-footer show-grey='true' disabled>
            </c-c-c-l_-flow_-footer>            
          </template>
          <template if:true={showGreyedRejectApprove}>
            <c-c-c-l_-flow_-footer grey-approve='true' grey-reject='true' disabled> 
            </c-c-c-l_-flow_-footer>
          </template>
        </div>
        <template if:true={isApprovalModalOpen}>
          <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
              <div class="slds-modal__container">
                  <header class="slds-modal__header no-border">
                      <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={labels.CCL_Modal_Close} onclick={closeModal}>
                          <lightning-icon icon-name="utility:close"
                              class="closeModal"
                              alternative-text="close"
                              variant="inverse"
                              size="small" ></lightning-icon>
                          <span class="slds-assistive-text">{labels.CCL_Modal_Close}</span>
                      </button>
                      <div class="wrapper">
                        <div class="slds-m-bottom_large">
                        </div>
                        <div class="slds-m-bottom_large">
                      <lightning-icon icon-name="action:approval" alternative-text="Approved" size="small" class="approvedIcon" title={labels.CCL3_Approved}></lightning-icon>
                      </div>
                      <div class="slds-text-heading_large slds-m-bottom_large slds-text-title_bold"><h2>{labels.CCl_ApprveADF}</h2></div>
                    </div>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                      <div class="slds-grid">
                        <lightning-input class="checkBox" type="checkbox" onclick={validateCheckbox}></lightning-input>
                        <label class="labelInput slds-text-align_left">{labels.CCL_Approver_Checkbox_Label}</label>
                    </div>
                    </div>
                    <div class="slds-grid">
                      <div class="">
                        <div class="labelInput1 slds-text-align_left">{userName.FirstName} {userName.LastName}
                        </div>
                        <div class="labelInput1 slds-text-align_left slds-m-bottom_large">{userDateText}
                        </div>
                    </div>
                    </div>
                    </header>
                  <div class="slds-modal__footer no-border slds-m-bottom_large">
                    <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                      <div class="slds-m-right_large"><button class="slds-button slds-m-bottom_large slds-button_neutral myButton" title="cancel" onclick={closeModal}>{labels.CCL_Utility_modal_Cancel}</button></div>
                      <button class="slds-button add-border slds-button_brand slds-m-bottom_large approve myButton" title="approve" name="approve" onclick={onPageApproval} disabled>{labels.CCL_Approve_Label}</button>
                    </div>
                  </div>
              </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <template if:true={isRejectModalOpen}>
          <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
              <div class="slds-modal__container">
                  <header class="slds-modal__header no-border">
                      <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={labels.CCL_Modal_Close} onclick={closeModal}>
                          <lightning-icon icon-name="utility:close"
                              class="closeModal"
                              alternative-text="close"
                              variant="inverse"
                              size="small" ></lightning-icon>
                          <span class="slds-assistive-text">{labels.CCL_Modal_Close}</span>
                      </button>
                      <div class="wrapper">
                        <div class="slds-m-bottom_large">
                        </div>
                        <div class="slds-m-bottom_large">
                      <lightning-icon icon-name="action:close" alternative-text="Approved" class="rejectIcon" size="small"  title="Approved"></lightning-icon>
                      </div>
                      <div class="slds-text-heading_large slds-m-bottom_medium slds-text-title_bold"><h2>{labels.CCL_Rejct_ADF}</h2></div>
                    </div>
                    <div class="slds-grid slds-wrap slds-align_absolute-center">
                    <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClass">
                      <lightning-textarea type="text" class="textarea rejectionComment" onchange={handleCommentsChange} label={labels.CCL_ADF_Reject_Reason} field-level-help={labels.CCL_ADF_Rejct_Reason} max-length="255"> 
                      </lightning-textarea>
                    </div>
                  </div>
                    </header>
                  <div class="slds-modal__footer no-border slds-m-bottom_large">
                    <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                      <div class="slds-m-right_large"><button class="slds-button slds-m-bottom_large slds-button_neutral myButton" title={labels.CCL_Utility_modal_Cancel} onclick={closeModal}>{labels.CCL_Utility_modal_Cancel}</button></div>
                      <button class="slds-button add-border slds-button_brand slds-m-bottom_large reject myButton" title={labels.CCL_Reject_Button} name="reject" onclick={onPageReject} >{labels.CCL_Reject_Button}</button>
                    </div>
                  </div>
              </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <template if:true={isSubmitModalOpen}>
          <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header no-border">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            class="closeModal"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">{labels.CCL_Modal_Close}</span>
                    </button>
                    <div class="wrapper">
                      <div class="slds-m-bottom_large">
                      </div>
                      <div class="slds-m-bottom_large">
                    <lightning-icon icon-name="action:edit" alternative-text="Approved" size="small" class="submitIcon slds-m-bottom_medium" title="submit"></lightning-icon>
                    </div>
                    <div class="slds-text-heading_large slds-m-bottom_large slds-text-title_bold"><h2>{labels.CCL_Submit_Approval}</h2></div>
                  </div>
                  <div class="slds-modal__content slds-p-around_medium">
                    <div class="slds-grid">
                      <lightning-input class="checkBox checkBoxSubmit" type="checkbox" onclick={validateCheckboxSubmit}></lightning-input>
                      <label class="labelInput slds-text-align_left">{labels.CCL_Approver_Checkbox_Label}</label>
                  </div>
                  </div>
                  <div class="slds-grid">
                    <div class="">
                      <div class="labelInput1 slds-text-align_left">{userName.FirstName} {userName.LastName}
                      </div>
                      <div class="labelInput1 slds-text-align_left slds-m-bottom_large">{userDateText}
                      </div>
                  </div>
                  </div>
                  </header>
                <div class="slds-modal__footer no-border slds-m-bottom_large">
                  <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                    <template if:true={isADFViewerInternal}>
                      <button class="slds-button add-border slds-button_brand slds-m-bottom_large  myButtonSubmit" title="submit" name="submit" onclick={onPageSubmit} disabled>Submit</button>
                    </template>
                    <template if:false={isADFViewerInternal}>
                      <button class="slds-button add-border slds-button_brand slds-m-bottom_large submit myButtonSubmit" title="submit" name="submit" onclick={onPageSubmit} disabled>Submit</button>
                    </template>
                  </div>
                </div>
            </div>
        </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
		<c-c-c-l_-delete_-file_-confirmation title={labels.CCL_DeleteConfirmation_Title} message={labels.CCL_DeleteConfirmation_Message} confirm-label={labels.CCL_DeleteConfirmation_Ok} cancel-label={labels.CCL_DeleteConfirmation_Cancel} visible={isDialogVisible} original-message={originalMessage} name="confirmModal" onclick={removeFile}>
        </c-c-c-l_-delete_-file_-confirmation>
</template>