.blue_line {
    border-top: 1px solid #0070d2;
    margin:1rem 0;
}
.h1View {
    font-size: 3em;
}
.mainHeading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.myLabel {
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 12px;
}
.h2View{
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.mainHeader {
    font-size: 1.5em;
    margin-top: 1rem;
}
.displayFlex {
    display: flex;
}
.slds-float_right{
    padding-top: 2px;
}
.labelClass{
    font-weight: 900;
}
.labelClass1{
    font-weight: 500;
}
.labelClass2{
    font-weight: 700;
    font-size: 12px;
}
.slds-text-heading_large{
    font-weight: 900;
    font-size: 1.5em;
}
.colorBlue{
    color: #0070d2 !important;
}
.slds-form-element__label {
    font-weight: 900;
}
.myCard {
    position: relative;
     padding: 13px;
     background: #fff;
     margin: 2rem 0;
     border-radius: .25rem;
     background-clip: padding-box;
     box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
 }
 h2 {
    font-size: 1rem;
    font-weight: bold;
}
.myInputs {
    font-family: 'VoltaModernText-55Roman';
    font-size: 16px;
}
.timeField{
    border-color: cornsilk;
}
.addressText{
    font-weight: 500;
}
.add-border{
    border-color: rgb(76, 109, 170);
}
.slds-modal__content_name{
    color: rgba(3, 1, 1, 0.836);
    font-weight: 400;
}
.slds-modal__content{
    padding-left: 8rem;
    padding-right: 8rem;
    color: black;
    font-weight: 500;
}
.slds-modal__container{
    width:60%;
    height : auto;
    max-height: 180rem;
    min-height: 40rem;
    padding: 3rem 0;
}
.closeModal{
    border:none;
    box-shadow:none;
}
.no-border{
    border:none;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
}
.textarea{
    height: 100px;
}
.myButton{
    width:200px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .myButtonSubmit{
    width:300px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
.submitIcon {
    background-color:orange;
   }
.approvedIcon {
    background-color: seagreen;
   }
.rejectIcon {
    background-color:red;
   }
.labelInput{
    padding-left: 2rem;
    font-weight: 900;
    font-size: 15px;
}
.labelInput1{
    padding-left: 11.5rem;
    font-size: 14px;
}
.checkBox{
    transform: scale(1.5);
    padding-top: 0.5rem;
}
.myError {
    color: rgb(194, 57, 52);
}
.rowStyle{
    height:50px;
    width:50px;
}
.repalceOrderDisplay{
    display: none;
}
.repalceOrderStyle{
    font-size: 0.8rem;
}
.helptextPosition{
    float: right;
}
.iconClass{
    cursor: pointer;
}
.warningText{
    font-family: 'VoltaModernText-55Roman';
    font-size: 16px;
}
.wrapper {
    background: white;
}
.fontFamilyBold{
    
    font-family: 'VoltaModernDisplay-75Bold';
}
.width8{
    width:8rem;
}
.width7{
    width:7rem;
}