<template>
    <div class="wrapper posAbsolute">

        <div class="filterWrapper">


            <lightning-input variant="label-hidden" class="lookupinput slds-p-top_medium" placeholder={productName}
                value={proserviceVal} onchange={handlechange}>
            </lightning-input>
            <lightning-input type="checkbox" id={index} label={active}
                class="radioButton slds-p-top_large slds-m-right_x-small" value={activeBox}
                onchange={handlechangeCheckbox} checked={activeBox} name="Active"></lightning-input>
            <template if:true={franchisepicklistVal.data}>
                <lightning-combobox name="progress" label={franchiseHeader} value={franchise} placeholder="-None selected-"
                    options={franchisepicklistVal.data.values} onchange={onselectFranchise}>
                </lightning-combobox>
            </template>
            <template if:true={portfoliopicklistVal.data}>
                <lightning-combobox name="progress" label={portfolioHeader} value={portfolio} placeholder="-None selected-"
                    options={portfoliopicklistVal.data.values} onchange={onselectPortfolio}>
                </lightning-combobox>
            </template>

            <button class="slds-button slds-button_brand" onclick={filterTable}>{filter}</button>
            <button class="slds-button slds-button_brand slds-m-left_small" onclick={clearFilter}>{clear}</button>
        </div>
        <lightning-card class="posAbsolute" title="Product List" icon-name="custom:custom63">

            <div class="slds-m-around_medium posAbsolute">
                <template if:true={data}>

                    <c-p-s-p_-sub-lightning-datatable key-field="Id" data={data} columns={columns} onsave={handleSave}
                        onsort={sortThisColumn} sorted-by={sortedBy} hide-checkbox-column=true
                        sorted-direction={sortDirection} oncancel={handleCancel} oncellchange={handlechangeedit}
                        resultdata={resultdata} onselecteditemid={getDetails} draft-values={draftValues}>
                    </c-p-s-p_-sub-lightning-datatable>
                </template>
                <template if:true={error}>
                    <!-- handle Apex error -->
                </template>
                <div class={SaveStyle}>


                    <lightning-button label={cancel} title="Cancel" onclick={hideSave} class="slds-m-left_x-small">
                    </lightning-button>
                    <lightning-button variant="brand" label={save} title="Cancel" onclick={saveChanges}
                        class="slds-m-left_x-small">
                    </lightning-button>


                </div>
                <template if:true={showSpinner}>
                    <div class="slds-spinner_container">
                        <div class="slds-spinner--brand  slds-spinner slds-spinner--large slds-is-relative"
                            role="alert">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </template>
            </div>
        </lightning-card>
    </div>

</template>