/*
.posAbsolute{
    position: absolute; 
}*/
.slds-select{
    width: 15%;
    margin: 0 11px;
}
.slds-form-element{
    margin: 0px 10px;
}
.filterWrapper{
    display: flex;
}
.slds-button_brand{
    height: max-content;
    margin-top: 21px;
}
.slds-show{
  background:#f3f2f2;
    z-index: 99999;
    justify-content: center;
    /* padding: var(--lwc-spacingXSmall,0.5rem) 0; */
    padding-left: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 2px 0 #f3f2f2;
    width: 100%;
   
}
.lookupinput{
    width: 100 !important%;
}