<template>
  <template if:true={isAdfApproved}>
    <div class="slds-modal__header no-border">
        <div class="wrapper">
          <div class="slds-m-bottom_large">
          </div>
          <div class="slds-m-bottom_large">
        <lightning-icon icon-name="action:approval" alternative-text="Approved" size="small" class="approvedIcon" title="Approved"></lightning-icon>
        </div>
        <div class="slds-m-bottom_large slds-text-title_bold h2View"><h1>{label.CCL_ApprovedADF_Header}</h1></div>
      </div>
      <div id="modal-content-id-1" class="slds-m-bottom_large">
          <label class="message"><h2>{label.CCL_ApprovedADF_Message}</h2></label>
      </div>
      <div class="slds-align_absolute-center">
        <button class="slds-button add-border slds-button_neutral" onclick={goToListScreen}>{label.CCL_Back_to_patient_List}</button>
    </div>
    </div>
  </template>
  <template if:true={isAdfSubmitted}>
    <div class="slds-modal__header no-border">
        <div class="wrapper">
          <div class="slds-m-bottom_large">
          </div>
          <div class="slds-m-bottom_large">
        <lightning-icon icon-name="action:approval" alternative-text="Submitted" size="small"  title="Submitted"></lightning-icon>
        </div>
        <div class="slds-m-bottom_large slds-text-title_bold h2View"><h1>{label.CCL_SubmittedADF_Header}</h1></div>
      </div>
      <div class="slds-m-bottom_large">
          <label class="message"><h2>{label.CCL_SubmittedADF_Message}</h2></label>
      </div>
      <div class="slds-align_absolute-center">
        <button class="slds-button add-border slds-button_neutral" onclick={goToListScreen}>{label.CCL_Back_to_patient_List}</button>
    </div>
    </div>
  </template>
  <template if:true={isAdfRejected}>
    <div class="slds-modal__header no-border">
        <div class="wrapper">
          <div class="slds-m-bottom_large">
          </div>
          <div class="slds-m-bottom_large">
        <lightning-icon icon-name="action:close" alternative-text="rejected" size="small" class="rejectIcon" title="rejected"></lightning-icon>
        </div>
        <div class="slds-m-bottom_large slds-text-title_bold h2View"><h1>{label.CCL_RejectedADF_Header}</h1></div>
      </div>
      <div class="slds-m-bottom_large">
          <label class="message"><h2>{label.CCL_RejectedADF_Message}</h2></label>
      </div>
      <div class="slds-align_absolute-center">
        <button class="slds-button add-border slds-button_neutral" onclick={goToListScreen}>{label.CCL_Back_to_patient_List}</button>
    </div>
    </div>
  </template>
</template>