.add-border{
    border-color: rgb(76, 109, 170);
}
.approvedIcon {
    background-color: seagreen;
   }
.h2View{
    font-size: 1.5em;
}  
.rejectIcon {
    background-color:red;
   }
.slds-modal__header{
    border-bottom: none;
}