<template>
	<div class="slds-text-heading_medium slds-m-bottom_medium">
		<div class="slds-grid slds-gutters">
			<div class="slds-col slds-size_2-of-3">
				<span>
					<h1 class="slds-text-heading_medium">
						<p class="customheading"><b>{label.CCL_Payment_Details}</b></p>
					</h1>
				</span>
			</div>
			<div class="slds-col slds-size_1-of-3">
				<span>
					<c-c-c-l_-flow_-header></c-c-c-l_-flow_-header>
				</span>
			</div>
		</div>
	</div>
	<br>
	<hr class="blueLine"></hr>
	<template if:true={showValidation}>
		<div class="slds-text-color_error">{label.CCL_Purchase_Order_Error}</div>
	</template>
	<template if:true={hospitalOptInFlow}>
		<div class="slds-p-top_medium">
			<h4>{hospitalPurchaseOrderText}</h4>
		</div>
		<div>
            <div class="slds-form-element slds-p-top_medium">
			   <div class="slds-text-heading_small secInnerhead"><label>{label.CCL_Hospital_Purchase_Order_Number}</label>
				</div>
                <div class="slds-form-element__control">
					<div class="slds-text-title slds-m-top--xx-small secInnertitle">
                        <lightning-input type="text" class="slds-size--3-of-6 slds-p-top_x-small inputText" maxlength="50"  value={purchaseorder} variant="label-hidden" onchange={handlechange} placeholder={label.optional} ></lightning-input>
                    </div>
                </div>
            </div>
		</div>
	</template>
	<template if:true={veteransApplicableFlow}>
		<div class="slds-p-top_medium text-chkbox slds-form-element__label">
		<!-- <lightning-checkbox-group name="Checkbox"
							  options={options}
							  value={value}
							  class="customRadioBtns"
                              onchange={handlechange}></lightning-checkbox-group> -->
			 <lightning-input type="checkbox" label={label.CCL_VA_Purchase_Order} class="chk" onchange={handlechange} value={checkb}> </lightning-input>
		</div>
	</template>
	<template if:true={patientCountryOptIn}>
		<template if:true={patientCountryValues}>
			<div class="slds-p-top_medium slds-size--3-of-6">
				<lightning-combobox dropdown-alignment="auto" name="patientCountry" label={label.patientCountryLabel} value={patientCountry}
					placeholder={label.pleaseSelect} options={patientCountryValues}
					onchange={handleCountryChange}>
				</lightning-combobox>
			</div>
		</template>
	</template>
	<template if:true={billingPartyOptIn}>
		<template if:true={billingPartyValues}>
			<div class="slds-p-top_medium slds-size--3-of-6">
				<lightning-combobox dropdown-alignment="auto" name="billingParty" label={label.billingPartyLabel} value={billingParty}
					placeholder={label.pleaseSelect} options={billingPartyValues}
					onchange={handleBillingPartyChange}>
				</lightning-combobox>
			</div>
		</template>
	</template>
	<hr class="greyline">
    <div class="slds-m-top_medium button-text">
		<c-c-c-l_-flow_-footer
			show-prev='true'
			show-next='true'
			show-review={returnFromReview}
			cssitem1={var2}
			cssitem={var2}
			onprevious={onPrevious}
			onnext={onNext}
			onreview={onReview}>
		</c-c-c-l_-flow_-footer>
	</div>

</template>