.blueLine {
  border-top: 1px solid #0460a9;
  margin:0.5rem 0;
  margin-top: -1.5rem;
}
.bottomLine{
  border-top: 1.5px solid #C9C7C5;
  margin-top:4rem;
}
.slds-form-element__label{
  font-size: 13px;
  font-family: 'VoltaModernDisplay-75Bold';
  color:#3E3E3C;
}
.text-chkbox{
  font-size: 15px;
  font-family: 'VoltaModernDisplay-75Bold';
  color:#3E3E3C;
}
label.slds-form-element__label
{
  font-size: 13px;
  font-family: 'VoltaModernDisplay-75Bold';
  color:#3E3E3C;
}
.customheading{
  font-size: 36px;
  font-family: 'VoltaModernDisplay-75Bold';
  color: #080707;
}
.secInnerhead {
  font-size: 13px;
  font-family: 'VoltaModernDisplay-75Bold';
  color:#3E3E3C;
}
h1 {
  font-size: 36px;
  font-family: 'VoltaModernDisplay-75Bold';
  color: #080707;
}
h4 {
  font-size: 14px;
  font-family: 'VoltaModernText-55Roman';
  color: #080707;
}
.inputText{
  font-family: 'VoltaModernText-55Roman';
  font-size: 16px;
  color: #080707;
  }
.button-text {
  font-size: 15px;
  font-family: 'VoltaModernDisplay-75Bold';
    }
.helpText{
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
    }
    .greyline{
      margin-top: 2rem;
      margin-bottom: 0.5rem;
  }