.wrapper {
    padding: 1rem 3rem;
}
.mainHeading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.secInnertitle{
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
    font-weight: bold;
}
.secInnerhead {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
  }
.subHeading {
    font-size: 18px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.textdisplay {

    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
}
.textdisplaySignature {
   
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.textdisplaySignatureValue {
   
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
}
.fieldLabel {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.urlLinks {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
}
.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.5rem 0;
    margin-top: 0.5rem;
}
.section-col {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.75rem;
}
.width40 {
    width: 38%;
}
.urlClass{
    text-decoration: underline;
}
.width50 {
    width: 58%;
}
.width80 {
    width: 80%;
}
.greyline{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.headerflex {
    display : flex;
}
.padding_left10 {
    padding-left: 10px;
}

.slds-notify_alert, .slds-notify--alert {
    color: #222222;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    background: rgba(rgb(107, 109, 112), 0.95);
    font-weight: 300;
    padding: .5rem 2rem .5rem .5rem;
    text-align: start;
    width: 80%;
}
.iconContainer{

    width :25px;
    height:21px;
    display:inline-block;

}
.iconColor{
    
        fill : #0460A9;
    
}
.labelClass{
    font-weight: 900;
}
.labelClassFiles{
    font-weight: 900;
    font-family: VoltaModernDisplay-75Bold;
    font-size: 12px;
    
}
.warning {
    display : flex;
}
.padding-top {
    padding-top: 9px;
    text-align: left;
    padding-left: 49px;

}