<template>
    <div class="slds-grid slds-wrap">
       <div class="section-col slds-size_2-of-12 padding-top">
          <a class="colorBlue" onclick={goToListScreen}><b>{label.backToShipList}</b></a>
       </div>
       <div class="section-col slds-size_10-of-12">
        <template if:true={productRejectionReason}>
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
            <span class="slds-assistive-text">warning</span>
            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
              </svg>
            </span> 
            <h2>{label.rejectShipNoticeLabel}</h2>
        </div>
    </template>
     <template if:true={holdStatus}> 
      <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
         <span class="slds-assistive-text">warning</span>
         <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
         <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
            <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
         </svg>
         </span> 
         <h2>{label.onHoldMessageLabel}</h2>
      </div>
    </template> 
          <h1 class="mainHeading">
             {label.finishedProductShipmentHeader}
          </h1>
          <div class="headerflex">
             <div>
                <h2 class="subHeading slds-m-top_large">{label.shippingNumber}</h2>
             </div>
             <div class= "padding_left10">
                <template if:true={result}>
                   <p class="subHeading slds-m-top_large">{result.Name}</p>
                </template>
             </div>
          </div>
          <hr class="blueLine" style="width:80%;">
          <div class="slds-float_right">
          </div>
          <template if:true={productRejectionReason}>
            <div class="slds-grid slds-m-top_medium" style="width: 100%">
               <div class="slds-size--1-of-3">
                  <label class="fieldLabel" for="text-input-id-1">
                  {label.productRejectionReasonLabel}
                  </label>
                  <div>
                     <div class="slds-p_x-small slds-m-top_x-small">
                        <template if:true={result}>
                           <p class="textdisplay">
                              {productRejectionReason}
                           </p>
                        </template>
                     </div>
                  </div>
               </div>
               <div class="slds-size--1-of-3">
                  <label class="fieldLabel" for="text-input-id-1">
                  {label.productRejectionNotesLabel}
                  </label>
                  <div>
                     <div class="slds-p_x-small slds-m-top_x-small">
                        <template if:true={result}>
                           <p class="textdisplay">
                              {productRejectionNotes}
                           </p>
                        </template>
                     </div>
                  </div>
               </div>
               <div class="slds-size--1-of-3">
                  <a class="colorBlue" onclick={redirectToOrderSummaryPage}>{label.viewOrder}</a>
               </div>
            </div>
         </template>
          <div class="slds-grid slds-m-top_medium" style="width: 100%">
             <div class="slds-size--1-of-3">
                <label class="fieldLabel" for="text-input-id-1">
                {label.statusLabel}
                </label>
                <div>
                   <div class="slds-p_x-small slds-m-top_x-small">
                      <template if:true={result}>
                         <p class="textdisplay">
                            <lightning-formatted-text value={status}>
                            </lightning-formatted-text>
                         </p>
                      </template>
                   </div>
                </div>
             </div>
             <div class="slds-size--1-of-3">
                <label class="fieldLabel" for="text-input-id-1">
                {label.shipmentReasonLabel}
                </label>
                <div>
                   <div class="slds-p_x-small slds-m-top_x-small">
                      <template if:true={result}>
                         <p class="textdisplay">
                            <lightning-formatted-text value={shipmentReason}>
                            </lightning-formatted-text>
                         </p>
                      </template>
                   </div>
                </div>
             </div>
             <template if:false={productRejectionReason}>
                <div class="slds-size--1-of-3">
                   <a class="colorBlue" onclick={redirectToOrderSummaryPage}>{label.viewOrder}</a>
                </div>
            </template>
          </div>
          <template if:true={shipmentCancellationReason}>
            <br/>
            <div class="slds-grid slds-wrap">
               <h2 class="fieldLabel">{label.shipmentCancellationReason}</h2>
            </div>
            <div class="slds-grid slds-wrap">
               <template if:true={result}>
                  <p class="textdisplay">
                     <lightning-formatted-text value={shipmentCancellationReason}>
                     </lightning-formatted-text>
                  </p>
               </template>
            </div>
         </template>
          <div class="slds-grid slds-m-top_medium" style="width: 100%">
             <div class="slds-size--1-of-3">
                <label class="fieldLabel" for="text-input-id-1">
                {label.infusionCenterLabel}
                </label>
                <div>
                   <div class="borderleft slds-p-left_x-meduim slds-m-top_x-meduim">
      
     
                      <template if:true={result}>
                           <div class="textdisplay"> 
                                <c-c-c-l_-display-address address-list={addressList} site-name={result.CCL_Infusion_Center__c}></c-c-c-l_-display-address>
                           </div>
                     </template>  
                   </div>
                </div>
             </div>
             <div class="slds-size--1-of-3">
                <label class="fieldLabel" for="text-input-id-1">
                {label.shipToLocationLabel}
                </label>
                <div>
                   <div class="borderleft slds-p-left_x-meduim slds-m-top_x-medium">
                      <template if:true={result}>
                        <div class="textdisplay"> 
                             <c-c-c-l_-display-address address-list={addressList} site-name={result.CCL_Ship_to_Location__c}></c-c-c-l_-display-address>
                        </div>
                  </template> 
                   </div>
                </div>
             </div>
          </div>
         <br/>
             <div >
                <template if:true={hospitalPurchaseOrderNumber}>
                 
                  
                     <h2 class="fieldLabel">{label.hospitalPurchaseOrderNumberLabel}</h2>
                  
                 
                  <div class= "slds-grid slds-wrap">
                   <p class="textdisplay">
                      <lightning-formatted-text value={hospitalPurchaseOrderNumber}>
                      </lightning-formatted-text>
                   </p>
                  </div>
                </template>
             </div>
          <template if:true={secondaryTherapy}>
             <br/>
             <div class="slds-grid slds-wrap">
                <div class="slds-grid slds-wrap">
                   <h2 class="fieldLabel">{label.secondaryTherapyLabel}</h2>
                </div>
             </div>
             <div class="slds-grid slds-wrap">
                <template if:true={result}>
                   <p class="textdisplay">
                      <lightning-formatted-text value={secondaryTherapy}>
                      </lightning-formatted-text>
                   </p>
                </template>
             </div>
          </template>
          <br/>
          <div class="sslds-grid slds-wrap">
             <h2 class="fieldLabel">{label.wayBillNumberLabel}</h2>
          </div>
          <div class="slds-grid slds-wrap">
             <template if:true={result}>
                <p class="textdisplay">
                   <lightning-formatted-text value={wayBillNumber}>
                   </lightning-formatted-text>
                </p>
             </template>
          </div>
          <template if:true={dewarTrackLinkOne}>
             <br/>
             <div class="slds-grid slds-wrap">
                <h2 class="fieldLabel">{label.dewarTrackingLinkOneLabel}</h2>
             </div>
             <div class="slds-grid slds-wrap">
                <template if:true={result}>
                   <p class="urlLinks">
                      <lightning-formatted-url value={dewarTrackLinkOne} target="_blank">
                      </lightning-formatted-url>
                   </p>
                </template>
             </div>
          </template>
          <template if:true={dewarTrackLinkTwo}>
             <br/>
             <div class="slds-grid slds-wrap">
                <h2 class="fieldLabel">{label.dewarTrackingLinkTwoLabel}</h2>
             </div>
             <div class="slds-grid slds-wrap">
                <template if:true={result}>
                   <p class="urlLinks">
                      <lightning-formatted-url value={dewarTrackLinkTwo} target="_blank">
                      </lightning-formatted-url>
                   </p>
                </template>
             </div>
          </template>
          <div class="slds-grid slds-m-top_medium" style="width: 100%">
             <div class="slds-size--1-of-3">
                <label class="fieldLabel" for="text-input-id-1">
                {label.actualProductShipmentDateTimeLabel}
                </label>
                <div>
                   <div class="slds-p_x-small slds-m-top_x-small">
                      <template if:true={result}>
                         <p class="textdisplay">
                            {actualShipmentDateTime} {plantLocationTimeZone}
                         </p>
                      </template>
                   </div>
                </div>
             </div>
          </div>
           <div class="slds-grid slds-m-top_medium" style="width: 100%">
             
             <div class="slds-size--1-of-3">
                <div class="warning">
                <label class="fieldLabel" for="text-input-id-1">
                {label.estimatedProductDeliveryDateTimeLabel}
                
                </label>
                <div class="slds-size--1-of-9">
                  <template if:true={holdStatus}>
                    <lightning-icon icon-name="utility:warning"  alternative-text="Warning!" variant="warning"
                    title="warning variant small" size="small"></lightning-icon>
                    </template>
                  </div>
               </div>
                <div>
                   <div class="slds-p_x-small slds-m-top_x-small">
                      <template if:true={result}>
                         <p class="textdisplay">
                            {estimatedFPDeliveryDateTime} {shipmentLocationTimeZone}
                         </p>
                      </template>
                   </div>
                </div>
             </div>
            
             <template if:true={actualProductDeliveryDateTime}>
               <br/>
               <div class="slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
                  <label class="fieldLabel" for="text-input-id-1">
                  {label.actualProductDeliveryDateTimeLabel}
                  </label>
                  <div>
                     <div class="slds-p_x-small slds-m-top_x-small">
                        <template if:true={result}>
                           <p class="textdisplay">
                              {actualProductDeliveryDateTime}  {shipmentLocationTimeZone}
                           </p>
                        </template>
                     </div>
                  </div>
               </div>
            </template>
          </div>
          
          <template if:true={numberOfBagsReceived}>
             <br/>
             <br/>
             <div class="slds-grid slds-wrap">
                <h4 class="subHeading">{label.finishedProductBatchInformationLabel}</h4>
             </div>
             <div class="slds-grid slds-m-top_medium" style="width: 100%">
                <lightning-layout-item class="slds-col slds-size_1-of-3">
                   <label class="fieldLabel" for="text-input-id-1">
                   {label.numberOfDosesShippedLabel}
                   </label>
                   <div>
                      <template if:true={result}>
                         <p class="textdisplay">
                            {numberOfDosesShipped}
                         </p>
                      </template>
                      <br/>
                   </div>
                </lightning-layout-item>
                <lightning-layout-item class="slds-col slds-size_1-of-3">
                   <label class="fieldLabel" for="text-input-id-1">
                   {label.numberOfBagsShippedLabel}
                   </label>
                   <div>
                      <template if:true={result}>
                         <p class="textdisplay">
                            {numberOfBagsShipped}
                         </p>
                      </template>
                      <br/>
                   </div>
                </lightning-layout-item>
                <lightning-layout-item class="slds-col slds-size_1-of-3">
                   <label class="fieldLabel" for="text-input-id-1">
                   {label.expiryDateOfShippedBagsLabel}
                   </label>
                   <div>
                      <template if:true={result}>
                         <p class="textdisplay">
                            {expiryDateOfShippedBags}
                         </p>
                      </template>
                      <br/>
                   </div>
                </lightning-layout-item>
             </div>
             <div>
                <label class="fieldLabel" for="text-input-id-1">
                {label.numberOfBagsReceivedLabel}
                </label>
                <div>
                   <template if:true={result}>
                      <p class="textdisplay">
                         {numberOfBagsReceived}
                      </p>
                   </template>
                   <br/>
                </div>
             </div>
          </template>
          <br/>
            <div class="slds-grid slds-wrap">
               <h4 class="subHeading">{label.relatedDocumentsLabel}</h4>
            </div>
              <template for:each={filesUploaded} for:item="item" for:index="index">
                <div class="slds-size_1-of-1 slds-m-top_small labelClass"  key={item.Id}>
                 <lightning-icon icon-name="utility:file" size="small" alternative-text="Audio file" title="Audio"></lightning-icon>
                  <a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
                  <template if:true={renderDelete}>
                  <lightning-icon icon-name="utility:close"  alternative-text={item.ContentDocumentId} class="iconClass hideBtn" size="x-small" variant="error" onclick={removeFile} title="Delete" name="openConfirmation"></lightning-icon>
                </template>
                </div>
              </template> 
              <br/>
              <br/> 
          <div class="slds-grid slds-wrap">
             <h4 class="subHeading">{label.productAcceptanceLabel}</h4>
          </div>
          <br/>
          <div class="slds-grid slds-wrap">
             <template if:true={result}>
                <p class="textdisplaySignatureValue">
                   <lightning-formatted-text value={fPAcceptanceStatusValue}>
                   </lightning-formatted-text>
                </p>
             </template>
          </div>
          <div class="slds-grid slds-wrap">
             <template if:true={result}>
                <p class="textdisplaySignatureValue">
                   <lightning-formatted-text value={productAccRejUserTime}>
                   </lightning-formatted-text>
                </p>
             </template>
          </div>
          <div>
             <footer>
                <hr class="greyline" style="width:84%;">
                <template if:true={result}>
                   <c-c-c-l_-f-p-shipment_-delivery_-process record-id={recordId}></c-c-c-l_-f-p-shipment_-delivery_-process>
                </template>
             </footer>
             <br/>
             <br/> 
          </div>
       </div>
    </div>
 </template>
