@font-face {
    font-family: 'VoltaModernDisplay-75Bold';
   src: url(/resource/CCL_Custom_CSS/._VoltaModernText-55Roman);
 }
.mainHeading {
    font-size: 2em;
    /* font-family: 'VoltaModernDisplay-75Bold'; */
    color: #080707;
}
.blueLine {
    border-top: 1px solid #2e7ab8;;
    margin:0.5rem 0;
}
.addressText {
    font-size: 16px;
    line-height: normal;
}
.subHeading{
    font-size: 1rem;
    /* font-family: 'VoltaModernDisplay-75Bold'; */
    color: #0E0D0D;
}
.radioButtons.slds-scope .slds-form-element__control .slds-radio, .slds-scope .slds-form-element__control .slds-checkbox {
    display: inline;
} 
.slds-form-element__control .slds-radio {
    display : inline-block !important;
}
.slds-scope .slds-radio {
    display: inline-block;
}
.labelClass{
    font-weight: 900;
    /* font-family: 'VoltaModernDisplay-75Bold'; */
}
.slds-form-element__legend {
    font-weight: 900;
    float: left;
}
.repalceOrderDisplay{
    display: none;
}
.repalceOrderStyle{
    font-size: 0.8rem;
}
.myLabel{
    font-family: 'VoltaModernDisplay-75Bold';
}