<template>
  <template if:true={displayWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.CCL_APH_onHold}
    </div>
  </template>
  <!-- Added as part of 2096-->
  <template if:true={prfWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.CCL_PRF_Resubmission_Approval}
    </div>
  </template>
  <h1 class="mainHeading"><b>{prfSummary}</b></h1>
  <div class="config">
    <template if:true={myActualArr}>
      <template for:each={myActualArr} for:item="item" for:index="index">
        <div class="mywrapper slds-m-top_medium" key={item}>
          <h2 class="subHeading">{item.sectioname}</h2>
          <hr class="blueLine" />
          <template if:true={replaceOrder}>
            <div class="repalceOrderStyle repalceOrderDisplay" id={myActualArr}>
              <b>{labels.CCL_Note} </b>
              {noteReplaceOrder}
            </div>
          </template>
          <template if:true={item.myFields}>
            <div class="slds-grid slds-wrap">
              <template for:each={item.myFields} for:item="fieldItem">
                <div
                  class="slds-col slds-size_1-of-2 slds-p-horizontal_medium slds-m-top_small"
                  key={fieldItem}
                >
                  <template if:false={fieldItem.isRadio}>
                    <template if:false={fieldItem.showWarning}>
                      <template if:false={fieldItem.isSite}>
                        <lightning-input
                          type="text"
                          read-only="true"
                          class="labelClass"
                          field-level-help={fieldItem.fieldhelptext}
                          label={fieldItem.Fieldlabel}
                          value={fieldItem.fieldValue}
                          data-item={fieldItem.fieldApiName}
                        ></lightning-input>
                      </template>
                      <template if:true={fieldItem.isSite}>
                        <template if:true={addressList}>
                         
                          <c-c-c-l_-display-site-name
                            address-list={addressList}
                            field-item={fieldItem}
                          ></c-c-c-l_-display-site-name>
                        </template>
                      </template>
                    </template>
                    <template if:true={fieldItem.showWarning}>
                      <div class="slds-m-bottom_large">
                        <div class="slds-p-bottom_x-small">
                          <label
                            class="labelClass slds-form-element__label slds-no-flex myLabel"
                            >{fieldItem.Fieldlabel}</label
                          >
                        </div>
                        <div class="slds-grid">
                          <div class="slds-p-right_small">
                            <template if:true={displayWarningMessage}
                              ><span
                                ><lightning-icon
                                  icon-name="utility:warning"
                                  variant="warning"
                                  alternative-text="Warning"
                                  size="xx-small"
                                  class="myIcon slds-icon-text-default"
                                  title="Warning"
                                ></lightning-icon> </span
                            ></template>
                          </div>
                          <div>{fieldItem.fieldValue}</div>
                        </div>
                      </div>
                    </template>
                    <template if:true={fieldItem.fieldAddress}>
                      <template if:true={addressList}>
                        <!-- 2450 -->
                        <p class="addressText">
                          <c-c-c-l_-display-address
                            address-list={addressList}
                            site-name={fieldItem.fieldValue}
                          ></c-c-c-l_-display-address>
                        </p>
                      </template>
                    </template>
                  </template>
                  <template if:true={fieldItem.isRadio}>
                    <label
                      class="labelClass slds-form-element__label slds-no-flex"
                      >{fieldItem.Fieldlabel}</label
                    >
                    <lightning-radio-group
                      name="radioGroup"
                      label={fieldItem.Fieldlabel}
                      value={fieldItem.fieldValue}
                      options={options}
                      class="radioButtons"
                      variant="label-hidden"
                      disabled
                      type="radio"
                    ></lightning-radio-group>
                  </template>
                </div>
              </template>
            </div>
          </template>
        </div>
      </template>
    </template>
    <div class="slds-m-top_medium">
      <c-c-c-l_-flow_-footer
        show-next="true"
        onprevious={onPrevious}
        onnext={onNext}
        onsave={onSave}
        onreview={onReview}
        onsubmit={handleSubmit}
      >
      </c-c-c-l_-flow_-footer>
    </div>
  </div>
</template>
