.timeClass{
    width: 105px;
}
.slds-form-element__label {
    font-family: 'VoltaModernDisplay-75Bold';
}
.slds-modal__container {
    margin: 0 auto;
    width: 100%;
    max-width: 180rem;
    
}
.labelClass1{
    font-weight: 700;
    font-size: 0.75rem;
}
.labelClass2{
    font-weight: 900;
    font-size: 0.80rem;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
    border: none;
    background-color:white;
    border-bottom: none;
    border-color: white;
    box-shadow:none;
}
.no-border{
    border:none;
}
.width109 {
    width: 62%;
}
.width45 {
    width: 45%;
}
.width45 {
    width: 40%;
}
.submitIcon {
    background-color:orange;
   }
    .myModal{
    width:39rem;
}