<template>
  <template if:true={isInboundUser}> 
  <template if:true={isModelOpen}> 
      <div
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open myModal"
      >
        <div class="slds-modal__container">
          <div class="slds-modal__content slds-p-around_medium no-border" id="modal-content-id-1">
            <div class="slds-align_absolute-center">
              <lightning-icon icon-name="action:edit" alternative-text="Approved" size="x-small" class="submitIcon slds-m-bottom_medium" title="submit"></lightning-icon>
              </div>
            <div class="slds-col slds-grid slds-align_absolute-center slds-size_2-of-2 slds-m-top_small">
            <template if:true={editPlannedApheresis}>
              <div class="slds-grid">
                <div class="width109">
              <label for="" class="labelClass2 slds-align_absolute-center slds-wrap">
                                  Planned Cryropreserved Apheresis Pick Up Date</label>	
                                  <div class="slds-grid">		  
                <lightning-input
                  label="Planned CryroPreserved Aphsersis Pick Up"
                  variant="label-hidden"
                  data-item="CCL_Planned_Apheresis_Pickup_Date__c"
                  read-only="true"
                  value={plannedApheresisDate}
                >
                </lightning-input></div></div>
                <div class="width45">
                  <div class="slds-m-bottom_large">
                 <label for="" class="labelClass2">Time</label></div>
                 <div class="slds-grid">		
                <lightning-input
                  type="time"
                  variant="label-hidden"
                  label="Time"
                  data-item="Time"
                  onchange={handleModelChange}
                  onblur={handleModelBlur}
                  class="timeClass"
                >
                </lightning-input>
               
                <c-c-c-l_-time-format
                  field-api-name="time"
                  my-time-fields={myTimeFields}
                  in-ship-ment="true"
                ></c-c-c-l_-time-format></div></div>
               <div class="slds-grid width45">                        
                                  <div
                                    class="timezone"
                                  >
                                      <div class="slds-m-bottom_medium"><label
                                        class="labelClass2"
                                        for=""
                                        >Time Zone</label
                                      ><sup>
                                        <lightning-helptext
                                        content={label.siteTimeZone}
                                      ></lightning-helptext>
                                      </sup></div>                
                                    <div class="slds-p-bottom_small"></div>
                                    <p class="slds-text-align_center">{timeZone}</p>
                                  </div>
                              </div>
              </div>
              </template>
              </div>
              <template if:false={editPlannedApheresis}>
               <div class="slds-error slds-theme_warning slds-p-around_small">
              <lightning-icon
                icon-name="utility:warning"
                size="small"
                class="myIcon slds-p-right_small"
                variant="inverse"
                alternative-text="Warning"
              ></lightning-icon>
             {label.editAphTimeMsg}
            </div>
              </template>
          </div>
          <div class="slds-modal__footer no-border ">
            <div class="slds-m-bottom_large no-border">
              <div class="slds-float_left slds-m-left_x-large">
                <button
                  class="slds-button  slds-button_neutral myButton"
                  title="Back"
                  onclick={closeModal}
                >
                  Back
                </button>
              </div>
               <template if:true={editPlannedApheresis}>
                <div class="slds-m-right_x-large slds-float_right">
              <button
                class="slds-button add-border slds-button_brand  reject myButton"
                title="submit"
                name="Save"
                onclick={saveApheresis}
              >
                Save
              </button></div>
              </template>
            </div>
          </div>
        </div>
      </div>
   
    </template> 
  </template> 
  <template if:false={isInboundUser}> 
     <div class="slds-error slds-theme_warning slds-p-around_small slds-align_absolute-center">
              <lightning-icon
                icon-name="utility:warning"
                size="small"
                class="myIcon slds-p-right_small"
                variant="inverse"
                alternative-text="Warning"
              ></lightning-icon>
             {label.editAphTimeAccess}
            </div>
 </template> 
  </template>