.THIS .toggleDisplay {
    display: none !important;
}
.THIS .newMessage {
    width: 100%;
    overflow: auto;
}

.THIS .bottomBar {
    width:100%;
    background-color: #f4f6f9;
    border-color: #d8dde6;
    border-radius:0;
    padding:7px;
    position: fixed;
    bottom: 0;
    right:0;
}
.THIS .bottomBarRight {
 
    float:right;
    margin-top: 20%;
    
    margin-right: -5%;
}

.THIS .customSelect:active {
    border:none;
}

.THIS .customTextarea {
    border-radius:0px !important;
    border:none;
    padding:5px 0px;
    height:132px;
}

.THIS .grayborder {
    padding:0px !important;
}

.THIS hr {
    margin:0;
}

.THIS label {
    font-weight:bold;
    float:left;
    width:8%;
}

.THIS .clearBoth {
    clear:both;
}


.THIS button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color: rgb(0, 112, 210) !important;
    border: 1px solid rgb(0, 112, 210) !important;
    color: rgb(255, 255, 255) !important;
}

.THIS button span {
    color: rgb(255, 255, 255) !important;
    font-size: .75rem !important;
    line-height: 1.875rem !important;
    font-weight: normal !important;
    font-family: "Salesforce Sans", Arial, sans-serif !important;
    text-shadow: none !important;
}

.THIS button:hover {
    color: rgb(255, 255, 255) !important;
    background: #005fb2 !important;
    border: 1px solid rgb(0, 112, 210) !important;
    text-shadow: none !important;
}

.THIS button:active {
    color: rgb(255, 255, 255) !important;
    background: #005fb2 !important;
    border: 1px solid rgb(0, 112, 210) !important;
    text-shadow: none !important;
}

.THIS button:focus {
    color: rgb(255, 255, 255) !important;
    background: #005fb2 !important;
    border: 1px solid rgb(0, 112, 210) !important;
    text-shadow: none !important;
}

.THIS .verticalScroll {
    max-height:260px;
    overflow:auto;
}

.THIS .overallContainer {
    margin-bottom:70px;
}