.THIS .custom-padding {
    padding-left: 20px;

}
.THIS .slds-button--brand{
    margin-left:-1%;
   
}

.THIS{
display: inline-flex;
}

.THIS .taskButton{
	margin-right: 14px;
    margin-bottom: 10px;
}
.THIS .adverseButton{
margin-bottom: 10px;	
}