<template>
    <div class="slds-wizard" role="navigation">
        <ol class="slds-wizard__list">
          <li class="slds-wizard__item slds-is-active">
            <a href="javascript:void(0);" class="slds-wizard__link">
              <span class="slds-wizard__marker"></span>
              <span class="slds-wizard__label slds-text-title--caps slds-truncate" title="Navigation">Navigation</span>
            </a>
          </li>
          <li class={liClass}>
            <a href="javascript:void(0);" class="slds-wizard__link">
              <span class="slds-wizard__marker"></span>
              <span class="slds-wizard__label slds-text-title--caps slds-truncate" title="Actions">Actions</span>
            </a>
          </li>
          <li class="slds-wizard__item ">
            <a href="javascript:void(0);" class="slds-wizard__link">
              <span class="slds-wizard__marker"></span>
              <span class="slds-wizard__label slds-text-title--caps slds-truncate" title="Compact Layout">Compact Layout</span>
            </a>
          </li>
          <li class="slds-wizard__item">
            <a href="javascript:void(0);" class="slds-wizard__link">
              <span class="slds-wizard__marker"></span>
              <span class="slds-wizard__label slds-text-title--caps slds-truncate" title="Review">Review</span>
            </a>
          </li>
          <li class="slds-wizard__item">
            <a href="javascript:void(0);" class="slds-wizard__link">
              <span class="slds-wizard__marker"></span>
              <span class="slds-wizard__label slds-text-title--caps slds-truncate" title="Invite">Invite</span>
            </a>
          </li>
        </ol>
        <span class="slds-wizard__progress">
          <span  class={UiClass} ></span>
        </span>

        <!-- <span class="wizard__progress">
          <span  class="wizard__progress-bar " style="height: 30%;"></span>
        </span> -->
        <!-- <div class="progress progress-bar-vertical">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div> -->
        
      </div>
</template>