.slds-wizard__list {
    display: block;
}
.width25 {
    height: 25%;
}
.width50 {
    height: 50%;
}

.slds-wizard__progress{
    width: 0.25rem;
    min-height: 200px;
    left: 10px;
}
.slds-wizard__progress-bar{
    position: absolute;
    /* left: 9px; */
    width: 3px;
}
