<template>
   <div class="block_container">
      <div class="rejection_button">
         <template if:true={showRejectButton}>
            <template if:true={disableAcceptRejectButtons}>
               <div class="slds-grid slds-grid_align-end">
                  <div class="slds-col">
                    <span>
                     <button class="regular_button_white" value={label.rejectDeliveryButtonLabel} title={label.rejectDeliveryButtonLabel} onclick={openRejectModal}>
                        {label.rejectDeliveryButtonLabel}
                        </button>
                    </span>
                  </div>
                  <div class="slds-col">
                    <span>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                    </span>
                  </div>
                  <div class="slds-col">
                    <span>
                     <button class="regular_button_blue" value={label.acceptDeliveryButtonLabel} title={label.acceptDeliveryButtonLabel} onclick={openAcceptModal}>
                        {label.acceptDeliveryButtonLabel}
                        </button>
                    </span>
                  </div>
                </div>
            </template>
         </template>
      </div>
      <template if:true={showRejectContent}>
         <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
               <header>
                  <lightning-layout-item style="padding-left: 97%; font-size:large;">
                     <button class="slds-button slds-button_icon slds-button_icon-inverse" onclick={closeModal} title="Close">
                        <lightning-icon  icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                     </button>
                  </lightning-layout-item>
               </header>
               <div class="slds-modal__content" id="modal-content-id-1">
                  <template if:false={showRejectProcessForm}>
                     <br/>
                     <lightning-layout horizontal-align="center">
                        <lightning-layout-item padding="around-small" >
                           <lightning-icon style="background: red;" icon-name="action:close" alternative-text="close" size="small"></lightning-icon>
                        </lightning-layout-item>
                     </lightning-layout>
                     <lightning-layout horizontal-align="center">
                        <lightning-layout-item padding="around-small">
                           <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate"><b>{label.rejectProductDeliveryLabel}</b></h2>
                        </lightning-layout-item>
                     </lightning-layout>
                     <lightning-layout horizontal-align="center">
                        <lightning-layout-item>
                           <div class="slds-text-body_small"><b>{label.rejectEntryMessageLabel}</b></div>
                           <lightning-input ></lightning-input>
                           <template if:true={showErrorMsg}>
                              <div class="slds-text-color_error slds-is-static slds-text-body_small"><b>{label.idNotMatchLabel}</br>{label.forMoreSupportLabel}</b></div>
                           </template>
                        </lightning-layout-item>
                     </lightning-layout>
                     <br/>
                     <br/>
                     <lightning-layout class="modalHeaderButtons">
                        <lightning-layout-item >
                           <button class="slds-button slds-button_neutral buttonSize" onclick={closeModal}>{label.cancel}</button>
                        </lightning-layout-item>
                        <lightning-layout-item class="paddingButton">
                           <button class="slds-button slds-button_brand buttonSize" onclick={validateAphIdDINSEC}>{label.next}</button>
                        </lightning-layout-item>
                     </lightning-layout>
                     <br/>
                     <br/>
                  </template>
                  <template if:true={showRejectProcessForm}>
                     <c-c-c-l-rejection-process-new record-id={recordId}   shipmentrecorddetail={finishedProductShipmentRec} oncallpasstoparent={goBackToFirstScreen}></c-c-c-l-rejection-process-new>
                  </template>
               </div>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
      <template if:true={showAcceptContent}>
         <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
               <header>
                  <lightning-layout-item style="padding-left: 97%; font-size:large;">
                     <button class="slds-button slds-button_icon slds-button_icon-inverse" onclick={closeModal} title="Close">
                        <lightning-icon  icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                     </button>
                  </lightning-layout-item>
               </header>
               <div class="slds-modal__content" id="modal-content-id-2">
                  <template if:false={showAcceptProcessForm}>
                     <br/>
                     <lightning-layout horizontal-align="center">
                        <lightning-layout-item padding="around-small" >
                           <lightning-icon style="background: seagreen;" icon-name="action:approval" alternative-text="Approved" size="small"></lightning-icon>
                        </lightning-layout-item>
                     </lightning-layout>
                     <lightning-layout horizontal-align="center">
                        <lightning-layout-item padding="around-small">
                           <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">{label.acceptProductDeliveryLabel}</h2>
                        </lightning-layout-item>
                     </lightning-layout>
                     <template if:false={showAcceptProcessForm}>
                        <lightning-layout horizontal-align="center">
                           <lightning-layout-item>
                              <div class="slds-text-body_small"><b>{label.acceptEntryMessageLabel}</b></div>
                              <lightning-input ></lightning-input>
                              <template if:true={showErrorMsg}>
                                 <div class="slds-text-color_error slds-is-static slds-text-body_small"><b>{label.idNotMatchLabel}</br>{label.forMoreSupportLabel}</b></div>
                              </template>
                           </lightning-layout-item>
                        </lightning-layout>
                        <br/>
                        <br/>
                        <lightning-layout class="modalAcceptButtons">
                           <lightning-layout-item >
                              <button class="slds-button slds-button_neutral acceptButtonSize" onclick={closeModal}>{label.cancel}</button>
                           </lightning-layout-item>
                           <lightning-layout-item class="paddingButton">
                              <button class="slds-button slds-button_brand acceptButtonSize" onclick={validateAphIdDINSEC}>{label.next}</button>
                           </lightning-layout-item>
                        </lightning-layout>
                        <br/>
                        <br/>
                     </template>
                  </template>
                  <template if:true={showAcceptProcessForm}>
                     <c-c-c-l_acceptance-process-new record-id={recordId}  shipmentrecorddetail={finishedProductShipmentRec} oncallpasstoparent={goBackToFirstScreen} ></c-c-c-l_acceptance-process-new>
                  </template>
               </div>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
   </div>
</template>