.slds-modal__container {
  width: 100%;
  max-width: 50rem;
  min-width: 40rem;
}
.acceptButton {
 padding-left: 20%;
  
}
.rejectButton {
  padding-left: 10%;
}
.button_Flows {
  display: flex; 
}
.block_container {
  padding-left: 56%;
  display: flex;
  vertical-align: middle;
}
.regular_button_white {
  font-size: 14px;
  font-family: 'VoltaModernText-55Roman';
  color: #0460a9;
  height: 32px;
  border:1px solid  #0460a9 ;
  border-radius: 4px;
  background-color: #ffffff;
  width: 150px;
}

.regular_button_white:active,
.regular_button_white:focus {
  background-color: #044990;
  border-color: #044990;
  color: #ffffff;
}
.regular_button_white:disabled,
button[disabled] {
  background-color: #c6c5c4;
  border-color: #c6c5c4;
  color: #ffffff;
}

.regular_button_blue {
  font-size: 14px;
  font-family: 'VoltaModernText-55Roman';
  color: #ffffff;
  height: 32px;
  border-radius: 4px;
  width: auto;
  background-color: #0460a9;
  border:1px solid  #0460a9 ;
  width: 150px;
}
.regular_button_blue:active,
.regular_button_blue:focus {
  background-color: #044990;
  border-color: #044990;
  color: #ffffff;
}
.regular_button_blue:active,
.regular_button_blue:hover {
  background-color: #044990;
  border-color: #044990;
  color: #ffffff;
}
.regular_button_blue:disabled,
button[disabled] {
  background-color: #c6c5c4;
  border-color: #c6c5c4;
  color: #ffffff;
}
.modalHeader {
  padding-left: 20%;
}
.buttonSize{
  height: 50px;
  width: 137px;
}
.paddingButton {
  padding-left: 5%;
}
.modalHeader {
  padding-left: 20%;
}
.modalHeaderButtons{
  padding-left: 249px;
}
.modalAcceptButtons{
  padding-left: 236px;
}
.acceptButtonSize{
  height: 50px;
  width: 151px;
}
.timeZonePadding {
  padding-top: 6px;
}