.modalheaderCanCancel {
    padding: 2% 45%;
}
.modalheaderCannotCancel {
    padding: 2% 45%;
    margin-top: 15%;
}
.modalbody {
    padding: 0 0%;
    text-align: center;
    
}
.modalbody h1{
    padding: 0 0%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.modalbody p{
    font-size: 1rem;
    line-height: 3rem;
}

.modalfooter {
    padding: 2% 42%;
    margin-top: 2%;
}
div.slds-card__footer {
    border-top: none;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
}
.iconColor {
    fill: #fbb439;
}