<template>
    <lightning-card>
        <h3>
            <div class="slds-text-align_center slds-m-bottom_medium iconColor">
                <svg xmlns="http://www.w3.org/2000/svg" width="8%" viewBox="0 0 52 52" id="warning"><path d="M51.4 42.5l-22.9-37c-1.2-2-3.8-2-5 0L.6 42.5C-.8 44.8.6 48 3.1 48h45.8c2.5 0 4-3.2 2.5-5.5zM26 40c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm3-9c0 .6-.4 1-1 1h-4c-.6 0-1-.4-1-1V18c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v13z"></path></svg>
            </div>
        </h3>
		<div if:true={errorOnUpdate} style="width:600px;" class="slds-text-color_error"> {errorOnUpdate} </div>
          <div if:false={userHasPermission}>
            <template if:true={cannotCancelOrder}>
                <h1 class="slds-p-horizontal_small modalbody slds-align_absolute-center">{label.orderCannotCancelled}</h1>
                <footer class="modalfooter slds-align_absolute-center">
                    <button class="slds-button slds-button_neutral slds-float_left" onclick={cannotCancel} title="Back">
                        <span style="width: 150px">{label.back}</span>
                    </button>
                </footer>
            </template>
            <template if:true={cancelledOrder}>
                <h1 class="slds-p-horizontal_small modalbody slds-align_absolute-center">{label.orderAlreadyCancelled}</h1>
                <footer class="modalfooter slds-align_absolute-center">
                    <button class="slds-button slds-button_neutral slds-float_left" onclick={cannotCancel} title="Back">
                        <span style="width: 150px">{label.back}</span>
                    </button>
                </footer>
            </template>
            <template if:true={canCancelOrder}>
                <template if:false={cancelledOrder}>
                    <div class="modalbody">
                        <h1>{label.wantToCancelOrder}</h1>
                        <p>{label.cancelNovartisBatchId} <b>{novartisBatchId}</b></p>
                        <p>{label.actionCannotBeUndone}</p>
                    </div>
                    <div class="slds-form-element" style="padding: 2% 20%;">
                        <b> <label class="slds-form-element__label secInnerhead" for="input-02">Please select a cancellation reason</label></b>
                        <div class="slds-form-element__icon"></div>
                            <div class="slds-form-element__control inputText">
                                <lightning-combobox
                                    name="progress" label="Status" required message-when-value-missing="Please select a cancellation reason" placeholder="Please Select" data-id="cancelReasonId" value={cancelReason} options={newArr}
                                    onchange={handleChange} dropdown-alignment="bottom-left" variant="label-hidden" class="validValue slds-p-top_xx-small"></lightning-combobox>
                        </div>
                    </div>
                    <footer class="modalfooter slds-align_absolute-center">
                        <button class="slds-button slds-button_neutral slds-float_left" onclick={cannotCancel} title="Back">
                            <span style="width: 150px">{label.back}</span>
                        </button>
                        <button class="slds-button slds-button_brand slds-float_right" onclick={CancelOrder} title="Cancel Order">
                            <span style="width: 150px">{label.cancelOrder}</span>
                        </button>
                    </footer>
                </template>
            </template>
      </div> 
		<template if:true={loaded}>
            <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </template>
         <template if:true={userHasPermission}>
            <h1 class="slds-p-horizontal_small modalbody slds-align_absolute-center">{label.doNotHaveOrderCancelPerm}</h1>
            <footer class="modalfooter slds-align_absolute-center">
                <button class="slds-button slds-button_neutral slds-float_left" onclick={cannotCancel} title="Back">
                    <span style="width: 150px">{label.back}</span>
                </button>
            </footer>
        </template>
    </lightning-card>
    
</template>