<template>
    <div class="wrapper">
        <template if:true={enrolledprescriptionlist}>

            <template if:true={enrolledprescriptionlist.length}>

                <span class="heading">
                    <template if:true={productService}>
                        {enrolledProgramProduct}:
                    </template>
                    <template if:false={productService}>

                        {enrolledListservice}:
                    </template>
                </span>
                <div class="nameHeader">{enrolleProgram}: {enrolledProgramName}</div>
                <template for:each={enrolledprescriptionlist} for:item="item" for:index='index'>

                    <div class="product-tile slds-cards" key={item}>

                        <div class="slds-p-horizontal_small slds-m-around_x-small">
                            <lightning-input type="checkbox" id={index} label=" "
                                class="radioButton slds-m-right_x-small" data-item={index} name="Active"
                                onchange={handleChange}></lightning-input>
                            <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small"
                                alternative-text={alttext}>
                            </lightning-icon>
                            <span class="section nameHeader"> {item.Name} </span>
                            <template if:true={product}>
                                <div class="section marginLeft"> {presQty}:
                                    {item.PSP_Prescription_Quantity__c}</div>
                                <div class="marginLeft"><span class="section"> {presFreq}:
                                        {item.PSP_Prescription_Frequency__c} </span></div>
                                <div class="marginLeft"><span class="section"> Units: {item.PSP_Units__c} </span> </div>
                            </template>
                            <template if:false={product}>
                                <div class="section marginLeft"> {cprovider}:
                                        <template if:true={item.CareProgramProvider}>
                                                {item.CareProgramProvider.Name}
                                        </template></div>
                            </template>


                        </div>
                    </div>
                </template>
            </template>
        </template>
        <template if:true={prescription}>
            <div class="nameHeader">{enrolleProgram}: {enrolledProgramName}</div>
            <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small"
                alternative-text={alttext}>
            </lightning-icon>
            <span class="section nameHeader"> {prescription.Name} </span>
            <template if:true={product}>
                <div class="section marginLeft"> {presQty}:
                    {prescription.PSP_Prescription_Quantity__c}</div>
                <div class="marginLeft"><span class="section"> {presFreq}:
                        {prescription.PSP_Prescription_Frequency__c} </span></div>
                <div class="marginLeft"><span class="section"> {units}: {prescription.PSP_Units__c} </span> </div>
            </template>
            <template if:false={product}>
                <div class="section marginLeft"> {cprovider}:
                    <template if:true={prescription.CareProgramProvider}>
                            {prescription.CareProgramProvider.Name}
                    </template>
                   </div>
            </template>

        </template>


        <template if:true={rtnValue}>
            <template if:false={enrolledprescriptionlist}>
                <template if:false={prescription}>
                    <span class="errorMsg">{errMsg}</span>
                </template>
            </template>
        </template>
    </div>
</template>