<template>
    <div class="wrapper slds-m-top_medium">
        <span class="label">{handedoutBy}: </span>
        <c-p-s-p_custom-look-up greeting={retInputVal} onselecteditemid={getselectedDetails} ontypedinput={checkForInput} recordtype={recordtype} object={object} searchtext={searchtext}  >
        </c-p-s-p_custom-look-up >
</div>
</template>