<template>
    <div class="wrapper">
       <div class="slds-grid paddingLeft">
         <div>
           <div>
             <div class="slds-m-bottom_large slds-align_absolute-center">
               <lightning-icon icon-name={iconName} class={iconClass}></lightning-icon>
             </div>
             <div class="slds-text-heading_large slds-m-bottom_medium slds-text-title_bold slds-text-align_center modalTitle"><h2>{orderApprovedText}</h2></div>
   
             <div class="slds-align_absolute-center slds-text-body_regular content" >
               <p>{orderApprovedSubText}</p>
             </div>
             <br>
             <div class="slds-align_absolute-center">
               <lightning-button variant="brand-outline" label={labels.CCL_Return_to_Dashboard}
                 title={labels.CCL_Return_to_Dashboard} onclick={goToNextCommercialScreen} class="slds-m-left_x-small">
               </lightning-button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </template>