<template>
    <div class="wrapper">
        <template if:true={rtnValue}>
            <template for:each={rtnValue} for:item="item" for:index='index'>

                <div class="product-tile slds-cards" key={item}>

                    <div class="slds-p-horizontal_small slds-m-around_x-small">
                        <lightning-input required type="radio" id={index} label={item.Name}
                            class="radioButton slds-m-right_x-small" data-item={index} name="Active"
                            onclick={handleChange}></lightning-input>
                    </div>


                </div>
            </template>
        </template>
    </div>
</template>