<template>
    <div class="wrapper">
      <div class="header slds-grid">
          <div class="patient-name slds-media__body">
              <p class="slds-text-title_bold">{patientName}</p>
              <h1>{name}</h1>
			  <template if:true={displayPatId}>
                <div class="patient-name slds-media__body"></div>
                  <p class="slds-text-title_bold">Patient ID: {patID}</p>
                
              
              </template>
          </div>
       
          <div class="header slds-grid">
            <div class="patient-name slds-media__body slds-text-title_bold upperCase statusColr">
                <p>{status}</p>
            </div>
        </div>
      </div>
      <div class="details-items slds-grid slds-page-header__detail-row">
      <div class="details slds-page-header__detail-block">
        <p class="slds-text-title slds-truncate">{birthDate}</p>
        <p
          class="fieldComponent slds-text-body--regular slds-show_inline-block slds-truncate"
        >
  {dob}
        </p>
      </div>

        <div class="details slds-page-header__detail-block">
          <p class="slds-text-title slds-truncate">{therapylabel}</p>
          <p
            class="fieldComponent slds-text-body--regular slds-show_inline-block slds-truncate"
          >
           {therapy}
          </p>
        </div>
		<template if:true={displayHospPatId}>
		      <div class="details slds-page-header__detail-block">
          <p class="slds-text-title slds-truncate">{treatmentProtoocol}</p>
          <p
            class="fieldComponent slds-text-body--regular slds-show_inline-block slds-truncate"
          >
            {subjectId}
          </p>
        </div>
		</template>
        <div class="details slds-page-header__detail-block">
          <p class="slds-text-title slds-truncate">{weight}</p>
          <p
            class="fieldComponent slds-text-body--regular slds-show_inline-block slds-truncate"
          >
            {patientWeight}
          </p>
        </div>
        <div class="details slds-page-header__detail-block">
          <p class="slds-text-title slds-truncate">{novartisbatchId}</p>
          <p
            class="fieldComponent slds-text-body--regular slds-show_inline-block slds-truncate"
          >
            {batchId}
          </p>
        </div>
      </div>
      
    </div>
    <hr>
  </template>
