h1{
    font-family: 'VoltaModernDisplay-75Bold';
    color: #0460A9;
    font-size: 1.5rem;
    font-weight: 900;
}
.patNameStyling{
    font-family: 'voltaModernText-55Roman';
    font-size: 15px;
}
.slds-page-header__detail-block {
    padding-right: 4rem;
    max-width: 39%;
}
.slds-text-title_bold {
    /*  font-family: 'VoltaModernDisplay-75Bold'; */
    font-size: .875rem;
    font-weight: 700;
}
.statusColr{
    color: #00937A;
}
.wrapper {
    padding: 1rem 3rem;
}
hr {
    border-top: 2px solid #e6e6e6;
    margin-top: 1em;
}
.slds-text-body--regular{
   font-family: 'voltaModernText-55Roman';
   font-size: 16px;
}
.slds-text-title {
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#000 !important;
}
.upperCase{
    text-transform: uppercase;
}