<template>
    <div class="wrapper slds-m-bottom_large">
        <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small" alternative-text={alttext}>
        </lightning-icon>
        <span class="section nameHeader"> <b>{couponNumber}</b> </span>

        <div class=""><span class="section"> Coupon Status:
                {activeStatus} </span></div>
        <div class=""><span class="section"> Activation Code: {activationCode} </span> </div>
        <div class=""><span class="section"> Valid Until: {validUntil} </span> </div>
        <div class=""><span class="section"> Provider: {provider} </span> </div>
        <div class=""><span class="section"> Available Tests: 
               {availableTests} </span> </div>
        <template if:true={testRequestedValues.data}>
            <lightning-combobox class="slds-m-top_medium" name="progress" label={testRequestedVal} value={testRequested} placeholder="-None selected-"
              options={testRequestedValues.data.values} onchange={onselectservice}>
            </lightning-combobox>
          </template>
          <div class="slds-m-top_medium">
            <span class="label">Test Provider: </span>
            <c-p-s-p_custom-look-up onselecteditemid={getselectedDetails} ontypedinput={checkForInput} recordtype={recordtype} object={object} searchtext={searchtext}  >
            </c-p-s-p_custom-look-up > 
          </div>
           
    </div>
    
</template>