  
<template>
    <div class="slds-form-element">
        <template if:true={label}>
            <label class="slds-form-element__label">{label}</label>
        </template>
        <div class="slds-form-element__control">
            <div class="slds-combobox_container slds-size_small">
                <div id="ms-picklist-dropdown" class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-picklist ms-picklist-dropdown" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox_form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                        <input class="slds-combobox__input ms-input" id="ms-input" aria-controls="ms-dropdown-items" role="textbox" type="text"  value={_selectedItems} readonly/>
                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Click to open the dropdown">
                            <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Click here" class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small"></lightning-icon>
                        </span>
                    </div>
                    
                    <div id="ms-dropdown-items" class="te" role="listbox">
                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                            <template if:true={showfilterinput}>
                                <input class="slds-listbox__item ms-filter-input" id="ms-filter-input" aria-controls="ms-dropdown-items" 
                                    role="textbox" type="text" placeholder="Filter values.." value={_filterValue} onchange={filterDropDownValues} oninput={filterDropDownValues}/>
                            </template>
                            <template if:true={showclearbutton}>
                                <lightning-button-icon icon-name="utility:clear"   alternative-text="Clear current filters" class="slds-m-left_xx-small" onclick={onClearClick}></lightning-button-icon>
                            </template>
                            <template if:true={showrefreshbutton}>
                                <lightning-button-icon icon-name="utility:refresh"   alternative-text="Clear all selections and rebuild picklist" class="slds-m-left_xx-small" onclick={onRefreshClick}></lightning-button-icon>
                            </template>

                            <template for:each={_mOptions} for:item="item">
                          
                                <c-my-list-item key={item.key} item={item} onitems={handleItemSelected}></c-my-list-item>
                            </template> 
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>