.THIS .leftPaddingClass {
    margin-left: 2rem !important;
}

.THIS .slds-has-error{
	border:2px solid rgb(194, 57, 52) !important;
}

.THIS .uiInputText{
	padding-left: 30px;
}
.THIS button.slds-button.slds-button--icon.slds-pill__remove {
    margin-right: 2.5rem;
}