<template>

    <div class="wrapper">
        <template if:false={disableSelection}>
            <lightning-input label="" id="inputBox" class={lookupInput} placeholder={searchtext} value={greeting}
                onchange={changeHandler} onfocus={changeHandler}>
            </lightning-input>
            <ul id="listProductService" class={UiClass} role="listbox">
                <template for:each={products} for:item="item">
                    <li role="presentation" key={item} data-item={item.Id} id={item.Id} class="slds-listbox__item"
                        onclick={handleClickProducts}>

                        <lightning-icon icon-name="standard:product" class="iconclass" alternative-text={alttext}>
                        </lightning-icon>

                        {item.Name}

                    </li>
                    
                </template>
                <template if:true={showSpinner}>
                  
                    <div class="slds-spinner_container">
                        <div class="slds-spinner-brand  slds-spinner slds-spinner--large slds-is-relative"
                            role="alert">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </template>
            </ul>
             
        </template>
        <template if:true={disableSelection}>
            <div class="slds-pill-container">
                <span class="slds-pill custInputLookup" style="width:100%">
                    <span class="slds-icon_container  slds-combobox__input-entity-icon" title="record">
                        <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                            size="x-small"></lightning-icon>
                        <span class="slds-assistive-text"></span>
                    </span>
                    <span class="slds-pill__label slds-p-left_x-large">
                        {greeting}
                    </span>
                    <template if:true={disableSelection}>
                        <button class="slds-button slds-button--icon slds-pill__remove" onclick={clearAll}>
                            <lightning-icon class="slds-button__icon" icon-name="utility:close" size="x-small">
                            </lightning-icon>
                            <span class="slds-assistive-text">Remove</span>
                        </button>
                    </template>
                </span>
            </div>
        </template>
    </div>

</template>