<template>

    <div class="wrapper">
        <template if:true={rtnValue}>
            <span class="heading">{header}:</span>
            <template for:each={rtnValue} for:item="item" for:index='index'>

                <div class="product-tile slds-cards" key={item}>

                    <div class="slds-p-horizontal_small slds-m-around_x-small">
                        <lightning-input required type="radio" id={index} label=" "
                            class="radioButton slds-m-right_x-small" data-item={index} name="Active"
                            onclick={handleChange}></lightning-input>
                        <lightning-icon icon-name="standard:product" class="iconclass slds-m-right_x-small"
                            alternative-text={alttext}>
                        </lightning-icon>
                        {item.Name}
                    </div>


                </div>
            </template>
        </template>
        <template if:false={rtnValue}>
            {errMsg}
        </template>
    </div>
</template>