<template>
    <div class="wrapper slds-m-bottom_large">
        <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small" alternative-text={alttext}>
        </lightning-icon>
        <span class="section nameHeader"><b> {couponNumber} </b></span>

        <div class=""><span class="section"> {assigned_To}:
                {assignedTo} </span></div>
        <div class=""><span class="section"> {activation_Code}: {activationCode} </span> </div>
        <div class=""><span class="section"> {activation_Date}: {activationDate} </span> </div>
        <div class=""><span class="section"> {valid_Untill}: {validUntil} </span> </div>
        <div class=""><span class="section"> {available_Tests}: {availableTests} </span> </div>
        <div class=""><span class="section"> {provider_label}: {provider} </span> </div>
        <div class="wrapper slds-m-top_medium">
            <span class="label">{handed_Out_By}: </span>
            <c-p-s-p_custom-look-up greeting={retInputVal} onselecteditemid={getselectedDetails} ontypedinput={checkForInput} recordtype={recordtype} object={object} searchtext={searchtext}  >
            </c-p-s-p_custom-look-up >
    </div>
    </div>
</template>