<template>
    <div class="wrapper">
      <div class="header slds-grid">
        <div class="patient-name slds-media__body">
          <p class="slds-text-title_bold">{firstValue.Fieldlabel}</p>
          <h1  class="novartisBlue">{name}</h1>
          <p class="slds-text-title_bold" if:true={showPatientId}>
            {patientIdlabel}: {patientIdValue}
          </p>
        </div>
      </div>
      <div class="details-items slds-grid slds-page-header__detail-row">
        <template if:true={mainArr}>
          <template for:each={mainArr} for:item="item">
            <div class="details slds-page-header__detail-block" key={item}>
              <p class="slds-text-title slds-truncate labelOfField">{item.Fieldlabel}</p>
              <p
                class="fieldComponent slds-text-body--regular slds-show_inline-block slds-truncate"
              >  <template if:false={item.isSite}>
                {item.fieldValue}
              </template>
              </p>
            </div>
          </template>
        </template>
      </div>
      <hr>
    </div>
  </template>