.stausshipment {
    font-size: .875rem;
    font-weight: 900;
    
}
.statusColr {
    color: #00937A;
}
h1{
    font-size: 1.5rem;
    font-weight: 900;
}
.wrapper {
    padding: 1rem 3rem;
}
.slds-text-title,.slds-text-body--regular {
    font-weight: 800;
}
.details {
    padding-right: 3.5rem;
    
}
.labelOfField {
    color: #3e3e3c;
}
.upperCase{
    text-transform: uppercase;
}