<template>
   <br />
   <lightning-layout horizontal-align="center">
      <lightning-layout-item padding="around-small">
         <lightning-icon style="background: seagreen;" icon-name="action:approval" alternative-text={label.APPROVED_LABEL}
            size="small"></lightning-icon>
      </lightning-layout-item>
   </lightning-layout>
   <template if:false={showFinalScreen}>
      <lightning-layout horizontal-align="center">
         <lightning-layout-item padding="around-small">
            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate"><b>{label.acceptProductDeliveryLabel}</b>
            </h2>
         </lightning-layout-item>
      </lightning-layout>
      <template if:true={showErrorOnScreen}>
         <lightning-layout horizontal-align="center">
            <div id="error-message-409" data-error-message="true" aria-live="assertive" style="color:rgb(194, 57, 52);"
               class="slds-form-element__help">{label.ERROR_LABEL} {err}</div>
         </lightning-layout>
      </template>
      <template if:true={shipmentrecorddetail}>
         <lightning-layout class="modalHeader">
            <lightning-layout-item class="slds-col slds-size_1-of-3" padding="around-small">
               <div class="slds-form-element__label"><abbr title="required"
                     class="slds-required ">*</abbr>{label.actualProductDeliveryDateLabel}</div>
               <div style="display: flex;">
                  <div style="width:18%; font-size:0;">
                     <lightning-input type="date" variant="label-hidden" required label={label.actualProductDeliveryDateLabel}
                        onchange={getDeliveryDate}></lightning-input>
                  </div>
                  <template if:true={selectedDate}>
                     <div style="padding-left: 1.5rem; padding-top:0.5rem;" class="slds-col slds-size_3-of-3">
                        {selectedDate}</div>
                  </template>
                  <template if:false={selectedDate}>
                     <div style="padding-left: 1.5rem; padding-top:0.5rem;" class="slds-col slds-size_3-of-3">{label.PLEASE_SELECT_DATE_LABEL}</div>
                  </template>
               </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-col slds-size_1-of-3" padding="around-small">
               <div class="slds-form-element__label"><abbr title="required"
                     class="slds-required ">*</abbr>{label.actualProductDeliveryTimeLabel}</div>
               <div style="display: flex;">
                  <div style="width:18%; font-size:0;">
                     <lightning-input type="time" variant="label-hidden" required label={label.actualProductDeliveryTimeLabel}
                        onchange={getDeliveryTime}></lightning-input>
                  </div>
                  <template if:true={selectedTime}>
                     <div style="padding-left: 1.5rem; padding-top:0.5rem;" class="slds-col slds-size_3-of-3">
                        {selectedTime}</div>
                  </template>
                  <template if:false={selectedTime}>
                     <div style="padding-left: 1.5rem; padding-top:0.5rem;" class="slds-col slds-size_3-of-3">{label.PLEASE_ENTER_TIME_LABEL}</div>
                  </template>
               </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-col slds-size_1-of-3" padding="around-small">
               <div class="slds-form-element__label">
                  {label.timeZoneLabel}
                  <sup>
                     <lightning-helptext content={siteTimeZone}></lightning-helptext>
                  </sup>
               </div>
               <div>
                  <div class="timeZonePadding">
                     {shipmentrecorddetail.CCL_Ship_to_Time_Zone__c}
                  </div>
               </div>
            </lightning-layout-item>
         </lightning-layout>
         <lightning-layout class="modalHeader">
            <lightning-layout-item class="slds-col slds-size_1-of-3" padding="around-small">
               <div class="slds-form-element__label">{label.numberOfDosesShippedLabel}</div>
               <div style="display: flex;">{shipmentrecorddetail.CCL_Number_of_Doses_Shipped__c}</div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-col slds-size_1-of-3" padding="around-small">
               <div class="slds-form-element__label">{label.numberOfBagsShippedLabel}</div>
               <div style="display: flex;">{shipmentrecorddetail.CCL_Number_of_Bags_Shipped__c}</div>
            </lightning-layout-item>
         </lightning-layout>
         <lightning-layout class="modalHeader">
            <lightning-layout-item class="slds-col slds-size_1-of-3" padding="around-small">
               <div class="slds-form-element__label">{label.expiryDateOfShippedBagsLabel}</div>
               <div style="display: flex;">{shipmentrecorddetail.CCL_Expiry_Date_of_Shipped_Bags_Text__c}</div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-col slds-size_1-of-3" padding="around-small">
               <lightning-input type="number" max-length="2" label={label.NUMBER_OF_BAGS_RECEIVED_LABEL} required
                  onchange={getNumberOfBagsReceived}></lightning-input>
            </lightning-layout-item>
         </lightning-layout>
         <lightning-layout class="modalHeader">
            <lightning-layout-item class="slds-col slds-size_2-of-3" padding="around-small">
               <lightning-input required type="checkbox" label={label.FP_SHIPMENT_APPROVAL_ATTESTATION_LABEL} onchange={getProductAcceptanceConfirmation}>
               </lightning-input>
            </lightning-layout-item>
         </lightning-layout>
         <br />
         <template if:true={capturePrimaryFPShipmentAccess}>
            <lightning-layout class="modalHeaderButtons">
               <lightning-layout-item>
                  <button class="slds-button slds-button_neutral buttonSize" onclick={closeModal}>{label.BACK_LABEL}</button>
               </lightning-layout-item>
               <lightning-layout-item class="paddingButton">
                  <button class="slds-button slds-button_brand buttonSize"
                     onclick={validateFormAndProceedToRejection}>{label.ACCEPT_DELIVERY_BUTTON_LABEL}</button>
                  <div if:true={isContentLoaded} class="slds-spinner">
                     <lightning-spinner size="large" alternative-text={label.LOADING_LABEL}>
                     </lightning-spinner>
                  </div>
               </lightning-layout-item>
            </lightning-layout>
         </template>
         <template if:false={capturePrimaryFPShipmentAccess}>
            <lightning-layout class="modalHeaderButtons">
               <lightning-layout-item>
                  <button class="slds-button slds-button_neutral buttonSize" onclick={closeModal}>{label.BACK_LABEL}</button>
               </lightning-layout-item>
               <lightning-layout-item class="paddingButton">
                     <button disabled class="regular_button_Grey buttonSize">{label.ACCEPT_DELIVERY_BUTTON_LABEL}</button>
               </lightning-layout-item>
            </lightning-layout>
         </template>
         <br />
         <br />
      </template>
   </template>
   <!-- SHOW FINAL SCREEN IN REJECTION PROCESS-->
   <template if:true={showFinalScreen}>
      <lightning-layout horizontal-align="center">
         <lightning-layout-item padding="around-small">
            <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">
               <b>{label.productDeliveryAcceptedLabel}</b></h2>
         </lightning-layout-item>
      </lightning-layout>
      <lightning-layout horizontal-align="center">
         <lightning-layout-item padding="around-small">
            <div class="slds-form-element__label">{label.acceptedFinalMessage}</div>
         </lightning-layout-item>
      </lightning-layout>
      <lightning-layout horizontal-align="center">
         <lightning-layout-item padding="around-small">
            <button class="slds-button slds-button_brand buttonSize" onclick={onClick}>{label.BACK_TO_SHIPMENT_LABEL}</button>
         </lightning-layout-item>
      </lightning-layout>
      <br />
   </template>
</template>