<template>
    <div class="slds-float_left slds-p-right_xx-large slds-m-top_large paddingBottom">
        <h1>  {label.CCL_Apheresis_Shipment_Details}</h1> 
       </div>
       
    <div class="container-fluid slds-m-top_large paddingBottom">
        <div class=" ">
        <table class="slds-table slds-table_bordered slds-table_cell-buffer">
          <thead>
            <tr class="tablelabel">
              <th scope="col" class="slds-size_2-of-8">
                <div class="tablelabel">{label.CCL_Status}</div>
              </th>
              <th scope="col" class="slds-size_2-of-8">
                <div class=" slds-truncate tablelabel">
                     {label.CCL_Apheresis_Pickup_Location}
                </div>
              </th>
              <th scope="col" class="slds-size_2-of-8">
                <div class=" slds-truncate tablelabel" >
                 {label.CCL_Actual_Apheresis_Pick_Up}
                    <div> {label.CCL_Date_Time}</div>
               </div>
              </th>
              <th scope="col" class=" slds-size_1-of-9">
                <div class=" slds-truncate tablelabel" >
                    {label.CCL_Planned_Apheresis_Pick_Up}
                    <div> {label.CCL_Date_Time}</div>
               </div>
              </th>
              <th scope="col" class=" slds-size_2-of-5 padding">
                <div class=" slds-truncate  tablelabel">
                    {label.CCL_Actual_Apheresis_Receipt}
                    <div>{label.CCL_Date_Time}</div>
               </div>
              </th>
            </tr>
          </thead>
          <tbody class="tablevalue">
              <td>
                <div class="slds-grid slds-size_2-of-8 tablevalue">
                    {status}
                    </div>  
              </td>
              <td>
                <div class="slds-grid slds-size_2-of-8 tablevalue"> 
                 <div> 
                  <c-c-c-l_-display-site-name address-list={addressList} site-id={pickUpLoc} ></c-c-c-l_-display-site-name>
                  <c-c-c-l_-display-address address-list={addressList} site-name={pickUpLoc}></c-c-c-l_-display-address>
               </div>
                </div>
            </td>
            <td>
                <lightning-icon if:true={displayWarning} class="slds-m-right_x-small" icon-name="utility:warning" alternative-text="Warning!" variant="warning" size="small"></lightning-icon>
                <div class="slds-show--inline-block slds-grid slds-size_2-of-8 tablevalue">
                    {plannedAphPickupDate}
                    </div>  
              </td>
              <td>
                <div class="slds-grid slds-size_1-of-9 tablevalue">
                    {actualAphPickupDate}
                    </div>  
              </td>
                 <td>
                <div class="slds-grid slds-size_2-of-5 padding tablevalue">
                    {actualAphReceiptDate}
                    </div>  
              </td>
          </tbody>
       </table>
      </div>   
    </div>
       <lightning-record-view-form record-id={aphShipmentId} object-api-name="CCL_Shipment__c">
                   <div class="slds-grid slds-gutters">
                      <div class="slds-col slds-size_2-of-4">
                         <span>
                            <label class="fieldlabel slds-m-bottom_small"
                               for="text-input-id-1">{label.CCL_Waybill_number}</label>
                               <div class="slds-m-bottom_medium fieldvalue">
                                 <lightning-formatted-text class ="fieldvalue" value={wayBill}></lightning-formatted-text>
                              </div>
                         </span>
                      </div>

                   </div>
                     <div class="slds-grid slds-gutters">
                       <div if:true={dewarLink1} class="slds-col slds-size_2-of-6">
                          <span>
                             <label class="fieldlabel slds-m-bottom_small"
                                for="text-input-id-1">{label.CCL_Apheresis_Dewar_Tracking_Link_1}</label>
                                <div class="slds-m-bottom_medium slds-cell-wrap">
                                   <p class="urlLinks">
                              <lightning-formatted-url value={trackDewarLink1} target="_blank">
                              </lightning-formatted-url>
                           </p>
                                </div>
                          </span>
                       </div>
                       <div if:true={dewarLink2} class="slds-col slds-size_2-of-6">
                           <span>
                              <label class="fieldlabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Apheresis_Dewar_Tracking_Link_2}</label>
                                 <div class="slds-m-bottom_medium slds-cell-wrap">
                                    <lightning-formatted-url value={trackDewarLink2} target="_blank">
                              </lightning-formatted-url>
                                   </div>
                           </span>
                        </div>
                        <div if:true={dewarLink3} class="slds-col slds-size_2-of-6">
                           <span>
                              <label class="fieldlabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Apheresis_Dewar_Tracking_Link_3}</label>
                                 <div class="slds-m-bottom_medium slds-cell-wrap">
                                    <lightning-formatted-url value={trackDewarLink3} target="_blank">
                              </lightning-formatted-url>
                                   </div>
                           </span>
                        </div>
                    </div>
                    <div class="slds-grid slds-gutters">
                        <div if:true={dewarLink4} class="slds-col slds-size_2-of-6">
                           <span>
                              <label class="fieldlabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Apheresis_Dewar_Tracking_Link_4}</label>
                                 <div class="slds-m-bottom_medium slds-cell-wrap">
                                     <lightning-formatted-url value={trackDewarLink4} target="_blank">
                              </lightning-formatted-url>
                                   </div>
                           </span>
                        </div>  
                       <div if:true={dewarLink5} class="slds-col slds-size_2-of-6">
                              <span>
                                 <label class="fieldlabel slds-m-bottom_small"
                                    for="text-input-id-1">{label.CCL_Apheresis_Dewar_Tracking_Link_5}</label>
                                    <div class="slds-m-bottom_medium slds-cell-wrap">
                                         <lightning-formatted-url value={trackDewarLink5} target="_blank">
                              </lightning-formatted-url>
                                      </div>
                              </span>
                           </div> 
                         </div>
                </lightning-record-view-form>
   </template>