.colorblue{
    color: #0070d2;
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.padding{
    padding-left: 4rem;
}
.paddingBottom{
    padding-bottom: 2rem;
}

.tablevalue {
    font-size: 13px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
   
}
.tablelabel {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #0070d2;
}
h1 {
    font-family: 'VoltaModernDisplay-75Bold';
      font-size: 28px;
      color: #080707;
    }
.fieldvalue {
        font-size: 16px;
        font-family: 'VoltaModernText-55Roman';
        color: #080707;
       
    }
.filefieldvalue {
        font-size: 16px;
        font-family: 'VoltaModernText-55Roman';
        color: #0070d2;
}
.fieldlabel {
        font-size: 13px;
        font-family: 'VoltaModernDisplay-75Bold';
        color: #3e3e3c;
    }
.cellwidth {
	width: 200px;
}