<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col">
            <span>
                <div class="slds-form slds-form_stacked">
                    <!-- insert your field attributes here inside div class="slds-form-element" for those many fields you want to show in one column --> 
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="form-element-01">Form Label</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="form-element-01" class="slds-input" placeholder="Placeholder Text" />
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <div class="slds-col">
            <span>
                <div class="slds-form slds-form_stacked">
                    <!-- insert your field attributes here inside div class="slds-form-element" for those many fields you want to show in one column --> 
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="form-element-02">Form Label</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="form-element-02" class="slds-input" placeholder="Placeholder Text" />
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="slds-col">
        <span>
            <div class="slds-form slds-form_stacked">
                <!-- insert your field attributes here inside div class="slds-form-element" for those many fields you want to show in one column --> 
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="form-element-02">Form Label</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="form-element-03" class="slds-input" placeholder="Placeholder Text" />
                    </div>
                </div>
            </div>
        </span>
    </div>
</template>