<template>
<div class="slds-grid slds-wrap">
         <div class="slds-col slds-size_3-of-12">
            <span>
               <div class="slds-float_left slds-p-right_xx-large slds-m-top_large">
                  <h1>{label.CCL_ApheresisDetails_Summary}</h1> 
               </div>
            </span>
         </div>
         <div class="slds-col slds-size_3-of-12" style="width: 3%;">
            <span>
               <div class="slds-p-top_large">
                  <a onclick={viewPdf}>
               <div if:true={showViewADF} class="iconcontainer iconcolor">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" id="page"><path d="M44.4 19H33.2c-2.6 0-4.2-1.6-4.2-4.2V3.6c0-.9-.7-1.6-1.6-1.6H10.8C8.2 2 6 4.2 6 6.8v38.4c0 2.6 2.2 4.8 4.8 4.8h30.4c2.6 0 4.8-2.2 4.8-4.8V20.6c0-.9-.7-1.6-1.6-1.6z"></path><path d="M45.7 12.9L35.1 2.3c-.2-.2-.6-.3-.9-.3-.6 0-1.2.5-1.2 1.1v8.5c0 1.8 1.6 3.4 3.4 3.4h8.5c.6 0 1.1-.6 1.1-1.2 0-.3-.1-.7-.3-.9z"></path></svg>
                        </div>
                     </a>   
                  </div>
            </span>
         </div>
         <div class="slds-col slds-size_3-of-12" style="margin-top: 9px;">
            <span>
               <div class="slds-p-top_large slds-p-top_large">
                  <h4 if:true={showViewADF} >{label.CCL_View_ADF}</h4> 
               </div>
            </span>
         </div>
         <div class="slds-col slds-size_3-of-12" style="width: 47%;margin-top: 1%;">
            <span>
               <div class="statuscolor slds-float_right slds-p-right_xx-large slds-m-top_large slds-text-title_caps">
                  {status}
               </div>
            </span>
         </div>
      </div>
   <div class="">
     <div class="slds-m-top_x-small">
      
      <template for:each={adfStatus} for:item="rec" for:index="indx">
         <article class="slds-p-top_large" key={rec.Id}>
   
        <div class="slds-card__body slds-m-top_large">
               <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_fixed-layout" role="grid">
                  <thead>
                     <tr  class="slds-line-height_reset">
                         <th  class="" scope="col">
                           <div class="slds-truncate fieldlabel">{label.CCL_Collection_Center}</div>
                        </th>
                      </tr> 
                       <tr class="slds-hint-parent">
                        <td role="gridcell">
                                <div class="fieldvalue">
                                 <c-c-c-l_-display-site-name address-list={addressList} site-id={rec.CCL_Apheresis_Collection_Center__c} ></c-c-c-l_-display-site-name>
                                      <c-c-c-l_-display-address address-list={addressList} site-name={rec.CCL_Apheresis_Collection_Center__c}></c-c-c-l_-display-address>
								 </div>
                             </td>
                         </tr>
                       <tr>
                        <th class="" scope="col">
                           <div class="slds-truncate fieldlabel">{label.CCL_ADF_Submitter}</div>
                        </th>
                        <th class="" scope="col">
                           <div class="slds-truncate fieldlabel">{label.CCL_ADF_Submission_Date}</div>
                        </th>
                        <th class="" scope="col">
                           <div class="slds-truncate fieldlabel">{label.CCL_ADF_Approver}</div>
                        </th>
                        <th class="" scope="col">
                           <div class="slds-truncate fieldlabel">{label.CCL_ADF_Approval_Date}</div>
                        </th> 
                        <th class="" scope="col">
                           <div class="slds-truncate fieldlabel">{label.CCL_Apheresis_Expiry_Date}</div>
                        </th>
                  </tr>
                  <tr class="slds-hint-parent">
                     <td role="gridcell">
                   <div class="slds-truncate slds-cell-wrap fieldvalue">{adfSubmitter}</div>
                   </td>
                    <td role="gridcell">
                       <div class="slds-truncate slds-cell-wrap fieldvalue">{rec.CCL_TEXT_ADF_Submitted_Date_Time__c}</div>
                    </td>
                    <td role="gridcell">
                       <div class="slds-truncate slds-cell-wrap fieldvalue">{adfApprover}</div>
                    </td>
                    <td role="gridcell">
                     <div class="slds-truncate slds-cell-wrap fieldvalue">{rec.CCL_TEXT_ADF_Approved_Date_Time__c}</div>
                  </td>
                  <td role="gridcell">
                     <div class="slds-truncate slds-cell-wrap fieldvalue">{rec.CCL_TEXT_Apheresis_Expiry_Date_Time__c}</div>
                  </td>
                   </tr>
              </thead>
              </table>
            </div>
         </article>
      </template>
            </div>
    </div>
    </template>