h1 {
    font-size: 26px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
h4 {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #0460a9;
}
.statuscolor{
color: #358709;
font-size: small;
font-weight: bolder;
}
.iconcontainer{
    width: 25px;
    height: 21px;
    display: inline-block;

}
.iconcolor{
    fill: #0460a9;
}
.fieldlabel {
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #3e3e3c;
}

.fieldvalue {
    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
}