<template>
  <div class="wrapper">
    <div class="header slds-grid">
      <div class="patient-name slds-media__body">
        <p class="slds-text-title_bold">{firstValue.Fieldlabel}</p>
        <h1 class="novartisBlue">{name}</h1>
        <p class="slds-text-title_bold" if:true={patientIdValue}>
          {patientIdlabel}: {patientIdValue}
        </p>
      </div>

      <div class="header slds-grid">
        <div class="stausshipment slds-media__body slds-text-title_bold upperCase statusColr">
          <p>{status}</p>
        </div>
      </div>
    </div>
    <div class="details-items slds-grid slds-page-header__detail-row">
      <template if:true={mainArr}>
        <template for:each={mainArr} for:item="item">
          <div class="details slds-page-header__detail-block" key={item}>
            <p class="slds-text-title slds-truncate labelOfField slds-text-title_bold">{item.Fieldlabel}</p>
            <p
              class="fieldComponent slds-text-body--regular slds-show_inline-block slds-truncate"
            >
            <template if:false={item.isSite}>
              {item.fieldValue}
            </template>
            <template if:true={item.isSite}>
              <template if:true={addressList}>
                <c-c-c-l_-display-site-name
                address-list={addressList}
               site-id={item.fieldValue}
              ></c-c-c-l_-display-site-name>
              </template>
              </template>
             
            
            </p>
          </div>
        </template>
      </template>
    </div>
    <hr>
  </div>
</template>