<template>
    <c-p-s-p_custom-look-up cppid={value} greeting={typeAttributes.label} tableclass="tableclass" object="HealthCloudGA__CarePlanTemplate__c" searchtext="Care plan"  >
    </c-p-s-p_custom-look-up >
</template>