<template>
     
    <template if:false={inCollection}>
    <template if:false={inShipMent}>
        <div class="paddingTop">
            <label for="" class="slds-form-element__label"></label>
            <span class="dateText">{display}</span>
    </div>
    </template>
    </template>
    <template if:true={inCollection}>
        <div class="slds-p-horizontal_medium slds-text-align_left paddingDateTop">
            <label for="" class="slds-form-element__label"></label>
            <span class="dateText">{display}</span>
    </div>
       </template>
    <template if:true={inShipMent}>
        <div class="paddingTop dateText  slds-p-left_small">
           {display}
           
    </div>
    </template>
</template>