<template> 
    <!-- <lightning-button variant="Manage Program Catalogue" label="Manage Program Catalogue" title="Manage Program Catalogue" onclick={openModal} class="slds-m-left_x-medium"></lightning-button>
        <!- modal start ->        
    <template if:true={bShowModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container"> -->
                <!-- modal header start -->
                <!-- <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Manage Program Catalogue</h2>
                </header> -->
                <!-- modal body start -->
                <!-- <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1"> -->
                <div class="wrapper">      
                    <lightning-tabset >
                            <lightning-tab  label ="Products" onactive = {tabselect}>
                                <div class="searchBar">
                                        <c-p-s-p_-search-bar ontabname={getTabname} onaddproduct={handleselected} tabproductservice={product} record-id={recordId} >
                                            </c-p-s-p_-search-bar>
                                </div>
                               
                                        <c-p-s-p_-product-list productval={productval} record-id={recordId}></c-p-s-p_-product-list>
                                 
                                  
                            </lightning-tab>
                            <lightning-tab label ="Services" onactive = {tabselect}>
                                    <c-p-s-p_-search-bar ontabname={getTabname} onaddproduct={handleselected} tabproductservice={service} record-id={recordId} >
                                        </c-p-s-p_-search-bar>
                                <c-p-s-p_-active-service-list serviceval={serviceval}  record-id={recordId}></c-p-s-p_-active-service-list>
                            </lightning-tab>
                        </lightning-tabset>   
                <!-- </div> -->
                <!-- modal footer start-->
                <!-- <footer class="slds-modal__footer"> -->
                    <!-- <lightning-button label="Cancel" class="slds-p-around_small" variant="brand" onclick={closeModal}></lightning-button> -->
                    <!-- <lightning-button label="Save" class="slds-p-around_small" variant="brand" onclick={saveMethod} disabled = {isButtonDisabled}></lightning-button> -->
               
                </div>      
                    <!-- </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template> -->
    <!-- modal end -->
    </template>