<template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <lightning-card>
                    <div class="slds-text-align_center slds-m-bottom_medium">
                    <slot name='modalHeader'></slot>
                    </div>
                    <slot name='modalBody'></slot>
                    <div class="slds-m-top_xx-large slds-m-bottom_xx-large">
                        <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                            <button title={labels.CCL_Utility_modal_Cancel} onclick={closeModal} class="slds-button slds-m-bottom_large slds-button_neutral myButton">{labels.CCL_Utility_modal_Cancel}</button>
                            <template if:true={showApproveBtn}>
                                <button disabled={isApproveBtnDisabled} title={labels.CCL_Approve_Button} onclick={approveOrder} class="slds-button add-border slds-button_brand slds-m-bottom_large approve myButton">{labels.CCL_Approve_Button}</button>
                            </template>
                            <template if:true={showRejectBtn}>
                                <button disabled={isRejectBtnDisabled} title={labels.CCL_Reject_Button} onclick={rejectOrder} class="slds-button add-border slds-button_brand slds-m-bottom_large approve myButton">{labels.CCL_Reject_Button}</button>
                            </template>
                        </div>
                    </div>  
                </lightning-card>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>