<template>
    <div class="wrapper">
        <center><span style="font-size:11px;margin-top:10px;">Capture Digital Signature</span></center>
        <center><span style="font-weight:bold;font-size:20px;margin-top:10px;">Signature Pad</span></center>
        <center>
            <div class="slds-theme_error slds-m-top_small slds-m-bottom_small">{errMsg}</div>
        </center>
        <center>
            <p class="slds-m-bottom_small">
                <canvas name="canvasItem" style="border:2px solid rgb(136, 135, 135);
                    background: transparent;"></canvas>
            </p>
        </center>

        <br />
        <center class="slds-m-top_large">
            <lightning-button variant="brand" label="Save" title="Save" onclick={SaveSignature}>
            </lightning-button>
            <lightning-button variant="neutral" class="buttonClr slds-m-left_small" label="Clear Signature"
                title="Clear" onclick={handleClearClick}></lightning-button>
        </center>
    </div>

</template>