.THIS .page-warning{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
}
.THIS .slds-theme_warning .slds-icon{
    fill: #fff;
}
.THIS .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 97%;
    top: 25%;
}
.THIS .error{
    border-color: rgb(194, 57, 52);
}