<template>
	<footer class="slds-card__footer actionButtonBar slds-grid slds-grid_align-spread slds-p-right_none slds-p-left_none slds-p-top_none">
		<div class="actionsLeft">
			<template if:true={showBegin}>
				<button type="button" class="btnwidth slds-button slds-button_brand" onclick={handleBeginRequest}>{label.CCL_FOOTER_BEGIN_REQUEST}</button>
			</template>
			<template if:true={showPrev}>
				<button type="button" class={neutral} onclick={handlePrevious}>{label.CCL_FOOTER_BACK}</button>
			</template>
			<template if:true={showCancelChange}>
				<button type="button" class={neutral} onclick={cancelChanges}>{label.CCL_Cancel_Changes}</button>
			</template>	
		</div>
		<div class="actionsRight">
			<template if:true={showSave}>
				<button class={neutral} onclick={handleSave}>{label.CCL_Save_Fr_Later}</button>
			</template>
			<template if:true={showSaveGrey}>
				<button class={neutral} onclick={handleSave} disabled>{label.CCL_Save_Fr_Later}</button>
			</template>
			<template if:true={showReview}>
				<button type="button" class={neutralOutlined} onclick={handleReview}>{label.CCL_FOOTER_REVIEWANDSUBMIT}</button>
			</template>
			<template if:true={showNext}>
				<button type="button" class={cssVar} onclick={handleNext}>{label.CCL_FOOTER_NEXT}</button>
			</template>
			<template if:true={showSubmit}>
				<button type="button" class={cssVar} onclick={handleSubmit}>{label.CCL_FOOTER_SUBMIT}</button>
			</template>
			<template if:true={showReject}>
				<button class={neutral}  onclick={handleReject}>{label.CCL_Reject}</button>
			</template>
			<template if:true={showGrey}>
				<button type="button" class={neutral}  disabled>{label.CCL_FOOTER_SUBMIT}</button>
			</template>
			<template if:true={greyApprove}>
				<button type="button" class={neutral}  disabled>{label.CCL_Approve}</button>
			</template>
			<template if:true={greyReject}>
				<button type="button" class={neutral}  disabled>{label.CCL_Reject}</button>
			</template>
			<template if:true={showApprove}>
				<lightning-button class={cssVar}  variant="brand" label={label.CCL_Approve} onclick={handleApprove}></lightning-button>
			</template>
			<template if:true={showSaveChange}>
				<button type="button" id="saveChange" class={cssVar} onclick={saveChanges}>{label.CCL_Submit_Changes}</button>
			</template>
			<template if:true={showSubmitDisable}>
				<button type="button" id="saveChangeDisable" disabled class={cssVar} onclick={saveChanges}>{label.CCL_Submit_Changes}</button>
			</template>		
		</div>
	</footer>
</template>
