.customPadding{
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'VoltaModernDisplay-75Bold';

}
.greyline{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.btnwidth{
    width:150px;
}