<template>
     <!-- Added as part of 2096-->
  <template if:true={prfWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.CCL_PRF_Resubmission_Approval}
    </div>
  </template>
    <h1 class="mainHeading">{labels.CCL_Req_Coll_Details}</h1>
    <div class="slds-grid">
        <h5 class="labelClass">{labels.CCL_Infect_Disease_Tstng}</h5>
    <lightning-input variant="label-hodden" class="labelClass" read-only="true"
    field-level-help={helpText}></lightning-input>
    </div>
    <hr class="blueLine">
        <div class="wrapper">
            <div class={errorClass}>
                <p>
                    <lightning-icon
            icon-name="utility:warning"
            size="small"
            class="myIcon slds-p-right_small"
            variant="inverse"
            alternative-text={labels.CCL_Warning}
          ></lightning-icon>
                    {errorMsg}</p>
              </div>
            <template if:true={configuredArr}>
                <div class="slds-grid slds-wrap">
                    <template for:each={configuredArr} for:item="item">
                    <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small" key={item.Id}>
                        <p class="myLabel slds-m-bottom_small">{item.CCL_Display_Label__c}</p>
           <!-- 2260             -->
            <lightning-input type="checkbox" label="Yes" class="myInputs" onchange={handleChange} data-item={item.CCL_Field_API_Name__c} ></lightning-input>
                    </div>
                    </template>
                </div>
                
            </template>
        </div>
        <div class="slds-m-top_medium">
          <!-- 2260 -->
          <template if:true={isADFViewerInternal}>
            <c-c-c-l_-flow_-footer show-next='true' show-save-grey='true'   show-prev='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
            onsubmit={handleSubmit}>
    
            </c-c-c-l_-flow_-footer>
          </template>
          <template if:false={isADFViewerInternal}>
            <c-c-c-l_-flow_-footer show-next='true' show-save='true'  show-prev='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
            onsubmit={handleSubmit}>
    
            </c-c-c-l_-flow_-footer>
          </template>
          
        </div>
</template>