.mainHeading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.labelClass{
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #0E0D0D;
}
.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.5rem 0;
    margin-top: -1.5rem;
}

 .myTest {
     font-family: 'VoltaModernDisplay-75Bold';
 }
 .myLabel {
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 12px;
}
.myInputs {
    font-family: 'VoltaModernText-55Roman';
    font-size: 16px;
}
