.blue_line {
    border-top: 1px solid #0070d2;
    margin:1rem 0;
}
h1 {
    font-size: 2em;;
}
h2 {
    font-size: 14px;
    font-weight: bold;
}
.dateClass{
    width: 15%;
}
.timeClass{
    width: 105px;
}
.subHeading {
font-size: 15px;
font-family: 'VoltaModernDisplay-75Bold';
}
.myLabel {
    width: 65%;
}
.form1{
    width:45%;
}
.slds-form-element__label {
    overflow-wrap: break-word;
    font-family: 'VoltaModernDisplay-75Bold';
}
.labelClass1{
    font-weight: 700;
    font-size: 0.75rem;
}
.labelClassFiles {
    font-family: VoltaModernDisplay-75Bold;
    font-size: 12px;
}
.labelClass2{
    font-weight: 900;
    font-size: 0.75rem;
	  color:#000;
}
.slds-modal__content_name{
    color: rgba(3, 1, 1, 0.836);
    font-weight: 400;
}
.slds-modal__content{
    padding-left: 12rem;
    padding-right: 12rem;
    color: black;
    font-weight: 500;
}
.slds-modal__container{
    width:70%;
    height : auto;
    max-height: 180rem;
    min-height: 30rem;
    padding: 3rem 0;
}
.closeModal{
    border:none;
    box-shadow:none;
}
.no-border{
    border:none;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
}
.textarea{
    height: 140px;
    text-align: initial;
}
.reasonHead{
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.reasonSubhead{
    font-family: 'voltaModernText-55Roman';
    font-size: 14px;
    font-weight: 500;
}
.myButton{
    width:200px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
.fontFamilyBold,.labelClass2{
    font-family: 'VoltaModernDisplay-75Bold';
}
 .myButtonSubmit{
    width:300px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .submitIcon {
    background-color:orange;
   }