h1{
    font-size: 22px;	
    font-family: 'VoltaModernDisplay-75Bold';	
    color: #0460A9;
     font-weight: 900;
 }
.slds-page-header__detail-block {
    padding-right: 4rem;
    max-width: 39%;
}
.slds-text-title_bold {
   font-family: 'VoltaModernDisplay-75Bold';	
    font-size: 15px;
    font-weight: 900;
}
.statusColr{
    color: #00937A;
}
.wrapper {
    padding: 1rem 3rem;
	background: #fff;
}
hr {
    border-top: 2px solid #e6e6e6;
    margin-top: 1em;
}
.slds-text-title {
    font-weight: 600;
	font-size: 12px;	
    font-family: 'VoltaModernDisplay-75Bold';
}
.slds-text-body--regular{
    font-weight: 600;
    font-family: 'voltaModernText-55Roman';	
    font-size: 16px;
}
.upperCase{	
    text-transform: uppercase;	
}