<template>
    <div class="block_container">
        <div class="rejection_button">
            <template if:true={showRejectButton}>
              <ul class="slds-button-group-row">
                <li class="slds-button-group-item">
                  <lightning-button variant="Neutral" label={label.rejectDeliveryButtonLabel} title="Reject Delivery" onclick={openRejectModal} ></lightning-button>
                </li>
              <div class="slds-p-horizontal_large"></div>
                <li class="slds-button-group-item">
                  <lightning-button variant="Brand" label={label.acceptDeliveryButtonLabel} title="Accept Delivery" onclick={openAcceptModal} ></lightning-button>
                </li>
              </ul>
            </template>
        </div>
       
        <template if:true={showRejectContent}>
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="slds-modal__container">
                  <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={closeModal} title="Close">
                      <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                      <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Reject Delivery</h2>
                  </header>
                  <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis. Cillum sunt ad dolore quis
                      aute consequat ipsum magna exercitation reprehenderit magna. Tempor cupidatat consequat elit dolor adipisicing.</p>
                    <p>Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia. Lorem aliqua enim laboris do dolor eiusmod officia. Mollit incididunt nisi consectetur esse laborum eiusmod pariatur proident. Eiusmod et adipisicing culpa deserunt nostrud
                      ad veniam nulla aute est. Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.</p>
                  </div>
                  <footer class="slds-modal__footer">
                  </footer>
                </div>
              </section>
              <div class="slds-backdrop slds-backdrop_open"></div> 
        </template>

        <template if:true={showAcceptContent}>
          <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
              <div class="slds-modal__container">
                <header class="slds-modal__header">
                  <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={closeModal} title="Close">
                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                  </button>
                  <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Accept Delivery</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                  <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis. Cillum sunt ad dolore quis
                    aute consequat ipsum magna exercitation reprehenderit magna. Tempor cupidatat consequat elit dolor adipisicing.</p>
                  <p>Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia. Lorem aliqua enim laboris do dolor eiusmod officia. Mollit incididunt nisi consectetur esse laborum eiusmod pariatur proident. Eiusmod et adipisicing culpa deserunt nostrud
                    ad veniam nulla aute est. Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.</p>
                </div>
                <footer class="slds-modal__footer">
                </footer>
              </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div> 
      </template>
    </div>  
</template>