<template>
    <div if:false={userHasPermission}>
        <template if:true={interfaceFailure}>
            <div class="slds-m-around_xx-large errorMessage">
                <p>{label.interfaceFailueError}</p>
            </div>
            <hr class="greyline">
            <div if:true={interfaceFailure} class="slds-m-top_medium button-text">
                <button class="slds-button slds-button_brand slds-float_right btnwidth" onclick={cancelReschedule}
                    title="Back">Back</button>
            </div>
        </template>
        <template if:true={rescheduleAllowed}>
            <div class="slds-m-around_xx-large errorMessage">
                <p>{label.rescheduleError}</p>
            </div>
            <hr class="greyline">
            <div if:true={rescheduleAllowed} class="slds-m-top_medium button-text">
                <button class="slds-button slds-button_brand slds-float_right btnwidth" onclick={cancelReschedule}
                    title="Back">Back</button>
            </div>
        </template>

        <div if:true={loadSpinner} class="spinner-padding slds-accordion">
            <lightning-spinner variant="brand" alternative-text="Loading Response" size="medium">
            </lightning-spinner>
        </div>
        <template if:true={responseRecieved}>
            <div class="slds-m-around_medium">
                <c-c-c-l_-pickup-and-delivery therapy={therapy} hospital={hospital} collection-center={collectionCenter}
                    aph-pickup-location={aphPickupLocation} infusion-center={infusionCenter}
                    collection-center-id={collectionCenterId} response-recieved={responseRecieved}
                    aph-pickup-location-id={aphPickupLocationId} ship-to-loc-id={shipToLocId}
                    infusion-center-id={infusionCenterId} country-code={countryCode} ship-to-loc={shipToLoc}
                    planned-pickup-date-flow={plannedPickupDateFlow} manufacturing-start-date={manufacturingStartDate}
                    product-finished-date={productFinishedDate} available-date-array={availableDateArray} available-slot={availableSlot}
                    record-id={recordId} qualified-slots={qualifiedSlots} adf-update={adfUpdate}
                    show-dynamic-text={showDynamicText} missing-response={missingResponse}
                    onpassselecteddate={getSelectedDate} aph-shipment-id ={aphShipmentId}
                    onsubmitorder={receiveEvent} reschedule-reason ={rescheduleReason}
                    plant-id ={plantId} slot-id ={slotId} value-stream-field ={valueStreamField}
                    therapy-type={therapyType} split-subject={splitSubject}>
                </c-c-c-l_-pickup-and-delivery>
            </div>
            <div class="slds-size--1-of-1 slds-m-top_xx-large slds-m-bottom_xx-large slds-m-left_medium slds-m-right_large">
                <template if:true={rescheduleReasonValues.data}>
                    <div class="slds-m-bottom_small changeReason">
                        <p>{label.rescheduleReasonLabel}</p>
                    </div>
                    <div style="width: 30%">
                        <lightning-combobox dropdown-alignment="auto" name="progress" label="Aph Reschedule Reason" value={rescheduleReason}
                            placeholder="-Select Aph Reschedule Reason-" options={rescheduleReasonValues.data.values}
                            onchange={handleChange} class="slds-m-bottom_medium rescheduleRsn changeReason validError" disabled
                            required message-when-value-missing="Reschedule reason must be entered to process a reschedule request.">
                        </lightning-combobox>
                    </div>
                </template>
            </div>
            
            <template if:true={responseRecieved}>
                <!-- <hr class="greyline"> -->
                <div class="slds-m-top_medium button-text">
                    <button class="slds-button slds-button_neutral slds-float_left btnwidth" onclick={cancelReschedule}
                        title="Back">Cancel</button>
                    <button class="slds-button slds-button_brand slds-float_right btnwidth" onclick={submitReschedule}
                        title="Cancel Order">Submit</button>
                </div>
            </template>
        </template>
    </div>
    <div if:true={userHasPermission}>
        <h1 class="slds-p-horizontal_small modalbody slds-align_absolute-center">You do not have access to Aph Reschedule Page</h1>
                <hr class="greyline">
                <div class="slds-m-top_medium button-text">
                    <button class="slds-button slds-button_brand slds-float_right btnwidth" onclick={cancelReschedule}
                        title="Back">Back</button>
                </div>
    </div>
</template>