.greyline{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.button-text {
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
  }

  .btnwidth{
    width:150px;
}
.changeReason{
  font-family: 'VoltaModernText-55Roman';
  font-size: 14px;
  font-weight: bold;
}

.spinner-padding {
  padding-top: 5%;
}