<template>

    <template if:true={showDeleteButton}>
        <div class="slds-page-header slds-page-header_record-home">
        <button name="Delete" class="slds-button slds-button--neutral slds-align_absolute-center" onclick={onClick}>{label.CCL_Delete_File}</button>
    </div>
    </template>
    <template if:true={isDialogVisible}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header no-border">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleClick}>
                        <lightning-icon icon-name="utility:close"
                            class="closeModal"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                    </button>
                    <div class="wrapper">
                    <h2 class="title slds-text-heading--medium slds-hyphenate">{label.CCL_Delete_File}?</h2>
                  </div>
                  <hr class="slds-var-m-around_small"/>
                  <div class="slds-modal__content_name slds-align_absolute-center">{label.CCL_DeleteConfirmation_Message}</div>
                  </header>
                <div class="slds-modal__footer no-border">
                  <div class="">
                   
                        <button class="slds-button add-border  slds-button_neutral" onclick={handleClick} name="cancel" title={cancelLabel}>{label.CCL_DeleteConfirmation_Cancel}</button>
                    <button class="slds-button add-border slds-button_brand " name="confirm" onclick={deleteFile} >  {label.CCL_DeleteConfirmation_Ok} </button>
                  </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
</template>