.slds-lookup__menu {
    position: absolute;
    width: 39%;
    /*display:block !important;*/
}
.slds-dropdown {
    left: 20%;
}
.displayblock{
    display: block !important;
    z-index: 7 !important;
}
.lookupinput{
    width: 40%;
}
.marginleft{
    margin-left: 7%;
}
.slds-cards,.product-tile{
    background: #f3f2f2 !important;
    margin: 10px 0;
    padding: 9px;
    width: 40%;
    font-weight: bold;
    border: 1px solid #f3f3f2; 
    box-sizing: border-box; 
}
.displaynone{
    display: none;
}
.product-tile .slds-cards{
    background: #f3f2f2 !important;
    margin: 10px 0;
    padding: 9px;
    width: 40%;
    font-weight: bold;
    position: relative;
    border: 1px solid #f3f3f2; 
    box-sizing: border-box; 
}
.slds-button_brand{
    /* width: 60px; */
    margin: 15px; 
}
.slds-listbox__item,.uiInput--lookup{
    padding: 5px;
    text-decoration: none;
    color: #000;
}
.iconclass{
    margin: 5px;
}
.wrapper{
    background: #fff;
    padding: 10px;
}
.slds-float_right{
    padding-right: 7px;
}

.uiInput--lookup.lookup__item:hover,.slds-listbox__item:hover{
    background-color: rgb(243, 242, 242);
}

.product-tile-button.slds-button_icon-bare, .slds-button--icon-bare {
    line-height: 1;
    vertical-align: middle;
    color: dodgerblue !important;
}