<template>
    <div class="wrapper">
        <lightning-input label="" class="lookupinput" placeholder={searchtext} value={greeting} onchange={changeHandler}
            onfocus={changeHandler}>
        </lightning-input>
        <ul id="listProductService" class={UiClass} role="listbox">
            <template for:each={products} for:item="item">
                <li role="presentation" key={item} data-item={item.prodId} id={item.prodId} class="slds-listbox__item"
                    onclick={handleClickProducts}>

                    <lightning-icon icon-name="standard:product" class="iconclass" alternative-text={alttext}>
                    </lightning-icon>

                    {item.name}

                </li>
            </template>

        </ul>
        <template if:true={proservicedetail}>
            <span class="displaynone">hide text</span>
            <template if:true={proservicedetail.length}>
                <template for:each={proservicedetail} for:item="item" for:index='index'>

                    <div class="product-tile slds-cards" key={item}>
                        <div class="slds-float_right">
                            <button class="slds-button" onclick={addClickedItem} id={index} data-item={index}>

                                <lightning-icon icon-name="utility:add" class="iconclass" data-item={index}
                                    alternative-text={alttext}>
                                </lightning-icon>
                            </button>

                        </div>
                        <template if:true={ifIsProduct}>
                            <div class="slds-p-horizontal_small">
                                <lightning-icon icon-name={iconName} class="iconclass" alternative-text={alttext}>
                                </lightning-icon>
                                {productName}: {item.name}
                            </div>
                            <div class="slds-p-horizontal_small marginleft">
                                {sku}:{item.productsku}
                            </div>
                            <div class="slds-p-horizontal_small marginleft">
                                {portfolio}:{item.portfolio}
                            </div>
                        </template>
                        <template if:false={ifIsProduct}>
                            <div class="slds-p-horizontal_small">
                                <lightning-icon icon-name={iconName} class="iconclass" alternative-text={alttext}>
                                </lightning-icon>
                                {servicename}: {item.name}
                            </div>
                            <div class="slds-p-horizontal_small marginleft">
                               {serviceType}:{item.serviceType}
                            </div>
                        </template>
                        

                    </div>
                </template>
                <button class="slds-button slds-button_brand" onclick={saveAllRec}>{saveAll}</button>
            </template>
        </template>
    </div>

</template>