.THIS#header {
    background-color: rgb(243, 242, 242) !important;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 450;
    

}
.THIS#body{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.THIS .error{
        border-color: rgb(194, 57, 52) !important;
}