.THIS .slds-form-element__row{
    display:flex;
}

.THIS .slds-modal__container {
    margin: 0 auto;
    width: 100% !important;
    max-width: 50rem;
    min-width: 20rem;
}
.THIS .modal-glass{
	display: none;
}
.THIS .errorMsg{
	    color: rgb(194, 57, 52);
}

.THIS .slds-icon-text-default {
    fill:rgba(27, 82, 151, 1.0);
}
.THIS .slds-select[size] option, 
.THIS .slds-select[multiple] option {
    padding: .5rem;
    font-size: 12px;
}
.THIS .uiInput--select.select:not([multiple]), 
.THIS .uiInput--select .select:not([multiple]), 
.THIS .uiInput--select .uiPopupTrigger a{
    font-size:11px;
}