<template>
        <template if:true={data}>
        <lightning-datatable data={data} columns={columns}
         key-field="Id"  onsort={sortThisColumn} 
         onsave={handleSave}
        sorted-by={sortedBy} 
        sorted-direction={sortDirection}
        draft-values={draftValues}>
        </lightning-datatable>
      </template>
    <template if:true={showSpinner}>
        <div class="slds-spinner_container">
            <div class="slds-spinner--brand  slds-spinner slds-spinner--large slds-is-relative" role="alert">
              <span class="slds-assistive-text">Loading</span>
              <div class="slds-spinner__dot-a"></div>
              <div class="slds-spinner__dot-b"></div>
            </div>
         </div>
        </template>
    </template>