<template>
    <div class="wrapper slds-m-bottom_large">
        <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small" alternative-text={alttext}>
        </lightning-icon>
        <span class="section nameHeader"><b> {retrievedCardName} </b></span>

        <div class=""><span class="sectionType"> Card Type:
            <template if:true={isPhysical}>
                {physical}
            </template>
            <template if:false={isPhysical}>
                {cardType}
            </template>
                </span></div>
    </div>    
</template>