/**
 * Created by vkashikar on 9/11/2017.
 */
.THIS .PC_tile {
	background:white;
}

.THIS .PC_Button_Star {
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.THIS .PC_Button_Link {
    width: 85%;
    text-align: left;
    border-color: rgba(0,0,0,0);
}

.THIS .pc_priority {
    background: lightgray;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 2px;
    font-size:  0.8em;
    text-align: center;
}

.THIS .PC_Priority_High {
    background: Red;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 2px;
    font-size:  0.8em;
    text-align: center;
}
.THIS .PC_Priority_Low {
    background: LightGreen;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 2px;
    font-size:  0.8em;
    text-align: center;
}
.THIS .PC_Priority_Normal {
    background: LightYellow;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 2px;
    font-size:  0.8em;
    text-align: center;
}
.THIS .tileContentColumn {
    display: inline-block;
    vertical-align : TOP;
}
.THIS .wrapper-area{
    padding:15px;
}
.THIS .wrapper-body{
    border-style: solid;
    border-left-color: #c23934;
    border-width: 0px 0px 0px 5px;
    border-radius:3px;
}
.THIS .hide-wrapper-body{
    border-style: none;
}
.THIS .svgicon-background{
    width: 50px;
    height: 50px;
}
.THIS .svgicon-background-new{
    width: 50px;
    height: 50px;
    fill: #54688d;
    color:#54688d;
}
.THIS .hideDivPartial {
    opacity: 0.5;
    pointer-events: none;
}
.THIS .proirity-heading-text{
    text-align:center;
    font-size: 15px;
}
.THIS .heading-text-wrapper{
    font-size: 0.75rem;
    line-height: 1.25;
    color: #706e6b;
}
.THIS .slds-truncate-text{
    font-size:13px;
}
.THIS .title-align-area{
  /* text-align: right; */
}
.THIS .subject-name{
    color:rgb(0, 112, 210);
}
.THIS .card-item-label{
    padding-bottom:10px;
}
.THIS .tileContentLastColumn{
    display:inline-block;
}
.THIS .task-padding{
    padding-left:30px;
}

.THIS .slds-tabs_default .slds-card{
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(221, 219, 218) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
}