<template>
    <template if:false={inCollection}>
        <template if:false={inShipment}>
            <div class="slds-p-horizontal_medium slds-text-align_left paddingDate">
                <label for="" class="slds-form-element__label"></label>
                <span class="dateText">{myDisplay}</span>
        </div>
        </template>
    </template>
    
   <template if:true={inCollection}>
    <div class="slds-p-horizontal_medium slds-text-align_left paddingDateTop">
        <label for="" class="slds-form-element__label"></label>
        <span class="dateText">{myDisplay}</span>
</div>
   </template>
<template if:true={inShipment}>
    <div class="slds-text-align_left  slds-p-left_small paddingTop">
        <label for="" class="dateText">{myDisplay}</label>
        
</div>
</template>
</template>