.myPath {
    left:50px;
}
.myPath:nth-child(2) {
    left:25px;
}
.myPath:last-child {
    left: 75px;
    padding-left: 8px;
    padding-right: 5.5rem;
}

.pathLink{
    height: 95px !important;
}
.pathLink {
    vertical-align: middle;
    top: 0.5rem;
    width: 240px !important;
    margin-left:8px;
    text-align: justify;
    z-index: 3;
}


span.slds-path__item.slds-is-active.slds-is-current {

    background: #c1d7ea;
}
span.slds-path__item.slds-is-active.slds-is-complete,span.slds-path__item.slds-is-active.slds-is-complete:hover {

    background: #0460a9;
}
.slds-path__item:last-child {

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.slds-is-complete.slds-path__title{
    color:#fff;
}
.slds-is-current .slds-path__title{
    color:#000 !important;
}
.fontFamily {
    font-family: 'VoltaModernText-55Roman';
    letter-spacing: 1px;
    font-size:15px;
}
.fontFamilyBold {
    font-family: 'VoltaModernDisplay-75Bold';
    letter-spacing: 1px;
    font-size:15px;
}
.slds-path__nav .slds-is-active:hover:before, .slds-path__nav .slds-is-active:hover:after {
    background: #0460a9 !important;
}