<template>
    <div class="slds-grid">
        <lightning-progress-indicator  type="path" variant="base" class="progressBar" style="width:100%; height:120%">
            <template for:each={steps} for:item="step">
               <span class="slds-path__item myPath slds-is-incomplete" key={step.label} data-item={step.value}>
                    <a class="slds-path__link  slds-show pathLink">
                        <div class="slds-path__title fontFamilyBold">{step.label}</div>
                        <div class="slds-path__title fontFamily">{step.status}</div>
                        <p class="slds-path__title fontFamily">{step.date}</p>
                    </a>
               </span>
            </template>
    </lightning-progress-indicator></div>
</template>