.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.4rem 0;
}
p {
    font-family: 'VoltaModernText-55Roman';
    font-size: 14px;
    color: #0e0d0d;
}
h2{
    font-size: 1.5em;
}
.firstName {
    font-weight: 900;
}
.secInnerhead {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
  }
.secInnertitle{
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
    font-weight: bold;
}
.secInnerhead.slds-form-element__label{
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
}

.borderleft{
    border-left: 3px solid #0661AA;
}
.checkboxLable{
    font-size: 18px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
}
.customLineHeight{
    line-height: 18px !important;;
}
.bottomLine{
    border-top: 1.5px solid #C9C7C5;
    margin-top:4rem;
  }
.slds-modal__container{
    width:60%;
    height : auto;
    max-height: 180rem;
    min-height: 40rem;
    padding: 3rem 0;
}
.closeModal{
    border:none;
    box-shadow:none;
}
.no-border{
    border:none;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
}
.slds-text-title_bold {
    font-size: .975rem;
    font-weight: 900;
    color: black;
}
.slds-modal__content{
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: none;
}
.add-border{
    border-color: rgb(76, 109, 170);
}
.slds-height
{
    height: 80px;
    width : 45%;
}
.customRadioBtns{
    font-size: 1.3em;
    color: #080707 !important;
    font-weight: bold;
}
    
.customRadioBtns .slds-radio {
    float: left;
    margin-right: 5px;
}
.slds-checkbox__label {
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
}
.slds-progress{
    max-width: 80% !important;
  }
  .slds-progress-bar__value {
    background: none !important;
  }
.datefield{
    font-family: 'VoltaModernText-55Roman';
    font-size: 14px;
    color: #0e0d0d;
  }
.pop-up-heading{
        font-size: 18px;
        font-family: 'VoltaModernDisplay-75Bold';
        color: #080707;
    }
.pop-up-content{
    font-family: 'VoltaModernText-55Roman';
    font-size: 14px;
    color:#3E3E3C;
    }
.pop-up-content-clinical{
    font-size: 14px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
    }
h1 {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
    }
h4 {
    font-size: 24px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
    }
.checkboxLabel{
    font-family: 'VoltaModernText-55Roman';
    font-size: 18px;
    color: #080707;
}
.button-text {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
   }
.editbutton {
        font-size: 14px;
        font-family: 'VoltaModernText-55Roman';
        }
.helpText{
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
     }
.icon-color{
    background-color:orange;
}
.customMarginDates{
    margin-left: 45px;
}
.slds-progress{
    margin-left: 5%;
}
.greyline{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.slds-scrollable_y {
    overflow-y: auto !important;
}
.width23{
    width: 22%;
    padding-right: 0px;
}