<template>
    <div class="wrapper">
        <div if:false={approvalPageCounter} class="slds-grid slds-gutters">
            <div class="slds-col slds-size_2-of-3">
                <span>
                    <div class="slds-text-heading_large slds-m-bottom_medium ">
                        <h1>{label.ReviewOrderRequest}</h1>
                    </div>
                </span>
            </div>
            <div class="slds-col slds-size_1-of-3">
                <span>
                    <c-c-c-l_-flow_-header></c-c-c-l_-flow_-header>
                </span>
            </div>
        </div>
        <h4 class="slds-m-top_medium">{label.TreatmentInformation}</h4>
        <hr class="blueLine"></hr>
        <!--Ordering Hospital strat-->
        <div class="slds-grid slds-grid_pull-padded-medium slds-m-top_medium">
            <div class="slds-col slds-p-horizontal_medium">
                <span>
                    <div class="slds-form-element">
                        <div class="slds-text-heading_small secInnerhead">{label.OrderingHospital}</div>
                        <div class="slds-form-element__control">
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{hospital}</div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
                <span>
                    <div class="slds-form-element">
                        <div class="slds-text-heading_small secInnerhead">{label.TherapyName}</div>
                        <div class="slds-form-element__control">
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{therapy}</div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <!--Ordering Hospital end-->
        <div class="slds-m-top_large"></div>
        <!--Patient Details strat-->
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                <h4 class="slds-m-top_large">{label.PatientDetails}</h4>
            </div>
            <div if:false={approvalPageCounter}
                class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12 slds-text-align_right slds-m-top_large">
                <button class="slds-button slds-button_outline-brand button-text editbutton"
                    onclick={editPatientDetails}>{label.CCL_Edit}</button>
            </div>
        </div>
        <hr class="blueLine"></hr>
        <div class="slds-grid slds-wrap slds-grid--pull-padded slds-m-top_medium">
            <div class="slds-col--padded slds-size--1-of-1">
                <template if:true={isCommercial}>
                    <template if:true={hospitalPatientId}>
                        <label class="slds-form-element__label secInnerhead"
                            for="text-input-id-1">{label.HospitalPatientID}</label>
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">{hospitalPatientId}</div>
                    </template>
                </template>
                <template if:true={isClinical}>
                    <label class="slds-form-element__label secInnerhead"
                        for="text-input-id-1">{label.TreatmentProtocalSubjectID}</label>
                    <div class="slds-text-title slds-m-top--xx-small secInnertitle">
                        {therapyIdName}_{CCL_centernum}_{CCL_subjectnum}</div>
                </template>
            </div>
			<template if:false={approvalPageCounter}>
            <template if:true={optedIn}>
                <div if:true={phipermission} class="slds-grid slds-m-top_medium" style="width: 100%">
                    <template if:true={optedIn.CCL_First_Name__c}>
                        <div
                            class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
                            <label class="slds-form-element__label secInnerhead"
                                for="text-input-id-1">{label.FirstName}</label>
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_firstname}</div>
                        </div>
                    </template>
                    <template if:true={optedIn.CCL_Middle_Initial__c}>
                        <div
                            class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--3-of-12">
                            <label class="slds-form-element__label secInnerhead"
                                for="text-input-id-1">{label.MiddleName}</label>
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_middleinitial}</div>
                        </div>
                    </template>

                    <template if:true={optedIn.CCL_Last_Name__c}>
                        <div
                            class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
                            <label class="slds-form-element__label secInnerhead"
                                for="text-input-id-1">{label.LastName}</label>
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_lastname}</div>
                        </div>
                    </template>

                    <template if:true={optedIn.CCL_Suffix__c}>
                        <div
                            class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--3-of-12">
                            <label class="slds-form-element__label secInnerhead"
                                for="text-input-id-1">{label.Suffix}</label>
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_suffix}</div>
                        </div>
                    </template>
                    <template if:true={optedIn.CCL_Initials__c}>
                        <div
                            class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
                            <label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Patient_Intials}</label>
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_patientInitials}</div>
                        </div>
                    </template>
                </div>
            </template>
            <div class="slds-grid slds-m-top_medium" style="width: 100%">
                <template if:true={hasDob}>
                    <div if:true={phipermission}
                        class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">

                            <label class="slds-form-element__label secInnerhead"
                                for="text-input-id-1">{label.DOB}
							</label>
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">{dateofBirth} {month}
                            {CCL_inpyear}</div>
                    </div>
                </template>
				</div>
            </template>

			<template if:false={allCOIFalse}>
            <template if:true={approvalPageCounter}>
                <template if:true={optedIn}>
                    <div if:true={phipermission} class="slds-grid slds-m-top_medium" style="width: 100%">
                        <template if:true={orderfirstnamecoi}>
                            <div
                                class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
                                <label class="slds-form-element__label secInnerhead"
                                    for="text-input-id-1">{label.FirstName}</label>
                                <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_firstname}</div>
                            </div>
                        </template>
                        <template if:true={ordermiddlenamecoi}>
                            <div
                                class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--3-of-12">
                                <label class="slds-form-element__label secInnerhead"
                                    for="text-input-id-1">{label.MiddleName}</label>
                                <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_middleinitial}</div>
                            </div>
                        </template>

                        <template if:true={orderlasttnamecoi}>
                            <div
                                class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
                                <label class="slds-form-element__label secInnerhead"
                                    for="text-input-id-1">{label.LastName}</label>
                                <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_lastname}</div>
                            </div>
                        </template>

                        <template if:true={ordersuffixcoi}>
                            <div
                                class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--3-of-12">
                                <label class="slds-form-element__label secInnerhead"
                                    for="text-input-id-1">{label.Suffix}</label>
                                <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_suffix}</div>
                            </div>
                        </template>
                        <template if:true={orderinitialscoi}>
                            <div
                                class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
                                <label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Patient_Intials}</label>
                                <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_patientInitials}</div>
                            </div>
                        </template>
                    </div>
                </template>
                <div class="slds-grid slds-m-top_medium" style="width: 100%">
                    <template if:true={hasDob}>
                        <div if:true={phipermission}
                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
                                <label class="slds-form-element__label secInnerhead"
                                    for="text-input-id-1">{label.DOB}
								</label>
                            <div class="slds-text-title slds-m-top--xx-small secInnertitle">{dateofBirth} {month}
                                {CCL_inpyear}</div>
                        </div>
                    </template>
                </div>
                </template>
				</template>

                <div class="slds-grid slds-m-top_medium" style="width: 100%">
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
                    <label class="slds-form-element__label secInnerhead"
                        for="text-input-id-1">{label.PatientWeight}</label>
                    <div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_patientweight}</div>
                </div>
            </div>
            <template if:true={isClinical}>
                <template if:true={setRadioBtnYes}>
                    <div class="slds-grid slds-m-top_medium" style="width: 100%">
                        <div
                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--12-of-12">
                            <label class="slds-form-element__label secInnerhead">{label.Patientconsent}</label>
                            <lightning-radio-group name="radioGroupDisabled" options={radioOptions}
                                value={setRadioBtnYes} type="radio" class="customRadioBtns" disabled>
                            </lightning-radio-group>
                        </div>
                    </div>
                </template>
            </template>
            <div class="slds-grid slds-m-top_medium" style="width: 100%">
                <template if:true={isCommercial}>
                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--12-of-12">
                        <label class="slds-form-element__label secInnerhead"
                            for="text-input-id-1">{label.Prescriber}</label>
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">{PrescriberInvestigator}</div>
                    </div>
                </template>
                <template if:true={isClinical}>
                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--12-of-12">
                        <label class="slds-form-element__label secInnerhead"
                            for="text-input-id-1">{label.PrincipalInvestigator}</label>
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">{PrescriberInvestigator}</div>
                    </div>
                </template>
            </div>
			<template if:true={filePresent}>
			<div class="slds-grid slds-m-top_medium" style="width: 100%">
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--12-of-12">
                    <template if:true={checkPatientConsent}>
                        <label class="slds-form-element__label secInnerhead"
                        for="text-input-id-1">{label.cCL_Patient_Consents}
                    </label>
                    </template>
                    
                    <template if:false={prfApprover}>
                    <template if:true={filesUploaded}>
                        <template for:each={filesUploaded} for:item="item" for:index="index">
                            <div class="slds-size_1-of-1 slds-m-top_small"  key={item.documentId}>
                                    <a onclick={viewDocument} name={item.documentId}>{item.name}</a>
                            </div>
                        </template>
                    </template>
                    </template>
                    <template if:true={prfApprover}>
                        <template for:each={filesUploaded} for:item="item" for:index="index">
                            <div class="slds-size_1-of-1 slds-m-top_small"  key={item.Id}>
                                    <a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
                            </div>
                        </template>
                        </template>
                </div>
            </div>
			</template>
        </div>
        <!--Patient Details end-->
        <div class="slds-m-top_large"></div>
        <!--Apheresis Pickup & Delivery start-->
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                <h4 class="slds-m-top_large">{label.ApheresisPickupDelivery}</h4>
            </div>
            <div if:false={approvalPageCounter}
                class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12 slds-text-align_right slds-m-top_large">
                <button class="slds-button slds-button_outline-brand editbutton"
                    onclick={editPickupDetails}>{label.CCL_Edit}</button>
            </div>
        </div>
        <hr class="blueLine"></hr>
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-grid slds-m-top_medium" style="width: 100%">
                <div
                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12  slds-cell-wrap">
                    <label class="slds-form-element__label secInnerhead" for="text-input-id-1">
                        {label.ApheresisCollectionCenter}
                    </label>
                    <div class="slds-text-title slds-m-top--xx-small secInnertitle"><c-c-c-l_-display-site-name address-list={addressList} site-id={collectionCenterId} ></c-c-c-l_-display-site-name></div>
                    <br>
                    <div>
                        <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                            <p class="slds-text-title slds-m-top--xx-small secInnerhead">{label.CCL_Collection_Address}</p>
                            <template if:true={addressList}>
                                    <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={collectionCenterId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </div>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12  slds-cell-wrap">
                    <label class="slds-form-element__label secInnerhead" for="text-input-id-1">
                        {label.ApheresisPickupLocation}
                    </label>
                    <div class="slds-text-title slds-m-top--xx-small secInnertitle"><c-c-c-l_-display-site-name address-list={addressList} site-id={aphPickupLocationId} ></c-c-c-l_-display-site-name></div>
                    <br>
                    <div>
                        <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                            <p class="slds-text-title slds-m-top--xx-small secInnerhead">{label.CCL_Pickup_Address}</p>
                            <template if:true={addressList}>
                                   <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={aphPickupLocationId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-grid slds-m-top_medium" style="width: 100%">
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12  slds-cell-wrap">
                    <label class="slds-form-element__label secInnerhead" for="text-input-id-1">
                        {label.InfusionCenter}
                    </label>
                    <div class="slds-text-title slds-m-top--xx-small secInnertitle"><c-c-c-l_-display-site-name address-list={addressList} site-id={infusionCenterId} ></c-c-c-l_-display-site-name></div>
                    <br>
                    <div>
                        <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                            <p class="slds-text-title slds-m-top--xx-small secInnerhead">{label.InfusionAddress}</p>
                            <template if:true={addressList}>
                                     <p class="addressText"> <c-c-c-l_-display-address address-list={addressList} site-name={infusionCenterId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </div>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12  slds-cell-wrap">
                    <label class="slds-form-element__label secInnerhead" for="text-input-id-1">
                        {label.ShipToLocation}
                    </label>
                    <div class="slds-text-title slds-m-top--xx-small secInnertitle"><c-c-c-l_-display-site-name address-list={addressList} site-id={shipToLocId} ></c-c-c-l_-display-site-name></div>
                    <br>
                    <div>
                        <div class="borderleft slds-p-left_x-small slds-m-top_x-small">
                            <p class="slds-text-title slds-m-top--xx-small secInnerhead">{label.ShipToAddress}</p>
                            <template if:true={addressList}>
                                    <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={shipToLocId}></c-c-c-l_-display-address></p>
                                  </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Apheresis Pickup & Delivery end-->
        <!--Scheduling Start -->
        <div class="demo-only demo-only--sizing slds-grid slds-wrap slds-m-top_xx-large">
            <div if:true={sitetextavail} class="slds-col slds-col--padded slds-size_1-of-1 slds-m-top-large slds-m-bottom_large">
                <span>
                    <p class="SchedulePara">{SiteDiscrepancyText}</p>
                </span>
            </div>
            <!--<div class="slds-size--1-of-1 slds-col--padded slds-m-top_medium slds-m-bottom_large">
                <p class="SchedulePara">{label.SchedulingCommercial}</p>
            </div>-->
            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--4-of-12">
                <label class="slds-form-element__label secInnerhead customLineHeight" for="text-input-id-1">{label.CryopreservedApheresisShipmentDate}</label>
                <div class="slds-text-title slds-m-top_medium datefield">{plannedPickupDateFlow}</div>
            </div>
            <template if:false={replacementOrderDates}>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--4-of-12">
                    <label class="slds-form-element__label secInnerhead customLineHeight customMarginDates" for="text-input-id-1">{label.EstimatedCellmanufacturingStartDate}</label>
                    <div class="slds-text-title slds-m-top_medium datefield customMarginDates">{manufacturingStartDateFlow}</div>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--4-of-12">
                    <label class="slds-form-element__label secInnerhead customLineHeight customMarginDates" for="text-input-id-1">{label.EstimatedFinishedProductDeliveryDate}</label>
                    <div class="slds-text-title slds-m-top_medium datefield customMarginDates">{productFinishedDateFlow}</div>
                </div>
                <div class="slds-grid slds-m-top_medium" style="width: 100%">
                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-1">
                        <lightning-progress-indicator class="customProgBar" current-step="1" type="base" has-error="" variant="shaded">
                            <lightning-progress-step value="1"></lightning-progress-step>
                            <lightning-progress-step value="2"></lightning-progress-step>
                            <lightning-progress-step value="3"></lightning-progress-step>
                        </lightning-progress-indicator>
                    </div>
                </div>
            </template>
            <div class="slds-grid slds-m-top_large" style="width: 100%">
                <template if:true={showDynamicText}>
                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-1">
                        <lightning-formatted-rich-text value={belowSchedulerText}>
                        </lightning-formatted-rich-text>
                    </div>
                </template>
            </div>
        </div>
        <!--Scheduling end -->
        <div class="slds-m-top_large"></div>
        <!--Payment Detail start-->
        <template if:true={isCommercial}>
            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                    <h4 class="slds-m-top_large">{label.PaymentDetails}</h4>
                </div>
                <div if:false={approvalPageCounter}
                    class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12 slds-text-align_right slds-m-top_large">
                    <button class="slds-button slds-button_outline-brand button-text editbutton"
                        onclick={editPaymentDetails}>{label.CCL_Edit}</button>
                </div>
            </div>
            <hr class="blueLine"></hr>
            <div class="slds-grid slds-wrap slds-grid--pull-padded slds-m-top_medium">
                <template if:true={hospitalOptInFlow}>
                    <div class="slds-col--padded">{hospitalPurchaseOrderText}</div>
                    <div class="slds-col--padded slds-size--1-of-1 slds-m-top_medium">
                        <label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.HospitalPurchaseOrderNumber}</label>
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">{hospitalPurchaseOrderOptInFlow}</div>
                    </div>
                </template>
                <template if:true={veteransApplicableFlow}>
                    <div class="slds-col--padded slds-size--1-of-1 slds-m-top_medium">
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <div class="slds-checkbox">
                                        <input readonly type="checkbox" name="options" id="ccl_payment_chkbox" value="checkbox-unique-id-73" checked={paymentCheckbox} />
                                        <label class="slds-checkbox__label" for="checkbox-unique-id-73">
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-form-element__label checkboxLable">{label.VAPurchaseOrder}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template if:true={patientCountryOptIn}>
                    <div class="slds-col--padded slds-size--1-of-1 slds-m-top_medium">
                        <label class="slds-form-element__label secInnerhead">{label.patientCountryLabel}</label>
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">{patientCountryResidenceValue}</div>
                    </div>
                </template>
                <template if:true={billingPartyOptIn}>
                    <div class="slds-col--padded slds-size--1-of-1 slds-m-top_medium">
                        <label class="slds-form-element__label secInnerhead">{label.billingPartyLabel}</label>
                        <div class="slds-text-title slds-m-top--xx-small secInnertitle">{billingPartyValue}</div>
                    </div>
                </template>
            </div>
        </template>
        <!--Payment Detail end-->
        <!--Modal popup start Commercial-->
        <template if:true={isCommercialModalOpen}> 
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-scrollable slds-scrollable_x slds-scrollable_y">
                <div class="slds-modal__container">
                    <header class="slds-modal__header no-border">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                class="closeModal"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">{label.CCL_Modal_Close}</span>
                        </button>
                        <div class="wrapper slds-modal__content">
                            <div class="slds-m-bottom_large">
                            </div>
                            <div class="slds-m-bottom_large">
                                <lightning-icon icon-name="action:edit" class="icon-color" size="small"  title="Attestation"></lightning-icon>
                            </div>
                            <div class="slds-text-heading_large slds-m-bottom_large pop-up-heading">{label.CommercialPhysicianAttestation}</div>

                        <div class="slds-align_absolute-center slds-text-align_left pop-up-content-clinical">
                                    {label.CCL_Clinical_Popup_Review_Message}
                        </div>
                        <br>
                        <div class="slds-align_absolute-center slds-text-align_left pop-up-content">
                            <lightning-formatted-rich-text value={commercialPhysicianAttestation}>
                           </lightning-formatted-rich-text>
                        </div>
                        <br>
                        <div class="slds-checkbox__label slds-align_absolute-left slds-text-align_left">
                            <lightning-input type="checkbox" class="checkboxLabel" label={label.CommercialAcknowledgement} checked={isCommercialChecked}  name="input1" onchange={onCommercialConsent} style="font-family:'VoltaModernText-55Roman';font-size:18px;"></lightning-input>
                        </div>
                    </div>
                        <br>
                    </header>
                    <div class="slds-modal__footer no-border slds-m-bottom_large">
                        <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                                <button
                                    class="slds-button add-border slds-button_brand slds-m-bottom_large slds-m-bottom_large slds-align_absolute-left button-text"
                                    onclick={returnToReview} title={label.CCL_Return_to_Review} style="width: 150px;">{label.CCL_Return_to_Review}</button>
                                <button if:true={custOpsLogin}
                                    disabled
                                    class="slds-button slds-button_brand slds-m-bottom_large slds-m-bottom_large slds-align_absolute-right button-text submitBtn"
                                    title={label.CCL_FOOTER_SUBMIT}
                                    style="width: 150px;">{label.CCL_FOOTER_SUBMIT}</button>
                                <button if:false={custOpsLogin}
                                    class="slds-button add-border slds-button_brand slds-m-bottom_large slds-m-bottom_large slds-align_absolute-right button-text submitBtn"
                                    onclick={goToNextCommercialScreen} title={label.CCL_FOOTER_SUBMIT}
                                    style="width: 150px;">{label.CCL_FOOTER_SUBMIT}</button>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!--Modal popup start Commercial-->
        <!--Modal popup start Clinical-->
        <template if:true={isClinicalModalOpen}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header no-border">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                class="closeModal"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">{label.CCL_Modal_Close}</span>
                        </button>
                        <div class="wrapper slds-modal__content">
                            <div class="slds-m-bottom_large">
                                <lightning-icon icon-name="action:edit" class="icon-color" size="small"  title="Consent"></lightning-icon>
                            </div>
                            <div class="slds-text-heading_large slds-m-bottom_large pop-up-heading">{label.CCL_Confirm_Patient_Eligibility}</div>
                            <div class="slds-align_absolute-center slds-text-align_left pop-up-content-clinical">
                                {label.CCL_Clinical_Popup_Review_Message}
                            </div>
                            <br/>
                            <div class="slds-align_absolute-left slds-text-align_left pop-up-content-clinical">
                            {patientEligibilityText}
                        </div>
                       <br>
                       <div class="slds-checkbox__label">
                            <lightning-input type="checkbox" class="checkboxLabel" label={label.CommercialAcknowledgement} checked={isClinicalChecked}  name="input1" onchange={onClinicalConsent} style="font-family:'VoltaModernText-55Roman';"></lightning-input>
                        </div>
                    </div>
                        <br>
                    </header>
                    <div class="slds-modal__footer no-border slds-m-bottom_large">
                        <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                            <button
                                class="slds-button add-border slds-button_brand slds-m-bottom_large slds-m-bottom_large slds-align_absolute-left button-text"
                                onclick={returnToReview} title={label.CCL_Return_to_Review} style="width: 150px;">{label.CCL_Return_to_Review}</button>
                            <button if:true={custOpsLogin}
                                disabled
                                class="slds-button slds-button_brand slds-m-bottom_large slds-m-bottom_large slds-align_absolute-right button-text submitBtn"
                                title={label.CCL_FOOTER_SUBMIT} style="width: 150px;">{label.CCL_FOOTER_SUBMIT}</button>
                            <button if:false={custOpsLogin}
                                class="slds-button add-border slds-button_brand slds-m-bottom_large slds-m-bottom_large slds-align_absolute-right button-text submitBtn"
                                onclick={goToNextClinicalScreen} title={label.CCL_FOOTER_SUBMIT} style="width: 150px;">{label.CCL_FOOTER_SUBMIT}</button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!--Modal popup start Clinical-->
        <!--Modal popup Error -->
        <template if:true={errorModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header no-border">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                class="closeModal"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">{label.CCL_Modal_Close}</span>
                        </button>
                        <div class="wrapper">
                            <div class="slds-m-bottom_large">
                            </div>
                            <div class="slds-m-bottom_large">
                                <lightning-icon icon-name="action:close" alternative-text="Consent" size="medium"  title="Consent"></lightning-icon>
                            </div>
                            <div class="slds-text-heading_large slds-m-bottom_large" style="font-size:19px;">{label.CCL_PRF_Submission_Error}</div>
                        </div>
                    </header>
                    <div class="slds-modal__footer no-border slds-m-bottom_large">
                        <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                            <button
                                class="slds-button add-border slds-button_brand slds-m-bottom_large slds-m-bottom_large slds-align_absolute-right button-text"
                                onclick={onSubmitError} title="NextScreen" style="width: 20%;">{label.CCL_FOOTER_SUBMIT}</button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!--Modal popup Error -->
        <template if:true={loaded}>
            <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </template>
<template if:true={isModalOpen}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header no-border">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                        class="closeModal"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <div class="wrapper">
                    <div class="slds-m-bottom_large slds-m-top_large">
                        <lightning-icon icon-name="action:priority" class="icon-color" size="small"  title="Consent"></lightning-icon>
                    </div>
                               <div class="slds-text-heading_large slds-m-bottom_small slds-text-heading_small checkboxLable pop-up-heading">
                                <b>{label.CCL_Scheduler_dates_unavailable_message}</b></div>
                    <div class="demo-only demo-only--sizing slds-grid slds-wrap slds-m-top_xx-small">
                        <template if:false={replacementOrderDates}>
                            <div class="slds-size--1-of-1 slds-m-top_medium  slds-m-bottom_large">
                                        <p class="para slds-text-align_center">{label.CCL_Select_Alternate_Scheduler_Dates_Popup_Message} </p>
                            </div>
                        </template>
                        <div class="slds-size--1-of-1">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_4-of-12">
                                    <span>
                                        <label class="slds-form-element__label datefieldslabel customLineHeight slds-m-bottom_medium slds-cell-wrap"
                                            for="text-input-id-1">{label.CryopreservedApheresisShipmentDate}</label>
                                    <div class="slds-text-title datefield para ">{plannedPickupDateFlow}</div>
                                    </span>
                                </div>
                                <template if:false={replacementOrderDates}>
                                    <div class="slds-col slds-size_4-of-12">
                                        <span>
                                            <label
                                                class="slds-form-element__label datefieldslabel customLineHeight slds-m-bottom_medium slds-cell-wrap"
                                                for="text-input-id-1">{label.EstimatedCellmanufacturingStartDate}</label>
                                            <div class="slds-text-title datefield para">{manufacturingStartDatesecondFlow}</div>
                                        </span>
                                    </div>
                                    <div class="slds-col slds-size_4-of-12">
                                        <span>
                                            <label
                                                class="slds-form-element__label datefieldslabel customLineHeight slds-m-bottom_medium slds-cell-wrap"
                                                for="text-input-id-1">{label.EstimatedFinishedProductDeliveryDate}</label>
                                            <div class="slds-text-title datefield para">{productFinishedDatesecondFlow}</div>
                                        </span>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <template if:false={replacementOrderDates}>
                            <div class="slds-grid slds-m-top_medium" style="width: 100%">
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-1">
                                    <lightning-progress-indicator current-step="1" type="base" has-error="" variant="shaded">
                                        <lightning-progress-step value="1"></lightning-progress-step>
                                        <lightning-progress-step value="2"></lightning-progress-step>
                                        <lightning-progress-step value="3"></lightning-progress-step>
                                    </lightning-progress-indicator>
                                </div>
                            </div>
                        </template>
                    </div>
                <div>
                                <button
                                    class="slds-button slds-button_outline-brand slds-m-top_xx-large slds-m-right_xx-large"
                                    onclick={editPickupDetails}>{label.CCL_Choose_Alternative_Date_Button}</button>
                                <button class="slds-button slds-button_brand slds-m-top_xx-large slds-m-left_xx-large"
                                    onclick={onSubmit}>{label.CCL_Accept_New_Dates_Button}</button>
                </div>
               <br>
            </div>
                <br>
            </header>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>
        <template if:false={approvalPageCounter}>
            <div class="flowButtons"></div>
            <hr class="greyline">
            <div class="slds-m-top_medium">
                <c-c-c-l_-flow_-footer show-prev='true' show-submit='true' cssitem1={var2} cssitem={var2}
                    onprevious={onPrevious} onsubmit={handleCallout}>
                </c-c-c-l_-flow_-footer>
            </div>
        </template>
    </div>
</template>