/**
 * Created by sahgarg on 3/15/2018.
 */


.THIS .slds-tabs_default .slds-card{
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(221, 219, 218) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
}
.THIS .slds-m-right_xx-large {
   margin-right:70px;

}
.THIS .PC_tile {
	background:white;
	border-color: black;
    border-width: 2px;
    border-style: solid;
}
.THIS .slds-card__header {
    padding: .25rem .75rem 0rem;
    margin-bottom: 0rem;
}

.THIS .dropdown-wrapper{
    width:100% !important;
}
.THIS  .custom::before  {
    content: '✓\00a0';
    display: inline-block;
    color: rgb(0, 112, 210);
    font-weight : bold;

}
.THIS .taskName{
    font-size:16px;
    font-weight : bold;
}
.THIS .label-padding{
    padding-top: 5px;
}
.THIS .custom-grid-width{
    width: 20%;
}