<template>
  <template if:false={readOnlyfields}>
  <hr class="blue_line">
  </template>
    <!-- Config code -->
    <div class="config">
	 <template if:false={storedArr.length}>
	 
      <template if:true={sectionArr}>
        <template for:each={sectionArr} for:item="item" for:index="index1">
          <div class="mywrapper slds-m-top_medium" key={item}>
            <h2 class="subHeading">{item.sectioname}</h2>
            <template if:true={item.myFields}>
              <div class="slds-grid slds-wrap">
                <template for:each={item.myFields} for:item="fieldItem">
                  <div class="slds-col slds-grid slds-size_1-of-2 slds-m-top_small" key={fieldItem}>
                 <template if:false={fieldItem.isRadio}>
                 <template if:false={fieldItem.showStep}>
                  <div class="myLabel labelClass">
                    <label for="" class="slds-form-element__label">
                      {fieldItem.Fieldlabel}</label
                    >
                    <div class="slds-grid">
                  <lightning-input
                  type={fieldItem.fieldtype}
                  class={fieldItem.class}
                  variant="label-hidden"
                  field-level-help={fieldItem.fieldhelptext}
                 placeholder={fieldItem.placeHolder}
                 onchange={handleChange} data-item={fieldItem.fieldApiName}
                 onblur={handleBlur}
                  value={fieldItem.fieldValue}
                  max={fieldItem.max}
                  message-when-range-overflow={fieldItem.rangeOverflow}
				  message-when-step-mismatch={fieldItem.stepMisMatch}
				  message-when-bad-input={fieldItem.badInput}
				  min={fieldItem.min}
                 message-when-range-underflow={fieldItem.rangeUnderflow}
                  read-only={readOnlyfields}
                ></lightning-input> 
                <template if:false={readOnlyfields}>
                  <template if:true={fieldItem.isDate}>
                    <label for="" class="slds-form-element__label"></label>
                    <c-c-c-l_-date-format type={fieldItem.fieldtype} field-api-name={fieldItem.fieldApiName} my-date-fields={myDateFields}></c-c-c-l_-date-format>
                  </template>
                  <template if:true={fieldItem.isTime}>
                    <label for="" class="slds-form-element__label"></label>
                    <c-c-c-l_-time-format field-api-name={fieldItem.fieldApiName} my-time-fields={myTimeFields}></c-c-c-l_-time-format>
                  </template>
                </template>
              </div>
            </div>
                <div class="slds-grid">
                  <template if:true={fieldItem.isTime}>
                    <div
                      class="timezone slds-p-left_large slds-p-horizontal_medium"
                    >
                        <label
                          class="labelClass2 slds-p-bottom_large"
                          for=""
                          >{labels.CCL_TimeZone}</label
                        ><sup>
                          <lightning-helptext
                          content={siteTimeZone}
                        ></lightning-helptext>
                        </sup>
                      
                      <!-- </div> -->
                      <template if:true={fieldItem.timeZone}>
                      <div class="slds-p-bottom_small"></div>
                      <p class="labelClass1">{fieldItem.timeZone}</p>
                    </template>
                    <template if:false={fieldItem.timeZone}>
                      <div class="slds-p-bottom_small"></div>
                      <p class="labelClass1">{siteTimeZoneVal}</p>
                    </template>
                    </div>
                  </template>
              </div>
        </template>
                 <template if:true={fieldItem.showStep}>
               
                  <lightning-input
                  type={fieldItem.fieldtype}
                  class="labelClass"
                  field-level-help={fieldItem.fieldhelptext}
                 placeholder={fieldItem.placeHolder}
                  label={fieldItem.Fieldlabel} onchange={handleChange}  data-item={fieldItem.fieldApiName}
                  step={fieldItem.step} message-when-step-mismatch={fieldItem.stepMisMatch}
                 value={fieldItem.fieldValue}
                 max={fieldItem.max}
                 message-when-range-overflow={fieldItem.rangeOverflow}
				 message-when-bad-input={fieldItem.badInput}
				min={fieldItem.min}
                message-when-range-underflow={fieldItem.rangeUnderflow}
                  read-only={readOnlyfields}
                ></lightning-input>
                 </template>
                 </template>
               <template if:true={fieldItem.isRadio}>
           <div class="myLabel">
                  <label class="labelClass slds-form-element__label slds-no-flex fontFamilyBold">{fieldItem.Fieldlabel}</label>
                  <div class="slds-grid">
                    <template if:false={readOnlyfields}>
                      <lightning-radio-group name={index}
                     
                      options={options}
                      class="radioButtons"
                      value={fieldItem.fieldValue}
                      onchange={handleChangeRadio}
                      type="radio"></lightning-radio-group></template>
                      <template if:true={readOnlyfields}>
                        <lightning-radio-group name={index}
                       
                        options={options}
                        class="radioButtons"
                        value={fieldItem.fieldValue}
                        onchange={handleChangeRadio} disabled
                        type="radio"></lightning-radio-group></template>
                    </div>
                  </div>
               </template>
                  </div>
                </template>
                </div>
              </template>    
              </div>
        </template>
      </template>
	  </template>
	  <template if:true={storedArr.length}>
	    <template if:true={storedArr}>
        <template for:each={storedArr} for:item="item" for:index="index1">
          <div class="mywrapper slds-m-top_medium" key={item}>
            <h2 class="subHeading">{item.sectioname}</h2>
            <template if:true={item.myFields}>
              <div class="slds-grid slds-wrap">
                <template for:each={item.myFields} for:item="fieldItem">
                  <div class="slds-col slds-grid slds-size_1-of-2 slds-m-top_small" key={fieldItem}>
                 <template if:false={fieldItem.isRadio}>
                 <template if:false={fieldItem.showStep}>
                  <div class="myLabel labelClass">
                    <label for="" class="slds-form-element__label">
                      {fieldItem.Fieldlabel}</label
                    >
                    <div class="slds-grid">
                  <lightning-input
                  type={fieldItem.fieldtype}
                  class={fieldItem.class}
                  variant="label-hidden"
                  field-level-help={fieldItem.fieldhelptext}
                 placeholder={fieldItem.placeHolder}
                  onchange={handleChange} data-item={fieldItem.fieldApiName}
                  value={fieldItem.fieldValue}
                  onblur={handleBlur}
                  max={fieldItem.max}
                  message-when-range-overflow={fieldItem.rangeOverflow}
				  message-when-step-mismatch={fieldItem.stepMisMatch}
				  message-when-bad-input={fieldItem.badInput}
				 min={fieldItem.min}
                 message-when-range-underflow={fieldItem.rangeUnderflow}
                  read-only={readOnlyfields}
                ></lightning-input> 
                <template if:false={readOnlyfields}>
                  <template if:true={fieldItem.isDate}>
                    <label for="" class="slds-form-element__label"></label>
                    <c-c-c-l_-date-format type={fieldItem.fieldtype} field-api-name={fieldItem.fieldApiName} my-date-fields={myDateFields}></c-c-c-l_-date-format>
                  </template>
                  <template if:true={fieldItem.isTime}>
                    <label for="" class="slds-form-element__label"></label>
                    <c-c-c-l_-time-format field-api-name={fieldItem.fieldApiName} my-time-fields={myTimeFields}></c-c-c-l_-time-format>
                  </template>
                </template>
                </div>
              </div>
                  <div class="slds-grid">
                    <template if:true={fieldItem.isTime}>
                      <div
                        class="timezone slds-p-left_large slds-p-horizontal_medium"
                      >
                          <label
                            class="labelClass2 slds-p-bottom_large"
                            for=""
                            >{labels.CCL_TimeZone}</label>
                          <sup>
                            <lightning-helptext
                            content={siteTimeZone}
                          ></lightning-helptext>
                          </sup>
                        
                        <!-- </div> -->
                        <template if:true={fieldItem.timeZone}>
                        <div class="slds-p-bottom_small"></div>
                        <p class="labelClass1">{fieldItem.timeZone}</p>
                      </template>
                      <template if:false={fieldItem.timeZone}>
                        <div class="slds-p-bottom_small"></div>
                        <p class="labelClass1">{siteTimeZoneVal}</p>
                      </template>
                      </div>
                    </template>
                </div>
        </template>
                 <template if:true={fieldItem.showStep}>
               
                  <lightning-input
                  type={fieldItem.fieldtype}
                  class="labelClass"
                  field-level-help={fieldItem.fieldhelptext}
                 placeholder={fieldItem.placeHolder}
                  label={fieldItem.Fieldlabel} onchange={handleChange}  data-item={fieldItem.fieldApiName}
                  step={fieldItem.step} message-when-step-mismatch={fieldItem.stepMisMatch}
                  value={fieldItem.fieldValue}
                  max={fieldItem.max}
                  message-when-range-overflow={fieldItem.rangeOverflow}
				  message-when-bad-input={fieldItem.badInput}
				  min={fieldItem.min}
                  message-when-range-underflow={fieldItem.rangeUnderflow}
                  read-only={readOnlyfields}
                ></lightning-input>
                 </template>
                 </template>
               <template if:true={fieldItem.isRadio}>
       <div class="myLabel">
                  <label class="labelClass slds-form-element__label slds-no-flex fontFamilyBold">{fieldItem.Fieldlabel}</label>
                  <div class="slds-grid">
                    <template if:false={readOnlyfields}>
                      <lightning-radio-group name={index}
                     
                      options={options}
                      class="radioButtons"
                      value={fieldItem.fieldValue}
                      onchange={handleChangeRadio}
                      type="radio"></lightning-radio-group></template>
                      <template if:true={readOnlyfields}>
                        <lightning-radio-group name={index}
                       
                        options={options}
                        class="radioButtons"
                        value={fieldItem.fieldValue}
                        onchange={handleChangeRadio} disabled
                        type="radio"></lightning-radio-group></template>
                    </div>
                  </div>
               </template>
                  </div>
                </template>
                </div>
              </template>    
              </div>
        </template>
      </template>
	  </template>
	  
	  <!--Added as part of 850-->
  <template if:true={isReasonModalOpen}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header no-border">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse slds-var-m-bottom_small" title={labels.CCL_Modal_Close} onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                        class="closeModal"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                </button>
                <div class="wrapper">
                <div class="slds-var-m-bottom_large">
                </div>
                <div class="slds-var-m-bottom_large">
                  <lightning-icon icon-name="action:edit" alternative-text={labels.CCL3_Approved} size="small" class="submitIcon slds-var-m-bottom_medium" title={labels.CCL_Submit}></lightning-icon>
                </div>
                <div class=" slds-var-m-bottom_medium slds-text-title_bold reasonHead"><h2>{labels.CCL_Reason_Modal_Header}</h2></div>
            </div>
            <div class="slds-grid slds-wrap ">
              <div class="slds-align_absolute-center slds-var-m-bottom_medium slds-text-title_bold reasonSubhead"><p>{labels.CCL_Reason_Modal_Subheading}</p></div>
            <div class="slds-col slds-size_1-of-1 slds-var-p-horizontal_medium slds-var-m-top_small labelClass">
                <lightning-textarea type="text" class="textarea Reason" onchange={handleReasonChange} label={labels.CCL_Reason_Modal_Message} field-level-help={labels.CCL_Reason_Modal_Helptext} max-length="255"> 
                </lightning-textarea>
            </div>
            </div>
            </header>
            <div class="slds-modal__footer no-border slds-var-m-bottom_large">
            <div class="slds-align_absolute-center slds-var-m-bottom_large no-border">
                <div class="slds-var-m-right_large"><button class="slds-button slds-var-m-bottom_large slds-button_neutral myButton" title="cancel" onclick={closeModal}>{labels.CCL_Cancel_Button}</button></div>
                <button class="slds-button add-border slds-button_brand slds-var-m-bottom_large reject myButton" title={labels.CCL_Submit} name="submit" onclick={onReasonSubmit}>{labels.CCL_Save_Changes}</button>
            </div>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!--Changes for 850 ends here-->

	  
    </div>
  </template>
