.blue_line {
    border-top: 1px solid #0070d2;
    margin:1rem 0;
}
.subHeading{
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.dateClass{
    width: 15%;
}
.timeClass{
    width: 105px;
}
.form1{
    width:45%;
}
.myLabel {
    width: 65%;
}
.labelClass1{
    font-weight: 700;
    font-size: 0.75rem;
}
.labelClass2{
    font-weight: 900;
    font-size: 0.75rem;
	 font-family: 'VoltaModernDisplay-75Bold';
    color:#000;
}
.slds-modal__content_name{
    color: rgba(3, 1, 1, 0.836);
    font-weight: 400;
}
.slds-modal__content{
    padding-left: 8rem;
    padding-right: 8rem;
    color: black;
    font-weight: 500;
}
.slds-modal__container{
    width:60%;
    height : auto;
    max-height: 180rem;
    min-height: 40rem;
    padding: 3rem 0;
}
.closeModal{
    border:none;
    box-shadow:none;
}
.no-border{
    border:none;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
}
.textarea{
    height: 140px;
    text-align: initial;
}
.reasonHead{
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
    font-weight: 500;
}
.reasonSubhead{
    font-family: 'voltaModernText-55Roman';
    font-size: 14px;
    font-weight: 500;
}
.myButton{
    width:200px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .myButtonSubmit{
    width:300px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .submitIcon {
    background-color:orange;
   }
    .fontFamilyBold{
    font-family: 'VoltaModernDisplay-75Bold';
   }