<template>
    <template if:true={display}>
        <div class="timezone slds-p-left_large">
            <label class="slds-form-element__label labelClass">Last Reported By:</label>
            <p class="lastRepoetedBy">{display}</p>
           </div>
    </template>
</template>