<template>

    <div class="wrapper">
        <template if:true={rtnValue}>
            <span class="heading">{selectProvider}</span>
            <template for:each={rtnValue} for:item="item" for:index='index'>

                <div class="product-tile slds-cards" key={item}>

                    <div class="slds-p-horizontal_small slds-m-around_x-small">
                        <lightning-input required type="radio" id={index} label=" "
                            class="radioButton slds-m-right_x-small" data-item={index} name="Active"
                            onclick={handleChange}></lightning-input>
                        <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small"
                            alternative-text={alttext}>
                        </lightning-icon>
                        <span class="boldClass">
                            {item.Name}
                        </span>
                        <div class="accountName marginLeft">
                            {item.Account.Name}
                        </div>
                        <div class="role marginLeft">
                            {item.Role}
                        </div>
                    </div>


                </div>
            </template>
        </template>
    </div>
</template>