.THIS .blockSection {
    padding:10px 5px;
}

.THIS .rightMargin {
    margin-right:5px;
    align-self:center; 
    margin-left: auto
}
.THIS .page-warning{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
}
.THIS .slds-theme_warning .slds-icon{
    fill: #fff;
}
.THIS .uiTooltip.tooltip-trigger {
    display: inline;
    position: relative;
}
.THIS .slds-popover_tooltip{
    position: absolute;
    /* top: -33%; */
    left: 10%;
    bottom: 91%;
}
.THIS .slds-popover_tooltip.consentDate{
    position: absolute;
    /* top: -33%; */
    left: 26%;
    bottom: 91%;
}

.THIS .img {
    background: url({!$Resource.SLDS + '/assets/icons/action-sprite/svg/symbols.svg#close'}) no-repeat;
    width:30px;
    height:30px;
}

.THIS .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 97%;
    top: 25%;
}

.THIS .addressTable td div  {
    word-break: break-word;
    white-space: pre-wrap;
}

.THIS .wipeOut {
   color: #FFFFFF;
}

.THIS .reftableheader {
    background-color: #596d8e;
}

.THIS .true.cbBlock {
    display:none;
}
.THIS .true.tickBlock {
    display:block;
}
.THIS .false.cbBlock {
    display:block;
}
.THIS .false.tickBlock {
    display:none;
}

.THIS .actionIcon{
    width:3%;
}
.THIS .error{
    border-color: rgb(194, 57, 52);
}