<template>
	<div class="wrapper slds-p-around_x-small">
		<div class="slds-grid slds-gutters">
			<div class="slds-col slds-size_2-of-3">
				<span>
					<div class="slds-text-heading_large slds-m-bottom_medium ">
						<h1>{label.CCL_Order_Details}</h1>
					</div>
				</span>
			</div>
			<!--
			<div class="slds-col slds-size_1-of-3">
				<span>
					 <c-c-c-l_-flow_-header show-cancel-btn-top={showCancelThisOrderBtn}></c-c-c-l_-flow_-header>
				</span>
			</div>
		-->
		</div>
		<div if:true={errorOnUpdate} style="width:600px;" class="slds-text-color_error"> {errorOnUpdate} </div>
		<h4 class="slds-m-top_medium">{label.CCL_Treatment_Information}</h4>
		<hr class="blueLine"></hr>
		<!--Ordering Hospital strat-->
		<div class="slds-grid slds-grid_pull-padded-medium slds-m-top_medium">
			<div class="slds-col slds-p-horizontal_medium">
				<span>
					<div class="slds-form-element">
						<div class="slds-text-heading_small secInnerhead">{label.CCL_OrderingHospital}</div>
						<div class="slds-form-element__control">
							<div class="slds-text-title slds-m-top--xx-small secInnertitle slds-cell-wrap">{hospital}</div>
						</div>
					</div>
				</span>
			</div>
			<div class="slds-col slds-p-horizontal_medium">
				<span>
					<div class="slds-form-element">
						<div class="slds-text-heading_small secInnerhead">{label.CCL_TherapyName}</div>
						<div class="slds-form-element__control">
							<div class="slds-text-title slds-m-top--xx-small secInnertitle">{therapy}</div>
						</div>
					</div>
				</span>
			</div>
		</div>
		<!--Ordering Hospital end-->
		<div class="slds-m-top_large"></div>
		<!--Patient Details start Editable-->
		<template if:true={isEditablePatient}>  
			<div class="">
				<div class="slds-grid slds-wrap slds-grid--pull-padded">
					<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
						<h4 class="slds-m-top_large">{label.CCL_Patient_Details}</h4>
					</div>
					<!--<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12 slds-text-align_right slds-m-top_large">
						<button class="slds-button slds-button_outline-brand button-text editbutton" onclick={editPatientDetails}>Edit</button>
					</div> -->
				</div>
				<hr class="blueLine"></hr>
				<template if:true={isClinical}>
					<div>
						<br/>
						<h3>{label.CCL_Treatment_Protocal_Subject_ID}</h3>
						<br>
						<h6>
						<p>{label.CCL_Treatment_Protocal_Subject_ID_Info}</p>
						</h6>
					</div>
					<br/>
					<div class="demo-only demo-only--sizing slds-grid slds-wrap">
						<div class="slds-grid slds-gutters">
							<div class="slds-col">
								<span>
									<div class="slds-form-element">
										<label class="slds-form-element__label secInnerhead">{label.CCL_Protocol_ID}</label>
										<div class="slds-form-element__control">
											<output class="customoutput">
											<span>{protocolNumber}</span></output>
										</div>
									</div>
								</span>
							</div>
							<div class="customdivclass">
								<span class="customDash">
									<lightning-icon class="customicon" icon-name="utility:dash" alternative-text="" size="x-small"></lightning-icon>
								</span>
							</div>
							<div class="slds-col">
								<span>
									<div class="slds-form-element">
										<label class="slds-form-element__label secInnerhead">{label.CCL_4_Digit_Center_Number}</label>
										<lightning-helptext content={label.CCL_4_Digit_Center_Number_Helptext}></lightning-helptext>
										<div class="slds-form-element__control">
											<output class="customoutput">
											<span>{centerNumber}</span></output>
										</div>
							</div>
								</span>
							</div>
							<div class="customdivclass">
								<span class="customDash">
									<lightning-icon class="customicon" icon-name="utility:dash" alternative-text="" size="x-small"></lightning-icon>
								</span>
							</div>
							<div class="slds-col">
								<span>
									<div class="slds-form-element">
										<b> <label class="slds-form-element__label">{label.CCL_3_Digit_Subject_Number}</label></b>
										<lightning-helptext content={label.CCL_3_Digit_Subject_Number_Helptext}></lightning-helptext>
										<div class="slds-form-element__control">
											<lightning-input  data-id="subjectNumberId" type="text" label="abc" message-when-value-missing={label.CCL_Please_fill_Subject_Number} onchange={handleChange} maxlength="3" minlength="3" message-when-too-short={label.CCL_SubjectNumber_Lengthvalidation} variant="label-hidden" value={subjectNumber} pattern="[0-9]*" message-when-pattern-mismatch={label.CCL_Please_enter_numbers_only} class="sbjnum validValue inputText">
											</lightning-input>
										</div>
									</div>
								</span>
							</div>
						</div>
					</div>
				</template> 
				<template if:true={isCommercial}>
					<template if:true={hospPatientoptflow}>
						<br> 
						<div class="demo-only demo-only--sizing slds-grid slds-wrap">
							<div class="slds-m-right_large">
								<label class="slds-form-element__label secInnerhead">{label.CCL_Hospital_Patient_ID}</label>
								<lightning-input type="text" data-id="PatientId" label="abc" placeholder="" maxlength="20" onchange={handleChange} value={hospitalPatientId} variant="label-hidden" class="validValue inputText readonlyHP slds-p-top_xx-small slds-m-bottom_small validationClass" required message-when-value-missing={label.CCL_Hospital_Patient_ID_Validation} > </lightning-input>
							</div>
						</div>
					</template>
				</template>
				<div class="demo-only demo-only--sizing slds-grid slds-wrap">
					<div class="slds-grid slds-gutters">
						<template if:true={showFirstName}>
						<div class="slds-col">
							<span>
								<div class="slds-form-element">
									<b><label class="slds-form-element__label secInnerhead" for="input-01">{label.CCL_First_Name}</label></b> 
									<div class="slds-form-element__control">
										<lightning-input name="First Name"  data-id="firstnameid" label={label.CCL_First_Name}  placeholder={label.CCL_First_Name} pattern='^[A-Za-z]+$' message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} variant="label-hidden" onchange={handleChange} value={CCL_firstname}  class="validValue inputText firstName-css readonlyFN slds-p-top_xx-small slds-m-bottom_small">
										</lightning-input>
									</div>
								</div>
							</span>
						</div>
					</template>
					<template if:true={showMidName}>
						<div class="slds-col">
							<span>
								<div class="slds-form-element">
									<b> <label class="slds-form-element__label secInnerhead" for="input-02">{label.CCL_Middle_Name}</label></b>
									<div class="slds-form-element__control">
										<lightning-input name="Midlle Initial"  data-id="middleinitialid" maxlength="1" label={label.CCL_Middle_Name} pattern='^[A-Za-z]+$' message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} variant="label-hidden" onchange={handleChange} value={CCL_middleinitial} class="inputText middleinitial readonlyMN slds-p-top_xx-small slds-m-bottom_small">
										</lightning-input>
									</div>
								</div>
							</span>
						</div>
					</template>
					<template if:true={showLastName}>
						<div class="slds-col">
							<span>
								<div class="slds-form-element">
									<b> <label class="slds-form-element__label secInnerhead" for="input-02">{label.CCL_Last_Name}</label></b> 
									<div class="slds-form-element__control">
										<lightning-input name="Last Name" data-id="lastnameid" label={label.CCL_Last_Name} placeholder={label.CCL_Last_Name} pattern='^[A-Za-z]+$' message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} variant="label-hidden" onchange={handleChange} value={CCL_lastname}  class="validValue inputText readonlyLN slds-p-top_xx-small slds-m-bottom_small">
										</lightning-input>
									</div>
								</div>
							</span>
						</div>
					</template>
                        <template if:true={showSuffix}>
						<div class="slds-col">
							<span>
								<div class="slds-form-element">
									<b> <label class="slds-form-element__label secInnerhead" for="input-02">{label.CCL_Suffix}</label></b>
									<div class="slds-form-element__icon"></div>
										<div class="slds-form-element__control inputText">
											<lightning-combobox 
												name="progress" label="Status" data-id="suffixid" value={CCL_suffix} placeholder="" options={newArr}
												onchange={handleChange} variant="label-hidden" class="validValue middleinitial readonlySuf slds-p-top_xx-small"></lightning-combobox>
									</div>
								</div>
							</span>
						</div>
					</template>
					<template if:true={showInitials}>
						<div class="slds-col">
							<span>
								<div class="slds-form-element">
									<b> <label class="slds-form-element__label secInnerhead" for="input-02">{label.CCL_Patient_Initials}</label></b>
									<div class="slds-form-element__icon"></div>
										<div class="slds-form-element__control inputText">
											<lightning-input 
												name="Initial" label="Initial" data-id="patientinit"  maxlength = "2" value={CCL_Patient_Initials} placeholder="" pattern='^[A-Za-z]+$' message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} 
												 onchange={handleChange} variant="label-hidden" class="validValue inputText firstName-css slds-p-top_xx-small slds-m-bottom_small"></lightning-input>
									</div>
								</div>
							</span>
						</div>
					</template>
					</div>
				</div>
				<template if:true={showDOBLabel}>
				<label class="slds-form-element__label secInnerhead">{label.CCL_Date_fof_Birth}</label>
			  </template>
				<div>
					<div class="demo-only demo-only--sizing slds-grid slds-wrap">
						<template if:true={showDyOfBirth}>
						<div class="slds-m-right_large">
							<div class="slds-form-element__control">
								<div class="daymonth">
									<lightning-combobox
										name="Date" label="Date"  value={date} placeholder={label.CCL_Date_Placeholder} options={dateoptions}
										onchange={dateHandler} variant="label-hidden" class="date datemonth validValue inputText readonlydate slds-p-top_xx-small slds-m-bottom_small"  message-when-value-missing={label.CCL_Date_Validation_Message} required></lightning-combobox>
								</div>
							</div>
						</div>
					</template>
						<template if:true={showMnthOfBrth}>
						<div class="slds-m-right_large">
							<div class="slds-form-element__control">
								<div class="daymonth">
									<lightning-combobox
										name="Month" label="Month"  value={month} placeholder={label.CCL_Month_Placeholder} options={monthoptions}
										onchange={monthHandler} variant="label-hidden" class="month datemonth validValue inputText readonlymonth slds-p-top_xx-small slds-m-bottom_small" message-when-value-missing={label.CCL_Month_Validation_Message} required></lightning-combobox>
								</div>
							</div>
						</div>
					</template>
					<template if:true={showYrOfBrth}>
						<div class="slds-m-right_large">
							<lightning-input class="dateyear inputyear validation  validValue inputText readonlyyear slds-p-top_xx-small slds-m-bottom_small" type="text" label="abc" placeholder={label.CCL_Year_Placeholder} pattern="[0-9]*" message-when-pattern-mismatch={label.CCL_Year_Mismatch_Error_Message} message-when-too-short={label.CCL_Year_Format_Error_Message} variant="label-hidden" value={year} onchange={yearHandler} message-when-value-missing={label.CCL_Year_Missing_Message} min-length=4 max-length=4 required></lightning-input>
						</div>
					</template>
						<div>
							<div if:true={dobvalidmonth} class="custvalidation">
								{leaperror}
							</div>
							<div if:true={dobvalidyear} class="custvalidation">
								{nonleaperror}
							</div>
							<div if:true={dobvalid} class="custvalidation">
								{dateerror}
							</div>
							<div if:true={futurevalid} class="custvalidation">
								{futureerror}
							</div>
							<div if:true={agevalid} class="custvalidation">
								{ageval}
							</div>
						</div>
					</div>
				</div>
				<b><label class="slds-form-element__label slds-m-top_xx-small secInnerhead" >{label.CCL_Patient_Weight_PRF}</label></b> 
				<div class="slds-grid slds-gutters">
					<div class="demo-only demo-only--sizing slds-grid slds-wrap">
						<div class="slds-size_1-of-5">
							<div class="slds-m-right_none slds-text-align_center slds-m-left_x-small slds-m-bottom_x-small slds-m-top_xx-small">
								<lightning-input type="number"  class ="validateweight inputText readonlyKG" name="patientWeight" data-id="patientweightid" label="abc" placeholder="" message-when-step-mismatch={label.CCL_Patient_Weight_Error_Message} variant="label-hidden" step=".1" value={CCL_patientweight} onchange={handleChange}> </lightning-input>
							</div>
						</div>
						<div class="slds-size_1-of-8"> 
							<div class="slds-m-left_none slds-text-align_center slds-m-left_x-small slds-m-bottom_x-small slds-m-top_xx-small">
								<lightning-input type="text" disabled  name="kg" label="abc" placeholder={label.CCL_Weight_Unit_In_kg_Placeholder}  variant="label-hidden"></lightning-input>
							</div>
						</div>
					</div>
				</div>
				<div if:true={weightValidationError} class="slds-text-color_error"> {label.CCL_Patient_Weight_Threshold} </div>
				<template if:true={isCommercial}>
					<div class="slds-grid slds-grid_vertical">
						<div class="slds-col">  
							<label class="slds-form-element__label secInnerhead"
								for="form-element-01"><b>{label.CCL_Prescriber}</b>
							</label>
						</div>
						<div class="slds-col">
							<select class="slds-select prescribercls customError slds-p-top_xx-small slds-m-bottom_small" style="width: 40%;" onchange={handlePrescriber} required>
								<template if:true={recordLength}>
									<option value="">{label.CCL_Please_Select}</option>
								</template>
								<template for:each={prescriberList} for:item="rec">
									<option key={rec.Id}  class="uiInputSelectOption" value={rec.Name}>{rec.Name}</option>
								</template>
							</select>
						</div>
					</div>
					<div if:true={prescriberError} class="slds-text-color_error"> {label.CCL_Mandatory_Field} </div>
				</template>
				<template if:true={researchsample}>
					<template if:true={isClinical}>
						<div class="demo-only demo-only--sizing slds-grid slds-wrap slds-m-top_medium">
							<div class="slds-col">
								<span>
									<div>
										<b> <label class="slds-form-element__label">{label.CCL_Patient_consent}</label> </b>
										<lightning-radio-group class="radiobtn inputText" variant="label-hidden" data-id="patientconsentid" label={label.CCL_Patient_consent} onchange={handleChange} options={options} value={patientconsent} type="radio" ></lightning-radio-group>
									</div>
								</span>
							</div>
						</div>
					</template>
				</template>
				<template if:true={isClinical}>
					<div class="slds-grid slds-grid_vertical slds-m-top_medium">
						<div class="slds-col">  
							<label class="slds-form-element__label secInnerhead"
								for="form-element-01"><b>{label.CCL_Principal_Investigator}</b>
							</label>
						</div>
						<div class="slds-col">
							<select class="slds-select investigatorCls customError" style="width: 40%;" onchange={handlePrescriber} required>
								<template if:true={recordLength}>
									<option value="">{label.CCL_Please_Select}</option>
								</template>
								<template for:each={prescriberList} for:item="rec">
									<option key={rec.Id}  class="uiInputSelectOption" value={rec.Name}>{rec.Name} </option>
								</template>
							</select>
						</div>
					</div>
					<div if:true={prescriberError} class="slds-text-color_error"> {label.CCL_Mandatory_Field} </div>
				</template>
				<template if:true={filesUploaded}>
					<label class="slds-form-element__label secInnerhead"
					for="text-input-id-1">{label.cCL_Patient_Consents}
				</label>
				<template for:each={filesUploaded} for:item="item" for:index="index">
					<div class="slds-size_1-of-1 slds-m-top_small"  key={item.Id}>
							<a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
					</div>
				</template> 
			</template>
			</div>
		</template>  
		<!--Patient Details ends Editable -->

		<!--Patient Details strat Readonly -->
		<template if:true={isReadOnlyPatient}>
			<div class="slds-grid slds-wrap slds-grid--pull-padded">
				<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
					<h4 class="slds-m-top_large">{label.CCL_Patient_Details}</h4>
				</div>
			</div>
			<hr class="blueLine"></hr>
			<div class="slds-grid slds-wrap slds-grid--pull-padded slds-m-top_medium">
				<div class="slds-col--padded slds-size--1-of-1">
					<template if:true={isCommercial}>
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Hospital_Patient_ID}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">{hospitalPatientId}</div>
					</template>
					<template if:true={isClinical}>
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Treatment_Protocal_Subject_ID}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">{protocolNumber}_{centerNumber}_{subjectNumber}</div>
					</template> 
				</div>
				<div class="slds-grid slds-m-top_medium" style="width: 100%">
					<template if:true={showFirstName}>
					<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_First_Name}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_firstname}</div>
					</div>
				</template>
				<template if:true={showMidName}>
					<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--3-of-12">
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Middle_Name}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_middleinitial}</div>
					</div>
				</template>
				<template if:true={showLastName}>
					<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Last_Name}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_lastname}</div>
					</div>
				</template>
				<template if:true={showSuffix}>
					<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--3-of-12">
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Suffix}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_suffix}</div>
					</div>
				</template>
				<template if:true={showInitials}>
					<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12">
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Patient_Initials}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">{CCL_Patient_Initials}</div>
					</div>
				</template>
				</div>
				
				<div class="slds-grid slds-m-top_medium" style="width: 100%">
					<div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
						<template if:true={showDOBLabel}>
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Date_fof_Birth}</label></template>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle">
							<template if:true={showDyOfBirth}>
							{CCL_inpdate} &nbsp;
						</template>
						<template if:false={showDyOfBirth}>
							{label.CCL_dd_Lwc} &nbsp;
						</template>
						<template if:true={showMnthOfBrth}>
							{CCL_inpmonth} &nbsp;
							</template>
							<template if:false={showMnthOfBrth}>
							{label.CCL_mmm_Lwc} &nbsp;
								</template>
							<template if:true={showYrOfBrth}>
							{year} &nbsp;
						</template>
						<template if:false={showYrOfBrth}>
							{label.CCL_yyyy_Lwc} &nbsp;
						</template>
						</div>
					</div>
					<div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
						<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Patient_Weight_PRF}</label>
						<div class="slds-text-title slds-m-top--xx-small secInnertitle validateweight">{CCL_patientweight}</div>
					</div>
				</div> 
				<template if:true={isClinical}>
					<div class="slds-grid slds-m-top_medium" style="width: 100%">
						<div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--12-of-12">
							<label class="slds-form-element__label secInnerhead">{label.CCL_Patient_consent}</label>
							<lightning-radio-group name="radioGroupDisabled"
								options={radioOptions}
								value={setRadioBtnYes}
								type="radio"
								class="customRadioBtns"
								disabled>
							</lightning-radio-group>
						</div>
					</div>
				</template>
				<div class="slds-grid slds-m-top_medium" style="width: 100%">
					<template if:true={isCommercial}>
						<div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--12-of-12">
							<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Prescriber}</label>
							<div class="slds-text-title slds-m-top--xx-small secInnertitle prescribercls">{prescriberName}</div>
						</div>
					</template>
					<template if:true={isClinical}>
						<div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--12-of-12">
							<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Principal_Investigator}</label>
							<div class="slds-text-title slds-m-top--xx-small secInnertitle">{prescriberName}</div>
						</div>
					</template>
					<template if:true={filesUploaded}>
						<label class="slds-form-element__label secInnerhead"
						for="text-input-id-1">{label.cCL_Patient_Consents}
					</label>
					<template for:each={filesUploaded} for:item="item" for:index="index">
						<div class="slds-size_1-of-1 slds-m-top_small"  key={item.Id}>
								<a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
						</div>
					</template> 
				</template>
				</div>  
			</div>
		</template>
		<!-- Patient Details end Readonly -->
		<template if:true={isCommercial}>
			<!--Payment Details start Editable -->
			<template if:true={isEditablePayment}>  
				<div class="">
					<div class="slds-grid slds-wrap slds-grid--pull-padded">
						<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
							<h4 class="slds-m-top_large">{label.CCL_Payment_Details}</h4>
						</div>
					</div>
					<hr class="blueLine"></hr>
					<template if:true={showValidation}>
						<div class="slds-text-color_error">{label.CCL_Purchase_Order_Error}</div>
					</template>
					<template if:true={hospitalOptInFlow}>
						<div class="slds-p-top_medium">
							<span class="purchaseOrderText">{hospitalPurchaseOrderText}</span>
						</div>
					</template>
					<template if:true={hospitalOptInFlow}>
						<div>
							<div class="slds-form-element slds-m-top_medium">
							<div class="slds-text-heading_small secInnerhead"><label>{label.CCL_Hospital_Purchase_Order_Number}</label>
								</div>
								<div class="slds-form-element__control">
									<div class="slds-text-title slds-m-top--xx-small secInnertitle">
										<lightning-input type="text" name="hospitalPurchaseOrder" class="slds-size--3-of-6 slds-p-top_x-small inputText" maxlength="50"  value={purchaseorder} variant="label-hidden" onchange={onChangePaymentDetails} placeholder={label.CCL_Optional_Placeholder_Lwc} ></lightning-input>
									</div>
								</div>
							</div>
						</div>
					</template>
					<template if:true={veteransApplicableFlow}>
						<div class="slds-p-top_x-large text-chkbox slds-form-element__label">
							<lightning-input type="checkbox" name="vetaranCheckbox" label={label.CCL_VA_Purchase_Order} class="chk" onchange={onChangePaymentDetails} value={checkb}> </lightning-input>
						</div>
					</template> 

					<template if:true={countryOfResidenceFlag}>
						<template if:true={countryOfResidencePicklistValues}>
						
							<div class="slds-p-top_medium slds-size--3-of-6">
									<lightning-combobox
										name="CountryOfResidence" dropdown-alignment="bottom-left" label={label.CCL_Country_Of_Residence_Label}  value={countryOfResidenceUserValue} placeholder={label.CCL_PleaseSelect}  options={countryOfResidencePicklistValues}
										onchange={onChangeCountryOfResidenceValue} ></lightning-combobox>
								
							</div>
						
					</template>
				</template>
					<template if:true={billingPartyFlag}>
						<template if:true={billingPartyPicklistValues}>
						
							<div class="slds-p-top_medium slds-size--3-of-6">
									<lightning-combobox
										name="BillingParty" dropdown-alignment="bottom-left" label={label.CCL_Billing_Party_Label}  value={billingPartyUserValue} placeholder={label.CCL_PleaseSelect}  options={billingPartyPicklistValues}
										onchange={onChangeBillingPartyValue}   ></lightning-combobox>
								
							
						</div>
					</template>
				</template>

				</div>
			</template>
			<!--Payment Details ends Editable -->
			<!--Payment Details starts Readonly -->
			<template if:true={isReadOnlyPayment}>
				<div class="slds-grid slds-wrap slds-grid--pull-padded">
					<div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
						<h4 class="slds-m-top_large">{label.CCL_Payment_Details}</h4>
					</div>
				</div>
				<hr class="blueLine"></hr>
				<div class="slds-grid slds-wrap slds-grid--pull-padded slds-m-top_medium">
					<template if:true={hospitalOptInFlow}>
						<div class="slds-p-around_medium">
							<span class="purchaseOrderText">{hospitalPurchaseOrderText}</span>
						</div>
						<div class="slds-col--padded slds-size--1-of-1">
							<label class="slds-form-element__label secInnerhead" for="text-input-id-1">{label.CCL_Hospital_Purchase_Order_Number}</label>
							<div if:true={hpoReadonly} class="slds-text-title slds-m-top--xx-small secInnertitle">{purchaseorder}</div>
						</div>
					</template>
					<template if:true={veteransApplicableFlow}>
						<div class="slds-col--padded slds-size--1-of-1 slds-m-top_large">
							<div class="slds-text-title slds-m-top--xx-small secInnertitle">
								<div class="slds-form-element">
									<div class="slds-form-element__control">
										<div class="slds-checkbox">
											<input readonly type="checkbox" name="options" id="ccl_payment_chkbox" value="checkbox-unique-id-73" checked={checkb} />
											<label class="slds-checkbox__label" for="checkbox-unique-id-73">
											<span class="slds-checkbox_faux"></span>
											<span class="slds-form-element__label checkboxLable">{label.CCL_VA_Purchase_Order}</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</template>
					<template if:true={countryOfResidenceFlag}>
						<div class="slds-col--padded slds-size--1-of-1 slds-m-top_medium">
							<label class="slds-form-element__label secInnerhead">{label.CCL_Country_Of_Residence_Label}</label>
							<div class="slds-text-title slds-m-top--xx-small secInnertitle">{countryOfResidenceUserValueLable}
							</div>
						</div>
					</template>
					<template if:true={billingPartyFlag}>
						<div class="slds-col--padded slds-size--1-of-1 slds-m-top_medium">
							<label class="slds-form-element__label secInnerhead">{label.CCL_Billing_Party_Label}</label>
							<div class="slds-text-title slds-m-top--xx-small secInnertitle">{billingPartyUserValueLable}</div>
						</div>
					</template>

				</div>
			</template>  
			<!--Payment Details ends Readonly -->
		</template>	
		<template if:true={loaded}>
			<div class="slds-spinner_container">
				<div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
					<span class="slds-assistive-text">{label.CCL_Loading}</span>
					<div class="slds-spinner__dot-a"></div>
					<div class="slds-spinner__dot-b"></div>
				</div>
			</div>
		</template>
		<hr class="greyline"> 
        <div class="slds-m-top_medium button-text">
            <c-c-c-l_-flow_-footer show-save-change={showSaveChangesBtn} show-cancel-change={showCancelChangesBtn}
                cssitem1={var2} cssitem={var2} show-submit-disable={custOpsLogin} onsavechanges={onUpdateOrder} oncancelchanges={cancelThisOrder}>
			</c-c-c-l_-flow_-footer>
		</div>
	</div>
</template>
