.blueline {
    border-top: 1px solid #0070d2;
    margin: 1rem 0;
}
.h1View {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.h2View{
    font-size: 18px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.labelClass{
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #3E3E3C;
}
.myClassofReason{
    font-size: 12px; 
    color: #3E3E3C;
}
.colorBlue{
    color: #0460A9 !important;
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.myInput abbr {
    display: none !important;
    width: 30%;
}
.slds-button_icon-border {
    color: #0070d2 !important;
}
.product-tile-button.slds-button_icon-bare, .slds-button--icon-bare {
    line-height: 1;
    vertical-align: middle;
    color: dodgerblue !important;
}
.myIcon.slds-button.slds-button_icon.slds-button_icon-border{
    color: dodgerblue;
}
.myIcon {
border: none;
}
.myIcon svg{
    fill : dodgerblue;
}
.iconClass {
    color: dodgerblue;
}
svg.slds-icon.slds-icon_small {
    fill: blue;
}
.footerCmp {
    margin-top: 6rem;
}
.helptextPosition{
    float: right;
}
.fieldHelpText{
    vertical-align: bottom;
}
.valueDisplay{
    font-size: 16px;
    font-family: 'voltaModernText-55Roman';
}
.slds-form-element__control.slds-grow .slds-input{
    font-size: 16px;
    font-family: 'voltaModernText-55Roman';
}
.dateClass{
    width: 42px;
}
.timeClass{
    width: 95px;
}
.width109 {
    width: 109%;
}
.width30 {
    width: 135px;
}
.width22{
    width: 22%;
}
.paddingDate {
    padding-top:25px !important;
}
.slds-input[readonly]{
    font-size: inherit;
}
.h2viewRows{
    font-size: 13px;
    font-family: 'voltaModernText-55Roman';
}
.slds-modal__content_name{
    color: rgba(3, 1, 1, 0.836);
    font-weight: 400;
}
.slds-modal__content{
    padding-left: 12rem;
    padding-right: 12rem;
    color: black;
    font-weight: 500;
}
.slds-modal__container{
    width:70%;
    height : auto;
    max-height: 180rem;
    min-height: 30rem;
    padding: 3rem 0;
}
.closeModal{
    border:none;
    box-shadow:none;
}
.no-border{
    border:none;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
}
.textarea{
    height: 140px;
    text-align: initial;
}
.reasonHead{
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
    font-weight: 500;
}
.reasonSubhead{
    font-family: 'voltaModernText-55Roman';
    font-size: 14px;
    font-weight: 500;
}
.myButton{
    width:200px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .myButtonSubmit{
    width:300px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .volField {
     width:75px;
 }
 .submitIcon {
    background-color:orange;
   }
   .marginBottom{
       margin-bottom: 20px;
   }
    td {
       min-width:105px;
   }
 .width13{
       width:13rem;
   }