<template>
	<!-- Added as part of 2096-->
  <template if:true={showCollectionCreateErr}>
    <div class="slds-error slds-theme_error slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon>
      {labels.CCL_Collection_Create_Err}
    </div>
  </template>
  <!-- Added as part of 2096-->
  <template if:true={prfWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text={labels.CCL_Warning}
      ></lightning-icon>
      {labels.CCL_PRF_Resubmission_Approval}
    </div>
  </template>
  <h1 class="h1View"><b>{labels.CCL_Req_Collection_Detls}</b></h1>
  <hr class='blueline'>
  <div class="mywrapper slds-var-m-top_medium">
    <lightning-record-edit-form record-id={recordId} object-api-name="CCL_Apheresis_Data_Form__c"> 
    
    <div class="slds-grid slds-wrap valueDisplay">
      
      <div class="slds-col slds-size_1-of-2 slds-var-p-horizontal_medium slds-var-m-top_small valueDisplay">
        <p class='labelClass'>{labels.CCL_coll_Center}</p>
          <template if:true={addressList}>
            <p class="valueDisplay"> <c-c-c-l_-display-site-name address-list={addressList} site-id={collectionId} ></c-c-c-l_-display-site-name></p>
            <!-- 2450 -->
            <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={collectionId}></c-c-c-l_-display-address></p>
          </template>
      </div>
      <div class="slds-col slds-size_1-of-2 slds-var-p-horizontal_medium slds-var-m-top_small" >
        <p class='labelClass'>{labels.CCL_pickup_Center}</p>
          <template if:true={addressList}>
            <p class="valueDisplay"> <c-c-c-l_-display-site-name address-list={addressList} site-id={pickupId} ></c-c-c-l_-display-site-name></p>
            <!-- 2450 -->
            <p class="addressText">  <c-c-c-l_-display-address address-list={addressList} site-name={pickupId}></c-c-c-l_-display-address></p>
          </template>
      </div>
      <div class="slds-col slds-size_1-of-2 slds-var-p-horizontal_medium slds-var-m-top_small">
        <p class='labelClass'>{labels.CCL_aph_sys}</p>
        <lightning-combobox field-name="CCL_Apheresis_System_Used__c" name={labels.CCL_aph_sys} class="adfSysUsed validate valueDisplay" required  variant="label-hidden" options={newArr} onchange={handleSystemChange}  value={systemUsed}> 
        </lightning-combobox>
      </div>
      <div class="slds-col slds-size_1-of-2 slds-var-p-horizontal_medium slds-var-m-top_small">
        <p class='labelClass'>{labels.CCL_other} &nbsp; &nbsp;
        <lightning-helptext  content={labels.CCL_Apheresis_Other_Field_Error} class='fieldHelpText'></lightning-helptext></p>
        <lightning-input field-name="CCL_Other__c" value={otherValue} name={labels.CCL_other} variant="label-hidden" pattern='^[A-Za-z]+$' message-when-pattern-mismatch={labels.CCL_Pattern_Validation_error_message} class="other validate valueDisplay" max-length=15 mess onchange={handleOtherChange}>  
        </lightning-input>
        <lightning-messages name="errorMessage" class="errorMessage"></lightning-messages>
      </div>  
      <div class="slds-col slds-size_1-of-1 slds-var-p-horizontal_medium slds-var-m-top_small">
        <p class='labelClass cmmnt'>{labels.CCL_Aph_Comments}  &nbsp; &nbsp;
        <lightning-helptext content={labels.CCL_255_Char_Limit} class='fieldHelpText'></lightning-helptext> </p>
      <lightning-textarea  class="commentsField valueDisplay" field-name="CCL_Collection_Cryopreservation_Comments__c"  value={commentValue} onchange={handleCommentsChange}   variant="label-hidden"   max-length="255">
    </lightning-textarea>
      </div>
    </div>
</lightning-record-edit-form> <br/>
  
  <h2 class="h2View"><b>{labels.CCL_Aph_Collections}</b></h2>
  <br/>
  
<div class="spinner">
        <template if:true={isLoading}>
             <lightning-spinner alternative-text={labels.CCL_Loading} variant="brand" size="large">
             </lightning-spinner>
        </template>
    </div>
    <div class=" container-fluid">
     
    
        <div class="container-fluid ">
<div class='slds-scrollable slds-scrollable_x'>        
            <table class="slds-table slds-table_bordered slds-table_cell-buffer"> 
            <thead>
                    <tr >
                        <th scope="col" class="colorBlue">
                            <div class="slds-truncate" >{labels.CCL_Collection}</div>
                        </th> 
                        <th scope="col" class="colorBlue">
                          <!-- <div class="slds-grid width30"> -->
                            <div class="slds-truncate slds-cell-wrap" >{apheresisIdLabel}
                              <sup><template if:true={isApheresisId}>
                                <lightning-helptext content={labels.CCL_AphId_Err_Msg}></lightning-helptext>
                                </template>
                                <template if:true={isDin}>
                                  <lightning-helptext content={labels.CCL_DIN_Err_Msg}></lightning-helptext>
                                  </template>   </sup>
                            </div>
                          <!-- </div> -->
                        </th>
                        <th scope="col" class="colorBlue" >
                            <div class="slds-truncate slds-cell-wrap " >
                              <lightning-helptext class='helptextPosition' content={labels.volOfBloodHelpText}></lightning-helptext>
                              {labels.CCL_Vol} &nbsp;
                            
                          </div>
                        </th>
                        <th scope="col" class="colorBlue" colspan="">
                            <div class="slds-truncate slds-cell-wrap width13" >{labels.CCL_coll_Date}</div>
                        </th>
                        <th scope="col" class="colorBlue width22" colspan="1">
                          <div class="slds-truncate slds-cell-wrap width13" >{labels.CCL_coll_Time}</div>
                      </th>
                      <th scope="col" class="colorBlue" colspan="">
                        <div class="" > Time Zone &nbsp;
                          <sup><lightning-helptext  content={siteTimeZone}></lightning-helptext></sup> 
                          
                        </div>
                    </th>
                        <th scope="col">
                            <div class="slds-truncate" title={labels.CCL_Action}></div>
                        </th>
                    </tr>
                </thead>   
                <tbody class='h2viewRows'>      
                    <template for:each={collectionList} for:item="collection" for:index="indx">
                        <tr key={collection.key} id={collection.key}> 
                            <td> <c-c-c-l_-table_-index  index={indx}></c-c-c-l_-table_-index>
                            </td>                                                  
                            <td>
                              <div class="slds-grid width30">
                              <template if:true={isApheresisId}>
                                <lightning-input data-id={indx} class="myInput idField validate"  value={collection.CCL_Apheresis_ID__c} onchange={handleIdChange} type="text" name="id" onblur={chckOnBlur} maxlength="25"></lightning-input>
                              </template>
                              <template if:true={isSec}>
                                <lightning-input data-id={indx} class="myInput idField validate"  value={collection.CCL_SEC__c} onchange={handleSecChange} type="text" name="sec" maxlength="40" minlength="40" ></lightning-input>
                              </template>
                              <template if:true={isDin}>
                                <lightning-input data-id={indx} class="myInput idField validate"  value={collection.CCL_DIN__c} onchange={handleDinChange} onblur={chckOnBlur} type="text" name="din" maxlength="13" minlength="13" pattern="([A-z0-9À-ž\s]){13,13}" message-when-pattern-mismatch={labels.CCL_DIN_Err_Msg}></lightning-input>
                              </template>
                            </div>
                            </td>
                            <td>
                                <lightning-input data-id={indx}  value={collection.CCL_Volume_of_blood_processed__c} onchange={handleVolChange} type="number" step="0.1"
                                  message-when-step-mismatch="Enter number up to 2 digits before decimal and 1 digit after decimal." onblur={chckOnBlur} class="volField validate" placeholder="XX.X" max="99.9" message-when-range-overflow={labels.CCL_VolofBlood_Err_msg} min="1" message-when-range-underflow={labels.CCL_VolofBlood_Err_msg}></lightning-input>                        
                            </td>
                            <td>
                              <div class="slds-grid width109">
                                <lightning-input data-id={indx} class="dateField dateClass validate" onchange={handleDateChange} type='date' name="EndDate"></lightning-input>
                                <c-c-c-l_-date-format type="date"  field-api-name={indx} my-date-fields={myDateFields} in-collection='true'></c-c-c-l_-date-format>
                              </div>
                              </td>
                            
                            
                            <td>
                              <div class="slds-grid width109">
                                <lightning-input data-id={indx} class="timeField timeClass validate reqCollTimeStyle" onchange={handleTimeChange} onblur={handleBlur} type="time" name="time" message-when-bad-input={badTimeInput}></lightning-input>
                                <c-c-c-l_-time-format type="date" field-api-name={indx} my-time-fields={myTimeFields} in-collection='true'></c-c-c-l_-time-format>
                              </div>
                             
                            </td>
                           
                          <td>
                            <lightning-input data-id={indx}  value={timeZoneVal} class=""  type="text" read-only=true></lightning-input>
                        </td>
                            <td style="vertical-align: bottom">
                              <template if:true = {renderdelete}>
                              <lightning-icon icon-name="utility:close" data-id={indx}      
                              alternative-text={labels.CCL_Delete}    
                              class="iconClass hideBtn deleteRowButton"
                              size="small"
                              variant=""
                              onclick={removeCollection} 
                              title={labels.CCL_Delete}></lightning-icon> </template>
                              
                                
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table></div>
            <br></br>
            <div class="slds-float_left slds-var-p-bottom_small">
                <button class="slds-button  slds-button_outline-brand slds-var-p-horizontal_large" disabled={disabledbtn} onclick={addCollection}>{labels.CCL_Add_Another_Collection}</button><br/>
            </div>
            
        </div>
    </div>
  </div>

  <!--Added as part of 850-->
  <template if:true={isReasonModalOpen}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header no-border">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse slds-var-m-bottom_small" title={labels.CCL_Modal_Close} onclick={closeReasonModal}>
                    <lightning-icon icon-name="utility:close"
                        class="closeModal"
                        alternative-text={labels.CCL_Modal_Close}
                        variant="inverse"
                        size="small" ></lightning-icon>
                </button>
                <div class="wrapper">
                <div class="slds-var-m-bottom_large">
                </div>
                <div class="slds-var-m-bottom_large">
                  <lightning-icon icon-name="action:edit" alternative-text={labels.CCL3_Approved} size="small" class="submitIcon slds-var-m-bottom_medium" title={labels.CCL_Submit}></lightning-icon>
                </div>
                <div class=" slds-var-m-bottom_medium slds-text-title_bold reasonHead"><h2>{labels.CCL_Reason_Modal_Header}</h2></div>
            </div>
            <div class="slds-grid slds-wrap ">
              <div class="slds-align_absolute-center slds-var-m-bottom_medium slds-text-title_bold reasonSubhead"><p>{labels.CCL_Reason_Modal_Subheading}</p></div>
            <div class="slds-col slds-size_1-of-1 slds-var-p-horizontal_medium slds-var-m-top_small labelClass">
                <lightning-textarea type="text" class="textarea Reason" onchange={handleReasonChange} label={labels.CCL_Reason_Modal_Message} field-level-help={labels.CCL_Reason_Modal_Helptext} max-length="500"> 
                </lightning-textarea>
            </div>
            </div>
            </header>
            <div class="slds-modal__footer no-border slds-var-m-bottom_large">
            <div class="slds-align_absolute-center slds-var-m-bottom_large no-border">
                <div class="slds-var-m-right_large"><button class="slds-button slds-var-m-bottom_large slds-button_neutral myButton" title={labels.CCL_Cancel_Button} onclick={closeReasonModal}>{labels.CCL_Back}</button></div>
                <button class="slds-button add-border slds-button_brand slds-var-m-bottom_large reject myButton" title={labels.CCL_Submit} name="submit" onclick={onReasonSubmit}>{labels.CCL_Back}</button>
            </div>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!--Changes for 850 ends here-->


  <div class="slds-var-m-top_medium footerCmp">
      <!-- 2260 -->
      <template if:true={isADFViewerInternal}>
        <c-c-c-l_-flow_-footer show-next='true'   show-prev='true' show-save-grey='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
        onsubmit={handleSubmit}>

        </c-c-c-l_-flow_-footer>
      </template>
      <template if:false={isADFViewerInternal}>
        <c-c-c-l_-flow_-footer show-next='true' show-save='true'  show-prev='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
        onsubmit={handleSubmit}>

        </c-c-c-l_-flow_-footer>
      </template>
</div>
</template>