<template>
  <div class="slds-wizard chevronPadding" role="navigation">
    <ul class="slds-wizard__list">
      <template for:each={stepName} for:item="item" for:index="index">
        <li
          key={item}
          class="slds-wizard__item slds-is-active slds-wizard__marker"
          data-item={index}
        >
          <lightning-icon
            icon-name="action:check"
            size="xx-small"
            class="myIcon mynonvisible"
            data-item={index}
            alternative-text="Indicates approval"
          >
          </lightning-icon>
          <p
            class="slds-wizard__label slds-text-title-caps slds-truncate slds-progress__item_content slds-grid slds-grid_align-spread"
            title="Navigation"
            data-item={index}
            >{item.MasterLabel}
          </p>
        </li>
        <li class="progressBar" key={item}>
          <div class="divider grey stepOne" data-item={index}></div>
        </li>
      </template>
    </ul>
  </div>
</template>