.slds-wizard__list {
    display: block;
}
.width25 {
    height: 25%;
}
.width50 {
    height: 50%;
}

.slds-wizard__progress{
    width: 0.25rem;
    min-height: 200px;
    left: 10px;

}
.slds-wizard__progress-bar{
    position: absolute;
    /* left: 9px; */
    width: 3px;

}
.slds-is-current {
    font-weight: bold;
    font-weight: 900;
	 font-family: 'VoltaModernDisplay-75Bold';
}


.slds-wizard__item {
/* width: 70%;
text-align: left; */
/* margin: 2.75rem; */
display: flex;
}
.slds-wizard__label {
    display: inline-block;
    margin-top: -3px;
    padding-left: 15px;
}
.wizard-text-align {
    margin-top: -6px;
    padding-left: 10px;
}
.slds-wizard__marker {
    width: 8px;
    height: 8px;
    margin-left: 8px;
}
.slds-truncate {
    max-width: 98%;
    overflow: visible;
	font-weight:600;
}
.slds-wizard__progress-bar {
    position: absolute;
    left: 55px;
    top: 15px;
}
.divider {
    height: 60px;
    width: 2px;
    margin-left: 11px;
    transition: all 800ms ease;
}
.grey {
    background-color: rgba(201, 201, 201, 1);
}
.blue{
    background: rgba(5, 106, 194, 0.863);
}
.slds-is-active {
    background:none;
    margin-left: 0px !important;
}
.myIcon {
 background-color: #5ba7e9;
 padding: 4px;
}
.slds-icon-action-check {
    background-color:  #5ba7e9;
}
.mynonvisible {
    visibility: hidden;
}
.isCurrent {
    background: #fff;
    border-color: #0076de;
    border: 4px solid #0076de;
    width: 16px;
    height: 16px;
    margin-left: 4px;
}
.slds-icon_xx-small {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #0076de;
    padding: 1px;
}
.myIcon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 1px;
    margin-left: 5px;
    margin-top: 0px;
}
.chevronPadding{
    padding-left: 70px;
    padding-top: 20px;
}