<template>
    <div class="wrapper">
       
        <c-p-s-p_custom-look-up onselecteditemid={getselectedDetails} tableclass="tableclass" object="HealthCloudGA__CarePlanTemplate__c" searchtext="Care plan"  >
        </c-p-s-p_custom-look-up >
</div>
</template>