
@font-face {
    font-family: 'VoltaModernDisplay-75Bold';
   src: url(/resource/CCL_Custom_CSS/VoltaModernDisplay-75Bold.otf);
 }
 @font-face {
    font-family: 'VoltaModernDisplay-65Medium';
   src: url(/resource/CCL_Custom_CSS/VoltaModernDisplay-65Medium.otf);
 }
@font-face {
    font-family: 'VoltaModernDisplay-45Light';
   src: url(/resource/CCL_Custom_CSS/VoltaModernDisplay-45Light.otf);
 }
 @font-face {
    font-family: 'VoltaModernText-55Roman';
   src: url(/resource/CCL_Custom_CSS/VoltaModernText-55Roman.otf);
 }
 @font-face {
    font-family: 'VoltaModernText-75Bold';
   src: url(/resource/CCL_Custom_CSS/VoltaModernText-75Bold.otf);
 }

.novartisBlue {
    color:#0460a9;
}
.colorBlue {
    color:#0070d2;
}
.slds-form-element__label {
    color:black !important;
    font-weight:bold;
}

.labelClass label.slds-form-element__label{
    font-family: VoltaModernDisplay-75Bold;
    font-size: 12px;
}
.labelClass .slds-form-element__help{
    min-width: 26rem;
}
.labelClass.queryComp .slds-form-element__help{
    min-width: 32rem;
}
.labelClass.myInputs.dateClass .slds-form-element__help{
     min-width: 40rem;
}
.myClass.timeClass .slds-form-element__help{
     min-width: 12rem;
}
.powerfield .slds-form-element__help{
    margin-left:-2rem;
}
.myClass.dateClass .slds-form-element__help{
     min-width: 12rem;
}
.slds-accordion__summary-action span{
    font-family: 'VoltaModernDisplay-75Bold';
    font-size:18px;
}
.queryComp .slds-form-element__help{
   font-size:11px;
}
.reqCollTimeStyle .slds-dropdown-trigger_click .slds-dropdown{
    width: auto;
    position: fixed !important;
}

.progressBar a.slds-path__link {
    vertical-align: middle;
        pointer-events: none;
    cursor: default;
}

.progressBar .slds-path__nav:before, .slds-path__nav:after {
    height: 39px;
}
.progressBar .slds-path__item:after {
     height: 48px;
    transform: skew(-36deg) translate3d(0, 0, 0);
}
.progressBar .slds-path__item:before {
     height: 48px;
    transform: skew(36deg) translate3d(0, 0, 0);
}

.progressBar .slds-path__nav .slds-is-current:before ,.progressBar .slds-path__nav .slds-is-current:after{
    background-color: #c1d7ea !important;
    border:0px;
    background-image: #c1d7ea !important;
}
.progressBar .slds-path__nav .slds-is-current:first-child:before {
    top: 1px;
}
.progressBar .slds-path__nav .slds-is-current:first-child {
    border-radius: unset;
    left:0px
}
.progressBar .slds-path__nav .slds-is-incomplete:first-child {
    border-radius: unset;
     left:0px
}
.progressBar .slds-path__nav .slds-is-complete:first-child {
    border-radius: unset;
     left:0px
}
.progressBar .slds-path__nav .slds-is-current {
    background: #c1d7ea;
}
.progressBar .slds-path__nav .slds-is-complete:hover:before,.progressBar .slds-path__nav .slds-is-complete:hover:after {
    background: #0460a9 !important;
}
.progressBar .slds-path__nav .slds-is-active::before,.progressBar .slds-path__nav .slds-is-active::after {
    left: -19px;
    right: -16px;
}
.progressBar .slds-path__nav .slds-is-incomplete::before,.progressBar .slds-path__nav .slds-is-incomplete::after {
       left: -19px;
    right: -16px;
}
.progressBar .slds-path__nav .slds-is-active:first-child::before {
    right: -16px !important;
}
.progressBar .slds-path__nav .slds-is-active:first-child::after {
    right: -16px !important;
}
.progressBar .slds-path__item:last-child::before,.progressBar .slds-path__item:last-child::after {
    right: -16px;
    left: -19px;
}
.deleteRowButton .slds-icon-text-default {
    fill: #0460a9;
}
.fileUploadBorderRed .slds-file-selector__dropzone{
    border: 2px solid rgb(194, 57, 52);
}
