.redBorder{
    border: 2px solid rgb(194, 57, 52);
}
.modalHeader {
    padding-left: 20%;
}
.buttonSize{
    height: 50px;
    width: 186px;
}
.paddingButton {
    padding-left: 5%;
}
.modalHeader {
    padding-left: 20%;
}
.modalHeaderButtons{
    padding-left: 173px;
}
.timeZonePadding {
    padding-top: 6px;
}
.regular_button_Grey {

    font-size: 14px;

    font-family: 'VoltaModernText-55Roman';

    color: #ffffff;

    height: 50px;

    border-radius: 4px;

    background-color:#a4a6a8;

    border:1px solid  #a4a6a8 ;

    width: 186px;

  }
