.slds-form-element{
  
    margin: 0px 10px;
}
.filterWrapper{
    display: flex;
}
.slds-button_brand{
  
        height: max-content;
        margin-top: 21px;
    
}
.slds-table thead th {
font-size: 11px !important;
font-weight: bolder;
}