<template>

  <div class="filterWrapper slds-m-bottom_medium">


    <lightning-input variant="label-hidden" class="lookupinput slds-p-top_medium" placeholder={serviceName}
      value={proserviceVal} onchange={handleInputChangechange}>
    </lightning-input>
    <lightning-input type="checkbox" id="active-checkbox" label={serviceActive}
      class="radioButton slds-p-top_large slds-m-right_x-small" value={activeBox} onchange={handlechangeCheckbox}
      checked={activeBox} name="Active"></lightning-input>
    <template if:true={sercicetypepicklistval.data}>
      <lightning-combobox name="progress" label={serviceType} value={servicetype} placeholder="-None selected-"
        options={sercicetypepicklistval.data.values} onchange={onselectservice}>
      </lightning-combobox>
    </template>

    <button class="slds-button slds-button_brand" onclick={filterTable}>{filter}</button>
    <button class="slds-button slds-button_brand slds-m-left_small" onclick={clearFilter}>{clear}</button>
  </div>
  <lightning-card class="posAbsolute" title="Service List" icon-name="custom:custom63"> </lightning-card>
  <table aria-multiselectable="true"
    class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid">
    <thead>
      <tr class="slds-line-height_reset">
        <!--   Column1 for checkbox  -->
        <th scope="col" style="width:3.25rem;height:30px;">

        </th>

        <!--Column 2 for Service record name-->

        <th class="" style="letter-spacing: .0625rem;">

          <div class="slds-truncate"><span title="name">{serviceName}</span>
            <span class="slds-icon_container slds-icon-utility-arrowdown"></span>
            <a data-id="Name" onclick={sortThisColumn} title="name"> <span title="sort">
                <lightning-icon icon-name={sortArrow} size="xx-small" alternative-text="Sort"></lightning-icon>
              </span> </a>
          </div>
        </th>
        <!--Column 5 for Product Service Family-->
        <th class="" scope="col" style="letter-spacing: .0625rem;">
          <div class="slds-truncate" title="Care Program Product">{cppheader}
            <a title="familyName" onclick={sortThisColumn}> <span title="sort">
                <lightning-icon icon-name={sortArrow} alternative-text="Sort" size="xx-small"></lightning-icon>
              </span> </a>
          </div>
        </th>
        <!--column 3 for Care Program Product Active checkbox  -->
        <th class="" scope="col" style="letter-spacing: .0625rem;">
          <div class="slds-truncate" title="Active">{serviceActive}</div>
        </th>

        <!--Column 4 for Product/Service Active checkbox-->
        <th class="" scope="col" style="letter-spacing: .0625rem;">
          <div class="slds-truncate" title="Default">{serviceDefault}</div>
        </th>



        <!--Column 6 for Product Service Type-->
        <th class="" scope="col" style="letter-spacing: .0625rem;">
          <div class="slds-truncate"><span title="Service Type">{serviceType}</span>
            <a onclick={sortThisColumn} title="serviceType"> <span title="sort">
                <lightning-icon icon-name={sortArrow} alternative-text="Sort" size="xx-small"></lightning-icon>
              </span></a>
          </div>
        </th>

        <!--Column 7 for changing care plan template lookup -->
        <th class="" scope="col" style="letter-spacing: .0625rem;">
          <div class="slds-truncate"><span title="Care Plan Template">{carePlanTemplate}</span>
            <a onclick={sortThisColumn} title="carePlanTemplate">
              <lightning-icon icon-name={sortArrow} alternative-text="Sort" size="xx-small"></lightning-icon>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <template for:each={servicedata} for:item="row" for:index="index">
        <c-p-s-p_-service-table-child rec={row} indexvar={index} key={row.Id} servicedata={servicedata}
          onselected={handleUpdateProduct}>
        </c-p-s-p_-service-table-child>
      </template>
    </tbody>
  </table>
  <div class={SaveStyle} style="margin-top:2%;margin-left:40%;">

    <lightning-button variant="brand" label={save} title="Cancel" onclick={saveChanges} class="slds-m-left_x-small">
    </lightning-button>
    <lightning-button label={cancel} title="Cancel" onclick={hideSave} class="slds-m-left_x-small"></lightning-button>


  </div>
  <template if:true={showSpinner}>
    <div class="slds-spinner_container">
      <div class="slds-spinner--brand  slds-spinner slds-spinner--large slds-is-relative" role="alert">
        <span class="slds-assistive-text">Loading</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
  </template>

</template>