<template>
    <div class="slds-float_left slds-m-top_large paddingbottom">
             <h1>{label.CCL_Finished_Product_Details}</h1> 
            </div>
    <div class="container-fluid slds-m-top_medium slds-p-right_xx-large ">
         <div class=" ">
         <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-m-top_medium">
           <thead>
             <tr>
                <th scope="col" class="colorblue slds-size_2-of-8">
                    <div class=" colorblue" >{label.CCL_Dose}</div>
                  </th>
                  <th scope="col" class="colorblue slds-size_2-of-8">
                    <div class=" colorblue" > {label.CCL_Expiration_Date} </div>
                  </th>
                  <th scope="col" class="colorblue slds-size_2-of-8">
                    <div class=" colorblue">{label.CCL_Product_Disposition_Status}</div>
                  </th>
               <th scope="col" class="colorblue slds-size_2-of-8">
                 <div class=" colorblue">{label.CCL_Actual_Date_of_Infusion}</div>
               </th>
                <th scope="col" class="colorblue slds-size_2-of-8">
                 <div class=" colorblue" >{label.CCL_Number_of_Bags_Infused}</div>
               </th>               
               <th scope="col" class="colorblue slds-size_2-of-5 padding">
                 <div class=" colorblue" >{label.CCL_Infusion_Status}</div>
               </th>
             </tr>
           </thead>
           <tbody>           
           <template for:each={manufacturingList} for:item="bag" for:index="indx">
               <tr key={bag.key} id={bag.key}>
               <td>
                  <div class="slds-grid slds-size_2-of-8 tablevalue">
                      {bag.Name}
                  </div> 
                </td>
                <td>
                  <div class="slds-grid slds-size_2-of-5 tablevalue">
                      {bag.CCL_Expiration_Date_Text__c}
                  </div>  
                </td>
                <td>
                  <div class="slds-grid slds-size_2-of-8 tablevalue">
                    {bag.deposition}                   
                  </div> 
                </td> 
               <td>
                 <div class="slds-grid slds-size_2-of-8 tablevalue">
                     {bag.CCL_Actual_Infusion_Date_Time_Text__c}
                 </div>  
               </td>
               <td>
                 <div class="slds-grid slds-size_2-of-8 tablevalue">
                     {bag.CCL_Number_of_bags_Infused__c}
                 </div>  
               </td>               
               <td>
                 <div class="slds-grid slds-size_2-of-5 padding tablevalue">
                     {bag.CCL_Infusion_Status__c}
                 </div>  
               </td>
             
               </tr>
             </template>
              
           </tbody>
        </table>
       </div>   
     </div> 
 </template>