<template>
    <div if:false={prfviewer} class="slds-clearfix">
        <div if:false={prfapprover} class="slds-clearfix">
        <div class="slds-float_right">
            <div class="slds-p-top_large">
              <lightning-button label={label.CCL_Request_New_Order} onclick={page} variant="brand"
               class="slds-m-top_medium" style="top: 500px; left: 1048px; width: 900px; height: 500px;">    
              </lightning-button>
            </div>
        </div>
    </div>
</div>
</template>