.radioButton{
    display: inline-flex;
}
.marginLeft{
    
    margin-left: 5.0rem;
}
.section2{
    float: right;  
    margin-right: 12%; 
}
.nameHeader{
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
}