<template>
    <div class="wrapper slds-m-bottom_large">
        <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small" alternative-text={alttext}>
        </lightning-icon>
        <span class="section nameHeader"> {productName} </span>

        <div class=""><span class="section"> {presFrequency}:
                {prescriptionfrequency} </span></div>
        <div class=""><span class="section"> {unitheader}: {units} </span> </div>
        <div class=""><span class="section"> {maximumdosage}: {maxDosage} </span> </div>
        <div class=""><span class="section"> {maxdosagefre}: {maxDosageFrequency} </span> </div>
    </div>
</template>