<template>
  <div class="wrapper">
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_10-of-12">

        <h1 class="mainHeading">
          {label.adfShipmntHeader}
        </h1>
        <h2 class="subHeading slds-var-m-top_large">{label.shipmnetInfoHeader}</h2>
        <hr class="blueLine">
        <div class="slds-float_right">
          <a class="colorBlue" onclick={navigateToViewHome}>{label.viewOrder}</a>
          <template if:true={isCustomOpOrInbound}>
            <lightning-button label="Reschedule Apheresis Pickup" class="slds-var-p-left_medium" varinat="Brand"></lightning-button>
          </template>
        
        </div>
        <div class="slds-grid slds-wrap">
          <template if:true={mainArr}>
            <template for:each={mainArr} for:item="item">
              <div class={item.class} key={item}>
                <template if:false={isShipper}>
                  <div class={item.outerClass}>
                    <template if:false={item.isTime}>
                      <label for="" class="slds-form-element__label"
                      >{item.Fieldlabel}
                    </label>
                    </template>
                   
                    <div class="slds-grid">
                      <template if:false={item.isTime}>
                        <lightning-input
                        type={item.fieldType}
                        variant="label-hidden"
                        class={item.innerClass}
                        data-item={item.fieldApiName}
                        read-only="true"
                        disabled={disabled}
                        value={item.fieldValue}
                      >
                      </lightning-input>
                        </template>
                        <template if:true={item.isTime}>
                          <lightning-input
                          type={item.fieldType}
                          label={item.Fieldlabel}
                          class={item.innerClass}
                          data-item={item.fieldApiName}
                          read-only="true"
                          value={item.fieldValue}
                        >
                        </lightning-input>
                          </template>
                     
                      <div class="slds-var-p-top_large">
                        <template if:true={item.isTime}>
                          <c-c-c-l_-time-format
                            field-api-name={item.fieldApiName}
                            my-time-fields={myTimeFields}
                            in-ship-ment="true"
                          ></c-c-c-l_-time-format>
                        </template>
                      </div>
                      <template if:true={item.isDate}>
                        <c-c-c-l_-date-format
                          type={item.fieldType}
                          field-api-name={item.fieldApiName}
                          my-date-fields={myDateFields}
                          in-shipment="true"
                        ></c-c-c-l_-date-format>
                      </template>
                     
                    </div>
                  </div>
                </template>
                <template if:true={item.fieldAddress}>
                  <p class="addressText">
                    {item.fieldAddress.street}<br />
                    {item.fieldAddress.city},{item.fieldAddress.state},{item.fieldAddress.postalCode}<br />
                    {item.fieldAddress.country}
                  </p>
                </template>
                <div class="form2"></div>
                <template if:true={item.isTime}>
                  <div class="slds-grid">
                    <div class="timezone slds-var-m-left_large">
                      <label
                        class="slds-form-element__label labelClass timeZoneLabel"
                        for=""
                        >Time Zone
                        <sup>
                          <lightning-helptext
                            content={siteTimeZone}
                          ></lightning-helptext></sup
                      ></label>
                      <p class="timeLabel">{timeZone}</p>
                    </div>
                    <template if:true={hasFieldvalues}>
                      <c-c-c-l_-last-reported-by
                        has-field-values={hasFieldvalues}
                        field-api-name={item.fieldApiName}
                        username={userName}
                      ></c-c-c-l_-last-reported-by>
                    </template>
                  </div>
                </template>
              </div>
            </template>
          </template>
        </div>
        <div class="slds-grid slds-wrap">
          <h2 class="subHeading slds-var-m-top_large">{label.dearTrackingHeader}</h2>
          <template if:true={dewarArr}>
            <template for:each={dewarArr} for:item="item">
              <div class={item.class} key={item}>
                <template if:false={item.isUrl}>
                  <template if:true={item.iswaybill}>
                    <label class="slds-form-element__label labelClass"
                      >{item.Fieldlabel}</label
                    >
                    <lightning-input
                      type={item.fieldType}
                      variant="label-hidden"
                      class="labelClass"
                      onchange={handleChange}
                      data-item={item.fieldApiName}
                      read-only={item.isEditable}
                      value={item.fieldValue}
                    >
                    </lightning-input>
                  </template>
                  <template if:false={item.iswaybill}>
                    <template if:true={item.fieldValue}>
                      <label class="slds-form-element__label labelClass"
                        >{item.Fieldlabel}</label
                      >
                      <lightning-input
                        type={item.fieldType}
                        variant="label-hidden"
                        class="labelClass"
                        onchange={handleChange}
                        data-item={item.fieldApiName}
                        read-only={item.isEditable}
                        value={item.fieldValue}
                      >
                      </lightning-input>
                    </template>
                  </template>
                </template>
                <template if:true={item.isUrl}>
                  <template if:true={item.fieldValue}>
                    <label class="slds-form-element__label labelClass"
                      >{item.Fieldlabel}</label
                    >
  
                    <p>
                      <lightning-formatted-url
                        class="urlClass"
                        value={item.fieldValue}
                        target="_blank"
                      ></lightning-formatted-url>
                    </p>
                  </template>
                </template>
              </div>
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>
  </template>