@font-face {
    font-family: 'VoltaModernDisplay-75Bold';
   src: url(/resource/CCL_Custom_CSS/VoltaModernDisplay-75Bold.otf);
 }
.mainHeading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.5rem 0;
    margin-top: 0.5rem;
}
.slds-col {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.75rem;
}
.addressText {
    line-height: normal;
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
}

.width40 {
    width: 36%;
}
.urlClass{
    text-decoration: underline;
}
.width50 {
    width: 62%;
}
.subHeading {
    font-size: 18px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.labelClass {
    font-weight: 900;
    font-family: 'VoltaModernText-55Roman';
}
.slds-form-element__label {
    font-family: 'VoltaModernDisplay-75Bold';
}

.lastRepoetedBy,.timeLabel {
    font-family: 'VoltaModernText-55Roman';
    line-height: normal;
}
.width80 {
    width: 80%;
}
.timeLabel {
    padding-top: 5px;
}
.dateClass{
    width: 17%;
}
.timeClass{
    width: 105px;
}
.date-inputs {
    min-width: 66%;
}
.labelIputs {
    min-width: 45%;
}
.timezone {
    width: 65%;
}
.timeZoneLabel{
    width: 120%;
}
.statusClass .labelClass {
    min-width: 205px;
}
.wrapper{
    background:#fff;
}