h1 {
    font-size: 26px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.labelClass{
    font-weight: 900;
}

.fileupload {
    
    border-style: dotted;
}
.padding {
        padding: 4rem;
        padding-right: 25rem;
        padding-left: 25rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border: 2px dashed #d4d4d4;
        border-radius: .25rem;
}
.fieldvalue {
    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
   
}

.uploadMsg {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    padding-bottom: 15px;
}
.slds-modal__footer.no-border.slds-m-bottom_large {
    padding: 0px;
    margin: 0px;
    border:none
}
  .width100{
      width:100px;
  }
header.slds-modal__header,.head {
    border:none !important;
}
header {
    border:none !important;
}
.iconClass{
    cursor: pointer;
}

