<template>
   <div class="slds-float_left slds-p-right_xx-large slds-m-top_large">
      <h1>{label.CCL_Additional_Documentation}</h1>
      <br/>
   </div>
   <div class="container-fluid slds-p-top_small slds-m-top_large">
      <div class=" ">
      </div>
   </div>
   <div class="slds-p-top_x-large slds-m-top_xx-large">
      <div>
      <p class="uploadMsg">
         {labels.CCL_Document_Upload_Msg}
      </p>
   </div>
   <template if:true={viewUpload}>
      <div>
         <lightning-file-upload
            disabled={isFileUpload}
            label=""
            name="fileUploader"
            accept={acceptedFormats}
            record-id={adfDocId}
            class=""
            onuploadfinished={handleUploadFinished}
            multiple>
         </lightning-file-upload>

      </div>
   </template>
      
      <div class="slds-m-top_xx-large">
         <template for:each={filesUploaded} for:item="item" for:index="index">
            <div class="slds-size_1-of-1 slds-m-top_small fieldvalue"  key={item.Id}>
               <lightning-icon icon-name="utility:file" size="small" alternative-text="Audio file" title="Audio"></lightning-icon>
               <a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
                  <template if:false={isCustOP}>
				  <lightning-icon icon-name="utility:close"  alternative-text={item.ContentDocumentId} class="iconClass hideBtn" size="x-small" variant="error" onclick={removeFile} title="Delete" name="openConfirmation"></lightning-icon>
					</template>
            </div>
         </template>
      </div>
   </div>
   <c-c-c-l_-delete_-file_-confirmation title={labels.CCL_DeleteConfirmation_Title} message={labels.CCL_DeleteConfirmation_Message} confirm-label={labels.CCL_DeleteConfirmation_Ok} cancel-label={labels.CCL_DeleteConfirmation_Cancel} visible={isDialogVisible} original-message={originalMessage} name="confirmModal" onclick={removeFile}>
   </c-c-c-l_-delete_-file_-confirmation>

   <template if:true={patientConsentError}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
          <div class="slds-modal__container">
              <header class="slds-modal__header no-border">
                  <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleOk}>
                      <lightning-icon icon-name="utility:close"
                          class="closeModal"
                          alternative-text="close"
                          variant="inverse"
                          size="small" ></lightning-icon>
                      <span class="slds-assistive-text">Delete</span>
                  </button>
                  <div class="wrapper">
                    <div class="slds-m-bottom_large">
                    </div>
                    <div class="slds-m-bottom_large">
                  <lightning-icon icon-name="utility:warning" alternative-text="Warning!" variant="warning"></lightning-icon>
                  </div>
                </div>
                <div class="slds-modal__content_name slds-align_absolute-center">To replace the Patient Consent Document, please upload the new Patient Consent file and notify the Novartis Customer Support team.</div>
                </header>
              <div class="slds-modal__footer no-border slds-m-bottom_large">
                <div class="slds-align_absolute-center slds-m-bottom_large no-border">
                  
                  <button class="slds-button add-border slds-button_brand slds-m-bottom_large width100" name="confirm" onclick={handleOk} >  OK </button>
              </div>
          </div>
          </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>