<template>
   <div class="slds-float_left slds-m-top_large paddingBottom">
            <h1> {label.CCL_Manufacturing_Details}</h1> 
           </div>
   <div class="container-fluid slds-m-top_medium slds-p-right_xx-large ">
        <div class=" ">
        <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-m-top_medium">
          <thead>
            <tr>
              <th scope="col" class="colorBlue slds-size_2-of-8">
                <div class=" colorBlue">{label.CCL_Manufacturing_Run}</div>
              </th>
			   <th scope="col" class="colorBlue slds-size_2-of-8">
                <div class=" colorBlue">{label.CCl_Manufacturing_Status}</div>
              </th>
              <th scope="col" class="colorBlue slds-size_2-of-8">
                <div class=" colorBlue">
                  {label.CCL_Manufacturing_Chevron} 
                    <div>{label.CCL_Start_Date}</div>
                </div>
              </th>
              <th scope="col" class="colorBlue slds-size_2-of-8">
                <div class=" colorBlue">{label.CCL_Manufacturing_Chevron}
                    <div>{label.CCL_End_Date}</div>
                </div>
              </th>
              <th scope="col" class="colorBlue slds-size_2-of-5 paddingRight">
                <div class=" colorBlue">{label.CCL_QA_Testing}
                    <div>{label.CCL_Completion_Date}</div>
                </div>
              </th>
              <th scope="col" class="colorBlue slds-size_2-of-5 padding">
                <div class=" colorBlue">{label.CCL_Exception}</div>
              </th>
            </tr>
          </thead>
          <tbody>
		  <template for:each={manufacturingList} for:item="bag" for:index="indx">
              <tr key={bag.key} id={bag.key}>
                <td class="power cryoHead center">
                  
                  <c-c-c-l_-table_-index index={indx}></c-c-c-l_-table_-index>
                </td>
              <td>
                <div class="slds-grid slds-size_2-of-8 tableValue">
                    {bag.CCL_Manufacturing_Status__c}
                </div>  
              </td>
              <td>
                <lightning-icon if:true={displayWarning} class="slds-m-right_x-small" icon-name="utility:warning" alternative-text="Warning!" variant="warning" size="small"></lightning-icon>
                <div class="slds-show--inline-block slds-grid slds-size_2-of-8 tableValue">
                    {bag.CCL_Manufacturing_Start_Date_Time_Text__c}
                </div>  
              </td>
              <td>
                <div class="slds-grid slds-size_2-of-8 tableValue">
                    {bag.CCL_Manufacturing_End_Date_Time_Text__c}
                </div>  
              </td>
              <td>
                <div class="slds-grid slds-size_2-of-5 tableValue paddingRight">
                    {bag.CCL_QA_Testing_Completion_Date_Text__c}
                </div>  
              </td>
              <td>
                <div class="slds-grid slds-size_2-of-5 padding tableValue">
                    {bag.CCL_Manufacturing_Exceptions__c}
                </div>  
              </td>
            
			  </tr>
			</template>
             
          </tbody>
       </table>
      </div>   
    </div>   
</template>