.paddingBottom{
    padding-bottom: 2rem;
}
.paddingRight{
    padding-right: 3rem;
}
.tableValue {
    font-size: 13px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
   
}
.colorBlue{
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #0070d2;
}
h1 {
    font-family: 'VoltaModernDisplay-75Bold';
      font-size: 28px;
      color: #080707;
    }