<template>
    <div class="slds-float_left slds-p-right_xx-large slds-m-top_large paddingbottom">
        <h1>  {label.CCL_Finished_Product_Shipment_Detailss}</h1>
       </div>
        <div class="container-fluid slds-m-top_medium slds-p-right_xx-large ">
             <div class=" ">
             <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-m-top_medium">
               <thead>
                 <tr>
                   <th scope="col" class="colorblue slds-size_2-of-8">
                     <div class=" colorblue" >{label.CCL_Shipment_Number}</div>
                   </th>
                    <th scope="col" class="colorblue slds-size_2-of-8">
                     <div class=" colorblue">{label.CCL_Status}</div>
                   </th>
                   <th scope="col" class="colorblue slds-size_2-of-8">
                     <div class=" colorblue">
                        {label.CCL_Ship_To_Locations}
                     </div>
                   </th>
                   <th scope="col" class="colorblue slds-size_2-of-8">
                     <div class=" colorblue">
                            {label.CCL_Actual_Product}
                        <div>{label.CCL_Shipment_Date_Time}</div>
                     </div>
                   </th>
                   <th scope="col" class="colorblue slds-size_2-of-5">
                     <div class=" colorblue">
                        {label.CCL_Estimated_Product_Delivery}
                        <div>{label.CCL_Date_Time}</div>
                     </div>
                   </th>
                   <th scope="col" class="colorblue slds-size_2-of-5 padding">
                     <div class=" colorblue" >{label.CCL_Actual_Product_Delivery}
                        <div>{label.CCL_Date_Time}</div>
                    </div>
                   </th>
                 </tr>
               </thead>
               <tbody>
                 
               <template for:each={FPShipmentList} for:item="shipmentList" for:index="indx">
                   <tr key={shipmentList.key} id={shipmentList.key}>
                     <td class="tablevalue center">
                        {shipmentList.Name}
                     </td>
                   <td>
                     <div class="slds-grid slds-size_2-of-8 tablevalue">
                         {shipmentList.CCL_Status__c}
                     </div>
                   </td>
                   <td>
                     <div class="slds-grid slds-size_2-of-8 tablevalue">
                        <div>
                           <c-c-c-l_-display-site-name address-list={addressList} site-id={shipmentList.CCL_Ship_to_Location__c} ></c-c-c-l_-display-site-name>
                        <c-c-c-l_-display-address address-list={addressList} site-name={shipmentList.CCL_Ship_to_Location__c}></c-c-c-l_-display-address>                   
                          </div>
                        
                      
                     </div>
                   </td>
                   <td>
                     <div class="slds-grid slds-size_2-of-8 tablevalue">
                         {shipmentList.CCL_Actual_Shipment_Date_Time_Text__c}
                     </div>
                   </td>
                   <td>
                     <lightning-icon if:true={displayWarning} class="slds-m-right_x-small" icon-name="utility:warning" alternative-text="Warning!" variant="warning" size="small"></lightning-icon>
                     <div class="slds-show--inline-block slds-grid slds-size_2-of-5 tablevalue">
                         {shipmentList.CCL_Estimated_FP_Delivery_Date_Time_Text__c}
                     </div>
                   </td>
                   <td>
                     <div class="slds-grid slds-size_2-of-5 padding tablevalue">
                         {shipmentList.CCL_Actual_FP_Delivery_Date_Time_Text__c}
                     </div>
                   </td>
                  </tr>
                 </template>
               
               </tbody>
            </table>
           </div>
         </div>
         <br>
         <template for:each={getStatusList} for:item="rec" for:index="indx">
          <article class="slds-p-top_large" key={rec.Id}>

             <div class="statuscolor slds-p-right_xx-large slds-m-top_large">
            <h4> <c-c-c-l_-f-p-table_-index index={indx}></c-c-c-l_-f-p-table_-index></h4>
             </div>
           <div class="slds-card__body slds-m-top_large">
                <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_fixed-layout" role="grid">
                   <thead>
                      <tr  class="slds-line-height_reset">
                          <th  class="" scope="col">
                            <div class="slds-truncate fieldlabel">Waybill Number</div>
                         </th>
                         <th if:true={rec.isDewar1} class="" scope="col">
                            <div class="slds-truncate fieldlabel slds-cell-wrap">FP Dewar Tracking Link 1</div>
                         </th>
                         <th if:true={rec.isDewar2}  class="" scope="col">
                            <div class="slds-truncate fieldlabel slds-cell-wrap">FP Dewar Tracking Link 2</div>
                         </th>
                        </tr>
                        <tr class="slds-hint-parent">
                           <td role="gridcell">
                                 <div class="slds-truncate fieldvalue">{rec.CCL_Waybill_number__c}</div>
                           </td>
                         <td if:true={rec.isDewar1} role="gridcell">
                              <p class="urlLinks">
                              <lightning-formatted-url value={rec.CCL_Dewar_Tracking_link_1__c} target="_blank">
                              </lightning-formatted-url>
                           </p>
                           </td>
                           <td if:true={rec.isDewar2} role="gridcell">
                                <p class="urlLinks">
                              <lightning-formatted-url value={rec.CCL_Dewar_Tracking_link_2__c} target="_blank">
                              </lightning-formatted-url>
                           </p>
                           </td>
                          </tr>
                        <tr>
                         <th class="" scope="col">
                            <div class="slds-truncate fieldlabel">{label.CCL_Number_of_Doses_Shipped}</div>
                         </th>
                         <th class="" scope="col">
                            <div class="slds-truncate fieldlabel">{label.CCL_Number_of_Bags_Shipped}</div>
                         </th>
                         <th class="" scope="col">
                            <div class="slds-truncate fieldlabel">{label.CCL_numberOfBagsReceived}</div>
                         </th>
                   </tr>
                   <tr class="slds-hint-parent">
                     <td role="gridcell">
                           <div class="slds-truncate fieldvalue">{rec.CCL_Number_of_Doses_Shipped__c}</div>
                        </td>   
                    <td role="gridcell">
                        <div class="slds-truncate fieldvalue">{rec.CCL_Number_of_Bags_Shipped__c}</div>
                     </td>
                     <td role="gridcell">
                        <div class="slds-truncate fieldvalue">{rec.CCL_Number_of_Bags_Received__c}</div>
                     </td>
                    </tr>
                    <tr>
                     <th class="" scope="col">
                        <div class="slds-truncate fieldlabel">{label.CCL_Shipment_Reason}</div>
                     </th>
                     <th class="" scope="col">
                        <div class="slds-truncate fieldlabel">{label.CCL_Expiration_Date_of_Shipped_Bags}</div>
                     </th>
                     <th class="" scope="col">
                        <div class="slds-truncate fieldlabel">{label.CCL_Hospital_Purchase_Order_Number}</div>
                     </th>
               </tr>
                <tr class="slds-hint-parent">
                  <td role="gridcell">
                       <div class="slds-truncate fieldvalue">{rec.CCL_Shipment_Reason__c}</div>
                     </td>
                 <td role="gridcell">
                    <div class="slds-truncate fieldvalue">{rec.CCL_Expiry_Date_of_Shipped_Bags_Text__c}</div>
                 </td>
                 <td role="gridcell">
                    <div class="slds-truncate fieldvalue">{rec.CCL_Hospital_Purchase_Order_Number__c}</div>
                 </td>
                </tr>
              <tr if:true={rec.isProductRejected}>
                  <th class="" scope="col">
                     <div class="slds-truncate fieldlabel">Product Rejected By</div>
                  </th>
                  <th class="" scope="col">
                     <div class="slds-truncate fieldlabel">Reason for Rejection</div>
                  </th>
                  <th class="" scope="col">
                     <div class="slds-truncate fieldlabel">Product Rejection Notes</div>
                  </th>
               </tr>
             <tr if:true={rec.isProductRejected} class="slds-hint-parent">
               <td role="gridcell">
                    <div class="slds-truncate fieldvalue">{productRejectedBy}</div>
                  </td>
              <td role="gridcell">
                 <div class="slds-truncate fieldvalue">{rec.CCL_Product_Rejection_Reason__c}</div>
              </td>
              <td role="gridcell">
                 <div class="slds-truncate fieldvalue">{rec.CCL_Product_Rejection_Notes__c}</div>
              </td>
             </tr>
             <tr if:true={rec.isProductAccepted}>
               <th class="" scope="col">
                  <div class="slds-truncate fieldlabel">Product Accepted By</div>
               </th>
            </tr>
            <tr if:true={rec.isProductAccepted} class="slds-hint-parent">
               <td role="gridcell">
                     <div class="slds-truncate fieldvalue">{productAcceptedBy}</div>
                     </td>
            </tr>
          </thead>
               </table>
             </div>
            <div class="slds-m-top_xx-large">
               <label class="fieldlabel" >{label.CCL_Related_Documents}</label>
               <template for:each={rec.files} for:item="item" for:index="index">
                  <div class="slds-size_1-of-1 slds-m-top_small fieldvalue" key={item.LinkedEntityId}>
                  <a onclick={viewDocument} name={item.ContentDocumentId}>{item.Title}.{item.FileExtension}</a>
                   </div>
               </template>
            </div>
           </article>

       </template>


</template>