.padding{
    padding-left: 2rem;
}
.paddingbottom{
    padding-bottom: 2rem;
}
.tablevalue {
    font-size: 13px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
   
}
.colorblue {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #0070d2;
}
h1 {
    font-family: 'VoltaModernDisplay-75Bold';
      font-size: 28px;
      color: #080707;
    }
.fieldvalue {
        font-size: 16px;
        font-family: 'VoltaModernText-55Roman';
        color: #080707;
       
    }
.fieldlabel {
        font-size: 13px;
        font-family: 'VoltaModernDisplay-75Bold';
        color: #3e3e3c;
    }   
h4{
        font-family: 'VoltaModernDisplay-75Bold';
          font-size: 22px;
          color: #080707;
        }
.cellwidth {
	width: 200px;
}	
		