<template>

    <lightning-record-edit-form id="editForm" object-api-name="CCL_Shipment__c" onsubmit={submitShipmentCreate} onsuccess={handleShipmentCreateSuccess} onerror={handleShipmentCreateError}>
    <br />
    <div class="slds-text-heading_medium slds-var-m-bottom_medium">
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_3-of-3">
                    <h1 class="slds-text-heading_medium slds-var-m-bottom_large">
                        <p class="slds-text-color_default customheading">{label.CreateFinishedProductShipment}</p>
                    </h1>
                <hr class="blueline">
            </div>
        </div>
    </div>

<template if:true={showSavingSpinner}>
    <div role="status" class="slds-spinner slds-spinner_medium">
        <span class="slds-assistive-text">{label.Saving}</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>
</template>

    <div class="slds-form slds-form_stacked">
        <div class="slds-grid slds-wrap">
            <div class="slds-size_1-of-2 slds-var-p-right_small">
                <label class="secInnerheadRed" >* </label><label class="slds-form-element__label secInnerhead" for="form-element-01">{label.InfusionCenter}
                </label><br/>

                <select class="slds-text-color_default slds-large-size_4-of-5 picklistFont slds-select infClass infcustomError" onchange={selectionChangeHandler} data-item="infCenter" required>
                    <template if:true={noInfusionCentresAvailable}>
                        <option value="" class="inputText-placeholder">{label.NoneAvailable}</option>
                    </template>
                    <template if:true={isMultipleInfusionCentres}>
                        <option value="" class="inputText-placeholder">{label.SelectInfusionCenter}</option>
                    </template>
                    <template for:each={infCenterData} for:item="inf">
                        <!-- <option key={inf.Id} class="uiInputSelectOption" value={inf.CCL_Site__r.Name}>{inf.CCL_Site__r.Name}</option> -->
                        <option key={inf.Id} class="uiInputSelectOption" value={inf.CCL_Site__c}>{inf.CCL_Site__r.Name}</option>
                    </template>
                </select>

                <template if:true={showInfusionRequiredMessage}>
                <br><label class="secInnerheadRed" >{label.CompleteThisField}</label>
                </template>

                <br /><br />

                <div class="borderleft slds-var-p-left_x-small slds-var-m-top_x-small">
                    <template if:true={hasInfAddress}>
                        <label class="slds-form-element__label secInnerhead" >{label.InfusionAddress}</label><br />
                        <div class="slds-text-color_default add_div addressCss">
                            <lightning-formatted-text value={infSiteAddress.street}></lightning-formatted-text><br />
                            <lightning-formatted-text value={infSiteAddress.city}></lightning-formatted-text>,&nbsp;
                            <lightning-formatted-text value={infSiteAddress.state}></lightning-formatted-text>&nbsp;
                            <lightning-formatted-text value={infSiteAddress.postalCode}></lightning-formatted-text>
                            ,<br />
                            <lightning-formatted-text value={infSiteAddress.country}></lightning-formatted-text>
                            <br />
                        </div>
                    </template>
                </div>
            </div>
            <div class="slds-size_1-of-2 slds-var-p-left_small">
                <label class="secInnerheadRed" >* </label><label class="slds-form-element__label secInnerhead" for="form-element-01">{label.ShipToLocation}</label><br/>

                <template if:true={shipToSelectDisabled}>
                    <select class="slds-text-color_default slds-large-size_4-of-5 picklistFont slds-select shiptoClass shipTocustomError" onchange={selectionChangeHandler} data-item="shipToLoc" required disabled ></select>
                </template>

                <template if:false={shipToSelectDisabled}>

                    <select class="slds-text-color_default slds-large-size_4-of-5 picklistFont slds-select shiptoClass shipTocustomError" onchange={selectionChangeHandler} data-item="shipToLoc" required>
                        
                        <template if:true={noShipToLocsAvailable}>
                            <option value="" class="inputText-placeholder">{label.NoneAvailable}</option>
                        </template>
                        
                        <template if:true={isMultipleShipToRecords}>
                            <option value="" class="inputText-placeholder">{label.SelectShipToLocation}</option>
                        </template>
                        <template for:each={shipToLocData} for:item="shipTo">
                            <!-- <option key={shipTo.Id} class="uiInputSelectOption" value={shipTo.CCL_Site__r.Name}>{shipTo.CCL_Site__r.Name}</option> -->
                            <option key={shipTo.Id} class="uiInputSelectOption" value={shipTo.CCL_Site__c}>{shipTo.CCL_Site__r.Name}</option>
                        </template>
                    </select>
                </template>

                <template if:true={showShipToRequiredMessage}>
                    <br><label class="secInnerheadRed" >{label.CompleteThisField}</label>
                </template>

                <p class="slds-hide siteErrorMessage shipToremoveError">{label.MandatoryField}</p>
                <br /><br>
                <div class="borderleft slds-var-p-left_x-small slds-var-m-top_x-small">
                    <template if:true={hasShipToLocAddress}>
                        <label class="slds-form-element__label secInnerhead" >{label.ShipToAddress}</label><br />
                        <div class="slds-text-color_default add_div addressCss">
                            <lightning-formatted-text value={shipToLocSiteAddress.street}></lightning-formatted-text><br />
                            <lightning-formatted-text value={shipToLocSiteAddress.city}></lightning-formatted-text>,&nbsp;
                            <lightning-formatted-text value={shipToLocSiteAddress.state}></lightning-formatted-text>&nbsp;
                            <lightning-formatted-text value={shipToLocSiteAddress.postalCode}></lightning-formatted-text>
                            ,<br />
                            <lightning-formatted-text value={shipToLocSiteAddress.country}></lightning-formatted-text>
                            <br />
                        </div>
                    </template>
                </div>
            </div>
        </div>
    <br />
                <div class="slds-grid align-left">
                    <div class="slds-col slds-size_1-of-1">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_5-of-12">
                                    <lightning-input-field class="slds-form-element__label secInnerhead" required field-name="CCL_Hospital_Purchase_Order_Number__c" value={hospitalPONumberFromOrder}></lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-12">
                                    &nbsp;
                                </div>
                                <div class="slds-col slds-size_6-of-12 slds-var-p-left_small">
                                    <label class="secInnerheadRed">* </label><label class="slds-form-element__label secInnerhead" for="form-element-01">Shipment Reason</label><br/>
                                    <select class="slds-text-color_default slds-large-size_4-of-5 picklistFont slds-select infClass infcustomError" required onchange={shipmentReasonChangeHander}>
                                        <option value="" class="inputText-placeholder">Select shipment reason</option>

                                        <template for:each={shipmentReasonPicklistValues} for:item="shipReason">
                                            <option key={shipReason.value} class="uiInputSelectOption" value={shipReason.value}>{shipReason.label}</option>
                                        </template>
                                    </select>
                                    <template if:true={showShipmentReasonRequiredMessage}>
                                        <br><label class="secInnerheadRed">{label.CompleteThisField}</label>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_5-of-12">
                                    <br />
                                    &nbsp;<label class="secInnerheadRed">* </label><label class="slds-form-element__label secInnerhead" for="estShipDate">{estimatedFPShipDateLabel}{timezoneName}</label>
                                    <lightning-input-field id="estShipDate" class="slds-form-element__label secInnerhead" required variant="label-hidden" field-name="CCL_Estimated_FP_Shipment_Date_Time__c"></lightning-input-field>
                                
                                    <template if:true={showShipmentDateInPastMessage}>
                                        <br><label class="secInnerheadRed">&nbsp;{label.EstimateShipmentDateInPast}</label>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_6-of-12">
                                    <br />
                                    <lightning-helptext content={label.EstimatedShipmentDateHelp}></lightning-helptext>
                                </div>
                            </div>

                        <hr class="blueline">

                        <template if:true={showErrorModal}>
                            <div class="slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                                <span class="slds-assistive-text">error</span>
                                <span class="slds-icon_container slds-icon-utility-error slds-var-m-right_x-small">
                                    <lightning-icon icon-name="utility:error" alternative-text="Error!" variant="error"></lightning-icon>
                                </span>
                                <h1>Error: {errorMessage}</h1>
                            </div>
                        </template>
                    
                        <template if:false={showSavingSpinner}>
                            <div class="slds-var-m-top_medium button-text slds-float_right">
                                <button class="slds-button slds-button_neutral btnwidth" onclick={cancelShipmentCreate} title={label.Cancel}>{label.Cancel}</button>
                                <button class="slds-button slds-button_brand btnwidth" type="submit" title={label.Submit}>{label.Submit}</button>
                            </div>
                        </template>

                        <template if:true={showSavingSpinner}>
                            <div class="slds-var-m-top_medium button-text slds-float_right">
                                <button class="slds-button slds-button_neutral btnwidth" onclick={cancelShipmentCreate} title={label.Cancel} disabled>{label.Cancel}</button>
                                <button class="slds-button slds-button_brand btnwidth" type="submit" title={label.Submit} disabled>{label.Submit}</button>
                            </div>
                        </template>                        
                </div>
            </div>
    </div>
</lightning-record-edit-form>

</template>