.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.5rem 0;
    margin-top: -1.5rem;
  }
  .add_div {
    font-size: 15px;
  }
  .customheading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    
  }
  .secInnerhead {
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
  }
  .secInnerheadRed {
    font-size: 12px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:darkred;
  }
  .borderleft {
    border-left: 3px solid #0661aa;
  }
  .addressCss, .picklistFont{
    font-family: 'VoltaModernText-55Roman';
    font-size: 16px;
    
  }
  .siteErrorMessage{
    font-size: .75rem;
      margin-top: .125rem;
    font-family: 'VoltaModernText-55Roman';
    color: rgb(194, 57, 52);
    
  }
  .dateError {
    font-size: .75rem;
      margin-top: .125rem;
    font-family: 'VoltaModernText-55Roman';
    color: rgb(194, 57, 52);
    display: none;
  }
  .button-text {
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
  }
  .helpText
  {
      font-size: 14px;
      font-family: 'VoltaModernText-55Roman';
      color: #080707;
  }
  .inputText-placeholder{
    font-size: 13px;
    font-family: 'VoltaModernText-55Roman';
    color: grey;
  }