.wrapper {
    padding: 1rem 3rem;
}
.mainHeading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.secInnertitle{
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
    font-weight: bold;
}
.secInnerhead {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
  }
.subHeading {
    font-size: 18px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.subHeadingInBox {
    font-size: 18px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
    margin-left: 13px;
}
.toastNote {
    font-size: 14px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.textdisplay {

    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
}

.textdisplayOBA {

    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
    margin-left: 13px;
   
}
.fieldLabel {
    font-size: 14px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#000000;
    margin-left: 13px;
}

.fieldLabelHeading {
    font-size: 14px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#000000;
}

.fieldLabelfinal {
    font-size: 14px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#0460a9;
}
.urlLinks {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
}
.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.5rem 0;
    margin-top: 0.5rem;
}
.section-col {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.75rem;
}
.width40 {
    width: 38%;
}
.urlClass{
    text-decoration: underline;
}
.width50 {
    width: 58%;
}
.width80 {
    width: 80%;
}
.greylineHeading{
    margin-top: 3px;
    margin-bottom: 2px;
    
}

.greylineHeadingInBox{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 13px;
    margin-right: 15px;
}
.greyline{
    margin-top: 1rem;
   
}
.greylineOba{
    margin-top: 0rem;
    border: white;
   
}
.headerflex {
    display : flex;
}
.padding_left10 {
    padding-left: 10px;
}

.regular_button_white {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #0460a9;
    height: 32px;
    border:1px solid  #0460a9 ;
    border-radius: 4px;
    background-color: #ffffff;
    width: 100px;
  }
  .button_Flows {

    display: flex;
    
  }
  .regular_button_blue {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #ffffff;
    height: 32px;
    border-radius: 4px;
    width: auto;
    background-color: #0460a9;
    border:1px solid  #0460a9 ;
    width: 100px;
  }

  .regular_button_blue_OBA {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #ffffff;
    height: 32px;
    border-radius: 4px;
    background-color:#1476d4;
    border:1px solid  #1476d4 ;
    width: 160px;
  }
  .regular_button_Grey {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #ffffff;
    height: 32px;
    border-radius: 4px;
    background-color:#a4a6a8;
    border:1px solid  #a4a6a8 ;
    width: 160px;
  }
  .saveButton {
    padding-left: 2%;
     
   }
   
   .cancelButton {
     padding-left: 75%;

   }

   .headerColor {
    color: #1476d4 !important
}

.textInput{
    -webkit-text-fill-color: #1476d4;
  
}
.textInputValue{
    
    -webkit-text-fill-color: black;
}
.buttons {

    padding-left: 40%;
    margin-right:16px;
  }

.iconColor{
    
    fill : #0460A9;

}
.labelClass{
font-weight: 900;
}
.labelClassFiles{
font-weight: 900;
font-family: VoltaModernDisplay-75Bold;
font-size: 12px;

}
.modalHeaderButtons{
    margin: auto;
    padding-bottom: 50px;
}
.buttonSize{
    height: 40px;
    width: 165px;
    font-size: 12px;
}
.paddingButton {
    padding-bottom: 30px;
}


.undoneMessage {
    text-align: center;
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    max-width: 435px;

}

.statusHeading {

    font-weight: bold;
    font-size: 17px;
    font-family: 'VoltaModernDisplay-75Bold';

}
.padding-top {
    padding-top: 9px;
    text-align: left;
    padding-left: 49px;

}
.sectionBorder {
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
    max-width: 920px;
    margin-top: 30px;
 }

.slds-input {
    padding-left: 7px;
    border-color: transparent;
    background-color: transparent;
}