<template>
   <template if:true={showMainContent}>
      <div class="slds-grid slds-wrap">
         <div class="section-col slds-size_2-of-12 padding-top">
            <a class="colorBlue" onclick={navigateToView}><b>{label.backToInfusionList}</b></a>
         </div>
         <div class="section-col slds-size_10-of-12">

            <template if:true={showSuccess}>
               <div class="slds-theme_success slds-var-p-around_small successMsg" tabindex="-1">
               <lightning-icon
                  icon-name="utility:success"
                  size="small"
                  class="myIconslds-var-p-right_small"
                  variant="inverse"
                  alternative-text="Success"
               ></lightning-icon>
               {successMsg}
               <div class="slds-float_right">
                  <lightning-icon
                     icon-name="utility:close"
                     size="small"
                     onclick={handleClose}
                     class="myIcon slds-var-p-right_small slds-var-m-left_large"
                     variant="inverse"
                     alternative-text="close"
                  ></lightning-icon>
               </div>
               </div>
            </template>
            <template if:true={showError}>
               <div class="slds-theme_error slds-var-p-around_small errorMsg" tabindex="-1">
               <lightning-icon
                  icon-name="utility:error"
                  size="small"
                  class="myIconslds-var-p-right_small"
                  variant="inverse"
                  alternative-text="error"
               ></lightning-icon>
               {errorMsg}
               </div>
            </template>
            <h1 class="mainHeading">
               {label.finishedProductInfusionHeader}
            </h1>
           <!-- Section 1 - Main FP details  -->
            <div class="sectionBorder">
               <br />
               <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                  <div class="slds-col">
                     <a class="colorBlue" onclick={redirectToOrderSummaryPage}>{label.viewOrder}</a>
                  </div>
               </div>
               <div class="slds-grid slds-wrap">
                  <h4 class="subHeadingInBox">{label.doseInformation}</h4>
               </div>
               <template if:true={showToastMessageOnHold}>
                  <br />
                  <div class="slds-grid slds-wrap">
                     <div class="textdisplayOBA"> <b class="toastNote"> {label.showToastMessageOnHoldNoteLabel}
                        </b>{label.showToastMessageOnHoldLabel}</div>
                  </div>
               </template>
               <br />
               <div class="slds-grid slds-wrap">
                  <h2 class="fieldLabel">{label.finishedProductBatchNumber}</h2>
                  <sup><lightning-helptext content={label.finishedProductBatchNumberTooltip}></lightning-helptext></sup>
               </div>
               <div class="slds-grid slds-wrap">
                  <template if:true={result}>
                     <p class="textdisplayOBA">
                        {productBatchNumber}
                     </p>
                  </template>
               </div>
               <br />
               <div class="slds-grid slds-m-top_medium" style="width: 100%">
                  <div class="slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
                     <label class="fieldLabel" for="text-input-id-1">
                        {label.productAcceptanceStatus}
                     </label>
                     <div>
                        <div class="borderleft slds-p-left_x-meduim slds-m-top_x-meduim">
                           <template if:true={result}>
                              <p class="textdisplayOBA">{productAcceptancestatus}</p>
                           </template>
                        </div>
                     </div>
                  </div>
                  <div class="slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
                     <label class="fieldLabel" for="text-input-id-1">
                        {label.infusionReportingStatus}
                     </label>
                     <div>
                        <div class="borderleft slds-p-left_x-meduim slds-m-top_x-medium">
                           <template if:true={result}>
                              <p class="textdisplayOBA">
                                 <lightning-formatted-text value={infusionReportingStatus}>
                                 </lightning-formatted-text>
                              </p>
                           </template>
                        </div>
                     </div>
                  </div>
               </div>
               <br />
               <div class="slds-grid slds-m-top_medium" style="width: 100%">
                  <div class="slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
                     <label class="fieldLabel" for="text-input-id-1">
                        {label.numberOfBagsShippedLabel}
                     </label>
                     <div>
                        <div class="slds-p_x-small slds-m-top_x-small">
                           <template if:true={result}>
                              <p class="textdisplayOBA">
                                 {numberOfBagsShipped}
                              </p>
                           </template>
                        </div>
                     </div>
                  </div>
                  <div class="slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12">
                     <label class="fieldLabel" for="text-input-id-1">
                        {label.expDateOfShippedBagsLabel}
                     </label>
                     <div>
                        <div class="slds-p_x-small slds-m-top_x-small">
                           <template if:true={result}>
                              <p class="textdisplayOBA">
                                 {expDateOfShippedBags}
                              </p>
                           </template>
                        </div>
                     </div>
                  </div>
               </div>
               <br />
               <div class="slds-grid slds-wrap">
                  <h4 class="subHeadingInBox">{label.relatedDocumentsLabel}</h4>
               </div>
               <template for:each={filesUploaded} for:item="item" for:index="index">
                  <div style="padding-left: 13px;" class="slds-size_1-of-1 slds-m-top_small labelClass" key={item.Id}>
                     <lightning-icon icon-name="utility:file" size="small" alternative-text="Audio file" title="Audio">
                     </lightning-icon>
                     <a onclick={viewDocument}
                        name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}</a>
                     <template if:true={renderDelete}>
                        <lightning-icon icon-name="utility:close" alternative-text={item.ContentDocumentId}
                           class="iconClass hideBtn" size="x-small" variant="error" onclick={removeFile} title="Delete"
                           name="openConfirmation"></lightning-icon>
                     </template>
                  </div>
               </template>
               <br />
               <br />
            </div>
            <!-- Start of Section 2 -->
            <template if:true={isReportInfusionSectionDisplayed}>
               <div class="sectionBorder">
                  <br />
                  <br />
                  <div class="slds-grid slds-wrap ">
                     <h4 class="subHeadingInBox">{label.reportInfusion}</h4>
                  </div>
                  <br />
                  <hr class="greylineHeadingInBox">
                  <template if:true={showErrorOnScreen}>
                     <lightning-layout horizontal-align="center">
                        <div id="error-message-409" data-error-message="true" aria-live="assertive"
                           style="color:rgb(194, 57, 52);" class="slds-form-element__help">{label.error}: {err}</div>
                     </lightning-layout>
                  </template>
                  <br />
                  <!-- Section 2 - Infusion Reporter View -->
                  <template if:true={captureUserAccessPrimaryinfusion}>
                     <template if:false={savedFields}>
                     <lightning-layout horizontal-align="left">
                        <lightning-layout-item class="slds-col slds-size_1-of-4" padding="around-small">
                           <div class="textInput">
                              <label class="fieldLabelHeading" for="text-input-id-1">
                                 {label.numberOfBagsInfusedLabel}
                              </label>
                           </div>
                           <lightning-input type="number" max-length="2" value={numberOfBagsInfused}
                              onchange={getNumberOfBagsInfused}></lightning-input>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item class="slds-col slds-size_1-of-5" padding="around-small">
                           <div class="textInput">
                              <label class="fieldLabelHeading" for="text-input-id-1">
                                 {label.actualDateOfInfusionLabel}
                              </label>
                           </div>
                           <br />
                           <div style="display: flex;">
                              <div style="width:18%; font-size:0;">
                                 <lightning-input required class="textInput" type="date" variant="label-hidden"
                                    value={actualDateOfInfusion} onchange={getActualDateOfInfusion}></lightning-input>
                              </div>
                              <div style="padding-left: 1.5rem; padding-top:0.5rem;">{selectedDate}
                              </div>
                           </div>
                        </lightning-layout-item>
                        <lightning-layout-item class="slds-col slds-size_1-of-4" padding="around-small">
                           <template if:true={infusionProcedureStatus.data}>
                              <div class="textInput">
                                 <label class="fieldLabelHeading" for="text-input-id-1">
                                    {label.infusionProcedureStatusLabel}
                                 </label>
                              </div>
                              <br />
                              <lightning-combobox required variant="label-hidden"
                                 options={infusionProcedureStatus.data.values} value={infusionProcedureStatusValue}
                                 onchange={getInfusionProcedureStatus}></lightning-combobox>
                           </template>
                        </lightning-layout-item>
                     </lightning-layout>
                     <hr class="greylineHeadingInBox">
                     <br />
                     <template if:true={infusionDetails}>
                        <div class="slds-p_x-small slds-m-top_x-small">
                           <label class="fieldLabel" for="text-input-id-1">
                              {label.dateEnteredByLabel}
                           </label>
                           <div>
                              <div class="slds-p_x-small slds-m-top_x-small">
                                 <template if:true={result}>
                                    <p class="textdisplayOBA">{infusionSignature}</p>
                                 </template>
                              </div>
                           </div>
                        </div>
                     </template>
                     <div class="slds-p_x-small slds-m-top_x-small">
                        <template if:true={captureUserAccessPrimaryinfusion}>
                           <template if:true={captureUserAccess}>

                           <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                              <div class="slds-col">
                                 <span>
                                    <button class="regular_button_blue_OBA" value={label.saveButtonLabel}
                                       onclick={validateFormAndProceedToInfusion} title={label.saveButtonLabel}>
                                      {label.saveInfusion}
                                    </button>
                                 </span>
                              </div>
                           </div>
                            </template>
                        </template>
                        <template if:true={captureUserAccessPrimaryinfusion}>
                           <template if:false={captureUserAccess}>
                              <template if:true={infusionCompletedFlag}>

                           <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                              <div class="slds-col">
                                 <span>
                                    <button  class="regular_button_blue_OBA" value={label.saveButtonLabel}
                                        title={label.saveButtonLabel} onclick={validateFormAndProceedToInfusion} >
                                      {label.saveInfusion}
                                    </button>
                                 </span>
                              </div>
                           </div>
                        </template>
                        </template>
                        </template>
                        <template if:true={captureUserAccessPrimaryinfusion}>
                           <template if:false={captureUserAccess}>
                              <template if:false={infusionCompletedFlag}>

                           <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                              <div class="slds-col">
                                 <span>
                                    <button disabled class="regular_button_Grey" value={label.saveButtonLabel}
                                        title={label.saveButtonLabel} >
                                      {label.saveInfusion}
                                    </button>
                                 </span>
                              </div>
                           </div>
                        </template>
                        </template>
                        </template>
                     </div>
                     </br>
                  </template>
                  </template>
                  <!-- Section 2 - Infusion Viewer Page -->
                  <template if:true={disabletoEditFields}>
                     <template if:false={captureUserAccessPrimaryinfusion}>
                     <lightning-layout horizontal-align="left">
                        <lightning-layout-item class="slds-col slds-size_1-of-4" padding="around-small">
                           <div class="textInput">
                              <label class="fieldLabelHeading" for="text-input-id-1">
                                 {label.numberOfBagsInfusedLabel}
                              </label>
                           </div>
                           <lightning-input type="number" style="padding-left: 10px;" readonly max-length="2"
                              value={numberOfBagsInfused} onchange={getNumberOfBagsInfused}></lightning-input>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item class="slds-col slds-size_1-of-5" padding="around-small">
                           <div class="textInput">
                              <label class="fieldLabelHeading" for="text-input-id-1">
                                 {label.actualDateOfInfusionLabel}
                              </label>
                           </div>
                           <br />
                           <div style="display: flex;">
                              <div style="width:18%; font-size:0;">
                                 <lightning-input required class="textInput" type="date" readonly variant="label-hidden"
                                    value={actualDateOfInfusion} onchange={getActualDateOfInfusion}></lightning-input>
                              </div>
                              <div style="padding-top:0.5rem;">{selectedDate}
                              </div>
                           </div>
                        </lightning-layout-item>
                        <lightning-layout-item class="slds-col slds-size_1-of-4" padding="around-small">
                           <template if:true={infusionProcedureStatus.data}>
                              <div class="textInput">
                                 <label class="fieldLabelHeading" for="text-input-id-1">
                                    {label.infusionProcedureStatusLabel}
                                 </label>
                              </div>
                              <br />
                              <lightning-combobox readonly required variant="label-hidden"
                                 options={infusionProcedureStatus.data.values} value={infusionProcedureStatusValue}
                                 onchange={getInfusionProcedureStatus}></lightning-combobox>
                           </template>
                        </lightning-layout-item>
                     </lightning-layout>
                     <hr class="greylineHeadingInBox">
                     <template if:false={captureUserAccess}>
                        <template if:true={shipmentStatusAcceptedRejectedFlag}>
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <label class="fieldLabel" for="text-input-id-1">
                                 {label.dateEnteredByLabel}
                              </label>
                              <div>
                                 <div class="slds-p_x-small slds-m-top_x-small">
                                    <template if:true={result}>
                                       <p class="textdisplayOBA">{infusionSignature}</p>
                                    </template>
                                 </div>
                              </div>
                           </div>
                           </br></br>
                        </template>
                     </template>
                  </template>
                  </template>
                  <!-- Section 2 - After FP Completion -->
                  <template if:true={captureUserAccessPrimaryinfusion}>
                  <template if:true={savedFields}>
                     <lightning-layout horizontal-align="Left">
                        <lightning-layout-item class="slds-size_1-of-5">
                           <div class="slds-p_x-small slds-m-top_x-small ">
                              <div class="textInput">
                                 <label class="fieldLabel" for="text-input-id-1">
                                    {label.numberOfBagsInfusedLabel}
                                 </label>
                              </div>
                              <div>
                                 <div class="slds-p_x-small slds-m-top_x-small">
                                    <template if:true={result}>
                                       <p class="textdisplayOBA">{numberOfBagsInfused}</p>
                                    </template>
                                 </div>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item class="slds-size_1-of-5">
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <div class="textInput">
                                 <label class="fieldLabel" for="text-input-id-1">
                                    {label.actualDateOfInfusionLabel}
                                 </label>
                              </div>
                              <div>
                                 <div class="slds-p_x-small slds-m-top_x-small">
                                    <template if:true={result}>
                                       <p class="textdisplayOBA">{actualInfusionDateText}</p>
                                    </template>
                                 </div>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <lightning-layout-item class="slds-size_1-of-5">
                           <div class="slds-p_x-small slds-m-top_x-small ">
                              <div class="textInput">
                                 <label class="fieldLabel" for="text-input-id-1">
                                    {label.infusionProcedureStatusLabel}
                                 </label>
                              </div>
                              <div>
                                 <div class="slds-p_x-small slds-m-top_x-small">
                                    <template if:true={result}>
                                       <p class="textdisplayOBA">{infusionProcedureStatusValue}</p>
                                    </template>
                                 </div>
                              </div>
                           </div>
                        </lightning-layout-item>
                     </lightning-layout>
                     <br />
                     <hr class="greylineHeadingInBox">
                     <div class="slds-p_x-small slds-m-top_x-small">
                        <label class="fieldLabel" for="text-input-id-1">
                           {label.dateEnteredByLabel}
                        </label>
                        <div>
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <template if:true={result}>
                                 <p class="textdisplayOBA">{infusionSignature}</p>
                              </template>
                           </div>
                        </div>
                     </div>
                  </template>
               </template>
                  <br />
               </div>
            </template>
            <!-- Section 3 - OBA Component -->
            <template if:true={isObaStatusSectionDisplayed}>
               <div class="sectionBorder">
                  <br />
                  <br />
                  <div class="slds-grid slds-wrap">
                     <label class="subHeadingInBox" for="text-input-id-1">
                        {label.outcomeBasedAgreementTitle}
                     </label>
                  </div>
                  <br />
                  <template if:true={showUSDynamicMessage}>
                     <div style="padding-left: 13px;">
                        <label class="textdisplay" for="text-input-id-1">
                           {label.obaDynamicMessageUS}
                        </label>
                     </div>
                  </template>
                  <template if:false={showUSDynamicMessage}>
                     <div style="padding-left: 13px;">
                        <label class="textdisplay" for="text-input-id-1">
                           {label.obaDynamicMessageNonUS}
                        </label>
                     </div>
                  </template>
                  <br />
                  <hr class="greylineHeadingInBox">
                  <!-- Heading Row 1 -->
                  <lightning-layout horizontal-align="Left">
                     <lightning-layout-item padding="around-small" class="slds-size_1-of-6">
                        <div class="slds-p_x-small slds-m-top_x-small  ">
                           <div class="textInput">
                              <label class="fieldLabelHeading" for="text-input-id-1">
                                 {label.milestoneTitle}
                              </label>
                           </div>
                        </div>
                     </lightning-layout-item>
                     <br />
                     <br />
                     <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                        <div class="slds-p_x-small slds-m-top_x-small">
                           <div class="textInput">
                              <label class="fieldLabelHeading" for="text-input-id-1">
                                 {label.outcomeReportingDeadlineTitle}
                              </label>
                           </div>
                        </div>
                     </lightning-layout-item>
                     <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                        <div class="slds-p_x-small slds-m-top_x-small ">
                           <div class="textInput">
                              <label class="fieldLabel" for="text-input-id-1">
                                 {label.outcomeTitle}
                              </label>
                           </div>
                        </div>
                     </lightning-layout-item>
                     <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                        <div class="slds-p_x-small slds-m-top_x-small ">
                           <div class="textInput">
                              <label class="fieldLabel" for="text-input-id-1">
                                 {label.reportedByTitle}
                              </label>
                           </div>
                        </div>
                     </lightning-layout-item>
                  </lightning-layout>
                  <hr class="greylineHeadingInBox">
                  <!-- Milestone Row 1 -->
                  <template if:true={obaMilestoneDate1}>
                     <lightning-layout horizontal-align="Left">
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-6">
                           <div class="slds-p_x-small slds-m-top_x-small  ">
                              <div style="padding-left: 10px;">
                                 <label class="textdisplayOBA" for="text-input-id-1">
                                    1
                                 </label>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <div>
                                 <p class="textdisplayOBA">
                                    {obaMilestoneDate1}
                                 </p>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <template if:true={milestone1Flag}>
                           <template if:true={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeOne.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeOne.data.values} value={milestoneOutcome1}
                                          onchange={getMilestoneOutcome1} placeholder={label.noConfirmOutcome}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone1Flag}>
                           <template if:true={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeOne.data}>
                                       <lightning-combobox variant="label-hidden" options={milestoneOutcomeOne.data.values}
                                          value={milestoneOutcome1} onchange={getMilestoneOutcome1} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone1FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeOne.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeOne.data.values} value={milestoneOutcome1}
                                          onchange={getMilestoneOutcome1} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:true={milestone1FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeOne.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeOne.data.values} value={milestoneOutcome1}
                                          onchange={getMilestoneOutcome1} placeholder={label.noConfirmOutcome}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                     </template>
                        <template if:false={milestone1FlagNoOutcome}>
                           <template if:true={reportedbyMilestone1}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div>
                                 <div>
                                    <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                          {loggedInUserNameButton}
                                       </p>
                                       <p style="padding: 0px 10px 0px 10px;" class="textdisplayOBA">
                                          {reportedbyMilestone1}
                                       </p>
                                       <!-- <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                       {reportedbyMilestone1}
                                       </p> -->
                                    </div>
                              </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone1FlagNoOutcome}>
                           <template if:false={reportedbyMilestone1}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small">
                                 <div>
                                       <p class="textdisplayOBA">
                                    </p>
                                    </div>
                              </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:true={milestone1FlagNoOutcome}>
                           <template if:false={reportedbyMilestone1}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                          {label.naLabel}
                                       </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                     </lightning-layout>
                     <hr class="greylineHeadingInBox">
                  </template>
                  <!-- Milestone Row 2 -->
                  <template if:true={obaMilestoneDate2}>
                     <lightning-layout horizontal-align="Left">
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-6">
                           <div class="slds-p_x-small slds-m-top_x-small  ">
                              <div style="padding-left: 10px;">
                                 <label class="textdisplayOBA" for="text-input-id-1">
                                    2
                                 </label>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <div>
                                 <p class="textdisplayOBA">
                                    {obaMilestoneDate2}
                                 </p>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <template if:false={milestone2FlagNoOutcome}>
                           <template if:true={milestone2Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeTwo.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeTwo.data.values} value={milestoneOutcome2}
                                             onchange={getMilestoneOutcome2} placeholder={label.pleaseSelectLabel}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:true={milestone2FlagNoOutcome}>
                           <template if:true={milestone2Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeTwo.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeTwo.data.values} value={milestoneOutcome2}
                                             placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome2}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:false={milestone2Flag}>
                           <template if:true={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeTwo.data}>
                                       <lightning-combobox variant="label-hidden" options={milestoneOutcomeTwo.data.values}
                                          value={milestoneOutcome2} onchange={getMilestoneOutcome2} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone2FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeTwo.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeTwo.data.values} value={milestoneOutcome2}
                                          onchange={getMilestoneOutcome2} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:true={milestone2FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeTwo.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeTwo.data.values} value={milestoneOutcome2}
                                          placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome2}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:false={milestone2FlagNoOutcome}>
                           <template if:true={reportedbyMilestone2}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div>
                                 <div>
                                    <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                          {loggedInUserNameButton2}
                                       </p>
                                       <p style="padding: 0px 10px 0px 10px;" class="textdisplayOBA">
                                          {reportedbyMilestone2}
                                       </p>
                                    <!-- <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                    {reportedbyMilestone1}
                                 </p> -->
                                    </div>
                              </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone2FlagNoOutcome}>
                           <template if:false={reportedbyMilestone2}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                    </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:true={milestone2FlagNoOutcome}>
                           <template if:false={reportedbyMilestone2}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                          {label.naLabel}
                                       </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                     </lightning-layout>
                     <hr class="greylineHeadingInBox">
                  </template>
                  <!-- Milestone Row 3 -->
                  <template if:true={obaMilestoneDate3}>
                     <lightning-layout horizontal-align="Left">
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-6">
                           <div class="slds-p_x-small slds-m-top_x-small  ">
                              <div style="padding-left: 10px;">
                                 <label class="textdisplayOBA" for="text-input-id-1">
                                    3
                                 </label>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <div>
                                 <p class="textdisplayOBA">
                                    {obaMilestoneDate3}
                                 </p>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <template if:true={milestone3FlagNoOutcome}>
                           <template if:true={milestone3Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeThree.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeThree.data.values} value={milestoneOutcome3}
                                             placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome3}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:false={milestone3FlagNoOutcome}>
                           <template if:true={milestone3Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeThree.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeThree.data.values} value={milestoneOutcome3}
                                             onchange={getMilestoneOutcome3} placeholder={label.pleaseSelectLabel}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:false={milestone3Flag}>
                           <template if:true={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeThree.data}>
                                       <lightning-combobox variant="label-hidden"
                                          options={milestoneOutcomeThree.data.values} value={milestoneOutcome3}
                                          onchange={getMilestoneOutcome3} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone3FlagNoOutcome}>
                        <template if:false={captureUserAccess}>
                           <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeThree.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeThree.data.values} value={milestoneOutcome3}
                                          onchange={getMilestoneOutcome3} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:true={milestone3FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeThree.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeThree.data.values} value={milestoneOutcome3}
                                          placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome3}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:false={milestone3FlagNoOutcome}>
                           <template if:true={reportedbyMilestone3}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div>
                                    <div>
                                       <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                             {loggedInUserNameButton3}
                                       </p>
                                       <p style="padding: 0px 10px 0px 10px;" class="textdisplayOBA">
                                          {reportedbyMilestone3}
                                       </p>
                                       <!-- <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                       {reportedbyMilestone1}
                                       </p> -->
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone3FlagNoOutcome}>
                           <template if:false={reportedbyMilestone3}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                    </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:true={milestone3FlagNoOutcome}>
                           <template if:false={reportedbyMilestone3}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                          {label.naLabel}
                                       </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                     </lightning-layout>
                     <hr class="greylineHeadingInBox">
                  </template>
                  <!-- Milestone Row 4 -->
                  <template if:true={obaMilestoneDate4}>
                     <lightning-layout horizontal-align="Left">
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-6">
                           <div class="slds-p_x-small slds-m-top_x-small  ">
                              <div style="padding-left: 10px;">
                                 <label class="textdisplayOBA" for="text-input-id-1">
                                    4
                                 </label>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <div>
                                 <p class="textdisplayOBA">
                                    {obaMilestoneDate4}
                                 </p>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <template if:true={milestone4FlagNoOutcome}>
                           <template if:true={milestone4Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeFour.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeFour.data.values} value={milestoneOutcome4}
                                             placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome4}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:false={milestone4FlagNoOutcome}>
                           <template if:true={milestone4Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeFour.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeFour.data.values} value={milestoneOutcome4}
                                             onchange={getMilestoneOutcome4} placeholder={label.pleaseSelectLabel}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:false={milestone4Flag}>
                           <template if:true={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeFour.data}>
                                       <lightning-combobox variant="label-hidden"
                                          options={milestoneOutcomeFour.data.values} value={milestoneOutcome4}
                                          onchange={getMilestoneOutcome4} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone4FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeFour.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeFour.data.values} value={milestoneOutcome4}
                                          onchange={getMilestoneOutcome4} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:true={milestone4FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeFour.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeFour.data.values} value={milestoneOutcome4}
                                          placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome4}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:false={milestone4FlagNoOutcome}>
                           <template if:true={reportedbyMilestone4}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div>
                                    <div>
                                       <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                          {loggedInUserNameButton4}
                                       </p>
                                       <p style="padding: 0px 10px 0px 10px;" class="textdisplayOBA">
                                          {reportedbyMilestone4}
                                       </p>
                                       <!-- <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                       {reportedbyMilestone1}
                                       </p> -->
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone4FlagNoOutcome}>
                           <template if:false={reportedbyMilestone4}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                       </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:true={milestone4FlagNoOutcome}>
                           <template if:false={reportedbyMilestone4}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                          {label.naLabel}
                                       </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                     </lightning-layout>
                     <hr class="greylineHeadingInBox">
                  </template>
                  <!-- Milestone Row 5 -->
                  <template if:true={obaMilestoneDate5}>
                     <lightning-layout horizontal-align="Left">
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-6">
                           <div class="slds-p_x-small slds-m-top_x-small  ">
                              <div style="padding-left: 10px;">
                                 <label class="textdisplayOBA" for="text-input-id-1">
                                    5
                                 </label>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <br />
                        <br />
                        <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <div>
                                 <p class="textdisplayOBA">
                                    {obaMilestoneDate5}
                                 </p>
                              </div>
                           </div>
                        </lightning-layout-item>
                        <template if:true={milestone5FlagNoOutcome}>
                           <template if:true={milestone5Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeFive.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeFive.data.values} value={milestoneOutcome5}
                                             placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome5}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:false={milestone5FlagNoOutcome}>
                           <template if:true={milestone5Flag}>
                              <template if:true={captureUserAccessPrimaryinfusion}>
                                 <lightning-layout-item class="slds-size_1-of-4">
                                    <div style="padding: 11px 7px 0px 22px">
                                       <template if:true={milestoneOutcomeFive.data}>
                                          <lightning-combobox readonly variant="label-hidden"
                                             options={milestoneOutcomeFive.data.values} value={milestoneOutcome5}
                                             onchange={getMilestoneOutcome5} placeholder={label.pleaseSelectLabel}>
                                          </lightning-combobox>
                                       </template>
                                    </div>
                                 </lightning-layout-item>
                              </template>
                           </template>
                        </template>
                        <template if:false={milestone5Flag}>
                           <template if:true={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeFive.data}>
                                       <lightning-combobox variant="label-hidden"
                                          options={milestoneOutcomeFive.data.values} value={milestoneOutcome5}
                                          onchange={getMilestoneOutcome5} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone5FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeFive.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeFive.data.values} value={milestoneOutcome5}
                                          onchange={getMilestoneOutcome5} placeholder={label.pleaseSelectLabel}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:true={milestone5FlagNoOutcome}>
                           <template if:false={captureUserAccess}>
                              <template if:false={captureUserAccessPrimaryinfusion}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div style="padding: 11px 7px 0px 22px">
                                    <template if:true={milestoneOutcomeFive.data}>
                                       <lightning-combobox readonly variant="label-hidden"
                                          options={milestoneOutcomeFive.data.values} value={milestoneOutcome5}
                                          placeholder={label.noConfirmOutcome} onchange={getMilestoneOutcome5}>
                                       </lightning-combobox>
                                    </template>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        </template>
                        <template if:false={milestone5FlagNoOutcome}>
                           <template if:true={reportedbyMilestone5}>
                              <lightning-layout-item class="slds-size_1-of-4">
                                 <div>
                                    <div>
                                       <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                             {loggedInUserNameButton5}
                                          </p>
                                          <p style="padding: 0px 10px 0px 10px;" class="textdisplayOBA">
                                             {reportedbyMilestone5}
                                          </p>
                                          <!-- <p style="padding: 7px 10px 0px 10px;" class="textdisplayOBA">
                                          {reportedbyMilestone1}
                                          </p> -->
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:false={milestone5FlagNoOutcome}>
                           <template if:false={reportedbyMilestone5}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                    </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                        <template if:true={milestone5FlagNoOutcome}>
                           <template if:false={reportedbyMilestone5}>
                              <lightning-layout-item padding="around-small" class="slds-size_1-of-4">
                                 <div class="slds-p_x-small slds-m-top_x-small ">
                                    <div>
                                       <label class="textdisplayOBA" for="text-input-id-1">
                                          {label.naLabel}
                                       </label>
                                    </div>
                                 </div>
                              </lightning-layout-item>
                           </template>
                        </template>
                     </lightning-layout>
                     <hr class="greylineHeadingInBox">
                  </template>
                  <br />
                  <template if:true={obaMilestoneDate1}>
                     <template if:true={captureUserAccessPrimaryinfusion}>
                        <template if:true={milestoneSCPDate1}>
                           <template if:false={milestone1Flag}>
                              <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                                 <div class="slds-col">
                                    <span>
                                       <button class="regular_button_blue_OBA" title={label.saveOutcomeButton}
                                          onclick={validateFormAndProceedToOBACompletion1}>
                                          {label.saveOutcomeButton}
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </template>
                        </template>
                        <template if:true={milestoneSCPDate2}>
                           <template if:false={milestone2Flag}>
                              <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                                 <div class="slds-col">
                                    <span>
                                       <button class="regular_button_blue_OBA" title={label.saveOutcomeButton}
                                          onclick={validateFormAndProceedToOBACompletion2}>
                                          {label.saveOutcomeButton}
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </template>
                        </template>
                        <template if:true={milestoneSCPDate3}>
                           <template if:false={milestone3Flag}>
                              <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                                 <div class="slds-col">
                                    <span>
                                       <button class="regular_button_blue_OBA" title={label.saveOutcomeButton}
                                          onclick={validateFormAndProceedToOBACompletion3}>
                                          {label.saveOutcomeButton}
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </template>
                        </template>
                        <template if:true={milestoneSCPDate4}>
                           <template if:false={milestone4Flag}>
                              <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                                 <div class="slds-col">
                                    <span>
                                       <button class="regular_button_blue_OBA" title={label.saveOutcomeButton}
                                          onclick={validateFormAndProceedToOBACompletion4}>
                                          {label.saveOutcomeButton}
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </template>
                        </template>
                        <template if:true={milestoneSCPDate5}>
                           <template if:false={milestone5Flag}>
                              <div style="padding-right:14px;" class="slds-grid slds-grid_align-end">
                                 <div class="slds-col">
                                    <span>
                                       <button class="regular_button_blue_OBA" title={label.saveOutcomeButton}
                                          onclick={validateFormAndProceedToOBACompletion5}>
                                          {label.saveOutcomeButton}
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </template>
                        </template>
                     </template>
                  </template>
                  <br />
               </div>
            </template>
         </div>
      </div>
   </template>
   <!-- Final screen after FP Completion -->
   <template if:true={showFinalScreen}>
      <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
         aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
         <div class="slds-modal__container">
            <header>
               <lightning-layout-item style="padding-left: 97%; font-size:large;">
                  <button class="slds-button slds-button_icon slds-button_icon-inverse" onclick={closeModal}
                     title={label.close}>
                     <lightning-icon icon-name="utility:close" alternative-text={label.close} variant="inverse" size="small">
                     </lightning-icon>
                     <span class="slds-assistive-text">{label.close}</span>
                  </button>
               </lightning-layout-item>
            </header>
            <div class="slds-modal__content" id="modal-content-id-2">
               <lightning-layout horizontal-align="center" style="padding-top: 30px;">
                  <lightning-layout-item padding="around-small">
                     <lightning-icon style="background: MikadoYellow;" icon-name="action:priority"
                        alternative-text="Approved" size="small"></lightning-icon>
                  </lightning-layout-item>
               </lightning-layout>
               <lightning-layout horizontal-align="center">
                  <lightning-layout-item padding="around-small">
                     <h3 class="statusHeading">
                        <b>{label.saveInfusionTextLabel}</b>
                     </h3>
                     <div class="undoneMessage">{label.undoneMessageLabel}</div>
                  </lightning-layout-item>
               </lightning-layout>
               <hr class="greylineOba">
               <lightning-layout horizontal-align="center">
                  <lightning-layout-item padding="around-large">
                     <div class="slds-p_x-small slds-m-top_x-small">
                        <label class="fieldLabelfinal">
                           {label.numberOfBagsInfusedLabel}
                        </label>
                        <hr class="greyline">
                        <div>
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <template if:true={result}>
                                 <p class="textdisplay">{numberOfBagsInfused}</p>
                              </template>
                           </div>
                        </div>
                     </div>
                  </lightning-layout-item>
                  <lightning-layout-item padding="around-large">
                     <div class="slds-p_x-small slds-m-top_x-small">
                        <label class="fieldLabelfinal">
                           {label.actualDateOfInfusionLabel}
                        </label>
                        <hr class="greyline">
                        <div>
                           <div class="slds-p_x-small slds-m-top_x-small">
                              <template if:true={result}>
                                 <p class="textdisplay">{selectedDate}</p>
                              </template>
                           </div>
                        </div>
                     </div>
                  </lightning-layout-item>
               </lightning-layout>
               <hr class="greylineOba">
               <template if:true={captureUserAccess}>
               <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center paddingButton">
                  <div class="slds-col">
                     <span>
                        <button class="slds-button slds-button_neutral buttonSize" value={label.cancelButtonLabel}
                           title={label.cancelButtonLabel} onclick={closeModal}>
                           {label.cancelButtonLabel}
                        </button>
                     </span>
                  </div>
                  <div class="slds-col">
                     <div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                     </div>
                  </div>
                  <div class="slds-col">
                     <span>
                        <button class="regular_button_blue buttonSize"
                           value={label.saveButtonLabel} onclick={sucessfulInfuion} title="Save">
                           {label.infusionCompleteMessageLabel}
                        </button>
                     </span>
                  </div>
               </div>
            </template>
            <template if:false={captureUserAccess}>
               <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center paddingButton">
                  <div class="slds-col">
                     <span>
                        <button class="slds-button slds-button_neutral buttonSize" value={label.cancelButtonLabel}
                           title={label.cancelButtonLabel} onclick={closeModal}>
                           {label.cancelButtonLabel}
                        </button>
                     </span>
                  </div>
                  <div class="slds-col">
                     <div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                     </div>
                  </div>
                  <div class="slds-col">
                     <span>
                        <button disabled class="regular_button_Grey buttonSize"
                           value={label.saveButtonLabel}  title={label.saveButtonLabel}>
                           {label.infusionCompleteMessageLabel}
                        </button>
                     </span>
                  </div>
               </div>
            </template>
            </div>
         </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
   </template>
  <!-- Final screen after OBA Completion -->
   <template if:true={showFinalScreenOba}>
      <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
         aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
         <div class="slds-modal__container">
            <header>
               <lightning-layout-item style="padding-left: 97%; font-size:large;">
                  <button class="slds-button slds-button_icon slds-button_icon-inverse" onclick={closeModalOba}
                     title={label.close}>
                     <lightning-icon icon-name="utility:close" alternative-text={label.close} variant="inverse" size="small">
                     </lightning-icon>
                     <span class="slds-assistive-text">{label.close}</span>
                  </button>
               </lightning-layout-item>
            </header>
            <div class="slds-modal__content" id="modal-content-id-3">
               <lightning-layout horizontal-align="center" style="padding-top: 30px;">
                  <lightning-layout-item padding="around-small">
                     <lightning-icon style="background: MikadoYellow;" icon-name="action:priority"
                        alternative-text="Approved" size="small"></lightning-icon>
                  </lightning-layout-item>
               </lightning-layout>
               <lightning-layout class="slds-grid slds-grid_align-center">
                  <lightning-layout-item padding="around-small">
                    <div style="text-align: center;" class="statusHeading">{label.confirmOutcome}</div>
                     </br>
                    <template if:true={milestoneSCPDate1}>
                       <template if:false={milestone1Flag}>
                           <template if:true={milestoneOutcome1Flag}>
                              <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming </div> <b> Remission.</b> -->
                              <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.remissionLabel}</b></div>
                         </template>
                           <template if:false={milestoneOutcome1Flag}>
                              <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming NON REMISSION.</div> -->
                              <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.nonRemissionLabel}</b>
                              </div>
                              </br>
                              <div class="undoneMessage">{label.nonRemissionTextLabel}</div>
                          </template>
                       </template>
                     </template>
                    <template if:true={milestoneSCPDate2}>
                       <template if:false={milestone2Flag}>
                           <template if:true={milestoneOutcome2Flag}>
                               <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming </div> <b> Remission.</b> -->
                               <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.remissionLabel}</b></div>
                              </template>
                                <template if:false={milestoneOutcome2Flag}>
                                   <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming NON REMISSION.</div> -->
                                   <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.nonRemissionLabel}</b>
                                   </div>
                                   </br>
                                   <div class="undoneMessage">{label.nonRemissionTextLabel}</div>
                          </template>
                       </template>
                     </template>
                    <template if:true={milestoneSCPDate3}>
                       <template if:false={milestone3Flag}>
                           <template if:true={milestoneOutcome3Flag}>
                               <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming </div> <b> Remission.</b> -->
                               <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.remissionLabel}</b></div>
                              </template>
                                <template if:false={milestoneOutcome3Flag}>
                                   <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming NON REMISSION.</div> -->
                                   <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.nonRemissionLabel}</b>
                                   </div>
                                   </br>
                                   <div class="undoneMessage">{label.nonRemissionTextLabel}</div>
                          </template>
                       </template>
                     </template>
                    <template if:true={milestoneSCPDate4}>
                       <template if:false={milestone4Flag}>
                           <template if:true={milestoneOutcome4Flag}>
                              <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming </div> <b> Remission.</b> -->
                              <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.remissionLabel}</b></div>
                         </template>
                           <template if:false={milestoneOutcome4Flag}>
                              <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming NON REMISSION.</div> -->
                              <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.nonRemissionLabel}</b>
                              </div>
                              </br>
                              <div class="undoneMessage">{label.nonRemissionTextLabel}</div>
                          </template>
                       </template>
                     </template>
                    <template if:true={milestoneSCPDate5}>
                       <template if:false={milestone5Flag}>
                           <template if:true={milestoneOutcome5Flag}>
                              <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming </div> <b> Remission.</b> -->
                              <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.remissionLabel}</b></div>
                         </template>
                           <template if:false={milestoneOutcome5Flag}>
                              <!-- <div class = "undoneMessage">Please note that once reported, the information cannot be undone. By selecting submit you are confirming NON REMISSION.</div> -->
                              <div class="undoneMessage">{label.preStatusLabel}<b class="toastNote">&nbsp;&nbsp;{label.nonRemissionLabel}</b>
                              </div>
                              </br>
                              <div class="undoneMessage">{label.nonRemissionTextLabel}</div>
                          </template>
                       </template>
                     </template>
                </lightning-layout-item>
               </lightning-layout>
               <hr class="greylineOba">
               <lightning-layout horizontal-align="center">
                  <lightning-layout-item>
                  <div class="slds-p_x-small slds-m-top_x-small">
                       <p class="undoneMessage">{loggedInUserName}</p>

                        <p class="undoneMessage">{lastModifiedDateOba}&nbsp;{infusionTimeZone}</p>
                    </div>
              </lightning-layout-item>
              </lightning-layout>
               <hr class="greylineOba">
               <template if:true={captureUserAccess}>
              <div style="padding-top: 20px;"
                  class="slds-grid slds-grid_vertical-align-center slds-grid_align-center paddingButton">
                  <div class="slds-col">
                     <span>
                        <button class="slds-button slds-button_neutral buttonSize" value={label.cancelButtonLabel}
                           title={label.cancelButtonLabel} onclick={closeModalOba}>
                           {label.cancelButtonLabel}
                        </button>
                     </span>
                  </div>
                  <div class="slds-col">
                     <div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                     </div>
                  </div>
                  <div class="slds-col">
                     <span>
                        <button class="regular_button_blue buttonSize"
                           value={label.saveButtonLabel} onclick={obaProcessFinalScreen} title="Save">
                           {label.submitLabel}
                        </button>
                     </span>
                  </div>
               </div>
            </template>
            <template if:false={captureUserAccess}>
               <div style="padding-top: 20px;"
                   class="slds-grid slds-grid_vertical-align-center slds-grid_align-center paddingButton">
                   <div class="slds-col">
                      <span>
                         <button class="slds-button slds-button_neutral buttonSize" value={label.cancelButtonLabel}
                            title="Cancel" onclick={closeModalOba}>
                            {label.cancelButtonLabel}
                         </button>
                      </span>
                   </div>
                   <div class="slds-col">
                      <div>
                         &nbsp;
                         &nbsp;
                         &nbsp;
                      </div>
                   </div>
                   <div class="slds-col">
                      <span>
                         <button disabled class="regular_button_Grey buttonSize"
                            value={label.saveButtonLabel}  title="Save">
                            {label.submitLabel}
                         </button>
                      </span>
                   </div>
                </div>
             </template>
           </div>
         </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
   </template>
</template>