<template>
    <lightning-card title="All HCPs" icon-name="custom:custom63">

        <div class="slds-m-around_medium">
            <template if:true={data}>
                <lightning-datatable key-field="Id" data={data} columns={columns} onsort={sortThisColumn}
                    sorted-by={sortedBy} sorted-direction={sortDirection}>
                </lightning-datatable>
            </template>
            <template if:true={error}>
                <!-- handle Apex error -->
            </template>
            <template if:true={showSpinner}>
                <div class="slds-spinner_container">
                    <div class="slds-spinner--brand  slds-spinner slds-spinner--large slds-is-relative" role="alert">
                        <span class="slds-assistive-text">All Patients</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </template>
        </div>
    </lightning-card>
</template>