<template>
 <div class="wrapperDiv">
 <template if:true={isLoading}>
    <lightning-spinner alternative-text="Loading" variant="brand"></lightning-spinner>
  </template>
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_2-of-12">
      <a class="colorBlue" onclick={navigateToView}
        ><b>{label.backtoshiplist}</b></a
      >
    </div>
    <div class="slds-col slds-size_10-of-12">
      <template if:true={showSuccess}>
        <div class="slds-theme_success slds-var-p-around_small">
          <lightning-icon
            icon-name="utility:success"
            size="small"
            class="myIcon slds-var-p-right_small"
            variant="inverse"
            alternative-text="Success"
          ></lightning-icon>
          {successMsg}
          <div class="slds-float_right">
            <lightning-icon
              icon-name="utility:close"
              size="small"
              onclick={handleClose}
              class="myIcon slds-var-p-right_small slds-var-m-left_large"
              variant="inverse"
              alternative-text="close"
            ></lightning-icon>
          </div>
        </div>
      </template>
      <template if:true={displayApprovalWarning}>
        <div class="slds-theme_warning slds-var-p-around_small">
          <lightning-icon
            icon-name="utility:warning"
            size="small"
            class="myIcon slds-var-p-right_small"
            variant="inverse"
            alternative-text="Warning"
          ></lightning-icon>
          {dispalyApprovalWarningMsg}
        </div>
      </template>
	  <template if:true={statusVal}>
        <div class="slds-theme_warning slds-var-p-around_small">
          <lightning-icon
            icon-name="utility:warning"
            size="small"
            class="myIcon slds-var-p-right_small"
            variant="inverse"
            alternative-text="Warning"
          ></lightning-icon>
          {label.CCL_Cancelled_Order_Msg}
        </div>       
      </template>
      <template if:true={displayWarningMessage}>
        <div class="slds-theme_warning slds-var-p-around_small">
          <lightning-icon
            icon-name="utility:warning"
            size="small"
            class="myIcon slds-var-p-right_small"
            variant="inverse"
            alternative-text="Warning"
          ></lightning-icon>
          {label.CCL_AphOnHold}
        </div>
      </template>
      <h1 class="mainHeading">
        {label.adfShipmntHeader}
      </h1>
      <div class="slds-float_right">
        <button
          class="slds-button slds-button_neutral slds-button__icon_left"
          disabled={disablePrintPDF}
        >
          <lightning-icon
            icon-name="utility:print"
            size="xx-small"
            alternative-text="Approved"
            class="slds-button__icon_left"
            title="PrintADF"
          ></lightning-icon
          ><a onclick={viewPdf}>{label.CCL_Print_ADF}</a>
        </button>
      </div>
      <h2 class="subHeading slds-var-m-top_large">{label.shipmnetInfoHeader}</h2>
      <hr class="blueLine">
      <div class="slds-float_right">
        <a class="colorBlue" onclick={navigateToViewHome}>{label.viewOrder}</a>
      </div>
      <div class="slds-grid slds-wrap">
        <template if:true={mainArr}>
          <template for:each={mainArr} for:item="item">
            <div class={item.class} key={item}>
              <template if:false={hasEditAccess}>
                <div class={item.outerClass}>
                  <template if:false={item.showWarning}>
                  <template if:false={item.isTime}>
                    <template if:false={item.isSite}>
                    <label for="" class="slds-form-element__label"
                    >{item.Fieldlabel}
                  </label>
                </template>
                  </template>
                </template>
                 
                  <div class="slds-grid">
                    <template if:false={item.showWarning}>
                    <template if:false={item.isTime}>
                      <template if:false={item.isSite}>
                      <lightning-input
                      type={item.fieldType}
                      variant="label-hidden"
                      class={item.innerClass}
                      data-item={item.fieldApiName}
                      onchange={handleChange}
                      onblur={handleBlur}
                      read-only="true"
                      value={item.fieldValue}
                    >
                   
                    </lightning-input>
                      </template>
                    <template if:true={item.isSite}>
                      <template if:true={addressList}>
                       <div class="myInputs100">
                        <c-c-c-l_-display-site-name
                        address-list={addressList}
                        field-item={item}
                      ></c-c-c-l_-display-site-name>
                       </div>
                       
                      </template>
                    </template>
                      </template>
                    </template>
                    <template if:true={item.showWarning}>
                      <div class="slds-var-m-bottom_large">
                        <div class="slds-var-p-bottom_x-small"><label class="labelClass slds-form-element__label slds-no-flex">{item.Fieldlabel}</label></div>
                       <div class="slds-grid">
                        <div class="slds-var-p-right_small"><template if:true={displayWarningMessage}><span><lightning-icon icon-name="utility:warning" variant="warning" alternative-text="Warning" size="xx-small" class="myIcon slds-icon-text-default" title="Warning"></lightning-icon> </span></template></div>
                        <div>{item.fieldValue}</div>
                    </div>
                      </div>
                    </template>
                      <template if:true={item.isTime}>
                        <lightning-input
                        type={item.fieldType}
                        label={item.Fieldlabel}
                        class={item.innerClass}
                        data-item={item.fieldApiName}
                        onchange={handleChange}
                        onblur={handleBlur}
                        read-only="true"
                        value={item.fieldValue}
                      >
                      </lightning-input>
                        </template>
                   
                    <div class="slds-var-p-top_large">
                      <template if:true={item.isTime}>
                        <c-c-c-l_-time-format
                          field-api-name={item.fieldApiName}
                          my-time-fields={myTimeFields}
                          in-ship-ment="true"
                        ></c-c-c-l_-time-format>
                      </template>
                    </div>
                    <template if:true={item.isDate}>
                      <c-c-c-l_-date-format
                        type={item.fieldType}
                        field-api-name={item.fieldApiName}
                        my-date-fields={myDateFields}
                        in-shipment="true"
                      ></c-c-c-l_-date-format>
                    </template>
                   
                  </div>
                </div>
              </template>
              <template if:true={hasEditAccess}>
                <div class={item.outerClass}>
                  <template if:false={item.showWarning}>
                    <template if:false={item.isSite}>
                  <label for="" class="slds-form-element__label"
                    >{item.Fieldlabel}
                  </label>
                </template></template>
                  <div class="slds-grid">
                    <template if:false={item.showWarning}>
                      <template if:false={item.isSite}>
                    <lightning-input
                      type={item.fieldType}
                      variant="label-hidden"
                      class={item.innerClass}
                      data-item={item.fieldApiName}
                      onchange={handleChange}
                      onblur={handleBlur}
                      read-only={item.isEditable}
                      value={item.fieldValue}
                    ></lightning-input></template>

                    <template if:true={item.isSite}>
                      <template if:true={addressList}>
                       
                        <div class="myInputs100">
                          <c-c-c-l_-display-site-name
                          address-list={addressList}
                          field-item={item}
                        ></c-c-c-l_-display-site-name>
                         </div>
                      </template>
                    </template>
                    </template>
                    <template if:true={item.showWarning}>
                      <div class="slds-var-m-bottom_large">
                        <div class="slds-var-p-bottom_x-small"><label class="labelClass slds-form-element__label slds-no-flex">{item.Fieldlabel}</label></div>
                       <div class="slds-grid">
                        <div class="slds-var-p-right_small"><template if:true={displayWarningMessage}><span><lightning-icon icon-name="utility:warning" variant="warning" alternative-text="Warning" size="xx-small" class="myIcon" title="Warning"></lightning-icon> </span></template></div>
                      <div>{item.fieldValue}</div>
                    </div>
                      </div>
                    </template>
                    <template if:true={item.isDate}>
                      <c-c-c-l_-date-format
                        type={item.fieldType}
                        field-api-name={item.fieldApiName}
                        my-date-fields={myDateFields}
                        in-shipment="true"
                      ></c-c-c-l_-date-format>
                      <lightning-button-icon 
                        if:true={item.isDate}
                        icon-name="utility:close"
                        data-item={item.fieldApiName}
                        class="clearTextClass"
                        variant="bare"
                        onclick = "{clearText}"
                        alternative-text="Clear" 
                        title="Clear Date Time" >
                    </lightning-button-icon>  
                    </template>
                    <template if:true={item.isTime}>
                      <c-c-c-l_-time-format
                        field-api-name={item.fieldApiName}
                        my-time-fields={myTimeFields}
                        in-ship-ment="true"
                      ></c-c-c-l_-time-format>
                    </template>
                  </div>
                </div>
              </template>

              <template if:true={item.fieldAddress}>
                <template if:true={addressList}>
                  <!-- 2450 -->
                  <p class="addressText">
                    <c-c-c-l_-display-address
                      address-list={addressList}
                      site-name={item.fieldValue}
                    ></c-c-c-l_-display-address>
                  </p>
                </template>
              </template>
              <div class="form2"></div>
              <template if:true={item.isTime}>
                <div class="slds-grid">
                  <div class="timezone slds-var-m-left_large">
                    <label
                      class="slds-form-element__label labelClass timeZoneLabel"
                      for=""
                      >{label.CCL_Time_Zone}
                      <sup>
                        <lightning-helptext
                          content={siteTimeZone}
                        ></lightning-helptext></sup
                    ></label>
                    <p class="timeLabel">{timeZone}</p>
                  </div>
                  <template if:true={hasFieldvalues}>
                    <c-c-c-l_-last-reported-by
                      has-field-values={hasFieldvalues}
                      field-api-name={item.fieldApiName}
                      username={userName}
                    ></c-c-c-l_-last-reported-by>
                  </template>
                </div>
              </template>
            </div>
          </template>
        </template>
      </div>
      <div class="wrapper slds-var-m-top_large">
        <h2 class="subHeading">{label.cryoBagHeader}</h2>
        <div class="checkbox slds-var-m-top_large slds-var-m-bottom_large">
          <lightning-input
            type="checkbox"
            checked={consent}
            class="labelClass myInputs"
            label={pleaseSelect}
            disabled={chkbxbInp}
            onchange={handleConsent}
            name="consent"
          ></lightning-input>
        </div>
        <template if:false={bagList.length}>
          <div class="slds-theme_warning slds-var-p-around_small">
            <lightning-icon
              icon-name="utility:warning"
              size="small"
              class="myIcon slds-var-p-right_small"
              variant="inverse"
              alternative-text="Warning"
            ></lightning-icon>
            {errMsg}
          </div>
        </template>
        <table
          class="slds-table slds-table_bordered slds-table_cell-buffer width80"
        >
          <thead>
            <tr>
              <th scope="col" class="colorBlue">
                <div class="slds-truncate colorBlue">{label.cryoBagNo}</div>
              </th>
              <th scope="col" class="colorBlue">
                <div class="slds-truncate slds-cell-wrap colorBlue">
                  {aphIdLabel}
                </div>
              </th>
              <th scope="col" class="colorBlue">
                <div class="slds-truncate slds-cell-wrap colorBlue">
                  {label.cryobagId}
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <template for:each={bagList} for:item="bag" for:index="indx">
              <tr key={bag.Id}>
                <td>
                  <c-c-c-l_-table_-index index={indx}></c-c-c-l_-table_-index>
                </td>
                <td>
                  {bag.CCL_COI_ID__c}
                </td>
                <td>
                  {bag.CCL_Cryobag_ID__c}
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <div class="slds-grid slds-wrap">
        <h2 class="subHeading slds-var-m-top_large">{label.dearTrackingHeader}</h2>
        <template if:true={dewarArr}>
          <template for:each={dewarArr} for:item="item">
            <div class={item.class} key={item}>
              <template if:false={item.isUrl}>
                <template if:true={item.iswaybillNo}>
                  <template if:false={item.isSite}>
                  <label class="slds-form-element__label labelClass slds-var-p-top_medium"
                  >{item.Fieldlabel}</label
                >
                  <lightning-input
                    type={item.fieldType}
                    variant="label-hidden"
                    class="labelClass"
                    onchange={handleChange}
                    data-item={item.fieldApiName}
                    read-only={item.isEditable}
                    value={item.fieldValue}
                  >
                  </lightning-input>
                </template>
                  <template if:true={item.isSite}>
                    <template if:true={addressList}>
                     
                      <c-c-c-l_-display-site-name
                        address-list={addressList}
                        field-item={item}
                      ></c-c-c-l_-display-site-name>
                    </template>
                  </template>
				 <template if:true={item.fieldAddress}>
                    <template if:true={hardPegVal}>
                    <template if:true={addressList}>
                      <!-- 2450 -->
                      <p class="addressText">
                        <c-c-c-l_-display-address
                          address-list={addressList}
                          site-name={item.fieldValue}
                        ></c-c-c-l_-display-address>
                      </p>
                    </template>
                  </template>
                 </template>
                </template>
                <template if:false={item.iswaybillNo}>
                  <template if:true={item.fieldValue}>
                    <label class="slds-form-element__label labelClass slds-var-p-top_medium"
                    >{item.Fieldlabel}</label
                  >
                    <lightning-input
                      type={item.fieldType}
                      variant="label-hidden"
                      class="labelClass"
                      onchange={handleChange}
                      data-item={item.fieldApiName}
                      read-only={item.isEditable}
                      value={item.fieldValue}
                    >
                    </lightning-input>						
                    </template>
                  </template>
              
              </template>
              <template if:true={item.isUrl}>
                <template if:true={item.fieldValue}>
                  <label class="slds-form-element__label labelClass slds-var-p-top_medium"
                    >{item.Fieldlabel}</label
                  >

                  <p>
                    <lightning-formatted-url
                      class="urlClass"
                      value={item.fieldValue}
                      target="_blank"
                    ></lightning-formatted-url>
                  </p>
                </template>
              </template>
            </div>
          </template>
        </template>
      </div>
      <footer class="slds-card__footer">
        <hr class="greyline" >
        <div class="slds-float_right footerDiv"> 
          <template if:false={displayApprovalWarning}>
          <lightning-button
            label="Cancel"
            onclick={navigateToView}
          ></lightning-button>
          <lightning-button
            class="slds-var-p-left_medium"
            variant="brand"
            label="Save"
            onclick={handleSave}
            disabled={hasResult}
          ></lightning-button>
        </template>
        </div>
      </footer>
    </div>
  </div>
  </div>
</template>