.mainHeading {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.textClass {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707; 
 }
 .myButton{
    background-color: #0460A9;
    width:250px;
    text-align: center;
    font-size: 18px;
    border-radius:4px;
    padding: 10px;
 }
 .slds-size_3-of-4{
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
    font-size: 14px;
    padding-bottom: 0px;
 }