<template>
    <div>
        <h2 class="mainHeading">Summary and Approval</h2>
        <br>
        <br>
        <lightning-input class="slds-size_3-of-4" type="text" label={message} value={myInput}></lightning-input>
        <br>
        <br>
        <div class="textClass">
            <lightning-formatted-text value={name}></lightning-formatted-text><br>
            <lightning-formatted-text value={userDateText}></lightning-formatted-text>
            <br>
            <br>
        </div>
    </div>
    <div>
        <button class="slds-button_brand myButton" onclick={handleEnter}>
            Enter
        </button>
        <!-- <lightning-button variant="brand" class="button" label={labels.CCL_ApproverButtonLabel} onclick={handleEnter}></lightning-button> -->
    </div>
    
</template>