<template>
        <div class="wrapper">
                <template if:true={selectedprecriptionNameList}>
         
                <template if:true={selectedprecriptionNameList.length}>
                  
                    <span class="heading">{selecPrescriptionStatus}</span>
                    <template for:each={selectedprecriptionNameList} for:item="item" for:index='index'>
        
                        <div class="product-tile slds-cards" key={item}>
        
                            <div class="slds-p-horizontal_small slds-m-around_x-small">
                              
                                <lightning-icon icon-name="custom:custom86" class="iconclass slds-m-right_x-small"
                                    alternative-text={alttext}>
                                </lightning-icon>
                                {item}
                            </div>
                        </div>
                    </template>
                </template>
                </template>
                </div>
</template>