<template>
	<div class="slds-m-top_medium slds-m-bottom_x-large ">
	   <div class="slds-grid slds-gutters">
		  <div class="slds-col slds-size_2-of-3">
			 <span>
				<h1 class="slds-text-heading_large slds-m-bottom_medium">
				   {label.CCL_Patient_Details}
				</h1>
			 </span>
		  </div>
		  <div class="slds-col slds-size_1-of-3">
			 <span>
				<c-c-c-l_-flow_-header></c-c-c-l_-flow_-header>
			 </span>
		  </div>
	   </div>
	   <br>
	   <hr class="blueLine"></hr>
	   <template if:true={isClinical}>
		<div>
		   <br/>
		   <h3>{label.CCL_Treatment_Protocal_Subject_ID}</h3>
		   <br>
		   <h6>
			  <p>{label.CCL_Treatment_Protocal_Subject_ID_Info}</p>
		   </h6>
		</div>
		<br/>
		<div class="demo-only demo-only--sizing slds-grid slds-wrap">
		 <div class="slds-grid slds-gutters">
			<div class="slds-col">
			   <span>
				  <div class="slds-form-element">
					  <label class="slds-form-element__label secInnerhead">{label.CCL_Protocol_ID}</label>
					 <div class="slds-form-element__control">
					 <output class="slds-output customoutput" >
						 <span>{TherapySFDCID}</span></output>
					 </div>
				  </div>
			   </span>
			</div>
			<div class="customdivclass">
			   <span class="customDash">
				   <lightning-icon class="customicon" icon-name="utility:dash" alternative-text="" size="x-small"></lightning-icon>
			  </span>
			</div>
			<div class="slds-col">
			   <span>
				  <div class="slds-form-element">
					   <b> <label class="slds-form-element__label">{label.CCL_4_Digit_Center_Number}</label></b>
					   <lightning-helptext content={label.CCL_4_Digit_Center_Number_Helptext}></lightning-helptext>
					 <div class="slds-form-element__control">
					 <output class="slds-output customoutput centernumber">
						<span>{CCL_centernum}</span>
					</output>
					 </div>
				  </div>
			   </span>
			</div>
			<div class="customdivclass">
			   <span class="customDash">
				   <lightning-icon class="customicon" icon-name="utility:dash" alternative-text="" size="x-small"></lightning-icon>
			  </span>
			</div>
			<div class="slds-col">
			   <span>
				  <div class="slds-form-element">
					 <b> <label class="slds-form-element__label">{label.CCL_3_Digit_Subject_Number}</label></b>
					 <lightning-helptext content={label.CCL_3_Digit_Subject_Number_Helptext}></lightning-helptext>
					 <div class="slds-form-element__control">
					 <lightning-input  data-id="subjectnumid"  type="text" label="abc" placeholder="XXX" onchange={handleCapacityFieldChange} onblur={resetModalFlag} maxlength="3" minlength="3" message-when-too-short={label.CCL_Patient_Details_Header} variant="label-hidden" value={CCL_subjectnum} pattern="[0-9]*" message-when-pattern-mismatch={label.CCL_SubjectNumber_Patternvalidation} class="sbjnum validValue inputText">
					 </lightning-input>
					 </div>
				  </div>
			   </span>
			</div>
		 </div>
	  </div>
	 </template>
	</div>
	<h6>{label.CCL_Patient_Details_Header}</h6>
   <template if:true={isCommercial}>
	   <template if:true={hospPatientIdOptIn}>
	   <br>
		  <div class="demo-only demo-only--sizing slds-grid slds-wrap">
			 <div class="slds-m-right_large">
				<label class="slds-form-element__label">{label.CCL_Hospital_Patient_ID}</label>
				<lightning-input type="text" data-id="PatientId" label="abc" placeholder="" maxlength="20" onchange={handleChange} value={hospPatientIdflow} variant="label-hidden" class="validValue inputText" required message-when-value-missing={label.CCL_Hospital_Patient_ID_Validation} > </lightning-input>
			 </div>
		  </div>
	   </template>
	</template>
	<template if:true={phifield}>
		<template if:true={optedIn}>
		<div class="demo-only demo-only--sizing slds-grid slds-wrap ">
			<div class="slds-grid slds-gutters">
				<template if:true={optedIn.CCL_First_Name__c}>
					<div class="slds-col">
						<span>
						   <div class="slds-form-element">
							  <b><label class="slds-form-element__label slds-p-top_small" for="input-01">{label.CCL_First_Name}</label></b>
							  <div class="slds-form-element__control">
							   <lightning-input name="First Name"  data-id="firstnameid" label="First Name" placeholder={label.CCL_First_Name} pattern='^[A-Za-z]+$' message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} variant="label-hidden" onchange={handleChange} value={CCL_firstname}  class="validValue inputText firstName-css">
							   </lightning-input>
							  </div>
						   </div>
						</span>
					 </div>
				</template>
				<template if:true={optedIn.CCL_Middle_Initial__c}>
					<div class="slds-col">
						<span>
						   <div class="slds-form-element">
							  <b> <label class="slds-form-element__label slds-p-top_small" for="input-02">{label.CCL_Middle_Name}</label></b>
							  <div class="slds-form-element__control">
							   <lightning-input  class="inputText middleinitial" name="Midlle Initial"  data-id="middleinitialid" maxlength="1" label="Middle Initial" pattern='^[A-Za-z]+$' message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} variant="label-hidden" onchange={handleChange} value={CCL_middleinitial} >
							   </lightning-input>
							  </div>
						   </div>
						</span>
					 </div>
				</template>
				<template if:true={optedIn.CCL_Last_Name__c}>
					<div class="slds-col">
						<span>
						   <div class="slds-form-element">
							  <b> <label class="slds-form-element__label slds-p-top_small" for="input-02">{label.CCL_Last_Name}</label></b>
							  <div class="slds-form-element__control">
							   <lightning-input name="Last Name" data-id="lastnameid" label="Last Name" placeholder={label.CCL_Last_Name} pattern='^[A-Za-z]+$' message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} variant="label-hidden" onchange={handleChange} value={CCL_lastname}  class="validValue inputText">
							   </lightning-input>
							  </div>
						   </div>
						</span>
					 </div>
				</template>
				<template if:true={optedIn.CCL_Suffix__c}>
					<div class="slds-col">
						<span>
						   <div class="slds-form-element">
							  <b> <label class="slds-form-element__label slds-p-top_small" for="input-02">{label.CCL_Suffix}</label></b>
							  <div class="slds-form-element__icon">
							  </div>
							  <div class="slds-form-element__control inputText">
								 <lightning-combobox
									name="progress" label="Status" data-id="suffixid" value={CCL_suffix} placeholder="" options={newArr}
									onchange={handleChange} variant="label-hidden" class="validValue middleinitial"></lightning-combobox>
							  </div>
						   </div>
						</span>
					 </div>
				</template>
				<!-- patient intials code-->
				<template if:true={optedIn.CCL_Initials__c}>
					<div class="slds-col">
						<span>
						   <div class="slds-form-element">
							  <b> <label class="slds-form-element__label slds-p-top_small" for="input-02">{label.CCL_Patient_Intials}</label></b>
							  <div class="slds-form-element__icon">
							  </div>
							  <div class="slds-form-element__control inputText">
								<lightning-input name="Initials" data-id="initials"  placeholder="" pattern='^[A-Za-z]+$' maxlength="2" minlength="2" message-when-too-short={label.CCL_Patient_Initial_Validation_Message} message-when-too-long={label.CCL_Patient_Initial_Validation_Message} message-when-pattern-mismatch={label.CCL_Pattern_Validation_error_message} variant="label-hidden" onchange={handleChange} value={CCL_patientInitials}  class="validValue inputText">
								</lightning-input>
							  </div>
						   </div>
						</span>
					 </div>
				</template>

			</div>
		 </div>

		<template if:true={optedIn.CCL_Day_of_Birth__c}>
			<br/>
			<label class="slds-form-element__label">{label.CCL_Date_fof_Birth}</label>
		</template>
		<template if:false={optedIn.CCL_Day_of_Birth__c}>
			<template if:true={optedIn.CCL_Month_of_Birth__c}>
				<br/>
				<label class="slds-form-element__label">{label.CCL_Date_fof_Birth}</label>
				</template>
		</template>
		<template if:false={optedIn.CCL_Day_of_Birth__c}>
			<template if:false={optedIn.CCL_Month_of_Birth__c}>
				<template if:true={optedIn.CCL_Year_of_Birth__c}>
					<br/>
				<label class="slds-form-element__label">{label.CCL_Date_fof_Birth}</label>
				</template>

				</template>
				</template>

		<div>
		   <div class="demo-only demo-only--sizing slds-grid slds-wrap">
			<template if:true={optedIn.CCL_Day_of_Birth__c}>
				<div class="slds-m-right_large">
					<div class="slds-form-element__control">
					   <div class="daymonth">
						  <lightning-combobox
						  name="Date" label="Date"  value={date} placeholder={label.CCL_dd_Lwc} options={dateoptions}
						  onchange={dateHandler} variant="label-hidden" class="date datemonth validValue inputText"  message-when-value-missing="Please select a Date" required></lightning-combobox>
					   </div>
					</div>
				 </div>
			</template>
			<template if:true={optedIn.CCL_Month_of_Birth__c}>
			  <div class="slds-m-right_large">
				 <div class="slds-form-element__control">
					<div class="daymonth">
						<lightning-combobox
						name="Month" label="Month"  value={month} placeholder={label.CCL_mmm_Lwc} options={monthoptions}
						onchange={monthHandler} variant="label-hidden" class="month datemonth validValue inputText" message-when-value-missing="Please select a Month" required></lightning-combobox>
					</div>
				 </div>
			  </div>
			  </template>
			  <template if:true={optedIn.CCL_Year_of_Birth__c}>
			  <div class="slds-m-right_large">
				 <lightning-input class="dateyear inputyear validation  validValue inputText" type="text" label="abc" placeholder={label.CCL_yyyy_Lwc} pattern="[0-9]*" message-when-pattern-mismatch={label.CCL_Year_Mismatch_Error_Message} message-when-too-short={label.CCL_Year_Format_Error_Message} variant="label-hidden" value={year} onchange={yearHandler} message-when-value-missing="Please fill the year" min-length=4 max-length=4 required></lightning-input>
			  </div>
			  </template>
			  <div>
			  <div if:true={dobvalidmonth} class="custvalidation paddingTop6">
				  {leaperror}
			</div>
				<div if:true={dobvalidyear} class="custvalidation paddingTop6">
					{nonleaperror}
			</div>
				<div if:true={dobvalid} class="custvalidation paddingTop6">
					{dateerror}
				</div>
				<div if:true={futurevalid} class="custvalidation paddingTop6">
					{futureerror}
				</div>
			<div if:true={agevalid} class="custvalidation">
				{ageval}
			</div>
			</div>
		   </div>
		</div>
	</template>
</template>
	<b><label class="slds-form-element__label slds-m-top_medium" >{label.CCL_Patient_Weight_PRF}</label></b>
    <div class="slds-grid slds-gutters">
		<div class="demo-only demo-only--sizing slds-grid slds-wrap">
	   <div class="slds-size_1-of-5">
		 <div class="slds-m-right_none slds-text-align_center slds-m-around_x-small">
			 <lightning-input type="number"  class ="validateweight inputText kgBox" name="patientWeight" data-id="patientweightid" label="abc" placeholder="" message-when-step-mismatch={label.CCL_Patient_Weight_Error_Message} variant="label-hidden" step=".1" value={CCL_patientweight} onchange={handleChange}> </lightning-input></div>
	   </div>
	   <div class="slds-size_1-of-8">
		 <div class="slds-m-left_none slds-text-align_center slds-m-around_x-small">
			 <lightning-input type="text" disabled  name="kg" label="abc" placeholder="kg"  variant="label-hidden"></lightning-input> </div>
	   </div>
	 </div>
	 </div>
	 <div if:true={weightValidationError} class="slds-text-color_error"> {label.CCL_Patient_Weight_Threshold} </div>
     <template if:true={isCommercial}>
		<div class="slds-grid slds-grid_vertical slds-m-top_medium">
			<div class="slds-col">
		  <label class="slds-form-element__label secInnerhead"
		  for="form-element-01"><b>{label.CCL_Prescriber}</b>
		  </label>
		 </div>
		  <div class="slds-col">
		  <select class="slds-select inputText prescribercls customError" style="width: 40%;" onchange={handlePrescriber} required>
			 <template if:true={recordLength}>
			  <option value="">{label.CCL_PleaseSelect}</option>
			  </template>
			  <template for:each={prescriberList} for:item="rec">
			  <option key={rec.Id}  class="uiInputSelectOption" value={rec.Name}>{rec.Name} </option>
			  </template>
		  </select>
		 </div>
		 </div>
		 <div if:true={prescriberError} class="slds-text-color_error"> {label.CCL_Mandatory_Field} </div>
		</template>


	<template if:true={researchsample}>
	<template if:true={isClinical}>
	<div class="demo-only demo-only--sizing slds-grid slds-wrap slds-m-top_medium">
	   <div class="slds-col">
		  <span>
			 <div>
				<b> <label class="slds-form-element__label">{label.CCL_Patient_consent}</label> </b>
				<lightning-radio-group class="radiobtn inputText" variant="label-hidden" data-id="patientconsentid" label="Patient consent for additional research with biological samples ?" onchange={handleChange} options={options} value={patientconsent} type="radio" ></lightning-radio-group>
			 </div>
		  </span>
	   </div>
	</div>
</template>
</template>
<div>
    <template if:true={isClinical}>
	<div class="slds-grid slds-grid_vertical slds-m-top_medium">
		<div class="slds-col">
	  <label class="slds-form-element__label secInnerhead"
	  for="form-element-01"><b>{label.CCL_Principal_Investigator}</b>
	  </label>
	 </div>
	  <div class="slds-col">
	  <select class="slds-select inputText investigatorCls customError" style="width: 40%;" onchange={handlePrescriber} required>
		 <template if:true={recordLength}>
		  <option value="">{label.CCL_PleaseSelect}</option>
		  </template>
		  <template for:each={prescriberList} for:item="rec">
		  <option key={rec.Id}  class="uiInputSelectOption" value={rec.Name}>{rec.Name} </option>
		  </template>
	  </select>
	 </div>
	 </div>
	 <div if:true={prescriberError} class="slds-text-color_error"> {label.CCL_Mandatory_Field} </div>
	</template>
	<template if:true={checkPatientConsent}>
	<div class="slds-size_1-of-1 labelClass fontFamilyBold slds-grid slds-grid_vertical slds-m-top_medium">
		{label.cCL_Patient_Consents}
	</div>
	<div class="slds-size_1-of-1 labelClass ">
		{label.CCL_Document_Upload_Msg}
	  </div>
	  <div class="fileUpload">
		<lightning-file-upload
		disabled={custOpsLogin}
		label=""
		name="fileUploader"
		accept={acceptedFormats}
		record-id={orderDocId}
		onuploadfinished={handleUploadFinished}
		class="fileClass"
		multiple>
        </lightning-file-upload>
	  </div>
	  <div if:true={fileUploadMandatoryErr} class="slds-text-color_error"> {label.CCL_Document_Required_Validation_Message} </div>
	  <template if:true={showUploadedFiles}>
		<template if:true={filesUploaded}>
		<template for:each={filesUploaded} for:item="item" for:index="index">
		  <div class="slds-size_1-of-1 slds-m-top_small"  key={item.documentId}>
			<a onclick={viewDocument} name={item.documentId}>{item.name}</a>
			<template if:true={renderDelete}>
			  <lightning-icon icon-name="utility:close"  alternative-text={item.documentId} class="iconClass hideBtn" size="x-small" variant="error" onclick={removeFile} title="Delete" name="openConfirmation"></lightning-icon>
			</template>
		  </div>
		</template>
		</template>
	  </template>
	  <c-c-c-l_-delete_-file_-confirmation title={label.CCL_DeleteConfirmation_Title} message={label.CCL_DeleteConfirmation_Message} confirm-label={label.CCL_DeleteConfirmation_Ok} cancel-label={label.CCL_DeleteConfirmation_Cancel} visible={isDialogVisible} original-message={originalMessage} name="confirmModal" onclick={removeFile}>
	</c-c-c-l_-delete_-file_-confirmation>
	</template>
</div>
	<!-- ========================= Scheduling Prompt start ======================= -->
        <template if:true={schedulerPrompt}>
		<!-- Modal/Popup Box LWC starts here -->
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<lightning-card>
					<h3 class="modalheader">
						<div class="slds-text-align_center slds-m-bottom_medium">
							<lightning-icon icon-name="action:priority" class="icon-color" size="small"  title={label.CCL_Consent}></lightning-icon>
						</div>
					</h3>
					<div slot="footer" class="modalfooter" style="padding-bottom:7%">
						<button class="slds-button slds-button_neutral slds-float_left" onclick={doNotChangeScheduler} title={label.CCL_Cancel_Button}><span style="width: 150px">{label.CCL_Cancel_Button}</span></button>
						<button class="slds-button slds-button_brand btnClass slds-float_right" onclick={changeScheduler} title={label.CCL_Yes_edit_details}><span style="width: 150px">{label.CCL_Yes_edit_details}</span></button>
					</div>
					<p class="slds-p-horizontal_small modalbody slds-align_absolute-center" style="font-size: 0.8rem;"><b>{label.CCL_Capacity_API_Change_Message}</b></p>
					<p class="slds-p-horizontal_small modalbody slds-align_absolute-center" style="font-size: 0.8rem;"><b>{label.Capacity_API_message}</b></p>
				</lightning-card>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
        <!-- ========================= Scheduling Prompt end ========================= -->
	<hr class="greyline">
		<div class="slds-m-top_medium button-text">
			<c-c-c-l_-flow_-footer
				show-next='true'
				cssitem1={var2}
				cssitem={var1}
				show-prev={showHideBackBtn}
				show-review={returnFromReview}
				onprevious={onPrevious}
				onnext={onNext}
				onreview={onReview}>
			</c-c-c-l_-flow_-footer>
		</div>
 </template>