.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.5rem 0;
    margin-top: -1.5rem;
  }
.custvalidation{
    color:  #b30000;
}
.cust{
 width: 12%;   
}
.customicon{
    margin-top: 2.8rem;
   }
.customdivclass{
    position: relative;
   }
.custred
{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    width: 50%;
    transition: border 0.1s linear,background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.customRadioCls  {
    display: inline-flex;
    align-items: center;
}
.radio-inline{
    position:relative;
    display:inline-block;
    padding-left:20px;
    margin-bottom:0;
    font-weight:400;
    vertical-align:middle;
    cursor:pointer
}
.customDash{
    /*position: relative;
    top: 48px;
    margin-right: 10px;*/
}
.customoutput{
    position: relative;
    top: 10px;
    word-break: break-all;
    }
.middleinitial{
    width: 90px;
}
.firstName-css{
    width: 190px;
}
.dateyear{
    width: 73px;
}
.datemonth{
    width: 95px;
}
.bottomLine{
    border-top: 1.5px solid #C9C7C5;
    margin-top:4rem;
  }
.secInnerhead {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
}
label.slds-form-element__label{
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
}
.redBorder{
    border: 2px solid rgb(194, 57, 52);
}
.weightInput{
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
    border:2px solid rgb(194, 57, 52);
}
h1 {
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
h3 {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
}
h6 {
    font-size: 14px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
}
.inputText{
    font-size: 16px;
    font-family: 'VoltaModernText-55Roman';
    color: #080707;
  }
.button-text {
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
  }
.slds-form-element__label{
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#3E3E3C;
}
.kgBox{
    border-right: none;
}
.greyline{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.paddingTop6{
    padding-top:6px;
}
.fontFamilyBold{
    
    font-family: 'VoltaModernDisplay-75Bold';
}
.labelClass{
    font-weight: 900;
}
.iconClass{
    cursor: pointer;
}