.iconColorApproval {
    background-color: seagreen;
}
.iconColorReject {
    background-color: red;
}
.labelInput{
    width: 60%;
    padding-left: 3rem;
    font-weight: 900;
    font-size: 15px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.modalTitle{
    font-size: 18px;
}
.rejectLabel{
    width: 79%;
    margin: 0 auto;
    font-weight: 900;
    font-size: 12px;
    padding-left: 3.3rem;
}
.rejectTextArea {
    width: 75%;
    margin: 0 auto;
}
.approverData{
    padding-left: 12.5rem;
    font-size: 14px;
}
.approverCheckbox {
    transform: scale(1.5);
    padding-top: 0.5rem;
    padding-left: 6.5rem;
}
.labelClass{
    font-weight: 900;
}
.textarea{
    height: 100px;
}

.blueLine {
    border-top: 1px solid #0460a9;
    margin:0.4rem 0;
}

h4 {
    font-size: 24px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
.greyline{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-top: 2px solid rgb(221, 219, 218);
}
.btnwidth{
    width: 150px;
}

.secInnertitle {
    font-family: 'VoltaModernText-55Roman';
    font-size: 14px;
    color: #080707;
}

.backbuttoncls{
    color: #2574a9;
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 14px;
    margin-left: 5px;
}