<template>
    <template if:false={showConfirmation}>
        <div if:true={therapyAssocData} class="wrapper slds-grid">
            <div class="slds-col slds-size_1-of-4 slds-text-align_center">
                <button class="slds-button slds-text-link_reset backbuttoncls" onclick={redirectToSummary}>Back</button>
            </div>
            <div class="slds-col slds-size_3-of-4">
                <div >
                    <div class="slds-text-heading_large slds-m-bottom_large slds-m-left_medium">
                        <h1>{labels.CCL_Verification_and_Approval}</h1>
                    </div>
                    <div class="slds-m-around_medium">
                        <c-c-c-l_-p-r-f_-summary_-submit hospital={orderingHospital} therapy={therapy}
                            hospital-patient-id={hospitalPatientId} split-subject={splitSubject} therapy-type={therapyType}
                            -c-c-l_patientweight={patientWeight} approval-page-counter={approvalPageCounter}
                            country-therapy-ass-id={countryTherapyId} -prescriber-investigator={prescriberInvestigator}
                            -c-c-l_firstname={patientFirstName} -c-c-l_middleinitial={middleInitial} -c-c-l_lastname={lastName}
                            -c-c-l_suffix={suffix} -c-c-l_patient-initials={patientInitial} dateof-birth={dateofBirth}
                            -c-c-l_inpmonth={monthOfDob} -c-c-l_inpyear={yearOfDob} -c-c-l_patient-con={patientConsent}
                            collection-center-id={collectionCenterId} aph-pickup-location-id={aphPickupLocationId}
                            infusion-center-id={infusionCenterId} ship-to-loc-id={shipToLocId} sitetextavail={sitetextavail}
                            -site-discrepancy-text={SiteDiscrepancyText} planned-pickup-date-flow={plannedPickupDate}
                            manufacturing-start-date-flow={manufacturingStartDate} product-finished-date-flow={productFinishedDate}
                            show-dynamic-text={showDynamicText} below-scheduler-text={belowSchedulerText}
                            hospital-opt-in-flow={hospitalOptIn} hospital-purchase-order-text={paymentSectionText}
                            hospital-purchase-order-opt-in-flow={hospPurchaseOrderNo} veterans-applicable-flow={veteransApplicableFlag}
                            payment-checkbox={VaPatientCheckbox} capture-patient-country={capturePatientCountry}
                            patient-country-residence-value={patientCountryResidenceValue} billing-party-visible={billingPartyVisible}
                            billing-party-value={billingPartyValue} orderfirstnamecoi={OrderFirstNameCOI} ordermiddlenamecoi={OrderMiddleNameCOI} 
                            orderlasttnamecoi={OrderLasttNameCOI} ordersuffixcoi={OrderSuffixCOI} orderinitialscoi={OrderInitialsCOI} 
                            orderdaycoi={OrderDayCOI} ordermonthcoi={OrderMonthCOI} orderyearcoi={OrderYearCOI} orderid={orderid}>
                        </c-c-c-l_-p-r-f_-summary_-submit>
                    </div>
                        <div class="slds-m-around_medium">
                            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                                    <h4 class="slds-m-top_large">{labels.CCL_Submitted_by}</h4>
                                </div>
                            </div>
                            <hr class="blueLine"></hr>
                            <div class="slds-m-top_large slds-m-bottom_medium">
                                <div class="slds-text-title slds-m-top--xx-small secInnertitle">{latestOrderSubmitter}
                                </div>
                                <div class="slds-text-title slds-m-top--xx-small secInnertitle">{latestOrderSubmittedDate}
                                </div>
                            </div>
                            <hr class="greyline"></hr>
                        </div>
                        <div class="slds-float_right slds-m-around_small">
                            <button onclick={openRejectOrderModal}
                                class="slds-p-horizontal_medium btnwidth slds-button slds-button_outline-brand slds-m-right_medium">{labels.CCL_Reject_Button}</button>
                            <button onclick={openApproverModal}
                                class="slds-p-horizontal_medium btnwidth slds-button slds-button_brand ">{labels.CCL_Approve_Button}</button>
                        </div>
                </div>
            </div>
        </div>
    </template>
    <template if:true={loaded}>
        <div class="slds-spinner_container">
            <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </template>   
    <template if:false={showConfirmation}>
        <c-c-c-l_-modal_-utility 
            is-modal-open={isModalOpen} 
            onclose={closeModal}
            is-approve-btn-disabled={isApproveBtnDisabled}
			is-reject-btn-disabled={isRejectBtnDisabled}
            show-reject-btn={showRejectBtn}
            show-approve-btn={showApproveBtn}
            show-validation-msg={showValidationMsg}
            onorderapproved={updateOrder}
            onshowvalidation={showValidation}
            onorderreject={rejectOrder}>
            <div slot="modalHeader">
                <template if:true={displayErrorMsg}>
                    <div
                        class="slds-p-around_medium slds-m-top_x-large slds-text-body_regular slds-text-color_error slds-text-align_left">
                        {labels.CCL_Approve_Order_Validation_Msg}</div>
                </template>
                <lightning-icon icon-name={iconName} class={iconClass}></lightning-icon>
            </div>
            <div slot="modalBody">
                <div
                    class="slds-text-heading_large slds-m-bottom_medium slds-text-title_bold slds-text-align_center modalTitle">
                    <h2>{modalTitle}</h2>
                </div>
                <template if:true={showApproverContent}>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="slds-grid">
                            <lightning-input class="checkBox approverCheckbox" type="checkbox" onclick={handleCheckbox}>
                            </lightning-input>
                            <label class="labelInput slds-text-align_left">{labels.CCL_Approver_Checkbox_Label}</label>
                        </div>
                    </div>
                    <div class="slds-text-align_left approverData">{objUser.FirstName} {objUser.LastName}</div>
                    <div class="slds-text-align_left approverData slds-m-bottom_large">{approverDateTimeNVS}</div>
                </template>
                <template if:true={showRejecterContent}>
                    <div class="slds-form-element slds-p-top_medium">
                        <div class="slds-grid slds-wrap slds-align_absolute-center">
                            <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClass">
                                <lightning-textarea type="text" class="textarea rejectTextArea rejectionComment"
                                    label={labels.CCL_Rejecter_Order_Textarea_Label}
                                    field-level-help="Please enter reason upto 255 characters"
                                    onchange={handleCommentsChange} max-length="255">
                                </lightning-textarea>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </c-c-c-l_-modal_-utility>
    </template>
    <div class="slds-align_absolute-center" if:true={showConfirmation}>
        <c-c-c-l_-confirmation_-utility icon-name={iconName} icon-class={iconClass}
            order-approved-text={confirmationTitle} order-approved-sub-text={confirmationSubText}>
        </c-c-c-l_-confirmation_-utility>
    </div>
</template>