<template>
  <!-- Added as part of 2096-->
  <template if:true={prfWarningMessage}>
    <div class="slds-error slds-theme_warning slds-p-around_small">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="myIcon slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon>
      {label.CCL_PRF_Resubmission_Approval}
    </div>
  </template>
  <h1 class="sectionHeader">{label.recmColDetails}</h1>
  <lightning-accordion allow-multiple-sections-open={multiple} active-section-name={activesectionName}>
   
  <template for:each={tableData} for:item="item" for:index="index">
    <div class="myCard"  key={item.Id}>
    <lightning-accordion-section name={item.attributes.url} label={item.attributes.url}>
      <c-c-c-l_-recommended_-collection_-child saveclicked={saveClicked} record-id={recordId} time-zone={timeZone} stored-values={storedValues} commentorfilechange={commentOrFileChange} api-names={apiNames} collectionid={item.Id} index={index} my-actual-arr={myActualArr}   onmycustomevent={handleCustomEvent} savelaterclicked={saveLaterClicked} onsaveclickedfalse={saveClickedFalse}  onmyvalidationevent={handleValidation} my-format-dates={myDateObj} my-format-times={myTimeObj} onupdatereasonevent={handleUpdateReason} is-a-d-f-viewer-internal={isADFViewerInternal}></c-c-c-l_-recommended_-collection_-child>
	  </lightning-accordion-section>
    </div>
  </template>
</lightning-accordion>

  <div class="myCard">

 
  <h2>{label.additionalComments}</h2>
  <hr class='blue_line'>
<div class="slds-grid slds-wrap ">
  <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClass">
    <lightning-textarea type="text" name="input10" label={label.collectionandCryopreservationComments} value={commentValue} onchange={handleCommentsChange} field-level-help={label.CCL_255_Char_Limit} max-length="255">    
    </lightning-textarea>
  </div>
  <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClassFiles">
    {label.relatedDocuments}<br>{label.CCL_Document_Upload_Msg}
    <div class="fileUpload">
      <lightning-file-upload
      label=""
      name="fileUploader"
      accept={acceptedFormats}
      record-id={adfDocId}
      onuploadfinished={handleUploadFinished}
      class=""
      multiple
      disabled={disableFileUpload}>
</lightning-file-upload>
    </div>
   
    </div>
    <template if:true={showUploadedFiles}>
    <template if:true={filesUploaded}>
    <div class="slds-col slds-size_1-of-1 slds-p-horizontal_medium slds-m-top_small labelClassFiles">
      <template for:each={filesUploaded} for:item="item" for:index="index">
        <div class="slds-size_1-of-1 slds-m-top_small labelClass"  key={item.Id}>
          <a onclick={viewDocument} name={item.ContentDocumentId}>{item.ContentDocument.Title}.{item.ContentDocument.FileExtension}   </a>
          <template if:true={renderDelete}>
          <lightning-icon icon-name="utility:close"  alternative-text={item.ContentDocumentId} class="iconClass hideBtn" size="x-small" variant="error" onclick={removeFile} title={label.CCL_Delete} name="openConfirmation"></lightning-icon>
        </template>
        </div>
      </template>  
    </div>
  </template>
</template>
</div>
</div>
<div class="slds-m-top_medium">
  <template if:true={isADFViewerInternal}>
    <c-c-c-l_-flow_-footer show-next='true' show-save-grey='true'   show-prev='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
    onsubmit={handleSubmit}>

    </c-c-c-l_-flow_-footer>
  </template>
  <template if:false={isADFViewerInternal}>
  <c-c-c-l_-flow_-footer show-next='true' show-save='true' show-prev='true' onprevious={onPrevious} onnext={onNext} onsave={onSave} onreview={onReview}
  onsubmit={openModal}>

  </c-c-c-l_-flow_-footer>
</template>

</div>
<template if:true={isModalOpen}>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
          <header class="slds-modal__header no-border">
              <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.CCL_Modal_Close} onclick={closeModal}>
                  <lightning-icon icon-name="utility:close"
                      class="closeModal"
                      alternative-text="close"
                      variant="inverse"
                      size="small" ></lightning-icon>
                  <span class="slds-assistive-text">{label.CCL_Modal_Close}</span>
              </button>
              <div class="wrapper">
                <div class="slds-m-bottom_large">
                </div>
                <div class="slds-m-bottom_large">
              <lightning-icon icon-name="action:approval" alternative-text={label.CCL3_Approved} size="small"  title={label.CCL3_Approved}></lightning-icon>
              </div>
              <div class="slds-text-heading_large slds-m-bottom_small slds-text-title_bold"> {label.CCL_Collection_Details_Complete}</div>
            </div>
            <div class="slds-modal__content_name slds-align_absolute-center">{userName.FirstName} {userName.LastName}
            </div>
            <div class="slds-modal__content_name slds-m-bottom_medium slds-align_absolute-center">{textDateTimeVal}
            </div>
            </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <div class="slds-m-bottom_large slds-align_absolute-center">{label.CCL_Collection_Details_Complete_Navigation}
             </div>
          </div>
          <div class="slds-modal__footer no-border slds-m-bottom_large">
            <div class="slds-align_absolute-center slds-m-bottom_large no-border">
              <div class="slds-m-right_large"><button class="slds-button add-border slds-m-bottom_large slds-button_neutral" onclick={navigateAhead} title="navigateToView">{label.CCL_Transfer_to_Cell_Lab}</button></div>
              <button class="slds-button add-border slds-button_brand slds-m-bottom_large" onclick={navigateAhead} title="NextScreen">{label.CCL_Enter_Cryopreservation_Details}</button>
            </div>
          </div>
      </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>

<!--Added as part of 850-->
<template if:true={isReasonModalOpen}>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
          <header class="slds-modal__header no-border">
              <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse slds-var-m-bottom_small" title={label.CCL_Modal_Close} onclick={closeReasonModal}>
                  <lightning-icon icon-name="utility:close"
                      class="closeModal"
                      alternative-text="close"
                      variant="inverse"
                      size="small" ></lightning-icon>
              </button>
              <div class="wrapper">
              <div class="slds-var-m-bottom_large">
              </div>
              <div class="slds-var-m-bottom_large">
                <lightning-icon icon-name="action:edit" alternative-text="Approved" size="small" class="submitIcon slds-var-m-bottom_medium" title={label.CCL_Submit}></lightning-icon>
              </div>
              <div class=" slds-var-m-bottom_medium slds-text-title_bold reasonHead"><h2>{label.CCL_Reason_Modal_Header}</h2></div>
          </div>
          <div class="slds-grid slds-wrap ">
            <div class="slds-align_absolute-center slds-var-m-bottom_medium slds-text-title_bold reasonSubhead"><p>{label.CCL_Reason_Modal_Subheading}</p></div>
          <div class="slds-col slds-size_1-of-1 slds-var-p-horizontal_medium slds-var-m-top_small labelClass">
              <lightning-textarea type="text" class="textarea Reason" onchange={handleReasonChange} label={label.CCL_Reason_Modal_Message} field-level-help={label.CCL_Reason_Modal_Helptext} max-length="500"> 
              </lightning-textarea>
          </div>
          </div>
          </header>
          <div class="slds-modal__footer no-border slds-var-m-bottom_large">
          <div class="slds-align_absolute-center slds-var-m-bottom_large no-border">
              <div class="slds-var-m-right_large"><button class="slds-button slds-var-m-bottom_large slds-button_neutral myButton" title="cancel" onclick={closeReasonModal}>{label.CCL_Back}</button></div>
              <button class="slds-button add-border slds-button_brand slds-var-m-bottom_large reject myButton" title="submit" name="submit" onclick={onReasonSubmit}>{label.CCL_Save_Changes}</button>
          </div>
          </div>
      </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>

<c-c-c-l_-delete_-file_-confirmation title={label.CCL_DeleteConfirmation_Title} message={label.CCL_DeleteConfirmation_Message} confirm-label={label.CCL_DeleteConfirmation_Ok} cancel-label={label.CCL_DeleteConfirmation_Cancel} visible={isDialogVisible} original-message={originalMessage} name="confirmModal" onclick={removeFile}>
</c-c-c-l_-delete_-file_-confirmation>
</template>
