.blue_line {
    border-top: 1px solid #0070d2;
    margin:1rem 0;
}
h1 {
    font-size: 2em;;
}
.labelClass{
    font-weight: 900;
}
.labelClassFiles{
    font-weight: 900;
    font-family: VoltaModernDisplay-75Bold;
    font-size: 12px;
	color:#000;
    
}
.sectionHeader{
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold';
    margin-top: 1rem;
}
.myCard {
    position: relative;
     padding: 13px;
     background: #fff;
     margin: 2rem 0;
     border-radius: .25rem;
     background-clip: padding-box;
     box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
 }
h2 {
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
}
.fileUpload {
    border-radius: .25rem;
}
.slds-modal__container{
    width:60%;
    height : auto;
    max-height: 180rem;
    min-height: 40rem;
    padding: 3rem 0;
}
.closeModal{
    border:none;
    box-shadow:none;
}
.no-border{
    border:none;
}
.slds-modal__footer{
    padding: 0;
    margin: 0; 
}
.slds-text-title_bold {
    font-size: .975rem;
    font-weight: 900;
    color: black;
}
.slds-modal__content{
    padding-left: 8rem;
    padding-right: 8rem;
    color: black;
    text-align: center;
    font-weight: 500;
}
.slds-modal__content_name{
    color: rgba(3, 1, 1, 0.836);
    text-align: center;
    font-weight: 400;
}
.add-border{
    border-color: rgb(76, 109, 170);
}
.iframe {
    border: 0;
    width: 100%;
}
.dateClass{
    width: 25%;
}
.timeClass{
    width: 30%;
}
.slds-modal__content_name{
    color: rgba(3, 1, 1, 0.836);
    font-weight: 400;
}
.textarea{
    height: 140px;
    text-align: initial;
}
.myButton{
    width:200px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .myButtonSubmit{
    width:300px;
    text-align: center;
    border-radius:4px;
    padding: 10px;
 }
 .submitIcon {
    background-color:orange;
   }
   .reasonHead{
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
    font-weight: 500;
}
.reasonSubhead{
    font-family: 'voltaModernText-55Roman';
    font-size: 14px;
    font-weight: 500;}