<template>
   <div class="slds-float_right slds-p-right_xx-large slds-m-top_medium">
      <lightning-button variant="brand-outline" label={label.CCL_Return_to_Dashboard}
      title="Primary action with lighter look" onclick={goToNextCommercialScreen} class="slds-m-left_x-small">
    </lightning-button>
     </div>
   <div class="topheading">
      <p>{label.CCL_Order_Summary}</p>
   </div>
   <div if:true ={orderRejected} class="slds-m-bottom_large slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
      <lightning-icon
        icon-name="utility:warning"
        size="small"
        class="slds-p-right_small"
        variant="inverse"
        alternative-text="Warning"
      ></lightning-icon>
      <h2 class="reasonSubhead slds-show--inline-block">{label.CCL_Rejection_Reason} <b>{rejectionReason}</b></h2>
    </div>
   <div class="outerwrapper">
      <template if:true={displayWarningMessage}>
         <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
            <lightning-icon icon-name="utility:warning" size="x-small" class="slds-p-right_x-small" variant="inverse"
               alternative-text="Warning"></lightning-icon>
            <h2 class="slds-show--inline-block">{warningMessage}</h2>
         </div>
      </template>
      <div class="slds-grid slds-gutters">
         <div class="slds-float_float cardHeading slds-float_left slds-p-right_xx-large slds-m-top_large width">
            <p>{label.CCL_Product_Order_Details}</p>
         </div>
      </div>
      <div class="slds-clearfix">
         <div class="padding slds-float_right slds-p-right_small slds-m-top_xx-small">
           
            <template if:true={hasPermission}>
               <template if:false={cancelOrder}>
                  <button class="slds-button slds-text-link editbtn" onclick={editOrder}>
                     {label.CCL_Edit_Order} 	</button>
               </template>
            </template>	
            </div>
         </div>
      <template for:each={rtnValue} for:item="rec">
         <article class="slds-p-top_medium" key={rec.Id}>
            
            <div class="slds-grid slds-m-top_small">
               <div class="slds-m-top_small slds-media__body patientname">
                  <h4 class="slds-text-title_bold slds-card__header-title">
                     <template if:false={ShowPatientInitials}>
                        <template if:true={phifield}><span>{label.CCL_Patient_Name_PRF}</span> </template>
                     </template>
                     <template if:true={ShowPatientInitials}>
                        <template if:true={phifield}><span>{label.CCL_patientInitials}</span> </template>
                     </template>

                  </h4>
                  <div class="slds-float_right">
                     <div class="slds-clearfix">
            <template if:true={showApproval}>
               <template if:true={showapprovalonsubmit}>
                        <lightning-button class="slds-p-right_small" variant="brand" label="Verify and Approve Order" onclick={openApproval}>
                        </lightning-button>

               </template>
            </template>

                     <template if:true={enterreplacement} class="slds-m-top_x-small">
                        <button if:true={disableReplacement} disabled class="slds-p-right_small slds-button slds-button_neutral slds-text-title_bold replacementbtn"
               onclick={page}>{label.CCL_Enter_a_Replacement_Order}</button>
	       <template if:false={disableReplacement}>
            <button class="slds-button buttonLabel1 slds-button_neutral add-border slds-p-right_small"
               onclick={page}>{label.CCL_Enter_a_Replacement_Order}</button>
			   <lightning-helptext class="helptextPosition slds-var-m-right_small" content="Select to enter an order to ship additional apheresis material"></lightning-helptext>
	       </template>
      </template>


                     <template if:true={exceptionStatus}>
                        <p class=" slds-m-left_large slds-var-m-bottom_small slds-text-title_bold status slds-text-align_right status">
                           {exceptionStatus}
                        </p>
                     </template>

                     <template if:true={conditionalStatus}>
                        <p class=" statusyellowcolor slds-float_right slds-p-left_x-small slds-p-right_medium slds-m-top_x-small slds-text-title_caps">
                           {conditionalStatus}
                        </p>
                     </template>
                     <template if:true={aditionalInformation}>
                        <p class=" slds-m-left_large slds-text-title_bold slds-text-align_right status">
                           {aditionalInformation}
                        </p>
                     </template>
                  </div>
               </div>
                  <div class="header slds-grid slds-float_left">
                     <h2 class="patient-name slds-card__header-title">

                           <template if:true={phifield}><span>{rec.CCL_Patient_Name_Text__c}</span> </template>


                     </h2>
                     <template if:true={isReplacementOrder}>
                        <p class="slds-m-top_xx-small submittedDate slds-p-left_medium">
                           REPLACEMENT ORDER
                        </p>
                     </template>
                  </div>
                  </br>
                  </br>
                  <div class="slds-grid slds-float_left slds-m-bottom_small">
                     <template if:false={showPatientId}>
                        <template if:true={orderDate}>
                           <p class="submittedDate">
                              Submitted: {orderDate}
                           </p>
                        </template>
                     </template>
                     <template if:true={showPatientId}>
                        <h4 class="slds-text-title_bold slds-card__header-title">
                              {label.CCL_Patient_Id}: {rec.CCL_Patient_Id__c}
                           </h4>
                     </template>
  
                  </div>
               </div>
            </div>
            <div class="details-items slds-grid slds-m-bottom_large slds-var-m-top_medium">

               <div if:true={phifield} class="details slds-page-header__detail-block paddingLeftNone">

                  <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Date_fof_Birth}</p>
                  <p class="fieldComponent slds-text-body--regular slds-show_inline-block slds-cell-wrap fieldValue dobMaxWidth">
                     {dateOfBirth}
                  </p>
             </div>
   <div class="details slds-page-header__detail-block paddingLeftNone">

            <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Therapy_Name}</p>
            <p class="fieldComponent slds-text-body--regular slds-show_inline-block slds-cell-wrap fieldValue">
               {rec.CCL_Therapy__r.CCL_Therapy_Description__c}
            </p>
       </div>

<div if:true={isClinical} class="details slds-page-header__detail-block paddingLeftNone">

      <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Treatment_Protocal_Subject_ID}</p>
      <p class="fieldComponent slds-text-body--regular slds-show_inline-block slds-cell-wrap fieldValue">
         {rec.CCL_Treatment_Protocol_Subject_ID__c}
      </p>
 </div>




<div if:true={isCommercial} class="details slds-page-header__detail-block paddingLeftNone">

<p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Hospital_Patient_ID}</p>
<p class="fieldComponent slds-text-body--regular slds-show_inline-block slds-cell-wrap fieldValue">
   {rec.CCL_Hospital_Patient_ID__c}
</p>
</div>
<div if:true={commercialTherapy} class="details slds-page-header__detail-block paddingLeftNone">

   <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Prescriber}</p>
   <p class="fieldComponent slds-text-body--regular slds-show_inline-block slds-cell-wrap fieldValue">
      {rec.CCL_Prescriber__r.Name}
   </p>
   </div>

      <div if:false={commercialTherapy}  class="details slds-page-header__detail-block paddingLeftNone">

         <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Principal_Investigator}</p>
         <p class="fieldComponent slds-text-body--regular slds-show_inline-block slds-cell-wrap fieldValue">
            {rec.CCL_Prescriber__r.Name}
         </p>
         </div>
         <div class="details slds-page-header__detail-block">

            <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Ordering_Hospital}</p>
            <p class="fieldComponent slds-text-body--regular slds-show_inline-block slds-cell-wrap fieldValue">
               {rec.CCL_Ordering_Hospital__r.Name}
            </p>
            </div>
            <div class="details slds-page-header__detail-block paddingLeftNone">

               <p class="slds-text-title slds-truncate labelComponent slds-text-title_bold slds-m-bottom_x-small fieldLabel">{label.CCL_Novartis_Batch_ID_PRF}</p>
               <p class="fieldComponent slds-text-body--regular slds-show_inline-block fieldValue">
                  {rec.CCL_Novartis_Batch_ID__c}
               </p>
               </div>
</div>

</article>
</template>
   <template if:true={chevronJson}>
      <template if:true={ChevronColor}>
   <c-c-c-l_-progress-bar chevronjson={chevronJson} chevroncolour={ChevronColor}></c-c-c-l_-progress-bar>
   <template if:true={ribbon}>
      <template if:true={quarentine}>
         <div class="ribbonBox">
         <p class="ribbon">
            <span class="text2">SHIPPED UNDER QUARENTINE</span>
         </p>
         </div>
      </template>
      <template if:false={quarentine}>
         <div class="ribbonBox">
         <p class="ribbon">
            <span class="text">FINAL PRODUCT RELEASED</span>
         </p>
         </div>
      </template>
   </template>
</template>
</template>
      <div class="slds-m-top_xx-large" if:true={activeSections}>
         <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
            <lightning-record-view-form record-id={recordId} object-api-name="CCL_Order__c">
               <lightning-accordion-section name="additionalSection" label={label.CCL_Additional_Product_Order_Details}>
                     <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Order_Submission_Date}</label>
                              <lightning-output-field field-name="CCL_Order_Submission_Date_Text__c" variant="label-hidden"
                                 field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                              </lightning-output-field>
                           </span>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Order_Submitter}</label>
                              <div class="slds-m-bottom_medium fieldValue">
                                 <lightning-formatted-text value={orderSubmitterName}></lightning-formatted-text>
                              </div>
                           </span>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                                 <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                    for="text-input-id-1">{label.CCL_Patient_Weight_at_Time_of_Order_Kg}</label>
                              <lightning-output-field field-name="CCL_Patient_Weight__c" variant="label-hidden"
                                 field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                              </lightning-output-field>
                           </span>
                        </div>
                     </div>
                     <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Latest_Order_Submitted_Date}</label>
                              <lightning-output-field field-name="CCL_Lastest_Order_Submitted_Date_Text__c" variant="label-hidden"
                                 field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                              </lightning-output-field>
                           </span>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Latest_Order_Submitter}</label>
                              <div class="slds-m-bottom_medium fieldValue">
                                 <lightning-formatted-text value={latestOrderSumitter}></lightning-formatted-text>
                              </div>
                           </span>
                        </div>
                     </div>
                     <div if:true ={orderApproved} class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Latest_Order_Approved_Date}</label>
                              <lightning-output-field field-name="CCL_Order_Approval_Date_Text__c" variant="label-hidden"
                                 field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                              </lightning-output-field>
                           </span>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Latest_Order_Approver}</label>
                              <div class="slds-m-bottom_medium fieldValue">
                                 <lightning-formatted-text value={latestOrderApprover}></lightning-formatted-text>
                              </div>
                           </span>
                        </div>
                     </div>
                     <div if:true ={orderRejected} class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Latest_Order_Rejected_Date}</label>
                              <lightning-output-field field-name="CCL_Order_Rejectionl_Date_Text__c" variant="label-hidden"
                                 field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                              </lightning-output-field>
                           </span>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Latest_Order_Rejecter}</label>
                              <div class="slds-m-bottom_medium fieldValue">
                                 <lightning-formatted-text value={orderRejecter}></lightning-formatted-text>
                              </div>
                           </span>
                        </div>
                     </div>
                     <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_2-of-4">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Number_of_bags_available_not_shipped}</label>
                              <lightning-output-field field-name="CCL_Number_of_bags_available__c" variant="label-hidden"
                                 field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                              </lightning-output-field>
                           </span>
                        </div>
                     </div>
                  </lightning-accordion-section>
                  <lightning-accordion-section if:true={commercialTherapy} name="paymentSection" label={label.CCL_Payment_Details} class="no-border">
                     <div class="slds-grid slds-gutters" if:true={displayPaymentFirstRow}>
                        <div if:true={displayHPO} class="slds-col slds-size_2-of-6">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Hospital_Purchase_Order_Number}</label>
                              <div class="slds-m-bottom_medium fieldValue">
                                 <lightning-formatted-text value={hpoNumber}></lightning-formatted-text>
                              </div>
                           </span>
                        </div>
                        <template if:true={patientCountryDisplayValue}>
                           <div if:true={displayPatientCountry} class="slds-col slds-size_2-of-6">
                              <span>
                                 <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                    for="text-input-id-1">{label.CCL_PatientCountry}</label>
                                 <lightning-output-field field-name="CCL_Patient_Country_Residence__c" variant="label-hidden"
                                    field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                                 </lightning-output-field>
                              </span>
                           </div>
                        </template>
                        <template if:true={billingPartyDisplayValue}>
                           <div if:true={displayBillParty} class="slds-col slds-size_2-of-6">
                              <span>
                                 <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                    for="text-input-id-1">{label.CCL_BillingParty}</label>
                                 <lightning-output-field field-name="CCL_Billing_Party__c" variant="label-hidden"
                                    field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                                 </lightning-output-field>
                              </span>
                           </div>
                        </template>
                     </div>
                     <div class="slds-grid slds-gutters" if:true={displayPaymentSecondRow}>
                        <div if:true={displayVA} class="slds-col slds-size_2-of-6">
                              <span>
                                 <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                    for="text-input-id-1">{label.CCL_VA_Patient}</label>
                                 <div class="slds-m-bottom_medium fieldValue">
                                    <lightning-formatted-text value={vaFieldValue}></lightning-formatted-text>
                                 </div>
                              </span>
                        </div>
                        <div if:true={paymentValue} class="slds-col slds-size_2-of-6">
                           <span>
                              <label class="slds-form-element__label fieldLabel slds-m-bottom_small"
                                 for="text-input-id-1">{label.CCL_Payment_Classification}</label>
                              <lightning-output-field field-name="CCL_Payment_Reason_Code__c" variant="label-hidden"
                                 field-class="slds-m-bottom_medium fieldValue" class="fieldValue">
                              </lightning-output-field>
                           </span>
                        </div>
                     </div>
                  </lightning-accordion-section>
               </lightning-record-view-form>
         </lightning-accordion>
      </div>
   </div>
   <!-- CGTU-811 Order update -->
   <template if:true={isEditOrder}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
         aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
         <div class="slds-scrollable slds-scrollable_y">
            <div class="slds-modal__container updateOrderHeader">
               <header class="slds-modal__header no-border">
                  <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                     onclick={closeModal}>
                     <lightning-icon icon-name="utility:close" class="closeModal" alternative-text="close"
                        variant="inverse" size="small"></lightning-icon>
                     <span class="slds-assistive-text">{label.CCL_Modal_Close}</span>
                  </button>
                  <div class="wrapper slds-modal__content">
                     <div class="slds-text-heading_large slds-m-bottom_large pop-up-heading">
                        {label.CCL_Confirm_Patient_Eligibility}</div>
                        <div class="slds-align_absolute-center slds-text-align_left pop-up-content-clinical">
                           <c-c-c-l_-update_-order order-id-to-be-update={recordId} onsuccess={handleUpdateSuccess} onshowconfirmation={displayConfirmation} onclosepopup={closeModal}>
                           </c-c-c-l_-update_-order>
                        </div>
                        <br />
                        <div class="slds-align_absolute-left slds-text-align_left pop-up-content-clinical">
                           {patientEligibilityText}
                        </div>
                        <br>
                     </div>
                     <br>
                  </header>
               </div>
               <template if:true={showconfirmation}>
                  <div class="slds-modal__container consentModal">
                     <header class="slds-modal__header no-border">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse slds-var-m-bottom_small" title="Close" onclick={returnToModification}>
                            <lightning-icon icon-name="utility:close"
                                class="closeModal"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                           <span class="slds-assistive-text">{label.CCL_Modal_Close}</span>
                        </button>
                        <div class="wrapper">
                           <div class="slds-var-m-bottom_large">
                           </div>
                           <div class="slds-var-m-bottom_large">
                              <lightning-icon icon-name="action:edit" alternative-text="Consent" size="small" class="icon-color slds-var-m-bottom_medium" title="Consent"></lightning-icon>
                           </div>
                           <div class=" slds-var-m-bottom_medium slds-text-title_bold reasonHead"><h2>{label.CCL_Reason_Modal_Header}</h2></div>
                        </div>
                        <div class="slds-grid slds-wrap ">
                              <div class="slds-align_absolute-center slds-var-m-bottom_medium slds-text-title_bold reasonSubhead"><p>{label.CCL_Confirm_Change_Reason}</p></div>
                              <div class="slds-col slds-size_1-of-1 slds-var-p-horizontal_medium slds-var-m-top_small labelClass">
                                    <lightning-textarea type="text" class="textarea" onchange={handleReasonChange} label={label.CCL_Reason_Modal_Message} field-level-help={label.CCL_Reason_Modal_Helptext} max-length="255">
                                    </lightning-textarea>
                              </div>
                        </div>
                     </header>
                     <div class="slds-modal__footer slds-p-around_none no-border slds-var-m-bottom_large">
                        <div class="slds-align_absolute-center slds-var-m-bottom_large no-border">
                              <div class="slds-var-m-right_large">
                                 <button class="slds-button slds-var-m-bottom_large slds-button_neutral button-width slds-button_outline-brand" onclick={returnToModification}>{label.CCL_Back}</button>
                              </div>
                              <button class="slds-button slds-button_brand slds-var-m-bottom_large button-width " name="submit" onclick={onReasonSubmit}>{label.CCL_FOOTER_SUBMIT}</button>
                        </div>
                    </div>
                  </div>
               </template>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
      <template if:true={showUpdateSuccess}>
         <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-scrollable slds-scrollable_y">
               <div class="slds-modal__container">
                  <header class="slds-modal__header no-border slds-grid slds-grid_align-center slds-p-around_xx-large">
                     <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={refreshOrderSummary}>
                        <lightning-icon icon-name="utility:close"
                           class="closeModal"
                           alternative-text="close"
                           variant="inverse"
                           size="small" ></lightning-icon>
                        <span class="slds-assistive-text">{label.CCL_Modal_Close}</span>
                     </button>
                     <div class="slds-modal__content slds-size--1-of-2">
                        <div class="slds-m-bottom_large slds-align_absolute-center">
                           <lightning-icon icon-name="action:approval" class="success-icon-color" alternative-text="Attestation" size="small"
                              title="Attestation"></lightning-icon>
                        </div>
                        <div class="slds-text-heading_large slds-m-bottom_large slds-text-title_bold slds-align_absolute-center h2View"
                        >{label.CCL_Order_Updated}</div>

                        <div class="slds-align_absolute-center slds-text-body_regular content" >
                           <p>{label.CCL_Thank_you},</p>
                        </div>
                        <div class="slds-align_absolute-center slds-text-body_regular content">
                           <p>{label.CCL_Changes_Saved}</p>
                        </div>
                        <br>
                        <div class="slds-align_absolute-center">
                           <lightning-button variant="brand-outline" label="Return to Order Summary"
                              title="Return to Order Summary" onclick={refreshOrderSummary} class="slds-m-left_x-small">
                           </lightning-button>
                        </div>
                     </div>
                     <br/>
                  </header>
               </div>
            </div>
         </section>
         <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
      <!-- CGTU-811 Order update -->
      <template if:true={loaded}>
         <div class="slds-spinner_container">
            <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
               <span class="slds-assistive-text">Loading</span>
               <div class="slds-spinner__dot-a"></div>
               <div class="slds-spinner__dot-b"></div>
            </div>
         </div>
      </template>
       <br>
   <div class="outerwrapper">
      <c-c-c-l_-a-d-f_-order-summary apheresis-id={recordId}>
      </c-c-c-l_-a-d-f_-order-summary>
   </div>
   <br>
   
   <div class="outerwrapper">
      <c-c-c-l_-aph_-shipment-summary order-id={recordId} order-status={orderStatus}>
      </c-c-c-l_-aph_-shipment-summary>
   </div>
   <br>
  
   <div class="outerwrapper">
      <c-c-c-l_-manufacturing-summary order-id={recordId} order-status={orderStatus}>
      </c-c-c-l_-manufacturing-summary>
   </div>
   <br>
   <div class="outerwrapper">
      <c-c-c-l_-f-p-shipment_-summary order-id={recordId} order-status={orderStatus}>
      </c-c-c-l_-f-p-shipment_-summary>
   </div>
   <br>
   <div class="outerwrapper">
      <c-c-c-l_-finished_-product_-infusion_-details order-id={recordId}>
      </c-c-c-l_-finished_-product_-infusion_-details>
   </div>
   <br>
   <template if:true={viewUpload}>
   <div class="outerwrapper" >
      <c-c-c-l_-aph_-additional-documentation order-id={recordId}>
      </c-c-c-l_-aph_-additional-documentation>
   </div>
   
</template>
</template>