.statuscolor
{
color:#358709;
font-size: small;
font-weight: bolder;
}

.statusyellowcolor
{
font-family: 'VoltaModernDisplay-75Bold';
font-size: 15px;
color: #EC9A1E;
}
.header{
    font-size: medium;
}
.slds-scrollable_y {
    overflow-y: auto !important;
}
.outerwrapper{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 4rem 2rem 4rem;
}
.topheading{
    box-sizing: border-box;
    width:100%;
    border-bottom:1px solid rgb(201, 199, 197);;
    padding-bottom: 35px;
    margin-bottom: 41px;
    font-size: 36px;
    font-family: 'VoltaModernDisplay-75Bold'
}
.editbtn {
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 15px;
    text-decoration: underline;
    color:#0460A9;
}
.slds-modal__container.updateOrderHeader{
    width: 65% !important;
    max-width: 65% !important;
    padding-right: 1rem;
    padding-left: 1rem;
}
.fieldLabel {
    font-size: 13px;
    font-family: 'VoltaModernDisplay-75Bold';
    color: #080707;
}
h2.patient-name {
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
    color:#0460A9;
}
h4 {
    font-family: 'VoltaModernText-55Roman';
      font-size: 15px;
      color: #080707;
    }
.fieldValue {
    font-size: 13px;
    font-family: 'VoltaModernText-55Roman';
}
.cardHeading {
    font-family: 'VoltaModernDisplay-75Bold';
      font-size: 28px;
      color: #080707;
    }

.slds-notify_alert, .slds-notify--alert {
    color: #222222;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    background: rgba(rgb(107, 109, 112), 0.95);
    font-weight: 300;
    padding: .5rem 2rem .5rem .5rem;
    text-align: start;
}

.icon-color {
    background-color: #fbb439;
}

.button-width {
    width: 150px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: VoltaModernDisplay-75Bold;
}

.no-border {
    border:none;
}

.success-icon-color {
    background-color: seagreen;
}

.h2View {
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 1.5em;
}

.content {
    font-size: 1em;
    font-family: 'VoltaModernText-55Roman';
}

.reasonHead {
    font-size: 22px;
    font-family: 'VoltaModernDisplay-75Bold';
    font-weight: 500;
}

.reasonSubhead {
    font-family: 'voltaModernText-55Roman';
    font-size: 14px;
    font-weight: 500;
}

.textarea {
    height: 140px;
    text-align: initial;
}

.labelClass {
    font-weight: 900;
}

.consentModal {
    width:60%;
    height : auto;
    max-height: 180rem;
    min-height: 40rem;
    padding: 3rem 0;
}

.status {
    font-size: 16px;
    font-family: 'VoltaModernDisplay-75Bold';
    text-transform: uppercase;
    
}

.patientname {
   
   overflow: hidden;
   width: 55%;
   
	
}

.width {
    width: 90%;
}
.submittedDate {
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
}
.dobMaxWidth {
  width:105px;
}
.add-border{
    border-color: rgb(76, 109, 170);
}
  .buttonLabel1{
    font-size: 15px;
    font-family: 'VoltaModernText-55Roman';
    color: #0460A9 !important;
  }
    .paddingLeftNone{
    padding-left: 0px !important;
  }
  .ribbon{
    font-size:16px;
    position:relative;
    display:inline-block;
    margin:5em;
    text-align:center;
  }
  .text{
    display:inline-block;
    padding:0.5em 1em;
    min-width:21em;
    line-height:1.2em;
    background:repeating-linear-gradient(45deg,green,green 20px,rgb(0,135,0) 20px,rgb(0,135,0) 40px);
    position:relative;
    color: white;
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 16px;
    position: absolute;
    bottom: 2rem;
    right: -1289px;
  }
  .text:after,.text2:after,
  .bold:before{
    content:'';
    position:absolute;
    border-style:solid;
  }
  .ribbon:before{
    top:0.3em; left:0.2em;
    width:100%; height:100%;
    border:none;
    background:#EBECED;
    z-index:-2;
  }
  
  .text:after{
    top:100%; right:0;
    border-width: .5em 1em 0 0;
    border-color: #006400 transparent transparent transparent;
  }
  
  .ribbonBox{
    position: relative;
    height:3rem;
  }
  
  .text2{
    display:inline-block;
    padding:0.5em 1em;
    min-width:21em;
    line-height:1.2em;
    background:repeating-linear-gradient(45deg,#EC9A1E,#EC9A1E 20px,#e2931d 20px,#e2931d 40px);
    position:relative;
    color: white;
    font-family: 'VoltaModernDisplay-75Bold';
    font-size: 16px;
    position: absolute;
    bottom: 2rem;
    right: -1289px;
  }
  
  .text2:after{
    top:100%; right:0;
    border-width: .5em 1em 0 0;
    border-color: #af6a02 transparent transparent transparent;
  }
   .patId{
    width: 100%;
  }