.THIS .statusSection {
    display: table;
    margin-left: 10%;
    margin-right: 10%;
}

.THIS .nameSection {
    font-size: 0.26cm;
    text-align: center;
    color: #000066;
}

.THIS .pictureSection {
    display: table-cell;
    vertical-align: middle;
    width: 50px; 
}

.THIS .objList {
    text-align: center;
}
.THIS .Img2,
.THIS .Img6{
	padding-left:10px;
}
.THIS .patientNameSection {
    font-size: 0.5cm;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000066;
}