.THIS.EWPTitle {
    justify-content: center;
    margin-bottom: 10px;
}
.THIS .searchBlock {
    display: flex;
}
.THIS .searchBlock .searchButton {
    margin-left: 20px;
   }
   .THIS .physiciansResult{
   max-height: 230px;
    overflow-y: scroll;
}
.THIS .error{
    border-color: rgb(194, 57, 52);
}
.THIS .slds-icon-text-default {
    fill: rgb(0, 109, 204);
}
.THIS .width10 {
    width: 10px !important;
    text-align: -webkit-center;
}
.THIS .chooseAdrress{
    padding-top:5px; 
}
.THIS .unselectedtrue,
.THIS .selectedfalse{
    display: none;
}
.THIS .unselectedfalse,
.THIS .selectedtrue{
    display: block;
}
.THIS .ExistingPhysicianBlockHeader {
    height: 50px;
    margin: auto 0%;
}
.THIS .selectPhysicianButtonDiv {
    float: right;
}
.THIS .SelectedPhysicianInfo {
    
}
.THIS .NewPhysicianBlock {
    clear: both;
}
.THIS .width100{
    width:100%;
}

.THIS .searchFieldBlock{
	display:flex;
    width: 60%;
    padding-bottom: 10px;
}
.THIS .searchButtonBlock {
    display:inline-block;
    padding-right: 20px;
    
}
.THIS .searchResultMsgBlockHidden {
    display:none;
}
.THIS .fontWeight {
    font-weight:bold;
}
.THIS .clearButton {
    margin-top: 5px;
    margin-right: 5px;
}

.THIS .tableheader{
    background-color:#596D8E;
    
}

.THIS .message{
    color:#596D8E;
}

.THIS .refTable{
    border: 0.25px solid #596D8E;
    border-radius: .25rem .25rem .25rem .25rem;
}